
{% block content %}



<!-- Hero Content Panel Start -->

<div class="hero-content-panel light" id="article-header">
  <div class="row">
    
    <!--  TITLE  -->
    <div class="large-4 medium-5 small-12 column">
      <ul class="breadcrumb">
        <li>
          <a href="#">World Nomads</a>
        </li>
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
          <a href="#"><span itemprop="title">Travel Insurance Australia</span></a>
        </li>
      </ul>
      <h1>Travel Insurance for Australians by World Nomads</h1>
      <p>Travel Insurance for Residents of Australia</p>
    </div>

    <!--  QQC  -->
    <div class="small-12 medium-7 large-6 columns right">
      <div id="wnqqcalculator" class="white">
        <h1>Get your travel insurance</h1>
        <script async='' src='//cdn.worldnomads.net/scripts/custom/wng.cachedGetPartnerWidgetResponse.js?loadWithPanelExpanded=true&excludeStyles=true&extractCampaignCodeFromUrl=true'></script>
        <div id='wn-insurance-quote-editor'></div>
        <div class="trustedby">
          <p>Trusted by:</p>
          <img src="http://www.worldnomads.com/Media/Default/TravelInsuranceImages/PartnerLogos/lonley-planet-logo-dark.png" alt="Lonely Planet" class="lp" />
          <img src="http://www.worldnomads.com/Media/Default/TravelInsuranceImages/PartnerLogos/nat-geo-logo-dark.png" alt="Nat Geo Adventure"  class="natgeo" />
          <img src="http://www.worldnomads.com/Media/Default/TravelInsuranceImages/PartnerLogos/rough-guide-logo-dark.png" alt="Rough Guides" class="rg" />
          <img src="http://www.worldnomads.com/Media/Default/TravelInsuranceImages/PartnerLogos/intrepid-logo-dark.png" alt="Intrepid" class="intrep" />
          <img src="http://www.worldnomads.com/Media/Default/TravelInsuranceImages/PartnerLogos/v-tourist-logo-dark.png" alt="Virtual Tourist" class="vt" />
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Hero Content Panel End -->       

<!-- Background Header Image CSS Start  -->

<style>
  /* Add link to Desktop Image */
  @media all and (min-width: 860px) {
    #article-header {
      background-image: url('/Media/Default/hero/hero_travel-insurance-au_full.jpg');
      background-position: bottom center;
      min-height: 550px;
    }
  }
  /* Add link to Tablet Image */
  @media all and (max-width: 860px) {
    #article-header {
      background-image: url('/Media/Default/hero/hero_travel-insurance-au_tablet.jpg');
      background-position: bottom center;
      min-height: 440px;
    }
  }
  /* Add link to Mobile Image */
  @media all and (max-width: 500px) {
    #article-header {
      background-image: url('/Media/Default/hero/hero_travel-insurance-au_mobile.jpg');
      background-position: bottom center;
    }
    #article-header column {
      margin-top: 160px;
      min-height: 440px;
    }
  }
</style>

<div class="light blue" id="benefits-bar">
  <div class="row">
    <ul class="large-block-grid-6 medium-block-grid-3 small-block-grid-2">
      <li class="medical-icon">24/7 Medical Assistance</li>
      <li class="evacuation-icon">Emergency Evacuation</li>
      <li class="cancellation-icon">Trip Cancellation</li>
      <li class="lost-stolen-icon">Damaged or Stolen Gear</li>
      <li class="interruption-icon">Trip Interruption</li>
      <li class="return-icon">Return Home Early</li>
    </ul>
  </div>
</div>

<div class="row" id="article-content">
  <div class="large-8 medium-8 small-12 columns">
    
    <!--  What we cover Section  -->
    <div class="section" id="what-we-cover">
      <h2>What we cover</h2>

      <p class="highlight">World Nomads offers two travel insurance plans for Australian independent and adventurous travellers.</p>
      <p>With travel insurance coverage for everything you need and nothing you don’t, we’ll make sure you’re covered, even if you run out of travel insurance on the road. We don't just keep you insured, with us you'll travel smarter and safer.</p>

      <h4 id="one">Plan highlights</h4>

      <table id="cover-table" width="100%" border="0" cellpadding="16">
        <tbody><tr>
          <th class="col1">When</th>
          <th class="col2">We</th>
          <th class="col3">Standard</th>
          <th class="col4">Explorer</th>
        </tr>
        <tr>
          <td data-th="When"><span><strong>You need Medical help</strong> for sudden illness or injury.</span></td>
          <td data-th="We"><span>Cover emergency overseas medical treatment including treatment in a clinic or hospital, plus medicines and physiotherapy as prescribed by your treating Doctor to get you well and keep you travelling.</span></td>
          <td data-th="Standard"><span>A$5,000,000</span></td>
          <td data-th="Explorer"><span>Unlimited</span></td>
        </tr>

        <tr>
          <td data-th="When"><span><strong>You need emergency medical evacuation</strong> for Sudden Illness or injury.</span></td>
          <td data-th="We"><span>Cover your transport to the nearest, appropriate medical facility, which also includes your medical repatriation for further treatment at home. Plus it includes, reasonable additional travel and accommodation expenses for a friend or relative to accompany you while you're in hospital and/or during repatriation.</span></td>
          <td data-th="Standard"><span>A$5,000,000</span></td>
          <td data-th="Explorer"><span>Unlimited</span></td>
        </tr>

        <tr>
          <td data-th="When"><span><strong>You have to cancel your trip</strong> due to unforeseeable events outside of your control.</span></td>
          <td data-th="We"><span>Covers the costs to cancel all or part of your trip (including other pre-booked expenses) for up to 14 specific Insured Events including a sudden illness or serious injury, natural disasters, strike or lost passports.</span></td>
          <td data-th="Standard"><span>A$3,500</span></td>
          <td data-th="Explorer"><span>Unlimited</span></td>
        </tr>

        <tr>
          <td data-th="When"><span><strong>Your gear is stolen or damaged </strong> whilst travelling.</span></td>
          <td data-th="We"><span>Cover theft or accidental damage of your gear such as iPads, laptops and digital cameras in specific incidents up to individual item limits. We also allow you upgrade your cover to increase these item limits.</span></td>
          <td data-th="Standard"><span>A$2,000</span></td>
          <td data-th="Explorer"><span>A$10,000</span></td>
        </tr>

      </tbody></table>
      <div class="row">
        <div class="large-6 small-12 columns"><a href="#">View full description of coverage</a></div>
        <div class="large-6 small-12 columns"><a href="#">Plus XX Additional benefits</a></div>
      </div>
    </div>

    <!--  Cover for your Adventure Section  -->
    <div class="section" id="cover-your-adventure">
      
      <h2>Cover for your Adventure</h2>

      <p class="highlight">World Nomads travel insurance covers more than 200 activities and sports, things that you love to do when you travel.</p>
      
<!--
      <div class="row blue">
        <div class="columns"> Activity Form to go here</div>
      </div>
-->
      
      <div class="row" data-equalizer>
        <div class="large-3 medium-6 small-6 columns">
          <div class="small-feature-box" style="background-image: url('/Media/Default/hiking-thumb.jpg');">
            <div class="bottom blue" data-equalizer-watch><p>Hiking up to 6000m</p></div>
          </div>
        </div>

        <div class="large-3 medium-6 small-6 columns">
          <div class="small-feature-box" style="background-image: url('/Media/Default/diving-thumb.jpg');">
            <div class="bottom blue" data-equalizer-watch><p>Scuba Diving to 40m</p></div>
          </div>
        </div>

        <div class="large-3 medium-6 small-6 columns">
          <div class="small-feature-box" style="background-image: url('/Media/Default/snow-thumb.jpg');">
            <div class="bottom blue" data-equalizer-watch><p><a href="#">Skiing &amp; Boarding cover</a></p></div>
          </div>
        </div>

        <div class="large-3 medium-6 small-6 columns">
          <div class="small-feature-box"style="background-image: url('/Media/Default/canoe-thumb.jpg');">
            <div class="bottom blue" data-equalizer-watch><p>Kayaking &amp; white water rafting cover</p></div>
          </div>
        </div>
        
        <div class="large-12 columns">We have different levels of cover available for those adventurous World Nomads looking to get their heart pumping on their adventure. </div>
      </div>

    </div>
    
    
    <!-- When something goes wrong Section -->
    <div class="section" id="when-things-go-wrong">
      
      <h2>When something goes wrong</h2>

      <p class="highlight">Purchasing travel insurance can be confusing at times, but the best way to understand why its important is to see how it supports you when something does go wrong.</p>
      <p>The following examples are what we see every day at World Nomads.</p>
      
      <div class="row">
        <div class="large-6 small-12 columns">
          <div class="text-with-icon medical">
            <ul>
              <li><h5>Illness or Injury</h5></li>
              <li><a href="#">What to do if you need to return home early because your travel companion or someone important at home being sick or injured.</a></li>
              <li><a href="#">What to do if you can't travel due to illness or injury.</a></li>
              <li><a href="#">What to do if you're hurt in an accident.</a></li>
              <li><a href="#">What to do if you fall suddenly ill.</a></li>
            </ul>
          </div>
        </div>
        <div class="large-6 small-12 columns">
          <div class="text-with-icon luggage">
            <h5>Lost, Stolen or Damaged</h5>
            <ul>
              <li><a href="#">What to do if your luggage is delayed.</a></li>
              <li><a href="#">What to do if your luggage is damaged.</a></li>
              <li><a href="#">What to do if your luggage is lost or stolen.</a></li>
            </ul>        
          </div>
        </div>
      </div>
      
      <div class="row">
 
        <div class="large-6 small-12 columns">
          <div class="text-with-icon delay">
            <h5>Cancellation &amp; Delays</h5>
            <ul>
              <li><a href="#">What to do if you miss your flight.</a></li>
              <li><a href="#">What to do if your flight is delayed.</a></li>
              <li><a href="#">What to do if you have to cancel your trip.</a></li>
            </ul>
          </div>
        </div>
        <div class="large-6 small-12 columns">
          <div class="text-with-icon disaster">
            <h5>Natural Disasters</h5>
            <ul>
              <li><a href="#">What to do if bad weather has delayed my trip.</a></li>
              <li><a href="#">What to do if your hair is damaged by a nefarious gust of wind.</a></li>
              <li><a href="#">What to do if you are struck by an act of Cod.</a></li>
            </ul>
          </div>
        </div>
        
      </div>
    </div>
    
    <!--  Travel Insurance Claims Section  -->
    <div class="section" id="claims">
          <h2>Travel Insurance Claims</h2>
          <p class="highlight">Over the past 10 plus years, we have seen just about every type of travel insurance claim there is.</p> 
          <p>Our claims staff and international network of medical and assistance providers have the depth of experience to ensure should you get into trouble, we’ll be there, every step of the way.</p>
          
          <p><a href="#">Guide to making a travel insurance claim</a>  |  <a href="#">Making a claim</a> | <a href="#"> What you’ll need </a></p>

      <div class="row">
        <div class="small-12 large-12 columns">
          <div class="feature-box-right-panel" style="background-image: url('/Media/Default/girl-on-bus.jpg');">
            <ul class="breadcrumb">
              <li>
                <a href="http://answers.worldnomads.com">True Claims</a>
              </li>
            </ul>
            <a href="http://answers.worldnomads.com"><h4>Shatered arm in Argentina</h4></a>
            <div class="right purple">
              <span class="feature-quote"></span>
              <p>I fell off a roof in Argentina and shattered my arm. Waking up in a local hospital was terrifying. I can’t imagine navigating that experience without World Nomads.</p>
              <p>– JH (Argentina)</p>
            </div>
          </div>
        </div>

        
      <div class="small-12 large-12 columns">
          <div class="feature-box-right-panel" style="background-image: url('/Media/Default/surfer-guy.jpg');">
            <ul class="breadcrumb">
              <li>
                <a href="http://answers.worldnomads.com">True Claims</a>
              </li>
            </ul>
            <a href="http://answers.worldnomads.com"><h4>Shark bite in Bali</h4></a>
            <div class="right teal">
              <span class="feature-quote"></span>
              <p>Whilst surfing in Bali, Indonesia I was attacked by a two metre Bull Shark. The bite to my right forearm had severed five tendons and most of the muscle. World Nomads travel insurance covered the costs of my medical bills up front. </p>
              <p>– JF (Indonesia)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!--  Gear Cover Section  -->
    <div class="section" id="gear-cover">
      <h2>Gear cover for the digital nomad</h2>
      <p class="highlight">World Nomads travel insurance doesn't just cover your adventure activities, but as digital nomads ourselves, we know how important it is to have cover for your tech gear as well.</p>
      <p>We cover theft or accidental damage of your gear and you can also upgrade your cover to increase the individual item limit to $3,000 per item for such things as;</p>
      
      <div class="row">
        <div class="small-12 large-12 columns">
          <div class="content-box centered light-grey">
          <h3>Camera cover</h3>
          <p>We have cover for all your photography gear:</p>

          <div class="row">
            <div class="large-4 medium-12 small-12 columns">
              <img alt="beginner" src="/Media/Default/gear-beginner.png" class="auto-size-img"  />
              <h5>Beginner</h5>
              <p>Our Standard plan covers $500 which is suitable for a pocket point-and-shoot.</p>
            </div>
            <div class="large-4 medium-12 small-12 columns">
              <img alt="enthusiast" src="/Media/Default/gear-enthusiast.png" class="auto-size-img"  />
              <h5>Enthusiast</h5>
              <p>Our Explorer plan covers $2,000 for all of your combined cameras and lenses which is suitable for an entry level camera. </p>
            </div>  
            <div class="large-4 medium-12 small-12 columns">
                <img alt="semi-pro" src="/Media/Default/gear-semi-pro.png" class="auto-size-img" />
                <h5>Semi-Pro</h5>
                <p>You can increase cover for your combined cameras and lenses up to $6,000 with a per item limit of $3,000 by adding these to your policy.</p>
            </div>
          </div>
          </div>
        </div>
      </div>
      
      <div class="row" data-equalizer>
        <div class="small-12 medium-6 large-6 columns">
          <div class="content-box centered light-grey" data-equalizer-watch>
          <img alt="iPad & iPhone" src="/Media/Default/gear-iphone-ipad.png" />
          <h3>iPhone &amp; iPad cover</h3>
          <p>Our Standard Plan covers up to $2,000 with a per item limit of $500. our Explorer Plan covers up to $10,000 with a per item limit of $2,000. </p>
          </div>
        </div>
        <div class="small-12 medium-6 large-6 columns">
          <div class="content-box centered light-grey" data-equalizer-watch>
            <img alt="laptop" src="/Media/Default/gear-laptop.png" />
            <h3>Laptop cover</h3>
            <p>Our Standard Plan covers up to $2,000 with a per item limit of $500. our Explorer Plan covers up to $10,000 with a per item limit of $2,000. </p>
          </div>
        </div>
      </div>  
      
      <div class="row">
        <div class="small-12 large-12 columns">
          <div class="content-box light-grey">
            <div class="row">
              <div class="small-4 large-3 columns">
               <img alt="travel docs" src="/Media/Default/gear-travel-docs.png" />
              </div>
              <div class="small-8 large-9 columns">
                <h3>Passports, travel documents &amp; credit cards</h3>
                <p>We also reimburse the cost to replace your passport,credit cards and travel documents (eg. visas, travel passes) if they're lost, stolen or accidently damaged.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
    
    
    
      
  </div>

  <div class="large-3 medium-4 small-12 columns">
    <div class="right-column">
      <div class="content-box">
        <h4 class="">Your guide to World Nomad Travel Insurance:</h4>

        <ul class="quicklinks">
          <li><a href="#">What we cover</a></li>
          <li><a href="#">Cover for your Adventure</a></li>
          <li><a href="#">When something goes wrong</a></li>
          <li><a href="#">Travel Insurance Claims</a></li>
          <li><a href="#">Cover your digital gear</a></li>
          <li><a href="#">World Nomads Travel App</a></li>
        </ul>
      </div>
       
      <div class="content-box teal-pattern">
        <h4>Travel Insurance Special Offers</h4>
        <p>Subscribe now for special offers and deals on World Nomads Travel Insurance</p>
        <input type="text" placeholder="Enter your email" class="subscribe-input">
        <div class="base-button orange expand">Sign up for offers</div>
      </div>
      
      <div class="content-box">
        <h4>Policy Wording</h4>
        <p>Remember to read the <a href="">Product Disclosure Statement</a> before you buy travel insurance</p>
      </div>
      
      
      <div class="content-box">
        <h4>Travel Insurance Help Desk</h4>
        <p>Top 10 most frequently asked questions about our travel insurance.</p>
        <ul>
          <li><a href="#">What do you mean by my Country of Residence?</a></li>
          <li><a href="#">Is the price quoted for everyone or per person?</a></li>
          <li><a href="#">I&#39;m not sure which countries I&#39;ll be going to. Am I still covered if I visit other countries than the ones I list on my policy?</a></li>
          <li><a href="#">What countries do you cover?</a></li>
          <li><a href="#">Can I buy a policy while I am already overseas?</a></li>
          <li><a href="#">Where do I enter a promotion code?</a></li>
          <li><a href="#">I want to ride a motorbike. Am I covered?</a></li>
          <li><a href="#">Are there any waiting periods?</a></li>
          <li><a href="#"></a></li>
        </ul>
        <p>If you have a question?</p>
        <div class="base-button orange expand">Just ask us</div>
      </div>

      <div class="content-box blue-pattern">
        <h4>Manage your policy</h4>
        <p>if you&#39;re already a World Nomads customer, then you can manage your policy with ease through your members console. You can sign in to;</p>
        <ul>
          <li>Make a claim</li>
          <li>Change your dates</li>
          <li>Extend your policy</li>
          <li>View your policy</li>
        </ul>
        
        <div class="base-button orange expand">Sign in</div>
      </div>
      
      <div class="content-box">
        <h4>In an Emergency</h4>
        <p>If you’re on the road and something happens, no matter how insignificant you think it is, our 24 hour emergency team is there for you.</p>
        <p>Need our help? <a href="#">Contact us.</a></p>
        
        <h5>How to get in touch.</h5>
        <p>From experience we understand that the telephone isn't always suitable for every situation. Here are other ways you can get in touch if you need help.</p>
        
        <ul>
          <li>Email</li>
          <li>Twitter</li>
          <li>Facebook</li>
          <li>Call</li>
        </ul>
      </div>
      
      <div class="content-box">
        <h4>Travellers Packing List</h4>
        <p>Ready to head off on your next adventure? <a href="#">Download our free packing list</a> to help you get organised and not forget anything essential.</p>
      </div>
      
    </div>
  </div>
</div>
  

<!--  Trusted Partners Section  -->

<div class="row normal-content section" id="trusted-by">
    
  <div class="large-12 columns">
    <h2>Trusted Partners</h2>
    <p class="highlight">After 10 years, we’re used not just by millions of travellers, but we’re also trusted and loved by brands like <a href="http://www.lonelyplanet.com/travel-insurance" target="_blank">Lonely Planet</a>, Rough Guides, National Geographic Channel, Intrepid Travel, Nomadic Matt, TravelFish and many more. </p>
  </div>

  <div class="small-12 medium-4 large-4 columns">
    <a href="http://www.lonelyplanet.com/travel-insurance" target="_blank"  class="auto-size-img"><img alt="lonely planet logo" src="/Media/Default/TravelInsuranceImages/australia/lonley-planet-blue.png" class="auto-size-img" /></a>
    <a href="http://www.lonelyplanet.com/travel-insurance" target="_blank"><h4>Lonely Planet</h4></a>
    <p><a href="http://www.lonelyplanet.com/travel-insurance" target="_blank">Lonely Planet</a> is known for its commitment to providing the best information for travellers. They chose World Nomads as their global travel insurance because of our aligned travel philosophy and commitment to digital innovation.</p>

  </div>

  <div class="small-12 medium-4 large-4 columns">
    <img alt="rough guides logo" src="/Media/Default/TravelInsuranceImages/australia/rough-guides.png" class="auto-size-img" />
    <h4>Rough Guides</h4>
    <p><a href="http://www.roughguides.com/travel-insurance/" target="_blank">Rough Guides</a> is a leading publisher of travel information, respected for their up-to-date content and informed contemporary writing. They chose World Nomads because we are able to offer cover to people from more than 150 different countries.</p>

  </div>

  <div class="small-12 medium-4 large-4 columns">
    <img alt="intepid logo" src="/Media/Default/TravelInsuranceImages/australia/intrepid.png" class="auto-size-img" />
    <h4>Intrepid Travel</h4>
    <p>Intrepid Travel is one of the largest tour companies in the world. They chose World Nomads not just because we share the same Adventure ethos, but because both companies have a commitment to community development and sustainability.</p>
  </div>


</div>
  
  
  

<!-- Main Content Area End -->

{% endblock %}