{% layout "nomad-news" %}
{% block title %}World Nomads Email Template{% endblock %}
{% block content %}

<style>
    h3 {
        font-size: 24px;
        line-height: 28px;
        margin-top:10px;
    }  
   p {
        font-size: 16px;
        line-height: 20px;
    }
   hr {
        margin:0;
    } 
  

  
     p a, p a:visited, h4 a, h4 a:visited{
    color:#888888 !important;
  }
  
      p a:hover, p a:visited:hover, h4 a:hover, h4 a:visited:hover{
    color:#433333 !important;
  }
  
    .pick td:hover {
    background-color:#f2f2f2 !important;
  }
  
  
    @media only screen and (max-width: 600px) {

      table .vouchers.right-text-pad {
        padding-left: 0px !important;
      }

      table .vouchers.left-text-pad {
        padding-right: 0px !important;
      }
    }
  
</style>

          <!-- Content Area -->
          <table class="container">
            <tr>
              <td>

                <!-- Intro Paragraph -->
                <table class="row callout content-area">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            <h3><strong>John, welcome to a brand new Nomads News!</strong></h3>
                            <h3>We’re so excited to bring you the first edition of the freshly redesigned Nomads News. </h3>
                            <p>Get more of what you love with our exclusive World Nomads content delivered straight to your inbox every fortnight. There’s destination guides written by the locals, trending travel stories, travel tips and hacks you need to know, inspiring videos and much more.</p> 
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
                
                <hr class="twelve columns">
                
                <table class="row content-area" style="padding-top:20px;">
                  <tr>
                    <td class="wrapper vouchers left-text-pad right-text-pad" style="padding:0 10px 20px 10px">
                      <table class="six columns" >
                        <tr>
                          <td style="padding:0;">
                            <a href="http://www.worldnomads.com/"><img width="280" height="152" style="width:280px; height:auto;" src="/Media/Default/nomads-news/food.jpg"/></a>
                          </td>
                          <td class="expander"></td>
                        </tr>
                        <tr>
                          <td style="background-color:#60b7a9; padding:20px;">
                             <p style="color:#ffffff;"><strong>Meet our 2015 Passport to Plate winners</strong></p>
                             <p style="font-size:12px; color:#ffffff;">Our three food explorers have just returned from Sri Lanka with some mouth-watering adventures to share. </p>
                                                 
                             <table class="button">
                              <tr>
                                <td style="margin-bottom:0px;">
                                  <a href="#">Read more</a>
                                </td>
                                <td class="expander"></td>
                              </tr>
                             </table>
                          </td>
                          <td class="expander"></td>
                        </tr> 
                      </table>
                    </td>

                    <td class="wrapper last vouchers left-text-pad right-text-pad" style="padding:0 10px 20px 10px">
                      <table class="six columns" >
                        <tr>
                          <td style="padding:0;">
                            <a href="http://www.worldnomads.com/"><img width="280" height="152" style="width:280px; height:auto;" src="/Media/Default/nomads-news/insurance.jpg"/></a>
                          </td>
                          <td class="expander"></td>
                        </tr>
                        <tr>
                          <td style="background-color:#de5346; padding:20px;">
                             <p style="color:#ffffff;"><strong>Save 7% on your travel insurance</strong></p>
                             <p style="font-size:12px; color:#ffffff;">To get 7% off your next travel insurance policy, just enter the promo code MEMBERSEPT when purchasing  </p>
                                                 
                             <table class="button">
                              <tr>
                                <td style="margin-bottom:0px;">
                                  <a href="#">Read more</a>
                                </td>
                                <td class="expander"></td>
                              </tr>
                             </table>
                          </td>
                          <td class="expander"></td>
                        </tr> 
                      </table>
                    </td>
                   
                  </tr>
                </table>
                <table class="row content-area">
                <tr>
                    
                    <td class="wrapper vouchers left-text-pad right-text-pad" style="padding:0 10px 20px 10px">
                      <table class="six columns" >
                        <tr>
                          <td style="padding:0;">
                            <a href="http://www.worldnomads.com/"><img width="280" height="152" style="width:280px; height:auto;" src="/Media/Default/nomads-news/krishna.jpg"/></a>
                          </td>
                          <td class="expander"></td>
                        </tr>
                        <tr>
                          <td style="background-color:#444542; padding:20px;">
                             <p style="color:#ffffff;"><strong>WATCH: Yoga Goa India – A modern day Holy Man</strong></p>
                             <p style="font-size:12px; color:#ffffff;">World Nomads Andre finds Krishna, a wandering Baba, teaching Yoga to travellers in Goa, India. </p>
                                                 
                             <table class="button">
                              <tr>
                                <td style="margin-bottom:0px;">
                                  <a href="#">Read more</a>
                                </td>
                                <td class="expander"></td>
                              </tr>
                             </table>
                          </td>
                          <td class="expander"></td>
                        </tr> 
                      </table>
                    </td>
                    
                    <td class="wrapper last vouchers left-text-pad right-text-pad" style="padding:0 10px 20px 10px">
                      <table class="six columns" >
                        <tr>
                          <td style="padding:0;">
                            <a href="http://www.worldnomads.com/"><img width="280" height="152" style="width:280px; height:auto;" src="/Media/Default/nomads-news/dayofthedead.jpg"/></a>
                          </td>
                          <td class="expander"></td>
                        </tr>
                        <tr>
                          <td style="background-color:#444542; padding:20px;">
                             <p style="color:#ffffff;"><strong>Day of the Dead – San Luis Potosi Mexico</strong></p>
                             <p style="font-size:12px; color:#ffffff;">Join World Nomad’s Ben Hogarth in an intimate and heart-warming day of the dead ceremony. </p>
                                                 
                             <table class="button">
                              <tr>
                                <td style="margin-bottom:0px;">
                                  <a href="#">Read more</a>
                                </td>
                                <td class="expander"></td>
                              </tr>
                             </table>
                          </td>
                          <td class="expander"></td>
                        </tr> 
                      </table>
                    </td>
                  </tr>
                </table>
                    

             <table class="container" style="margin-top:20px;">
              <tr>
               <td>   
                
                <table class="row content-area" style="">
                   <tr>
                    <td class="wrapper last" style="">
                      <table class="twelve columns" style="">
                        <tr>
                          <td>
                              <h4 class="center"><strong>Don’t leave home without our <a href="https://www.worldnomads.com/guides/">Insiders Guides</a></strong></h4>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                 </table>
                <table class="row content-area" style="">
                  <tr>
                    <td class="wrapper">
                      <table class="six columns" style="">
                        <tr>
                          <td>
                            <a href="http://www.worldnomads.com/">
                              <img width="280" height="auto" style="width:280px; height:auto;" src="/Media/Default/nomads-news/rio.jpg"/>
                            </a> 
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>

                    <td class="wrapper last" style="background-color:#f4f2ef;">
                      <table class="six columns" style="">
                        <tr>
                          <td>
                            <p><strong>Going to Rio? </strong></p>
                            <p style="font-size:12px;"> Whether you’re going to Rio for the Olympics, carnival or just to soak up the electric atmosphere, our Ultimate Guide to Rio will ensure you have the time of your life! </p>
                              <table class="button">
                                <tr>    
                                  <td style="margin-bottom:0px;"><a href="#">Watch now</a> </td>
                                </tr>
                              </table>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              
               </td>
              </tr>
             </table>
                
            <table class="container" style="padding:20px;margin-top:20px;">
              <tr>
               <td>   
                
                <table class="row content-area" style="">
                   <tr>
                    <td class="wrapper last" style="">
                      <table class="twelve columns" style="">
                        <tr>
                          <td class="center" align="center">
                            <center>
                              <h4 class="center"><strong>Top 3 questions in our <a href="http://answers.worldnomads.com/">community</a> this week</a></strong></h4>
                            </center>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                 </table>
                <table class="row content-area" style="">
                  <tr>
                    <td class="wrapper" style="background-color:#f4f2ef; padding:20px;">
                      <table class="twelve columns" style="background-color:#f4f2ef; padding:20px 0 10px 0; margin-bottom:10px">
                        <tr>
                          <td class="one sub-columns" style="padding:0px;">
                            <img width="auto" style="height: 24px!important; float: left; margin-right: 7px;" src="/Media/Default/nomads-news/quotation.jpg" />
                          </td>
                          <td class="seven sub-columns" style="padding:0px;">
                            <p><strong><em>Best eats in Paris and Rome under 5 euros</em></strong></p>
                            <span style="font-size:12px; color:#ffffff; background-color:#999999; padding:3px; margin-right:5px;"> Paris </span><span style="font-size:12px; color:#ffffff; background-color:#999999; padding:3px; margin-right:5px;"> Rome </span>
                            <span style="font-size:12px;"> 15 answers, 291 views </span> <p style="font-size:12px; margin-top:5px;"> - Asked by Lynn Tichauer from Squamish B. C. </p>     
                          </td>
                     
                          <td class="four sub-columns" style="background-color:#f4f2ef; padding:20px;">
                            <table class="button">
                              <tr>    
                                <td style="margin-bottom:0px;"><a href="#">Read answers</a> </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                   <td class="expander"></td>
                    
                    <td class="wrapper" style="background-color:#f4f2ef; padding:20px;">
                      <table class="twelve columns" style="background-color:#f4f2ef; padding:20px 0 10px 0; margin-bottom:10px">
                        <tr>
                          <td class="one sub-columns" style="padding:0px;">
                            <img width="auto" style="height: 24px!important; float: left; margin-right: 7px;" src="/Media/Default/nomads-news/quotation.jpg" />
                          </td>
                          <td class="seven sub-columns" style="padding:0px;">
                            <p><strong><em>What’s the most interesting thing you’ve eaten in Asia?</em></strong></p>
                            <span style="font-size:12px; color:#ffffff; background-color:#999999; padding:3px; margin-right:5px;"> Asia </span>
                            <span style="font-size:12px;"> 15 answers, 291 views </span> <p style="font-size:12px; margin-top:5px;"> - Asked by Jadpir </p>     
                          </td>
                     
                          <td class="four sub-columns" style="background-color:#f4f2ef; padding:20px;">
                            <table class="button">
                              <tr>    
                                <td style="margin-bottom:0px;"><a href="#">Read answers</a> </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                   <td class="expander"></td>
                    
                    <td class="wrapper last" style="background-color:#f4f2ef; padding:20px;">
                      <table class="twelve columns" style="background-color:#f4f2ef; padding:20px 0 10px 0; margin-bottom:10px">
                        <tr>
                          <td class="one sub-columns" style="padding:0px;">
                            <img width="auto" style="height: 24px!important; float: left; margin-right: 7px;" src="/Media/Default/nomads-news/quotation.jpg" />
                          </td>
                          <td class="seven sub-columns" style="padding:0px;">
                            <p><strong><em>What are your favourite vegetarian restaurants in Lisbon?</em></strong></p>
                            <span style="font-size:12px; color:#ffffff; background-color:#999999; padding:3px; margin-right:5px;"> Lisbon </span>
                            <span style="font-size:12px;"> 15 answers, 291 views </span> <p style="font-size:12px; margin-top:5px;"> - Asked by Mikelle Sperling </p>     
                          </td>
                     
                          <td class="four sub-columns" style="background-color:#f4f2ef; padding:20px;">
                            <table class="button">
                              <tr>    
                                <td style="margin-bottom:0px;"><a href="#">Read answers</a> </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                      </table>
                    </td>
                   <td class="expander"></td>
                  </tr>
                </table>
              
               </td>
              </tr>
             </table>
                
         <hr class="twelve columns">
                
                <table class="row" style="margin-top:20px; background-color:#d9d9d9;">
                  <tr>
   
                          <td class="wrapper">
                              <table class="twelve columns">
                                <tr>
                                  <h4 class="center"><strong>Our picks of the week</strong></h4>
                                </tr>
                                <tr>

                                    <td class="wrapper pick">
                                    <table class="four sub-columns">
                                      <tr>
                                        <td style="padding:0;">
                                          <a href="http://www.worldnomads.com/"><img width="170" height="103" style="width:170px; height:103px;" src="/Media/Default/nomads-news/partner.jpg"/></a>
                                        </td>
                                      </tr>
                                      <tr style="background:#ffffff;">
                                        <a href="#">
                                          <td class="left-text-pad right-text-pad" style="padding:5px 10px 0 10px;">
                                            <p style="font-size:12px; line-height:18px; margin-bottom: 6px;"><strong>Win a trip for 2 </strong></p>
                                            <p style="font-size:12px;  line-height:18px;"> Lonely Planet is giving away a trip this month ></p>
                                          </td>
                                        </a>
                                      </tr>
                                    </table>
                                  </td>

                                  <td class="wrapper pick">
                                    <table class="four sub-columns">
                                      <tr>
                                        <td style="padding:0;">
                                          <a href="http://www.worldnomads.com/"><img width="170" height="103" style="width:170px; height:103px;" src="/Media/Default/nomads-news/luggage.jpg"/></a>
                                        </td>
                                      </tr>
                                      <tr style="background:#ffffff;">
                                        <a href="#">
                                          <td class="left-text-pad right-text-pad" style="padding:5px 10px 0 10px;">
                                            <p style="font-size:12px; line-height:18px; margin-bottom: 6px;"><strong>Luggage delayed? </strong></p>
                                            <p style="font-size:12px;  line-height:18px;"> What to do when your bag is taking a detour ></p>
                                          </td>
                                        </a>
                                      </tr>
                                    </table>
                                  </td>

                                  <td class="wrapper last pick">
                                    <table class="four sub-columns">
                                      <tr>
                                        <td style="padding:0;">
                                          <a href="http://www.worldnomads.com/"><img width="170" height="103" style="width:170px; height:103px;" src="/Media/Default/nomads-news/germany.jpg"/></a>
                                        </td>
                                      </tr>
                                      <tr style="background:#ffffff;">
                                        <a href="#">
                                          <td class="left-text-pad right-text-pad" style="padding:5px 10px 0 10px;">
                                            <p style="font-size:12px; line-height:18px; margin-bottom: 6px;"><strong>Travel Safety – Germany </strong></p>
                                            <p style="font-size:12px;  line-height:18px;"> Survive ticket scams, fake inspectors and more ></p>
                                          </td>
                                        </a>
                                      </tr>
                                    </table>
                                  </td>

                                </tr>
                            </table>
                          </td>
              
                  </tr>
                </table>
                
                <table class="row dark-grey">
                  <tr style="background:#343333;">
                    <td class="wrapper last" style="padding-top:20px; padding-bottom:10px;">
                                            
                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            <p style="color: #e4e4e4; text-align: center;">World Nomads provides <a style="color: #e4e4e4!important; text-decoration: underline;" href="http://www.worldnomads.com/">travel insurance</a>, designed by adventure travelers, <a style="color: #e4e4e4!important; text-decoration: underline;" href="http://www.worldnomads.com/">language and destination guides</a>, and a thriving <a style="color: #e4e4e4!important; text-decoration: underline;" href="http://www.worldnomads.com/">travel community</a>. </p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      
                    </td>
                  </tr>
                </table>

                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}