{% layout "nomad-news" %}
{% block title %}World Nomads Email Template{% endblock %}
{% block content %}


          <!-- Intro -->
                <table class="row" style="border-bottom:1px solid #ccc; background-color: #ffffff;">
                  <tr>
                    <td class="wrapper last" style="padding-top: 20px; margin-bottom:0px;">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            <h3><strong>John, welcome to a brand new Nomads News</strong></h3>
                            <h3>We’re so excited to bring you the first edition of the freshly redesigned Nomads News! </h3>
                            <p>Get more of what you love with our exclusive World Nomads content delivered straight to your inbox every fortnight. There’s <a class="inlinelink" href="https://www.worldnomads.com/guides?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">destination guides</a> written by the locals, <a class="inlinelink" href="http://answers.worldnomads.com?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">trending travel stories</a>, <a class="inlinelink" href="https://www.worldnomads.com/travel-safety?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">travel tips and hacks</a> you need to know, <a class="inlinelink" href="https://www.youtube.com/user/WorldNomadsTV">inspiring video stories</a> and much more.<br><br>
							    So take a look around and let us know what you think of our new layout and stories – we’d love to hear from you! Want more? 
								Don’t forget to follow us on <a class="inlinelink" href="https://www.facebook.com/worldnomads">Social</a> for more exclusive content to keep you travelling.</p> 
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
				  
				<!-- Articles 1-2 -->
				<table class="row" style="background-color: #ffffff; padding-top:10px;">
                  <tr>
                    <td class="wrapper">

                      <table class="six columns">
                        <tr>
                          <td class="" style="padding-bottom:0px; margin-bottom:0px">
                          	<a href="http://www.worldnomads.com/learn/travel-food/winner-2015?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">
							  <img width="280" height="170" style="width:280px; height:170px;" src="http://www.worldnomads.com/Media/Default/email-images/nn-issue-1-2015/food.jpg"/>
							</a>
                          </td>
                          <td class="expander"></td>
                        </tr>
						  
						<tr>
                          <td class="left-text-pad right-text-pad" style="background-color:#60b7a9; padding-top:15px; padding-bottom: 20px;">
							<p><strong><a class="link" style="color:#ffffff;" href="http://www.worldnomads.com/learn/travel-food/winner-2015?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">Meet our 2015 Passport and Plate winners</a></strong></p>
                            <p style="font-size:12px; color:#ffffff; margin-bottom:15px;">Our three food explorers have just returned from Sri Lanka with some mouth-watering adventures to share. </p>
                                                 
                             <table class="button" >
                               <tr>
                                 <td style="margin-bottom:0px;">
                                   <a href="http://www.worldnomads.com/learn/travel-food/winner-2015?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">Read more</a>
                                 </td>
                               </tr>
                             </table>
							  
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
					
					<td class="wrapper last">

                      <table class="six columns">
                        <tr>
                          <td class="" style="padding-bottom:0px; margin-bottom:0px">
                          	<a href="http://www.worldnomads.com/travel-insurance?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">
							  <img width="280" height="170" style="width:280px; height:170px;" src="http://www.worldnomads.com/Media/Default/email-images/nn-issue-1-2015/insurance.jpg"/>
							</a>
                          </td>
                          <td class="expander"></td>
                        </tr>
						  
						<tr>
                          <td class="left-text-pad right-text-pad" style="background-color:#de5346;padding-top:15px;    padding-bottom: 20px;">
                          	<p><strong><a class="link" style="color:#ffffff;"href="http://www.worldnomads.com/travel-insurance?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">Save 7% on your travel insurance</a></strong></p>
                            <p style="font-size:12px; color:#ffffff; margin-bottom:15px;">To get 7% off your next travel insurance policy, just enter the promo code MEMBERSEPT when purchasing* </p>
                                                 
                             <table class="button">
                               <tr>
                                 <td style="margin-bottom:0px;">
                                   <a href="http://www.worldnomads.com/travel-insurance?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">Get a quote</a>
                                 </td>
                               </tr>
                             </table>
							  
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
				<!-- Articles 1-2 END -->
				
				<!-- Articles 3-4 -->
				<table class="row" style="border-bottom:1px solid #ccc; background-color: #ffffff; padding-bottom:20px; ">
                  <tr>
                    <td class="wrapper">

                      <table class="six columns">
                        <tr>
                          <td class="" style="padding-bottom:0px; margin-bottom:0px">
                          	<a href="https://www.youtube.com/watch?v=TPFxfyaM6bU">
							  <img width="280" height="170" style="width:280px; height:170px;" src="http://www.worldnomads.com/Media/Default/email-images/nn-issue-1-2015/krishna.jpg"/>
							</a>
                          </td>
                          <td class="expander"></td>
                        </tr>
						  
						<tr>
                          <td class="left-text-pad right-text-pad" style="background-color:#444542; padding-top:15px;padding-bottom: 20px;">
                          	<p><strong><a class="link" style="color:#ffffff;" href="https://www.youtube.com/watch?v=TPFxfyaM6bU">WATCH: Modern day holy man – Goa, India.</a></strong></p>
                            <p style="font-size:12px; color:#ffffff; margin-bottom:15px;">World Nomad's Andre finds Krishna, a wandering Baba teaching the secrets of Yoga to travellers. </p>
                                                 
                             <table class="button">
                               <tr>
                                 <td style="margin-bottom:0px;">
                                   <a href="https://www.youtube.com/watch?v=TPFxfyaM6bU">Watch now</a>
                                 </td>
                               </tr>
                             </table>
							  
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
					
					<td class="wrapper last">

                      <table class="six columns">
                        <tr>
                          <td class="" style="padding-bottom:0px; margin-bottom:0px">
                          	<a href="https://www.youtube.com/watch?v=YSpk45KkfR8">
							  <img width="280" height="170" style="width:280px; height:170px;" src="http://www.worldnomads.com/Media/Default/email-images/nn-issue-1-2015/dayofthedead.jpg"/>
							</a>
                          </td>
                          <td class="expander"></td>
                        </tr>
						  
						<tr>
                          <td class="left-text-pad right-text-pad" style="background-color:#444542; padding-top:15px; padding-bottom: 20px;">
                          	<p><strong><a class="link" style="color:#ffffff;" href="https://www.youtube.com/watch?v=YSpk45KkfR8">WATCH: Day of the Dead – San Luis Potosi Mexico.</a></strong></p>
                            <p style="font-size:12px; color:#ffffff; margin-bottom:15px;">Join World Nomad’s Ben Hogarth in an intimate and heart-warming day of the dead ceremony.</p>
                                                 
                             <table class="button">
                               <tr>
                                 <td style="margin-bottom:0px;">
                                   <a href="https://www.youtube.com/watch?v=YSpk45KkfR8">Watch now</a>
                                 </td>
                               </tr>
                             </table>
							  
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
				<!-- Articles 3-4 END -->
				  
				<!-- Insiders Guides -->
				  
                <table class="row" style="margin-top:20px; background-color: #ffffff;">
                  <tr>
                    <td class="wrapper last" style="padding-top:20px;">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                          	<h4 class="center" style="margin-bottom:0px;"><strong>Don’t leave home without our <a style="color:#ABADAF;" class="link" href="https://www.worldnomads.com/guides?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">Insider Guides</a></strong></h4>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
				<table class="row" style="border-bottom:1px solid #ccc; background-color: #ffffff; padding-bottom:20px;">
                  <tr>
                    <td class="wrapper last" style="margin-bottom:0px; padding-top:0px;">

                      <table class="six columns">
                        <tr>
                          <td class="left-text-pad right-text-pad last" style="padding-bottom:0px;">
						  	<a href="https://www.worldnomads.com/guides/rio-insiders-guide?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">
                              <img width="260" height="165" style="width:260px; height:165px;" src="http://www.worldnomads.com/Media/Default/email-images/nn-issue-1-2015/rio.jpg"/>
                            </a>                           
						  </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
					<td class="wrapper left-text-pad right-text-pad last" style="padding-top:0px; padding-right:20px;">

                      <table class="six columns" style="background-color:#f4f2ef;">
                        <tr>
                          <td class="left-text-pad right-text-pad" style="padding-top:15px; padding-bottom:20px;">
						  	<p><strong>Going to Rio? </strong></p>
                            <p style="font-size:12px;"> Whether you’re going for the Olympics, carnival or just to soak up the electric atmosphere, our <a class="inlinelink" href="https://www.worldnomads.com/guides/rio-insiders-guide?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">Ultimate Guide to Rio</a> will ensure you have the time of your life! </p>
                              <table class="button">
                              <table class="button">
                                <tr>    
                                  <td style="margin-bottom:0px;"><a href="https://www.worldnomads.com/guides/rio-insiders-guide?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">Download now</a> </td>
                                </tr>
                              </table>                          
						  </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
				  

				<!-- Insiders Guides END -->
				
				<!-- Top 3 -->

				<table class="row" style="margin-top:20px; background-color: #ffffff; ">
                  <tr>
                    <td class="wrapper last" style="padding-top:20px;">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                          	<h4 class="center" style="margin-bottom:0px; "><strong>Top 3 questions in our <a style="color:#ABADAF" class="link" href="http://answers.worldnomads.com?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">community</a> this week</strong></h4>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table> 

                <table class="row" style="background-color: #f4f2ef; border-bottom:1px solid #ccc;">
                  <tr>
              
					<td class="wrapper" style="background-color: #f4f2ef; vertical-align:middle; margin-bottom:0; padding: 20px 0 0 0!important;">

                      <table class="eight columns">
                        <tr>
						  <td class="two sub-columns" style="">
                              <img width="auto" style="height: 24px!important; margin-right: 0px;" src="http://www.worldnomads.com/Media/Default/email-images/nn-issue-1-2015/quotation.jpg" />
                          </td>
						    <td class="expander"></td>
                          <td class="ten sub-columns" style=" margin: 10px auto; padding: 0 10px 0 0;">
                          	<p><strong><em><a class="link" style="color:#343333;" href="http://answers.worldnomads.com/questions/europe/3117/any-eating-recommendations-for-paris-and-rome-for-under-5-euro?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">Best eats in Paris and Rome under 5 euros</a></em></strong></p>
                            <span class="tags"> Paris </span><span class="tags"> Rome </span>
                            <span style="font-size:12px;"> 4 answers, 291 views </span> <p style="font-size:12px; margin-top:5px;"> - Asked by Tanya Rose</p>     
                          </td>
                            <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
					
					<td class="wrapper last" style="background-color: #f4f2ef; vertical-align:middle;">

                      <table class="four columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                          	<table class="button">
                              <tr>    
                                <td style="margin-bottom:0px;"><a href="http://answers.worldnomads.com/questions/europe/3117/any-eating-recommendations-for-paris-and-rome-for-under-5-euro?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">Read answers</a> </td>
                              </tr>
                            </table>
                          </td>
                            <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
				  
				<table class="row" style="background-color: #f4f2ef; border-bottom:1px solid #ccc;">
                  <tr>
              
					<td class="wrapper" style="background-color: #f4f2ef; vertical-align:middle; margin-bottom:0; padding: 20px 0 0 0!important;">

                      <table class="eight columns">
                        <tr>
						  <td class="two sub-columns" style="">
                              <img width="auto" style="height: 24px!important; margin-right: 0px;" src="http://www.worldnomads.com/Media/Default/email-images/nn-issue-1-2015/quotation.jpg" />
                          </td>
						    <td class="expander"></td>
                          <td class="ten sub-columns" style=" margin: 10px auto; padding: 0 10px 0 0;">
                          	<p><strong><em><a class="link" style="color:#343333;" href="http://answers.worldnomads.com/questions/portugal/16001/can-you-recommend-some-vegetarian-restaurants-in-lisbon?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">What are your favourite vegetarian restaurants in Lisbon?</a></em></strong></p>
                            <span class="tags"> Lisbon </span>
                            <span style="font-size:12px;"> 5 answers, 661 views </span> <p style="font-size:12px; margin-top:5px;"> - Asked by Ian C </p>     
                          </td>
                            <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
					
					<td class="wrapper last" style="background-color: #f4f2ef; vertical-align:middle;">

                      <table class="four columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                          	<table class="button">
                              <tr>    
                                <td style="margin-bottom:0px;"><a href="http://answers.worldnomads.com/questions/portugal/16001/can-you-recommend-some-vegetarian-restaurants-in-lisbon?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">Read answers</a> </td>
                              </tr>
                            </table>
                          </td>
                            <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
				  
				<table class="row" style="background-color: #f4f2ef; border-bottom:1px solid #ccc;">
              
					<td class="wrapper" style="background-color: #f4f2ef; vertical-align:middle; margin-bottom:0; padding: 20px 0 0 0!important;">

                      <table class="eight columns">
                        <tr>
						  <td class="two sub-columns" style="">
                              <img width="auto" style="height: 24px!important; margin-right: 0px;" src="http://www.worldnomads.com/Media/Default/email-images/nn-issue-1-2015/quotation.jpg" />
                          </td>
						    <td class="expander"></td>
                          <td class="ten sub-columns" style=" margin: 10px auto; padding: 0 10px 0 0;">
                          	<p><strong><em><a class="link" style="color:#343333;"href="http://answers.worldnomads.com/questions/all-locations/1289/what-is-the-most-interesting-thing-you-have-eaten-in-asia?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">What’s the most interesting thing you’ve eaten in Asia?</a></em></strong></p>
                            <span class="tags"> Asia </span>
                            <span style="font-size:12px;"> 6 answers, 252 views </span> <p style="font-size:12px; margin-top:5px;"> - Asked by Jaidev S </p>     
                          </td>
                            <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
					
					<td class="wrapper last" style="background-color: #f4f2ef; vertical-align:middle;">

                      <table class="four columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                          	<table class="button">
                              <tr>    
                                <td style="margin-bottom:0px;"><a href="http://answers.worldnomads.com/questions/all-locations/1289/what-is-the-most-interesting-thing-you-have-eaten-in-asia?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">Read answers</a> </td>
                              </tr>
                            </table>
                          </td>
                            <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

				<table class="row" style="background-color: #ffffff; border-bottom:1px solid #ccc;">
              
					<td class="wrapper last" style=" vertical-align:middle; padding-top:0; margin-bottom:0;">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad" style="height:20px; width:100%; padding-bottom:0; ">
                          	
                          </td>
                            <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
	
				<!-- Top 3 END -->
				
				<!-- Pick of the week -->
	  
	  		<table class="row" style="margin-top:20px; background-color: #d9d9d9; border-top:1px solid #ccc;">
                  <tr>
                    <td class="wrapper last" style="padding-top:20px; margin-bottom: 0;">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                          	<h4 class="center" style="margin-bottom:0px;"><strong>Pick of the week</strong></h4>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>  
				  
				<table class="row" style="border-bottom:1px solid #ccc; background-color: #d9d9d9; padding-bottom:20px;">
                  <tr>
                    <td class="wrapper">

                      <table class="four columns">
                        <tr>
                          <td class="" style="padding-bottom:0px; margin-bottom:0px">
                          	<a href="http://www.photoshelter.com/win-a-dream-photo-tour">
							  <img width="180" height="109px" style="width:180px; height:109px;" src="http://www.worldnomads.com/Media/Default/email-images/nn-issue-1-2015/petra.jpg"/>
							</a>
                          </td>
                          <td class="expander"></td>
                        </tr>
						  
						<tr>
                          <td class="left-text-pad right-text-pad" style="background-color:#ffffff; padding-top:10px; height:108px;">
							  <p style="font-size:12px; line-height:18px; margin-bottom: 6px;"><strong><a class="link" href="http://www.photoshelter.com/win-a-dream-photo-tour">Win a dream photo tour of Jordan</a></strong></p>
							  <p style="font-size:12px; line-height:18px;"> Submit your best travel photo for a chance to win</p>
                                                 
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
					
					<td class="wrapper">

                      <table class="four columns">
                        <tr>
                          <td class="" style="padding-bottom:0px; margin-bottom:0px">
                          	<a href="http://www.worldnomads.com/travel-insurance/what-to-do-if-your-luggage-is-delayed?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">
							  <img width="180" height="109" style="width:180px; height:109px;" src="http://www.worldnomads.com/Media/Default/email-images/nn-issue-1-2015/luggage.jpg"/>
							</a>
                          </td>
                          <td class="expander"></td>
                        </tr>
						  
						<tr>
                          <td class="left-text-pad right-text-pad" style="background-color:#ffffff; padding-top:10px; height:108px;">
							  <p style="font-size:12px; line-height:18px; margin-bottom: 6px;"><strong><a class="link" href="http://www.worldnomads.com/travel-insurance/what-to-do-if-your-luggage-is-delayed?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">Luggage delayed? </a></strong></p>
							  <p style="font-size:12px; line-height:18px;"> What to do when your bag is taking a detour.</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
					  
					<td class="wrapper last">

                      <table class="four columns">
                        <tr>
                          <td class="" style="padding-bottom:0px;margin-bottom:0px">
                          	<a href="https://www.worldnomads.com/travel-safety/Germany/Ticket-Scams-Fake-Inspectors-and-Pickpockets?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">
							  <img width="180" height="109" style="width:180px; height:109px;" src="http://www.worldnomads.com/Media/Default/email-images/nn-issue-1-2015/germany.jpg"/>
							</a>
                          </td>
                          <td class="expander"></td>
                        </tr>
						  
						<tr>
                          <td class="left-text-pad right-text-pad" style="background-color:#ffffff; padding-top:10px; height:108px;">
                          	<p style="font-size:12px; line-height:18px; margin-bottom: 6px;"><strong><a class="link" href="https://www.worldnomads.com/travel-safety/Germany/Ticket-Scams-Fake-Inspectors-and-Pickpockets?utm_campaign=nomadsnews-sep-15&utm_medium=email&utm_source=worldnomads&utm_content=nomadsnews">Oktoberfest Travel Safety </a></strong></p>
							  <p style="font-size:12px; line-height:18px;"> Survive ticket scams, fake inspectors etc. </p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
				<!-- Pick of the week END -->
			
          
        </center>
      </td>
    </tr>
  </table> 
<!-- Content END -->
          
          
          



{% endblock %}