

{% block content %} 
<!-- Hero Content Panel Start -->
<div class="hero-content-panel" id="partner">
  <div class="row">  
    <div class="small-12 medium-6 large-7 columns left">
      <div id="homeheropromo">
        <h3>Get your travel insurance</h3>
        <p>If you're not a UK resident or you're already travelling then we've got you covered.</p>
        <img src="http://www.worldnomads.com//Media/Default/Partners/gapyear/gapyearlogo-white.png" class="partnerlogo" />
      </div>
    </div>
    <div class="small-12 medium-6 large-5 columns right">
      <div id="wnqqcalculator" class="white">
        <h1>Get a quote</h1>
        <script async='' src='//cdn.worldnomads.net/scripts/custom/wng.cachedGetPartnerWidgetResponse.js?loadWithPanelExpanded=true&excludeStyles=true&extractCampaignCodeFromUrl=true'></script>
        <div id='wn-insurance-quote-editor'></div>
      </div>
    </div>

  </div>
</div>
<!-- Hero Content Panel End -->       

<div id="partner-highlights">
  <div class="row">
    <div class="small-12 medium-12 large-10 columns">
      <h2>When should I buy travel insurance?</h2>
      <p>Gap Year has teamed up with World Nomads to provide cover for Non UK residents and travellers already on the road to ensure;</p>
    </div>
  </div>
  <div class="row">
    <ul>
      <li class="large-4 medium-6 small-12 columns emergency">You don’t have to worry about having to cover large medical bills and organise your treatment overseas without the support of a 24/hr emergency assistance team.</li>
      <li class="large-4 medium-6 small-12 columns evacuation">You don't carry the risk of having to pay upwards of USD $200,000 in evacuation costs should you get injured or seriously ill overseas.</li>
      <li class="large-4 medium-6 small-12 columns flights">If you're pre-booking flights, accommodation or tour activities, you don’t need to be worried about being out of pocket if you need to unexpectedly cancel your trip.</li>
      <li class="large-4 medium-6 small-12 columns gadgets">You’re covered for your favourite tech such as laptops, digital cameras and iPads if they get stolen when travelling.</li>
      <li class="large-4 medium-6 small-12 columns end compass">You have the flexibility to extend your coverage should you choose to keep travelling.</li>
    </ul>        

    <div class="small-12 medium-12 large-12 columns">
      <p>Having World Nomads travel insurance in place gives you the peace of mind that if something unexpected happens, you're covered!</p>
    </div>
  </div>
</div>


<div class="hero-content-panel" id="partner-bottom">
  <div class="row">  
    <div class="small-12 medium-8 large-7 columns" style="margin-bottom:60px;">
      <h2>Why has Gap Year chosen World Nomads as its trusted partner?</h2>
      <p>Because World Nomads;</p>
      <ul>
        <li><span>Is backed by a suite of trusted, reliable underwriters around the world.</span></li>
        <li><span>Supports their travellers with 24-hour emergency assistance, wherever you are in the world.</span></li>
        <li><span>Has created travel insurance plans that are affordable and provide excellent cover for your adventures.</span></li>
        <li><span>Makes it easy to buy, extend and claim online, even if you're already travelling.</span></li>
        <li><span>Provides cover for over 200 of your favourite adventure activities.</span></li>
        <li><span>Keeps you up-to-date and informed with travel alerts and advice on every country in the world.</span></li>
        <li><span>Provides its travellers with access to money-cant-buy learning opportunities.</span></li>
      </ul>
      <p></p>
    </div>
  </div>
</div>
<!-- Hero Content Panel End -->       

<!-- Background Header Image CSS Start  -->
<style>
  /* Add link to Desktop Image */
  @media all and (min-width: 860px) {
    #partner {
      background-image: url('http://www.worldnomads.com/Media/Default/Partners/gapyear/backpackers-hiking-full.jpg');
      background-position: top center;
      min-height: 550px;
      padding-bottom: 40px;
    }
  }
  /* Add link to Tablet Image */
  @media all and (max-width: 860px) {
    #partner {
      background-image: url('http://www.worldnomads.com/Media/Default/Partners/gapyear/backpackers-hiking-tablet.jpg');
      min-height: 440px;
       padding-bottom: 40px;
      padding-bottom: 40px;
   }
  }
  /* Add link to Mobile Image */
  @media all and (max-width: 640px) {
    #partner {
      background-image: url('http://www.worldnomads.com/Media/Default/Partners/gapyear/backpackers-hiking-mobile.jpg');
      padding-bottom: 150px;
    }
  }

    #partner-highlights {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 40px;
      padding-bottom: 40px;
    }


  @media all and (min-width: 860px) {
    #partner-bottom {
      background-image: url('http://www.worldnomads.com//Media/Default/Partners/gapyear/scooter-asia-full.jpg');
      background-position: top center;
      min-height: 550px;
    }
  }
  /* Add link to Tablet Image */
  @media all and (max-width: 860px) {
    #partner-bottom {
      background-image: url('http://www.worldnomads.com//Media/Default/Partners/gapyear/scooter-asia-tablet.jpg');
      min-height: 440px;
    }
  }
  /* Add link to Mobile Image */
  @media all and (max-width: 640px) {
    #partner-bottom {
      background-image: url('http://www.worldnomads.com//Media/Default/Partners/gapyear/scooter-asia-mobile.jpg');
      min-height: 1090px;
    }
  }

#wnqqcalculator.white {
  background: #ffffff;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
#partner #wnqqcalculator {
  margin-top: 110px;
}

#partner h3 {
  font-size: 64px;
  margin-top: 30px;
  line-height: 60px;
  margin-bottom: 16px;
}

.hero-content-panel p, .hero-content-panel a {
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
}
#wnqqcalculator #qqc .input-group.country-of-residence input, #wnqqcalculator #qqc .input-group.departure-date input, #wnqqcalculator #qqc .input-group.destination input, #wnqqcalculator #qqc .input-group.province input, #wnqqcalculator #qqc .input-group.return-date input, #wnqqcalculator #qqc .input-group.traveller-age input {
  border: 1px solid #a4a4a4;
  -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.hero-content-panel p, .hero-content-panel a, #partner-highlights h2, #wnqqcalculator.white h1, #partner h3, #partner-highlights p, ul li, #partner-bottom h2 {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: normal;
}
#partner-highlights p, #partner-highlights h2, #partner-highlights h3, #partner-highlights ul li {
    color: #000;
}

#wnqqcalculator.white h1 {
    line-height: 32px;
    font-size: 32px;
    color: #000;
}
#partner .partnerlogo {
  width: 240px;
  float: left;
}
#wnqqcalculator #qqc .continue {
      background: #1869ad;
          white-space: nowrap;
    position: relative;
    outline: none;
    overflow: visible;
    cursor: pointer;
    border: 1px solid #999;
    border: rgba(0,0,0,0.2) 1px solid;
    border-bottom: rgba(0,0,0,0.4) 1px solid !important;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    text-align: center;
  -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
#wnqqcalculator #qqc .continue span {
  display: none;
}
#wnqqcalculator #qqc .continue:hover {
      background: #4688be;
    border: 1px solid #999;
}
    .blue {
      color: #1869AD;
    }
    .orange {
      color: #FF5C00;
    }
    .green {
      color: #108306;
    }
    .hero-content-panel h2, .hero-content-panel h1 {
      max-width: 100%;
    }
    #partner-highlights ul li {
      margin-bottom: 32px;
      margin-left: 0;
    }
    #partner-bottom ul li span, #partner-highlights p, #partner-highlights ul li  {
      font-family: arial, sans-serif
    }
    #partner-bottom ul li, #partner-bottom p {
      color: #ffffff;
    }
      @media all and (max-width: 640px) {
.hero-content-panel p, #partner h3 {
    color: #000;
}
#partner #wnqqcalculator {
  margin-top: 50px;
}
}
.emergency {
  background-image: url('http://www.worldnomads.com//Media/Default/Partners/gapyear/hospital.png');
}
.evacuation {
  background-image: url('http://www.worldnomads.com//Media/Default/Partners/gapyear/location.png');
}
.flights {
  background-image: url('http://www.worldnomads.com//Media/Default/Partners/gapyear/plane.png');
}
.gadgets {
  background-image: url('http://www.worldnomads.com//Media/Default/Partners/gapyear/gadget.png');
}
.compass {
  background-image: url('http://www.worldnomads.com//Media/Default/Partners/gapyear/compass.png');
}
.compass, .gadgets, .flights, .evacuation, .emergency {
 background-repeat: no-repeat;
 padding-left: 60px;
}
p {
  font-weight: 400;
}
  @media all and (max-width: 900px) {
    #partner-highlights ul li {
      min-height: 130px;
    }
  }
  @media all and (max-width: 860px) {
    #partner-highlights ul li {
      min-height: 200px;
    }
  }
</style>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<!-- Background Header Image CSS End -->

<!-- Main Content Area End -->

{% endblock %}
