

{% block content %} 

<!-- Hero Content Panel Start -->
<div class="hero-content-panel" id="partner">
  <div class="row">  
    <div class="small-12 medium-5 large-5 columns left">
      <div id="homeheropromo">
        <!-- Quote -->
        <img src="/Media/Default/icons/wnquotemarks.png" class="qm white medium"/>
        <h3>My favorite insurance provider is World Nomads. I've been using them since I first started traveling back in 2003.</h3>
        <div class="credits">
          <img class="avatar" src="/Media/Default/Partners/nomadicmatt/nomadicmatt-headshot.png">
          <span class="name">Matthew Kepnes</span>
          <img src="/Media/Default/Partners/nomadicmatt/nomadic-matt-white.png" class="partnerlogo" />
        </div>
        <!-- Quote END -->
      </div>
    </div>
    <div class="small-12 medium-7 large-6 columns right">
      <div id="wnqqcalculator" class="white">
        <h1>Get your travel insurance</h1>
        <script async='' src='//cdn.worldnomads.net/scripts/custom/wng.cachedGetPartnerWidgetResponse.js?loadWithPanelExpanded=true&excludeStyles=true&extractCampaignCodeFromUrl=true'></script>
        <div id='wn-insurance-quote-editor'></div>
      </div>
    </div>

  </div>
</div>
<!-- Hero Content Panel End -->       

<!-- Background Header Image CSS Start  -->
<style>
  /* Add link to Desktop Image */
  @media all and (min-width: 860px) {
    #partner {
      background-image: url('/Media/Default/Partners/nomadicmatt/hero_nomadicmatt_full.jpg');
      background-position: top center;
      min-height: 550px;
    }
  }
  /* Add link to Tablet Image */
  @media all and (max-width: 860px) {
    #partner {
      background-image: url('/Media/Default/Partners/nomadicmatt/hero_nomadicmatt_tablet.jpg');
      min-height: 440px;
    }
  }
  /* Add link to Mobile Image */
  @media all and (max-width: 640px) {
    #partner {
      background-image: url('/Media/Default/Partners/nomadicmatt/hero_nomadicmatt_mobile.jpg');
      min-height: 1160px;
    }
  }
</style>
<!-- Background Header Image CSS End -->
<div class="row" id="partner-highlights">
  <div class="small-12 medium-12 large-12 columns">
    <h2>When should I buy World Nomads travel insurance?</h2>
    <p>Any time you are leaving your country of residence, it's a good idea to have travel insurance.</p>
  </div>
  <div class="large-4 medium-6 small-12 columns">
    <div class="text-with-icon support">
      <ul>
        <li>If you want to travel knowing if something goes wrong, you have 24/hr support, then travel insurance is for you.</li>
      </ul>
    </div>
  </div>
  <div class="large-4 medium-6 small-12 columns">
    <div class="text-with-icon flights">
      <ul>
        <li>If you're pre-purchasing flights and accommodation, you'll want to insure these should you be forced to cancel.</li>
      </ul>        
    </div>
  </div>
  <div class="large-4 medium-6 small-12 columns">
    <div class="text-with-icon tags">
      <ul>
        <li>If you're heading off on a big adventure and think you might want to stay longer, then you need insurance that will support this.</li>
      </ul>        
    </div>
  </div>
  <div class="large-4 medium-6 small-12 columns">
    <div class="text-with-icon scuba">
      <ul>
        <li>If you're planning to do any adventure sports or activities on your trip like scuba diving, skiing, zip lining and more, you'll want to make sure you're covered.</li>
      </ul>        
    </div>
  </div>
  <div class="large-4 medium-6 small-12 columns">
    <div class="text-with-icon ipad">
      <ul>
        <li>If you're carrying digital cameras, iPads, laptops or your favourite tech, you'll need insurance cover if something unforeseen happens to your gear.</li>
      </ul>        
    </div>
  </div>
  <div class="large-4 medium-6 small-12 columns">
  </div>
</div>



<div class="hero-content-panel" id="partner-bottom">
  <div class="row">  
    <div class="small-12 medium-8 large-6 columns right">
      <h2>Why I use World Nomads Travel Insurance</h2>
      <p>I continue to use World Nomads for a number of reasons:</p>
      <ul>
        <li><span>They are very reputable and are focussed on processing claims quickly and fairly.</span></li>
        <li><span>I can purchase easily online and renew my insurance policy wherever I am in the world. </span></li>
        <li><span>They have a very friendly and responsive staff who answer my questions, even if on social media. </span></li>
        <li><span>Most importantly, they provide great coverage at a good price. </span></li>
      </ul>
      <p>I use many different companies to support the way I travel, this is one I go back to time and time again.</p>
    </div>
  </div>
</div>
<!-- Hero Content Panel End -->       

<!-- Background Header Image CSS Start  -->
<style>
  /* Add link to Desktop Image */
  @media all and (min-width: 860px) {
    #partner-bottom {
      background-image: url('/Media/Default/Partners/nomadicmatt/hero_nomadic-bottom_full.jpg');
      background-position: top center;
      min-height: 550px;
    }
  }
  /* Add link to Tablet Image */
  @media all and (max-width: 860px) {
    #partner-bottom {
      background-image: url('/Media/Default/Partners/nomadicmatt/hero_nomadic-bottom_tablet.jpg');
      min-height: 440px;
    }
  }
  /* Add link to Mobile Image */
  @media all and (max-width: 640px) {
    #partner-bottom {
      background-image: url('/Media/Default/Partners/nomadicmatt/hero_nomadic-bottom_mobile.jpg');
      min-height: 1090px;
    }
  }
</style>
<!-- Background Header Image CSS End -->

<!-- Main Content Area End -->

{% endblock %}
