
{% block content %} 

<style>
@font-face {
    font-family: 'moon_flowerregular';
    src: url('//www.worldnomads.com/Media/Default/sta-travel/Moon Flower-webfont.eot');
    src: url('//www.worldnomads.com/Media/Default/sta-travel/Moon Flower-webfont.eot?#iefix') format('embedded-opentype'),
         url('//www.worldnomads.com/Media/Default/sta-travel/Moon Flower-webfont.woff2') format('woff2'),
         url('//www.worldnomads.com/Media/Default/sta-travel/Moon Flower-webfont.woff') format('woff'),
         url('//www.worldnomads.com/Media/Default/sta-travel/Moon Flower-webfont.ttf') format('truetype'),
         url('//www.worldnomads.com/Media/Default/sta-travel/Moon Flower-webfont.svg#moon_flowerregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.autocomplete li:hover,
.autocomplete li:active,
.autocomplete li.selected {
  background: #208bdd
}
</style>
<!-- Hero Content Panel Start -->
<div class="hero-content-panel" id="sta">
  <div class="row">  
    <div class="small-12 medium-7 large-7 columns right">
      <h2 class="highlighted blue">If you're not a UK resident or</h2>
      <h2 class="highlighted blue">you're already travelling </h2>
      <h2 class="highlighted blue">then we've got you covered.</h2>
      <img src="//www.worldnomads.com/Media/Default/sta-travel/sta-travel-logo-colour.png" alt="STA TRAVEL" class="stalogo" />
    </div>
    <div class="small-12 medium-5 large-5 columns left">
      <div id="stacalculator">
        <h1>Travel Insurance <br/>Simple &amp; Flexible</h1>
        <script async='' src='//cdn.worldnomads.net/scripts/custom/wng.cachedGetPartnerWidgetResponse.js?loadWithPanelExpanded=true&excludeStyles=true&extractCampaignCodeFromUrl=true'></script>
        <div id='wn-insurance-quote-editor'></div>
      </div>
    </div>
    

  </div>
</div>

<style>
  /* Add link to Desktop Image */
  @media all and (min-width: 860px) {
    #sta {
      background-image: url('//www.worldnomads.com/Media/Default/sta-travel/hero_cargirl_full.jpg');
      background-position: bottom center;
      min-height: 550px;
    }
  }
  /* Add link to Tablet Image */
  @media all and (max-width: 860px) {
    #sta {
      background-image: url('//www.worldnomads.com/Media/Default/sta-travel/hero_cargirl_tablet.jpg');
      min-height: 440px;
    }
  }
  /* Add link to Mobile Image */
  @media all and (max-width: 640px) {
    #sta {
      background-image: url('//www.worldnomads.com/Media/Default/sta-travel/hero_cargirl_mobile.jpg');
      min-height: 1160px;
    }
  }
</style>

<!-- Hero Content Panel End -->      

<!-- Hero Content Panel Start -->
<div class="hero-content-panel part2" id="sta">
  <div class="row">  
    <div class="small-12 medium-12 large-12 columns">
      <h2 class="highlighted green">When should I buy</h2>
      <h2 class="highlighted green">travel insurance</h2>
    </div>
    <div class="small-12 medium-6 large-6 columns">
      <p class="black">STA Travel has teamed up with World Nomads to provide cover for Non UK residents and travellers already overseas because:</p>
    </div>
    <div class="small-12 medium-6 large-6 columns"></div>
    <div class="small-12 medium-6 large-6 columns clear">

      <ul class="tick">
        <li><span>If you're pre-booking flights, accommodation or tour activities and are worried about being well out of pocket if you need to unexpectedly cancel your trip.</span></li>
        <li><span>If you're concerned about having to cover large medical bills and organise your treatment overseas without the support of a 24/hr emergency assistance team.</span></li>
        <li><span>If you don't want the risk of having to pay upwards of USD $200,000 in evacuation costs should you get injured or seriously ill overseas.</span></li>
      </ul>
    </div>
    <div class="small-12 medium-6 large-6 columns">
      <ul class="tick">
        <li><span>If you're worried about replacing your favourite tech such as laptops, digital cameras and iPads if they get stolen when travelling.</span></li>
        <li><span>If you want to have the flexibility to extend your cover should you choose to stay a little longer.</span></li>
      </ul>
      <p class="black">Having travel insurance in place gives you the peace of mind that if something does happen, you're covered!</p>
    </div>

  </div>
</div>

<style>
  /* Add link to Desktop Image */
  @media all and (min-width: 860px) {
    #sta.part2 {
      background-color: #7bb8e8;
      background-position: bottom center;
      background-image: url('//www.worldnomads.com/Media/Default/sta-travel/hero_mandiving_full.jpg');
      min-height: 900px;
    }
  }
  /* Add link to Tablet Image */
  @media all and (max-width: 860px) {
    #sta.part2 {
      background-color: #7bb8e8;
      background-position: bottom center;
      background-image: url('//www.worldnomads.com/Media/Default/sta-travel/hero_mandiving_tablet.jpg');
      min-height: 800px;
    }
  }
  /* Add link to Mobile Image */
  @media all and (max-width: 640px) {
    #sta.part2 {
      background-color: #7bb8e8;
      background-position: bottom center;
      background-image: url('//www.worldnomads.com/Media/Default/sta-travel/hero_mandiving_mobile.jpg');
      min-height: 1000px;
    }
  }
</style>

<!-- Hero Content Panel End -->   


<!-- Hero Content Panel Start -->
<div class="hero-content-panel part3" id="sta">
  <div class="row">  
    <div class="small-12 medium-12 large-12 columns">
      <h2 class="highlighted purple">Why does STA Travel trust World</h2>
      <h2 class="highlighted purple">Nomads travel insurance?</h2>
    </div>
    <div class="small-12 medium-6 large-6 columns">
      <p>World Nomads;</p>
    </div>
    <div class="small-12 medium-6 large-6 columns"></div>
    <div class="small-12 medium-6 large-6 columns clear">
      <ul class="tickwhite">
        <li><span>Is backed by a group of trusted, reliable underwriters around the world.</span></li>
        <li><span>Supports their members with 24 hour emergency assistance, no matter where you are in the world.</span></li>
        <li><span>Has developed travel insurance plans that are not only affordable, but provide great coverage.</span></li>
        <li><span>Makes it easy to buy, extend and claim online, even if you're already travelling.</span></li>
      </ul>
    </div>
    <div class="small-12 medium-6 large-6 columns">
      <ul class="tickwhite">
        <li><span>Provides coverage for over 200 adventure activities.</span></li>
        <li><span>Keeps you travelling safely with alerts and travel advice on every country in the world.</span></li>
        <li><span>Provides its members with access to money-cant-buy learning opportunities.</span></li>
      </ul>
      <p>World Nomads, a trusted travel insurance partner of STA Travel.</p>
    </div>

  </div>
</div>

<style>
  /* Add link to Desktop Image */
  @media all and (min-width: 860px) {
    #sta.part3 {
      background-color: #005aa1;
      background-position: bottom right;
      background-image: url('//www.worldnomads.com/Media/Default/sta-travel/hero_manmountains_full.jpg');
      min-height: 900px;
    }
  }
  /* Add link to Tablet Image */
  @media all and (max-width: 860px) {
    #sta.part3 {
      background-color: #005aa1;
      background-position: bottom right;
      background-image: url('//www.worldnomads.com/Media/Default/sta-travel/hero_manmountains_tablet.jpg');
      min-height: 1000px;
    }
  }
  /* Add link to Mobile Image */
  @media all and (max-width: 640px) {
    #sta.part3 {
      background-color: #005aa1;
      background-position: bottom right;
      background-image: url('//www.worldnomads.com/Media/Default/sta-travel/hero_manmountains_mobile.jpg');
      min-height: 1250px;
    }
  }
</style>

<!-- Hero Content Panel End -->


{% endblock %}
