

{% block content %} 
<!-- Hero Content Panel Start -->
<div class="hero-content-panel" id="partner">
  <div class="row">  
    <div class="small-12 medium-6 large-7 columns left">
      <div id="homeheropromo">
        <h3>Travel Insurance</h3>
        <h5>Simple &amp; flexible</h5>
        <p>VirtualTourist members trust<br/>World Nomads Travel Insurance.</p>
        <img src="http://www.worldnomads.com/Media/Default/Partners/virtualtourist/vt-logo.png" class="partnerlogo" />
      </div>
    </div>
    <div class="small-12 medium-6 large-5 columns right">
      <div id="wnqqcalculator" class="white">
        <h1>Get a quote</h1>
        <script async='' src='//cdn.worldnomads.net/scripts/custom/wng.cachedGetPartnerWidgetResponse.js?loadWithPanelExpanded=true&excludeStyles=true&extractCampaignCodeFromUrl=true'></script>
        <div id='wn-insurance-quote-editor'></div>
      </div>
    </div>

  </div>
</div>
<!-- Hero Content Panel End -->       

<div id="partner-sectiontwo">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="text-center">Why should I buy travel insurance?</h2>
    </div>
  </div>
  <div class="row show-for-medium-up">
    <div class="text-center medium-12">
      <span class="vt_icon-doc"></span>
        <hr>
      <span class="vt_icon-medical"></span>
        <hr>
      <span class="vt_icon-delay"></span>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-4 columns">
      <h3>Accident and Medical Expenses</h3>
      <p>If your current health insurance doesn't cover you while abroad, you should consider getting international travel insurance just in case something should go wrong.</p>
    </div>
    <div class="small-12 medium-4 columns">
      <h3>Emergency Evacuation</h3>
      <p>Emergency evacuations can cost anywhere between $20,000 and $60,000 USD. Without travel insurance, you are up for these costs yourself. Having travel insurance can protect you if you need to be evacuated due to a medical emergency.</p>
    </div>
    <div class="small-12 medium-4 columns">
      <h3>Trip Cancellation, Interruption or Delay</h3>
      <p>If you need to cancel your trip or cut it short due to a defined event, any pre-paid travel and accommodation expenses can be reimbursed if you have travel insurance. If your trip is delayed due to a covered event under a policy, any additional expenses incurred may also be covered under a travel insurance policy.</p>
    </div>
  </div>
  <div class="row show-for-medium-up">
    <div class="text-center medium-12">
      <span class="vt_icon-trolley"></span>
        <hr>
      <span class="vt_icon-coffin"></span>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-4 medium-offset-2 columns">
      <h3>Baggage and Personal Items</h3>
      <p>Travel insurance also protects your luggage and personal items such as cameras, laptops, passport and wallet. If your luggage or other personal items are lost, stolen or damaged during the trip, you can make a claim under a travel insurance policy for reimbursement of the expenses to replace these items. Some travel insurance policies will also cover emergency cash.</p>
    </div>
    <div class="small-12 medium-4 columns end">
      <h3>Accidental Death and Dismemberment</h3>
      <p>No one likes to think the worst when they go travelling, but things can go wrong. If you have travel insurance, you can receive a benefit amount for the loss of life or limb as a result of an accidental injury during the trip.</p>
    </div>
  </div>
</div>

<div id="partner-sectionthree">
  <div class="row">
    <div class="small-12 medium-8 large-7 columns">
      <h2>When should I buy travel insurance?</h2>
      <ul>
        <li class="vt_icon-airport">Any time you are leaving your country of residence, it's a good idea to have travel insurance.</li>
        <li class="vt_icon-climbing">If you're planning to do any adventure sports or activities on your trip like hang gliding, scuba diving, zip lining and more, you'll want to make sure you're covered.</li>
        <li class="vt_icon-banknotes">If you're vacation/holiday is a big-ticket purchase, you'll want to insure your trip just in case something goes wrong.</li>
        <li class="vt_icon-ideas">If you like to have peace of mind, travel insurance is for you.</li>
        <li class="vt_icon-globe">If you're planning to be away for a while and visit a lot of different places, you should get coverage. You never know where something can go wrong.</li>
        <li class="vt_icon-ship">If you're going on a cruise or a packaged tour, travel insurance can protect you if you miss your trip.</li>
      </ul>
    </div>
  </div>
</div>

<div id="partner-sectionfour">
  <div class="row">
    <div class="small-12 medium-8 large-8 columns">
      <h2>VirtualTourist members love World Nomads Travel Insurance</h2>
      <ul>
        <li class="vt_icon-tick">24 hour emergency assistance.</li>
        <li class="vt_icon-tick">Trusted reliable underwriters.</li>
        <li class="vt_icon-tick">Buy online, even if you've already started your trip.</li>
        <li class="vt_icon-tick">Make claims online.</li>
        <li class="vt_icon-tick">Medical coverage for travelers from over 140 countries.</li>
        <li class="vt_icon-tick">Medical coverage for a wide range of adventure activities.</li>
        <li class="vt_icon-tick">Access to up-to-date travel safety alerts through the World Nomads Travel Safety Hub.</li>
        <li class="vt_icon-tick">And more!</li>
      </ul>
    </div>
  </div>
</div>


<style>
#partner { background-image: url('http://www.worldnomads.com/Media/Default/Partners/virtualtourist/wn-bg1.jpg'); }
#partner:before {
    background: -moz-linear-gradient(left,rgba(255,255,255,.9) 0,rgba(234,234,234,0) 69%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0,rgba(255,255,255,.9)),color-stop(69%,rgba(234,234,234,0)));
    background: -webkit-linear-gradient(left,rgba(255,255,255,.9) 0,rgba(234,234,234,0) 69%);
    background: -o-linear-gradient(left,rgba(255,255,255,.9) 0,rgba(234,234,234,0) 69%);
    background: -ms-linear-gradient(left,rgba(255,255,255,.9) 0,rgba(234,234,234,0) 69%);
    background: linear-gradient(to right,rgba(255,255,255,.9) 0,rgba(234,234,234,0) 69%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#00eaeaea',GradientType=1);
}
#partner-sectiontwo {
  background-color: #f7f7f7;
}
#partner-sectionthree { background: url('http://www.worldnomads.com/Media/Default/Partners/virtualtourist/wn-bg2.jpg'); }
#partner-sectionthree:before {
    background: -moz-linear-gradient(left,rgba(196,210,196,.9) 0,rgba(234,234,234,0) 90%);
    background: -webkit-gradient(linear,left top,right top,color-stop(0,rgba(196,210,196,.9)),color-stop(90%,rgba(234,234,234,0)));
    background: -webkit-linear-gradient(left,rgba(196,210,196,.9) 0,rgba(234,234,234,0) 90%);
    background: -o-linear-gradient(left,rgba(196,210,196,.9) 0,rgba(234,234,234,0) 90%);
    background: -ms-linear-gradient(left,rgba(196,210,196,.9) 0,rgba(234,234,234,0) 90%);
    background: linear-gradient(to right,rgba(196,210,196,.9) 0,rgba(234,234,234,0) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C4D2C4',endColorstr='#00eaeaea',GradientType=1);
} 
#partner-sectionfour { background-image: url('http://www.worldnomads.com/Media/Default/Partners/virtualtourist/wn-bg3.jpg'); }
#partner-sectionfour:before {
    background: -moz-linear-gradient(left,rgba(226,225,223,.9) 42%,rgba(234,234,234,0) 90%);
    background: -webkit-gradient(linear,left top,right top,color-stop(42%,rgba(226,225,223,.9)),color-stop(90%,rgba(234,234,234,0)));
    background: -webkit-linear-gradient(left,rgba(226,225,223,.9) 42%,rgba(234,234,234,0) 90%);
    background: -o-linear-gradient(left,rgba(226,225,223,.9) 42%,rgba(234,234,234,0) 90%);
    background: -ms-linear-gradient(left,rgba(226,225,223,.9) 42%,rgba(234,234,234,0) 90%);
    background: linear-gradient(to right,rgba(226,225,223,.9) 42%,rgba(234,234,234,0) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E2E1DF',endColorstr='#00eaeaea',GradientType=1);
}
#partner:before, #partner-sectionthree:before, #partner-sectionfour:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
 }
#partner, #partner-sectiontwo, #partner-sectionthree, #partner-sectionfour {
  background-position: top center;
  background-size: cover;
  min-height: 550px;
  padding-bottom: 40px;    
  padding-top: 40px;      
  position: relative;
  z-index: 0;
}
#partner-sectiontwo hr {
    border-top: 1px solid #ddd;
    width: 25%;
    display: inline-block;
    margin: 30px;
}
.vt_icon-medical { background-image: url('http://www.worldnomads.com/Media/Default/Partners/virtualtourist/medical.png'); }
.vt_icon-delay { background-image: url('http://www.worldnomads.com/Media/Default/Partners/virtualtourist/delay.png'); }
.vt_icon-doc { background-image: url('http://www.worldnomads.com/Media/Default/Partners/virtualtourist/doc.png'); }
.vt_icon-coffin { background-image: url('http://www.worldnomads.com/Media/Default/Partners/virtualtourist/coffin.png'); }
.vt_icon-trolley { background-image: url('http://www.worldnomads.com/Media/Default/Partners/virtualtourist/trolley.png'); }
.vt_icon-trolley, .vt_icon-coffin, .vt_icon-doc, .vt_icon-medical, .vt_icon-delay {
    display: inline-block;
    height: 64px;
    width: 64px;
    background-size: 64px;
    background-repeat: no-repeat;
}
.vt_icon-airport, .vt_icon-banknotes, .vt_icon-climbing, .vt_icon-globe, .vt_icon-ideas, .vt_icon-ship {
  background-repeat: no-repeat;
  padding-left: 56px;
  margin-bottom: 24px;
}
.vt_icon-airport { background-image: url('http://www.worldnomads.com/Media/Default/Partners/virtualtourist/airport.png'); }
.vt_icon-banknotes { background-image: url('http://www.worldnomads.com/Media/Default/Partners/virtualtourist/banknotes.png'); }
.vt_icon-climbing { background-image: url('http://www.worldnomads.com/Media/Default/Partners/virtualtourist/climbing.png'); }
.vt_icon-globe { background-image: url('http://www.worldnomads.com/Media/Default/Partners/virtualtourist/globe.png'); }
.vt_icon-ideas { background-image: url('http://www.worldnomads.com/Media/Default/Partners/virtualtourist/idea.png'); }
.vt_icon-ship { background-image: url('http://www.worldnomads.com/Media/Default/Partners/virtualtourist/ship.png'); }
.vt_icon-tick { 
  background-image: url('http://www.worldnomads.com/Media/Default/Partners/virtualtourist/tick.png'); 
  background-repeat: no-repeat;
  padding-left: 32px;
  margin-bottom: 24px;
}
#partner h3, #partner p, #partner h5, p {
  color: #333;
  line-height: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
p {
  font-size: 16px;
  font-weight: 300;
  line-height: 130%;
}
h3 {
  font-weight: 300;
  line-height: 120%;
  font-size: 24px;
  margin-bottom: 8px;
  min-height: 56px;
  vertical-align: bottom;
}
#partner h3 {
  font-size: 64px;
  margin-top: 0px;
  margin-bottom: 8px;
  font-weight: normal;
}
#partner h5 {
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 16px;
  font-weight: 300;
}
#partner p {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 16px;
  font-weight: 300;
}  
#partner #homeheropromo {
  margin-top: 100px;
}
#partner .partnerlogo {
  width: 200px;
  float: left;
}
#wnqqcalculator.white {
  background: #ffffff;
}
#partner #wnqqcalculator {
  margin-top: 70px;
}
#wnqqcalculator #qqc .input-group.country-of-residence input, #wnqqcalculator #qqc .input-group.departure-date input, #wnqqcalculator #qqc .input-group.destination input, #wnqqcalculator #qqc .input-group.province input, #wnqqcalculator #qqc .input-group.return-date input, #wnqqcalculator #qqc .input-group.traveller-age input {
  border: 1px solid #a4a4a4;
}
.hero-content-panel p, .hero-content-panel a, #partner-highlights h2, #wnqqcalculator.white h1 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #000;
}
</style>


{% endblock %}
