

{% block content %} 

<!-- Hero Content Panel Start -->
<div class="header-panel purple-panel" id="partner">
  <div class="row" id="article-header">  
    <div class="small-12 medium-6 large-5 columns">
      <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <ul class="breadcrumb">
          <li><a href="/">World Nomads</a></li>
          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/wystc" itemprop="url"><span itemprop="title">WYSTC</span></a></li>
        </ul>
      </div>
      <h1>There are travel insurance companies. <br /><strong>Then there’s World Nomads.</strong></h1>
      <p class="lead">For over 10 years, World Nomads has been helping travellers deal with all sorts of monkey business.</p>
      <a href="http://www.worldnomads.com/partner/affiliateapplication?referrer=WYSTC" class="base-button orange">Join today</a>        
    </div>
    <div class="small-12 medium-4 large-3 columns" id="partner-logo">
      <img src="//www.worldnomads.com/Media/Default/Partners/WYSTC2015-CapeTown-logo.png" height="128" width="260" />
    </div>
  </div>
</div>
<!-- Hero Content Panel End -->       

<!-- Background Header Image CSS Start  -->
<style>
  /* Add link to Desktop Image */
  #partner { background-position: center; background-size: cover; }
  #partner h1, #partner p { color: #ffffff; }
  #partner .row { position: relative; } 
  #partner-logo { position: absolute; bottom: 2rem; right: 1.5rem; }
  #partner .base-button { margin-bottom: 2rem; }
  @media all and (min-width: 860px) {
    #partner {
      background-image: url('//www.worldnomads.com/Media/Default/Hero/hero_wystc_full.jpg');
      min-height: 550px;
      color: #ffffff;
    }
  }
  /* Add link to Tablet Image */
  @media all and (max-width: 860px) {
    #partner {
      background-image: url('//www.worldnomads.com/Media/Default/Hero/hero_wystc_tablet.jpg');
      min-height: 540px;
    }
  }
  /* Add link to Mobile Image */
  @media all and (max-width: 640px) {
    #partner {
      background-image: url('//www.worldnomads.com/Media/Default/Hero/hero_wystc_mobile.jpg');
      min-height: 860px;
    }
    #partner-logo { position: relative; bottom: inherit; right: inherit; margin-top: 180px; }
    #partner-logo img { width: initial; }
  }
</style>
<!-- Background Header Image CSS End -->
<div class="row" id="partner-highlights">
  <div class="small-12 columns">
    <h2>10 Reasons to become a World Nomads Partner</h2>
    <p class="highlight">We don’t monkey around when it comes to developing strong ancillary revenue channels for travel partners and travel insurance that’s designed for independent and adventurous travellers.</p>
  </div>

  <div class="medium-6 small-12 columns">
  	<h5>1. Earn income</h5>
  	<p>Generate a steady income by referring your travellers to World Nomads travel insurance. You earn money from every sale that you refer to us from your web site.</p>  

  	<h5>2. Available in 150 countries</h5>
  	<p>Travel insurance available to people from over 150 countries so its relevant to your audience.</p>  

  	<h5>3. Travel Insurance designed by travellers</h5>
  	<p>World Nomads travel insurance has been designed by travellers, making it easy to buy, extend and claim online, even when already travelling.</p>  

  	<h5>4. High conversion rates</h5>
  	<p>Travellers worldwide love World Nomads! Supported by premium insurers and dedicated customer service teams, we having industry leading conversion rates.</p>  

  	<h5>5. Fast, simple &amp; easy to integrate</h5>
  	<p>Apply now and we'll set you up with an account straight away. Just follow the easy instructions and start earning.</p>  
  </div>
  <div class="medium-6 small-12 columns">
  	<h5>6. Track your sales</h5>
  	<p>Simple monthly sales reports that show you how much you have earned.</p>

  	<h5>7. Unlimited earnings</h5>
  	<p>There is no cap on your monthly earnings, so the more sales you refer, the more income you can earn.</p>

  	<h5>8. Engage your audience</h5>
  	<p>From language guides to travel knowledge, scholarships and travel safety insights, you can use our content and programs to drive sales and support your business.</p>

  	<h5>9. Help change the world</h5>
  	<p>Over <a href="http://www.worldnomads.com/make-a-difference" target="_blank">1,000,000 travellers</a> chose to give a little extra through our micro-giving philanthropy program to support over 100 community projects. Your customers too can be part of that.</p>

  	<h5>10. Travel insights</h5>
  	<p>Our team is dedicated to offering relevant and timely insights to anywhere your customers go, helping them stay out of trouble when they travel.</p>
  </div>
</div>

<div class="panel">
	<div class="row">
	  <div class="small-7 columns">
	    <h3>Join World Nomads Partners</h3>
	  </div>
	  <div class="small-5 columns">
	    <a href="http://www.worldnomads.com/partner/affiliateapplication?referrer=WYSTC" class="base-button orange large">Join today</a>
	  </div>
	</div>
</div>
<div class="row" id="screenshots">
  <div class="small-12 columns">
    <h2>We buid profitable &amp; lasting relationships</h2>
  </div>
  <div class="medium-6 small-12 large-4 columns">
  	<img src="//www.worldnomads.com/Media/Default/Partners/lonelyplanet-partner-screenshot.jpg" class="partnerscreenshot" />
  	<h5>Lonely Planet</h5>
    <p><a href="http://www.lonelyplanet.com/travel-insurance" target="_blank">Lonely Planet</a> is renowned for its approach and commitment to providing the best information for travellers. They chose World Nomads in 2004 as their global travel insurance because of our aligned philosophy, global reach and technical excellence.</p>
  </div>

  <div class="medium-6 small-12 large-4 columns">
  	<img src="//www.worldnomads.com/Media/Default/Partners/ivhq-partner-screenshot.jpg" class="partnerscreenshot" />
  	<h5>International Volunteer HQ</h5>
    <p><a href="https://www.volunteerhq.org/volunteer-travel-insurance" target="_blank">IVHQ</a> has grown to become the world’s leaving volunteer travel company, working in over 30 countries, placing thousands of volunteers from all over the world. We were a natural fit for their global audience.</p>
  </div>

  <div class="medium-6 small-12 large-4 columns end">
  	<img src="//www.worldnomads.com/Media/Default/Partners/topdeck-partner-screenshot.jpg" class="partnerscreenshot" />
  	<h5>Topdeck</h5>
    <p><a href="https://www.topdeck.travel/resources/travel-insurance" target="_blank">Topdeck Travel</a> design epic trips for 18-30 somethings. Started by friends in 1973 with a passions for adventure. Topdeck chose World Nomads…</p>
  </div>
</div>
<div class="row">
  <hr class="small-12 columns" style="margin-top:0; margin-bottom: 32px;">
</div>

<div class="row">
  <div class="small-12 columns">
    <h2>Frequently Asked Questions</h2>
  </div>
  <div class="medium-6 small-12 columns">
  	<h5>1. How does the program work?</h5>
    <p>As a World Nomads Partner we pay you a referral fee every time someone you send to us from links on your web site buys travel insurance.</p>

  	<h5>2. How do I join?</h5>
    <p>It’s easy, simply <a href="http://www.worldnomads.com/partner/affiliateapplication" target="_blank">complete our online application</a> and we will assess it within 5 working days. Once approved, you will receive confirmation of your account, access to your online account and details on how to integrate links and content into your web site so you can start earning.</p>

  	<h5>3. Can I have multiple websites?</h5>
    <p>Yes, you can have as many websites as you like and you don't need a separate account for each site.</p>

  	<h5>4. Can I join other affiliate programs?</h5>
    <p>Yes, World Nomads doesn't have to be the exclusive travel insurance partner. We recognise that its about offering what’s right for your customers.</p>

  	<h5>5. How much commission will I earn?</h5>
    <p>You will receive an agreed commission amount against every single sale made that you refer, no matter what the policy sale premium. We don’t cap...</p>  
  </div>
  <div class="medium-6 small-12 columns">
  	<h5>6. How do you track sales?</h5>
    <p>When you sign up we create a unique affiliate code for you which is attached to the content we supply to you to put onto your web site. When you refer a visitor to World Nomads, this code sets a cookie, which we use assign the referrer to every sale.</p> 

  	<h5>7. How long does the cookie last?</h5>
    <p>The cookie lasts for 60 days.</p> 

  	<h5>8. How do I get to my partner account?</h5>
    <p><a href="https://partner.worldnomads.com/" target="_blank">Log in to your partner account</a> with your email and password.</p> 

  	<h5>9. What are my log in details?</h5>
    <p>You will find your log in details in the confirmation email we sent when you joined the program. If you have lost or forgotten you can <a href="https://partner.worldnomads.com/" target="_blank">reset your password</a>.</p> 

  	<h5>10. When do I get paid?</h5>
    <p>We pay affiliate accounts on a monthly basis. Payments are automatically deposited in to the PayPal or Bank Account of your choice once you have reached the minimum payment threshold ($250<small>AUD</small>). If you don’t reach the threshold then we will simply carry you earnings over to the next month. Please note that PayPal, bank or currency conversion fees are at the affiliate’s expense.</p> 
  </div>
</div>
<div class="row">
  <hr class="small-12 columns" style="margin-top:0; margin-bottom: 32px;">
</div>

<div class="row" style="margin-bottom: 80px;">
  <div class="small-12 columns">
    <h2>Need to contact the team?</h2>
  </div>
  <div class="medium-6 small-12 columns">
  	<h5>For all Americas contact</h5>
    <p><strong>Christina Tunnah</strong><br/>Regional Manager – The Americas<br/><a href="mailto:christina@worldnomads.com">christina@worldnomads.com</a></p>
  </div>
  <div class="medium-6 small-12 columns">
  	<h5>For ROW contact</h5>
    <p><strong>Nick Pound</strong><br/>Director of Partnerships<br/><a href="mailto:nick@worldnomads.com">nick@worldnomads.com</a></p> 
  </div>
</div>

<div class="panel" style="margin-bottom: 0;">
	<div class="row">
	  <div class="small-7 columns">
	    <h3>Join World Nomads Partners</h3>
	  </div>
	  <div class="small-5 columns">
	    <a href="http://www.worldnomads.com/partner/affiliateapplication?referrer=WYSTC" class="base-button orange large">Join today</a>
	  </div>
	</div>
</div>

<style>
.panel h3 {
	margin-top: 10px;
}
#screenshots h5 {
	margin-top: 24px;
}
#screenshots p {
	margin-bottom: 48px;
}
.base-button.large {
    font-size: 1.5rem;
    padding: 12px 50px 12px 24px;
}
.base-button.large:after {
	top: 12px;
}
</style>

<!-- Main Content Area End -->

{% endblock %}
