{% block content %}
<section class="styleGuide">
    <div class="styleGuide-head row">
        <div class="small-12 columns">
            <h1>Style Guide &amp; Assets Library</h1>
            <ul class="styleGuide-menu">
                <li>
                    <a href="#logos">Logotype</a>
                </li>
                <li>
                    <a href="#colors">Colors</a>
                </li>
                <li>
                    <a href="#type">Typography</a>
                </li>
                <li>
                    <a href="#patterns">Patterns</a>
                </li>
                <li>
                    <a href="#photography">Photography Guidelines</a>
                </li>
                <li>
                    <a href="#examples">Artwork examples</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="styleGuide-intro">
        <div class="row">
            <div class="small-12 medium-8 columns">
                <h2>We are World Nomads</h2>
                <p class="styleGuide-introCopy">We’ve learned that travel is about pushing limits; challenging the status quo and your own perceptions. So our brand essence is ‘explore your boundaries’. It’s what we offer our travellers and each other every day at work. Our values, personality, tone of voice and visual identity all spring from our essence.</p>
                <a href="http://cdn.worldnomads.net/Media/Default/brand/style-guide/WNM_Brandbook_v10.pdf" class="styleGuide-brandbook base-button orange">Download full Brandbook</a>
                <a href="http://cdn.worldnomads.net/Media/Default/brand/style-guide/wn-styleguide-assets.zip" class="base-button orange">Download all assets</a>
            </div>
        </div>
    </div>
    <div class="styleGuide-logos">
        <div class="row">
            <div class="small-12 medium-8 columns">
                <h2 id="logos" class="styleGuide-logosTitle">Logotype</h2>
                <p class="styleGuide-logosCopy">To protect the clarity and visual integrity of the logo, it has an exclusion zone. It must always appear legibly on a clear background.</p>
            </div>
        </div>
        <div class="styleGuide-logosCta row">
            <div class="small-12 columns">
                <a href="http://cdn.worldnomads.net/Media/Default/brand/style-guide/wn_logo_web_v01.zip" class="styleGuide-logotypes small base-button orange">Download Logotypes RGB</a>
                <a href="http://cdn.worldnomads.net/Media/Default/brand/style-guide/wn_logo_print_v01.zip" class="small base-button orange">Download Logotypes CMYK</a>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 columns">
                <figure class="styleGuide-logosHoriz">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 450 120" style="enable-background:new 0 0 450 120;" xml:space="preserve" alt="World Nomads logo usage">
                        <g>
                            <g style="opacity:0.25;">
                                <line style="fill:none;stroke:#FFFFFF;stroke-miterlimit:10;" x1="1" y1="23.5" x2="449" y2="23.5"/>
                                <line style="fill:none;stroke:#FFFFFF;stroke-miterlimit:10;" x1="1" y1="96.6" x2="449" y2="96.6"/>
                                <line style="fill:none;stroke:#FFFFFF;stroke-miterlimit:10;" x1="76" y1="78" x2="449" y2="78"/>
                                <line style="fill:none;stroke:#FFFFFF;stroke-miterlimit:10;" x1="76" y1="42.5" x2="449" y2="42.5"/>
                                <line style="fill:none;stroke:#FFFFFF;stroke-miterlimit:10;" x1="425.8" y1="119" x2="425.8" y2="1"/>
                                <line style="fill:none;stroke:#FFFFFF;stroke-miterlimit:10;" x1="98.9" y1="119" x2="98.9" y2="1"/>
                                <line style="fill:none;stroke:#FFFFFF;stroke-miterlimit:10;" x1="76.1" y1="119" x2="76.1" y2="1"/>
                                <line style="fill:none;stroke:#FFFFFF;stroke-miterlimit:10;" x1="23.6" y1="119" x2="23.6" y2="1"/>
                            </g>
                            <rect x="1" y="1" style="opacity:0.25;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;" width="447.5" height="118"/>
                            <path style="fill:#979797;" d="M440.3,61c0-2.3-2.1-3.1-4.5-3.1c-3.1,0-5.6,0.9-7.6,2.2v-7c2.4-1.4,5.7-2.2,9.2-2.2
                                c6.4,0,11.2,2.4,11.2,9.7v16.5c-2.6,0.6-7.1,1.2-10.9,1.2c-6.6,0-11.9-1.9-11.9-8.2c0-5.5,4.4-8.1,11.7-8.1h2.8V61z M440.3,67.1
                                H438c-2.6,0-3.9,0.8-3.9,2.6c0,1.8,1.3,2.7,3.4,2.7c0.7,0,1.9-0.1,2.7-0.2V67.1z"/>
                            <path style="fill:#979797;" d="M408.2,9.2c-2.3,0-3.1,2-3.1,4.4c0,3.1,0.9,5.6,2.2,7.5h-7.1c-1.4-2.4-2.2-5.6-2.2-9.1
                                c0-6.3,2.4-11.1,9.9-11.1h16.7c0.6,2.6,1.2,7,1.2,10.8c0,6.5-2,11.8-8.3,11.8c-5.6,0-8.2-4.3-8.2-11.5V9.2H408.2z M414.4,9.2v2.2
                                c0,2.6,0.8,3.9,2.7,3.9c1.8,0,2.7-1.3,2.7-3.4c0-0.7-0.1-1.9-0.2-2.7H414.4z"/>
                            <path style="fill:#979797;" d="M90.5,101.7c0-2.3-2.1-3.1-4.5-3.1c-3.1,0-5.6,0.9-7.6,2.2v-7c2.4-1.4,5.7-2.2,9.2-2.2
                                c6.4,0,11.2,2.4,11.2,9.7v16.5c-2.6,0.6-7.1,1.2-10.9,1.2c-6.6,0-11.9-1.9-11.9-8.2c0-5.5,4.4-8.1,11.7-8.1h2.8V101.7z M90.5,107.7
                                h-2.2c-2.6,0-3.9,0.8-3.9,2.6c0,1.8,1.3,2.7,3.4,2.7c0.7,0,1.9-0.1,2.7-0.2V107.7z"/>
                            <path style="fill:#979797;" d="M15.5,79.1c0-2.3-2.1-3.1-4.5-3.1c-3.1,0-5.6,0.9-7.6,2.2v-7c2.4-1.4,5.7-2.2,9.2-2.2
                                c6.4,0,11.2,2.4,11.2,9.7v16.5c-2.6,0.6-7.1,1.2-10.9,1.2C6.3,96.5,1,94.6,1,88.3c0-5.5,4.4-8.1,11.7-8.1h2.8V79.1z M15.5,85.2
                                h-2.2c-2.6,0-3.9,0.8-3.9,2.6c0,1.8,1.3,2.7,3.4,2.7c0.7,0,1.9-0.1,2.7-0.2V85.2z"/>
                            <polygon style="fill:#FFFFFF;" points="135.3,42.4 130.6,61.9 125.9,42.4 117.2,42.4 112.5,61.8 107.9,42.4 99,42.4 107.5,77.9
                                116,77.9 121.5,54.9 121.6,54.8 121.6,54.9 127.1,77.9 135.6,77.9 144.1,42.4  "/>
                            <polygon style="fill:#FFFFFF;" points="201.1,42.4 201.1,77.9 192.5,77.9 192.5,42.4 200.1,42.4   "/>
                            <path style="fill:#FFFFFF;" d="M181.1,78h-8.4V53.6c3-1.5,7-2.3,10.9-2.3c2.3,0,3.8,0.2,5.9,0.8v8c-1.8-0.8-3.7-1-5.6-1
                                c-0.9,0-1.8,0.1-2.8,0.4V78z"/>
                            <path style="fill:#FFFFFF;" d="M230.8,77.2c-3.3,0.9-7.8,1.3-11.6,1.3c-9.2,0-15.3-4.8-15.3-13.7c0-8.1,5.3-13.8,13.8-13.8
                                c1.8,0,3.6,0.2,4.7,0.7v-9.4h8.4V77.2z M222.4,59.1c-1.1-0.5-2.4-0.8-3.9-0.8c-3.7,0-6,2.3-6,6.2c0,4.4,2.6,6.9,7,6.9
                                c0.7,0,1.9-0.1,2.9-0.2V59.1z"/>
                            <path style="fill:#FFFFFF;" d="M156.1,50.9c8,0,14.1,5.5,14.1,13.7c0,8.2-6.2,13.7-14.1,13.7c-7.9,0-14.1-5.5-14.1-13.7
                                C142,56.4,148.2,50.9,156.1,50.9 M156.1,58c-3.3,0-5.6,2.5-5.6,6.6c0,4.1,2.4,6.6,5.6,6.6c3.3,0,5.7-2.5,5.7-6.6
                                C161.8,60.5,159.4,58,156.1,58"/>
                            <polygon style="fill:#FFFFFF;" points="255,59.2 254.9,59.2 254.9,78 246.3,78 246.3,42.5 253.3,42.5 266.3,61.7 266.4,61.7
                                266.4,42.5 275,42.5 275,78 268.3,78     "/>
                            <path style="fill:#FFFFFF;" d="M292.2,50.9c8,0,14.2,5.5,14.2,13.7c0,8.2-6.2,13.7-14.2,13.7c-7.9,0-14.1-5.5-14.1-13.7
                                C278.1,56.4,284.2,50.9,292.2,50.9 M292.2,58c-3.3,0-5.6,2.5-5.6,6.6c0,4.1,2.4,6.6,5.6,6.6c3.3,0,5.7-2.5,5.7-6.6
                                C297.9,60.5,295.5,58,292.2,58"/>
                            <path style="fill:#FFFFFF;" d="M339.5,61.1c0-2-0.6-3.6-3.4-3.6c-1.5,0-3,0.4-4,0.9c0.2,0.4,0.4,1.1,0.4,2.2v16.6h-8.4v-16
                                c0-2-0.7-3.6-3.3-3.6c-1.3,0-2.2,0.2-3.6,0.5v19.1h-8.4V52.5c3.8-1.4,8.4-2.3,12.4-2.3c3.1,0,5.8,0.8,7.4,2.1
                                c2.1-1.1,4.7-2.1,8.8-2.1c6.3,0,10.5,2.4,10.5,10.5v16.4h-8.4V61.1z"/>
                            <path style="fill:#FFFFFF;" d="M364.9,61c0-2.3-2.1-3.1-4.5-3.1c-3.1,0-5.6,0.9-7.6,2.2v-7c2.4-1.4,5.7-2.2,9.2-2.2
                                c6.4,0,11.2,2.4,11.2,9.7v16.5c-2.6,0.6-7.1,1.2-10.9,1.2c-6.6,0-11.9-1.9-11.9-8.2c0-5.5,4.4-8.1,11.7-8.1h2.8V61z M364.9,67.1
                                h-2.2c-2.6,0-3.9,0.8-3.9,2.6c0,1.8,1.3,2.7,3.4,2.7c0.7,0,1.9-0.1,2.7-0.2V67.1z"/>
                            <path style="fill:#FFFFFF;" d="M405.6,68.9c2.7,1.8,6.3,2.9,8.8,2.9c1.8,0,3.1-0.5,3.1-1.6c0-1.1-0.8-1.6-3.3-2
                                c-6.4-0.9-9.2-3.4-9.2-8.3c0-6.1,4.7-8.9,10.8-8.9c3.4,0,5.6,0.7,8,2v7.1c-2.6-1.6-5-2.5-7.6-2.5c-2.3,0-3,0.8-3,1.7
                                c0,1,0.8,1.5,2.7,1.8c7.6,1.2,9.7,4.1,9.7,8.8c0,5.8-4.4,8.5-11.1,8.5c-3.3,0-6.7-0.8-9.1-2.2V68.9z"/>
                            <path style="fill:#FFFFFF;" d="M402.2,76.5c-3.3,0.9-7.8,1.3-11.6,1.3c-9.2,0-15.3-4.8-15.3-13.7c0-8.1,5.3-13.8,13.8-13.8
                                c1.8,0,3.6,0.2,4.7,0.7v-8.6h8.4V76.5z M393.8,58.4c-1.1-0.5-2.4-0.8-3.9-0.8c-3.7,0-6,2.3-6,6.2c0,4.4,2.6,6.9,7,6.9
                                c0.6,0,1.9-0.1,2.9-0.2V58.4z"/>
                            <path style="fill:#ff9c00;" d="M29.5,35.7c2,0,3.8,1.2,4.6,2.9l3.6,8L48,42.1c1.5-0.5,2.5-0.5,3.8,0.1l10,4.4l3.6-8
                                c0.8-1.8,2.6-2.9,4.6-2.9h5.1h0.1c0-0.2-0.1-0.3-0.2-0.5c-0.3-0.9-0.6-1.8-1-2.6c-1.2-2.4-2.9-4.3-5-5.6c0,0,0,0,0,0
                                c-0.2-0.1-0.3-0.2-0.5-0.3c-0.1-0.1-0.3-0.1-0.4-0.2c-0.1,0-0.1-0.1-0.2-0.1c-2.3-1.2-4.8-1.9-7.4-2.3c-0.1,0-0.2,0-0.4-0.1
                                c-0.1,0-0.2,0-0.3,0c-1.4-0.2-2.9-0.3-4.3-0.4H54c2.8,1.4,4.7,4.3,4.7,7.6c0,4.8-3.9,8.6-8.7,8.6c-4.8,0-8.7-3.9-8.7-8.6
                                c0-3.3,1.9-6.2,4.7-7.6h-0.4H44c0,0,0,0-0.1,0c-4.3,0-8.9,0.4-12.6,2.4c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0.1-0.2,0.1-0.3,0.2
                                c-0.2,0.1-0.3,0.2-0.5,0.3c0,0-0.1,0.1-0.1,0.1c-2.2,1.5-4,3.7-5.1,7.1c0,0,0,0,0,0c-0.1,0.3-0.2,0.6-0.3,0.9
                                c0,0.1-0.1,0.2-0.1,0.3c0,0.1-0.1,0.3-0.1,0.4c0,0.1-0.1,0.2-0.1,0.3h0H29.5z"/>
                            <path style="fill:#ff9c00;" d="M76.1,45.6L76.1,45.6h-2.9l-4.3,9.6c-0.8,1.8-2.7,2.9-4.6,2.9c-0.7,0-1.4-0.1-2-0.4l-7.5-3.3l0,4.7
                                l0,5.7h8.8c2.8,0,5,2.2,5,4.9V84h6.8c0.2-0.8,0.3-1.6,0.4-2.5c0,0,0-0.1,0-0.1c0-0.4,0.1-0.9,0.1-1.3c0-0.1,0-0.1,0-0.2
                                c0-0.4,0-0.9,0-1.4c0-0.6,0-1.1,0-1.7c0-0.1,0-0.2,0-0.3c0-10.3,0.2-19.1,0.2-26C76.1,48.7,76.1,47,76.1,45.6"/>
                            <path style="fill:#ff9c00;" d="M58.6,88.9V74.8H41.6v14.1c0,2.7-2.2,4.9-5,4.9h-4.2c1.7,0.9,3.7,1.5,5.9,2c0,0,0.1,0,0.1,0
                                c0.5,0.1,1,0.2,1.6,0.3c0.1,0,0.1,0,0.2,0c0.5,0.1,1,0.1,1.6,0.2c0.1,0,0.2,0,0.3,0c0.5,0,1.1,0.1,1.6,0.1c0.1,0,0.2,0,0.2,0
                                c0.6,0,1.2,0.1,1.8,0.1H53c0.3,0,0.5,0,0.8,0h0c0.6,0,1.3,0,1.9,0c0.2,0,0.4,0,0.6,0c0.1,0,0.2,0,0.3,0c0.3,0,0.5,0,0.8,0
                                c0.1,0,0.1,0,0.2,0c0.3,0,0.5,0,0.8,0c0.1,0,0.1,0,0.2,0c0.3,0,0.5,0,0.8-0.1c0.1,0,0.1,0,0.2,0c0.3,0,0.6,0,0.9-0.1
                                c0,0,0.1,0,0.1,0c0.3,0,0.6-0.1,1-0.1c0,0,0.1,0,0.1,0c0.3,0,0.6-0.1,0.9-0.1c0.1,0,0.1,0,0.2,0c0.3-0.1,0.6-0.1,0.9-0.2
                                c0,0,0.1,0,0.1,0c0.3-0.1,0.7-0.2,1-0.2c0,0,0,0,0,0c0.3-0.1,0.7-0.2,1-0.3c0,0,0,0,0,0c0.3-0.1,0.6-0.2,1-0.4c0,0,0,0,0.1,0
                                c0.3-0.1,0.6-0.3,1-0.4c0,0,0,0,0,0c0.3-0.2,0.6-0.3,1-0.5h-5.4C60.9,93.9,58.6,91.6,58.6,88.9"/>
                            <path style="fill:#ff9c00;" d="M36.5,64.9h8.2l0-7.2l0-3.3l-7.6,3.3c-2.5,1.1-5.5,0-6.6-2.5l-4.3-9.6h-2.3h0c0,8.2-0.2,16-0.1,22.4
                                c0,6.5,0.1,11.5,0.6,14.5c0,0.3,0.1,0.5,0.1,0.8c0,0.2,0.1,0.5,0.2,0.7c0,0,0,0,0,0.1h6.8V69.8C31.5,67.1,33.8,64.9,36.5,64.9"/>
                        </g>
                    </svg>
                    <figcaption class="styleGuide-logosCopy">
                        <strong>Horizontal logo + Reversed version</strong>
                        <span>•eps •jpeg •png</span>
                    </figcaption>
                </figure>
            </div>
            <div class="small-12 medium-6 columns">
                <figure class="styleGuide-logosVert">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 247 120" style="enable-background:new 0 0 247 120;" xml:space="preserve" alt="World Nomads logo usage">
                        <g>
                            <line style="opacity:0.25;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;" x1="1" y1="96.4" x2="246" y2="96.4"/>
                            <line style="opacity:0.25;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;" x1="74.9" y1="85" x2="246" y2="85"/>
                            <line style="opacity:0.25;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;" x1="74.9" y1="34.6" x2="246" y2="34.6"/>
                            <line style="opacity:0.25;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;" x1="1" y1="23.5" x2="246" y2="23.5"/>
                            <line style="opacity:0.25;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;" x1="74.9" y1="57.2" x2="246" y2="57.2"/>
                            <line style="opacity:0.25;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;" x1="74.9" y1="62.5" x2="246" y2="62.5"/>
                            <line style="opacity:0.25;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;" x1="75" y1="119" x2="75" y2="1"/>
                            <line style="opacity:0.25;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;" x1="23.6" y1="119" x2="23.6" y2="1"/>
                            <line style="opacity:0.25;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;" x1="210" y1="119" x2="210" y2="1"/>
                            <polygon style="fill:#969696;" points="174.6,1 174.6,13.1 174.6,13.1 166.4,1 162.1,1 162.1,23.5 167.4,23.5 167.4,11.6
                                167.5,11.6 175.8,23.5 180,23.5 180,1    "/>
                            <polygon style="fill:#969696;" points="240.5,96.5 240.5,108.6 240.5,108.6 232.3,96.5 228,96.5 228,119 233.3,119 233.3,107.1
                                233.4,107.1 241.7,119 245.9,119 245.9,96.5  "/>
                            <polygon style="fill:#969696;" points="222.6,96.5 222.6,108.6 222.5,108.6 214.4,96.5 210,96.5 210,119 215.4,119 215.4,107.1
                                215.5,107.1 223.7,119 228,119 228,96.5  "/>
                            <polygon style="fill:#969696;" points="85.6,57.1 85.6,57.2 97.6,57.2 97.6,62.5 75.1,62.5 75.1,58.2 87.2,50 87.2,50 75.1,50
                                75.1,44.6 97.6,44.6 97.6,48.8   "/>
                            <polygon style="fill:#969696;" points="1,44.6 1,50 13.1,50 13.1,50 1,58.2 1,62.5 23.5,62.5 23.5,57.2 11.5,57.2 11.5,57.1
                                23.5,48.8 23.5,44.6     "/>
                            <rect x="1" y="1" style="opacity:0.25;fill:none;stroke:#FFFFFF;stroke-miterlimit:10;" width="244.9" height="118"/>
                            <path style="fill:#ff9c00;" d="M29.3,35.6c1.9,0,3.7,1.1,4.5,2.9l3.5,8l10.1-4.5c1.4-0.5,2.4-0.5,3.7,0.1l9.8,4.4l3.5-8
                                c0.8-1.8,2.6-2.9,4.5-2.9h5.1h0.1c0-0.2-0.1-0.3-0.2-0.5c-0.3-0.9-0.6-1.8-1-2.6c-1.2-2.4-2.8-4.3-5-5.6c0,0,0,0,0,0
                                c-0.2-0.1-0.3-0.2-0.5-0.3c-0.1-0.1-0.3-0.1-0.4-0.2c-0.1,0-0.1-0.1-0.2-0.1c-2.2-1.2-4.7-1.9-7.3-2.3c-0.1,0-0.2,0-0.4-0.1
                                c-0.1,0-0.2,0-0.3,0c-1.4-0.2-2.8-0.3-4.2-0.4h-1.5c2.7,1.4,4.6,4.3,4.6,7.6c0,4.7-3.8,8.6-8.6,8.6c-4.7,0-8.6-3.9-8.6-8.6
                                c0-3.3,1.9-6.2,4.6-7.6H45h-1.5h-0.1c-4.2,0-8.7,0.4-12.4,2.4c-0.1,0-0.1,0.1-0.2,0.1c-0.1,0.1-0.2,0.1-0.3,0.2
                                c-0.2,0.1-0.3,0.2-0.5,0.3c0,0-0.1,0.1-0.1,0.1c-2.2,1.5-4,3.7-5,7.1c0,0,0,0,0,0c-0.1,0.3-0.2,0.6-0.3,0.9c0,0.1-0.1,0.2-0.1,0.3
                                c0,0.1-0.1,0.3-0.1,0.4c0,0.1-0.1,0.2-0.1,0.3h0H29.3z"/>
                            <path style="fill:#ff9c00;" d="M75.1,45.5L75.1,45.5h-2.8L68,55.1c-0.8,1.8-2.6,2.9-4.5,2.9c-0.7,0-1.3-0.1-2-0.4l-7.3-3.3l0,4.7
                                l0,5.7h8.7c2.7,0,4.9,2.2,4.9,4.9v14.1h6.7c0.2-0.8,0.3-1.6,0.3-2.5c0,0,0-0.1,0-0.1c0-0.4,0.1-0.8,0.1-1.3c0-0.1,0-0.1,0-0.2
                                c0-0.4,0-0.9,0-1.4c0-0.6,0-1.1,0-1.7c0-0.1,0-0.2,0-0.3c0-10.3,0.2-19.1,0.2-25.9C75.1,48.6,75.1,47,75.1,45.5"/>
                            <path style="fill:#ff9c00;" d="M57.9,88.7V74.6H41.1v14.1c0,2.7-2.2,4.9-4.9,4.9H32c1.7,0.9,3.7,1.5,5.8,2c0,0,0.1,0,0.1,0
                                c0.5,0.1,1,0.2,1.5,0.3c0.1,0,0.1,0,0.2,0c0.5,0.1,1,0.1,1.5,0.2c0.1,0,0.2,0,0.3,0c0.5,0.1,1.1,0.1,1.6,0.1c0.1,0,0.2,0,0.2,0
                                c0.6,0,1.2,0.1,1.7,0.1h7.2c0.3,0,0.5,0,0.8,0h0c0.6,0,1.2,0,1.9,0c0.2,0,0.4,0,0.6,0c0.1,0,0.2,0,0.3,0c0.3,0,0.5,0,0.8,0
                                c0.1,0,0.1,0,0.2,0c0.3,0,0.5,0,0.8,0c0.1,0,0.1,0,0.2,0c0.3,0,0.5,0,0.8-0.1c0.1,0,0.1,0,0.2,0c0.3,0,0.6,0,0.9-0.1
                                c0.1,0,0.1,0,0.1,0c0.3,0,0.6-0.1,0.9-0.1c0,0,0.1,0,0.1,0c0.3,0,0.6-0.1,0.9-0.1c0.1,0,0.1,0,0.1,0c0.3-0.1,0.6-0.1,0.9-0.2
                                c0,0,0.1,0,0.1,0c0.3-0.1,0.6-0.2,1-0.2c0,0,0,0,0,0c0.3-0.1,0.7-0.2,1-0.3c0,0,0,0,0,0c0.3-0.1,0.6-0.2,1-0.4c0,0,0,0,0.1,0
                                c0.3-0.1,0.6-0.3,0.9-0.4c0,0,0,0,0,0c0.3-0.2,0.6-0.3,0.9-0.5h-5.3C60.1,93.7,57.9,91.5,57.9,88.7"/>
                            <path style="fill:#ff9c00;" d="M36.2,64.8h8.1l0-7.2l0-3.3l-7.5,3.3c-2.5,1.1-5.4,0-6.5-2.5l-4.2-9.6h-2.3h0
                                c0,8.2-0.2,15.9-0.1,22.3c0,6.5,0.1,11.4,0.6,14.4c0,0.3,0.1,0.5,0.1,0.8c0,0.2,0.1,0.5,0.2,0.7c0,0,0,0,0,0.1h6.7V69.7
                                C31.2,67,33.4,64.8,36.2,64.8"/>
                            <polygon style="fill:#FFFFFF;" points="103.2,73.1 103.1,73.1 103.1,85 97.7,85 97.7,62.5 102.1,62.5 110.2,74.7 110.3,74.7
                                110.3,62.5 115.6,62.5 115.6,85 111.4,85     "/>
                            <polygon style="fill:#FFFFFF;" points="115.1,34.7 112.2,47 109.2,34.6 103.8,34.6 100.8,47 97.9,34.7 92.4,34.7 97.7,57.2
                                103,57.2 106.5,42.6 106.5,42.5 106.5,42.6 110,57.2 115.3,57.2 120.6,34.6    "/>
                            <polygon style="fill:#FFFFFF;" points="156.3,34.7 156.3,57.2 150.9,57.2 150.9,34.7 155.7,34.7   "/>
                            <path style="fill:#FFFFFF;" d="M143.8,57.2h-5.3V41.7c1.9-1,4.4-1.5,6.8-1.5c1.4,0,2.4,0.1,3.7,0.5v5.1c-1.1-0.5-2.3-0.6-3.5-0.6
                                c-0.6,0-1.1,0.1-1.8,0.2V57.2z"/>
                            <path style="fill:#FFFFFF;" d="M174.9,56.7c-2.1,0.6-4.9,0.9-7.3,0.9c-5.8,0-9.6-3-9.6-8.7c0-5.2,3.3-8.8,8.6-8.8
                                c1.1,0,2.2,0.1,2.9,0.4v-5.9h5.3V56.7z M169.6,45.2c-0.7-0.3-1.5-0.5-2.4-0.5c-2.3,0-3.8,1.5-3.8,4c0,2.8,1.6,4.4,4.4,4.4
                                c0.4,0,1.2,0,1.8-0.1V45.2z"/>
                            <path style="fill:#FFFFFF;" d="M126.4,67.8c5,0,8.9,3.5,8.9,8.7c0,5.2-3.9,8.7-8.9,8.7c-5,0-8.8-3.5-8.8-8.7
                                C117.6,71.4,121.4,67.8,126.4,67.8 M126.4,72.4c-2,0-3.5,1.6-3.5,4.2c0,2.6,1.5,4.2,3.5,4.2c2.1,0,3.6-1.6,3.6-4.2
                                C130,73.9,128.5,72.4,126.4,72.4"/>
                            <path style="fill:#FFFFFF;" d="M128.1,40c5,0,8.9,3.5,8.9,8.7s-3.9,8.7-8.9,8.7c-5,0-8.8-3.5-8.8-8.7S123.2,40,128.1,40
                                 M128.1,44.5c-2,0-3.5,1.6-3.5,4.2c0,2.6,1.5,4.2,3.5,4.2c2.1,0,3.6-1.6,3.6-4.2C131.7,46.1,130.2,44.5,128.1,44.5"/>
                            <path style="fill:#FFFFFF;" d="M156,74.3c0-1.3-0.4-2.3-2.1-2.3c-0.9,0-1.9,0.2-2.5,0.6c0.1,0.3,0.3,0.7,0.3,1.4v10.5h-5.3V74.3
                                c0-1.3-0.4-2.3-2.1-2.3c-0.8,0-1.4,0.1-2.2,0.3v12.1h-5.3V68.9c2.4-0.9,5.3-1.5,7.8-1.5c2,0,3.6,0.5,4.6,1.3
                                c1.3-0.7,2.9-1.3,5.5-1.3c4,0,6.6,1.5,6.6,6.7v10.4H156V74.3z"/>
                            <path style="fill:#FFFFFF;" d="M171.9,74.3c0-1.4-1.3-2-2.8-2c-2,0-3.5,0.6-4.8,1.4v-4.5c1.5-0.9,3.6-1.4,5.7-1.4c4,0,7,1.5,7,6.2
                                v10.5c-1.6,0.4-4.4,0.7-6.8,0.7c-4.1,0-7.4-1.2-7.4-5.2c0-3.5,2.7-5.1,7.3-5.1h1.8V74.3z M171.9,78.1h-1.4c-1.6,0-2.4,0.5-2.4,1.7
                                c0,1.1,0.8,1.7,2.1,1.7c0.4,0,1.2,0,1.7-0.1V78.1z"/>
                            <path style="fill:#FFFFFF;" d="M197.4,79.3c1.7,1.1,4,1.8,5.5,1.8c1.1,0,2-0.3,2-1c0-0.7-0.5-1-2-1.3c-4-0.6-5.7-2.1-5.7-5.3
                                c0-3.9,3-5.6,6.7-5.6c2.1,0,3.5,0.4,5,1.3v4.5c-1.6-1-3.1-1.6-4.8-1.6c-1.4,0-1.9,0.5-1.9,1.1c0,0.6,0.5,1,1.7,1.2
                                c4.8,0.8,6.1,2.6,6.1,5.6c0,3.7-2.8,5.4-6.9,5.4c-2,0-4.2-0.5-5.7-1.4V79.3z"/>
                            <path style="fill:#FFFFFF;" d="M195.3,84.1c-2.1,0.6-4.9,0.9-7.3,0.9c-5.8,0-9.6-3-9.6-8.7c0-5.2,3.3-8.8,8.6-8.8
                                c1.1,0,2.2,0.1,2.9,0.4v-5.4h5.3V84.1z M190,72.6c-0.7-0.3-1.5-0.5-2.4-0.5c-2.3,0-3.8,1.5-3.8,4c0,2.8,1.6,4.4,4.4,4.4
                                c0.4,0,1.2,0,1.8-0.1V72.6z"/>
                        </g>
                    </svg>
                    <figcaption class="styleGuide-logosCopy">
                        <strong>Stacked logo + Reversed version</strong>
                        <span>•eps •jpeg •png</span>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
    <div class="styleGuide-colors">
        <div class="row">
            <div class="small-12 medium-8 columns">
                <h2 id="colors">Colors</h2>
                <p>The colors can be used in tints on white background. 10%, 20%, 30%, 40%, 50%, 60%, 70%, 80%, 90%, 100% are the tints allowed. White text should be used on dark background.</p>
            </div>
        </div>
        <div class="styleGuide-swatches row">
            <div class="small-12 columns">
                <div class="Swatch styleGuide-manhatten">
                    <span class="Swatch-colour"></span>
                    <ul class="Swatch-details">
                        <li>Manhattan Charcoal</li>
                        <li>R=68 G=70 B=66</li>
                        <li>Hex #444642</li>
                        <li>C=70 M=54 Y=62 K=31</li>
                        <li>Pantone® 447</li>
                    </ul>
                </div>
                <div class="Swatch styleGuide-egyptian">
                    <span class="Swatch-colour"></span>
                    <ul class="Swatch-details">
                        <li>Egyptian Sunrise</li>
                        <li>R=255 G=156 B=0</li>
                        <li>Hex #FF9C00</li>
                        <li>C=0 M=34 Y=87 K=0</li>
                        <li>Pantone® 1375</li>
                    </ul>
                </div>
                <div class="Swatch styleGuide-carnivale">
                    <span class="Swatch-colour"></span>
                    <ul class="Swatch-details">
                        <li>Rio Carnivale</li>
                        <li>R=222 G=83 B=70</li>
                        <li>Hex #DE5346</li>
                        <li>C=0 M=71 Y=66 K=0</li>
                        <li>Pantone® 1788</li>
                    </ul>
                </div>
                <div class="Swatch styleGuide-twilight">
                    <span class="Swatch-colour"></span>
                    <ul class="Swatch-details">
                        <li>Istanbul Twilight</li>
                        <li>R=97 G=57 B=139</li>
                        <li>Hex #61398B</li>
                        <li>C=53 M=65 Y=0 K=0</li>
                        <li>Pantone® 267</li>
                    </ul>
                </div>
                <div class="Swatch styleGuide-island">
                    <span class="Swatch-colour"></span>
                    <ul class="Swatch-details">
                        <li>Thai Island</li>
                        <li>R=64 G=193 B=186</li>
                        <li>Hex #40C1BA</li>
                        <li>C=58 M=0 Y=32 K=0</li>
                        <li>Pantone® 3265</li>
                    </ul>
                </div>
                <div class="Swatch styleGuide-tokyo">
                    <span class="Swatch-colour"></span>
                    <ul class="Swatch-details">
                        <li>Tokyo Lights</li>
                        <li>R=248 G=219 B=70</li>
                        <li>Hex #F8DB46</li>
                        <li>C=0 M=11 Y=94 K=0</li>
                        <li>Pantone® 115</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="styleGuide-swatches row">
            <div class="small-12 columns">
                <div class="Swatch styleGuide-text">
                    <span class="Swatch-colour"></span>
                    <ul class="Swatch-details">
                        <li>Online text color</li>
                        <li>R=52 G=51 B=51</li>
                        <li>Hex #343333</li>
                    </ul>
                </div>
                <div class="Swatch styleGuide-wnblue">
                    <span class="Swatch-colour"></span>
                    <ul class="Swatch-details">
                        <li>WN Blue</li>
                        <li>R=41 G=122 B=198</li>
                        <li>Hex #297AC6</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="styleGuide-type">
        <div class="row">
            <div class="small-12 medium-8 columns">
                <h2 id="type">Typography</h2>
                <p class="styleGuide-typeCopy">Ubuntu. Clean, distinctive and legible, it is available in a variety of weights to express both contemporary and classical qualities.</p>
                <a href="http://www.fontsquirrel.com/fonts/ubuntu" class="styleGuide-typeCta small base-button orange" title="Get Ubuntu from Font Squirrel">Get Ubuntu font family</a>
                <h1 class="styleGuide-typeElement">H1 - Ubuntu Light - 64px</h1>
                <small>•Leading 72px, Line-height: 72px •Tracking - 50, Letter-spacing: -2px</small>
                <h2 class="styleGuide-typeElement">H2 - Ubuntu Light- 32px</h2>
                <small>•Leading 44px, Line-height: 44px •Tracking - 20, Letter-spacing: -1px</small>
                <h3 class="styleGuide-typeElement">H3 / Standfirst - Ubuntu Light - 24px</h3>
                <small>•Leading 32px, Line-height: 32px •Tracking - 20, Letter-spacing: -1px</small>
                <h4 class="styleGuide-typeElement">H4 - Ubuntu Bold - 16px</h4>
                <small>•Leading 24px, Line-height: 24px •Tracking - 20, Letter-spacing: -1px</small>
                <p class="styleGuide-typeElement">Paragraph - Ubuntu Light - 16px</p>
                <small>•Letting 24px, Line-height: 24px •Tracking-20,Letter-spacing: -1px</small>
                <small class="styleGuide-typeElement">Small - Ubuntu Regular - 13px</small>
                <small>•Leading 16px, Line-height: 16px •Tracking - 20, Letter-spacing: -1px</small>
            </div>
        </div>
    </div>
    <div class="styleGuide-pattern">
        <div class="row">
            <div class="small-12 columns">
                <h2 id="patterns">Patterns</h2>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 columns">
                <p>To be used as backgrounds for tiles and sections on web content. See example to the right.</p>
                <a href="http://cdn.worldnomads.net/Media/Default/brand/style-guide/wn-patterns-v01.zip" class="small base-button orange">Download RGB patterns</a>
                <div class="styleGuide-patternExample">
                    <img src="http://cdn.worldnomads.net/Media/Default/brand/style-guide/grey-pattern.jpg" alt="dark grey">
                    <img src="http://cdn.worldnomads.net/Media/Default/brand/style-guide/orange-pattern.jpg" alt="orange">
                    <img src="http://cdn.worldnomads.net/Media/Default/brand/style-guide/red-pattern.jpg" alt="red">
                    <img src="http://cdn.worldnomads.net/Media/Default/brand/style-guide/purple-pattern.jpg" alt="puple">
                    <img src="http://cdn.worldnomads.net/Media/Default/brand/style-guide/teal-pattern.jpg" alt="teal">
                    <img src="http://cdn.worldnomads.net/Media/Default/brand/style-guide/yellow-pattern.jpg" alt="yellow">
                    <img src="http://cdn.worldnomads.net/Media/Default/brand/style-guide/blue-pattern.jpg" alt="blue">
                </div>
            </div>
            <div class="small-12 medium-4 columns">
                <img class="styleGuide-patternScreen" src="/Media/Default/brand/style-guide/wn-pattern-example.jpg" alt="Example of pattern in use">
            </div>
        </div>
    </div>
    <div class="styleGuide-photo">
        <div class="row">
            <div class="small-12 medium-8 columns">
                <h2 id="photography" class="styleGuide-photoTitle">Photography Guidelines</h2>
                <p class="styleGuide-photoCopy">What makes World Nomads photography unique is; the sense of rich and vibrant colour, dynamic composition, mystery and a sense of emotion. It is a moment captured not planned – an image that moves you.</p>
                <a href="http://cdn.worldnomads.net/Media/Default/brand/style-guide/2015-WN-Photography-Brief.pdf" class="styleGuide-photoCta small base-button orange">Download full photography brief</a>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 columns">
                <h3 class="styleGuide-photoTitle">Examples</h3>
            </div>
        </div>
        <div class="row">
            <div class="styleGuide-photoWrapper small-12 medium-6 columns">
                <img class="styleGuide-photoImg" src="http://cdn.worldnomads.net/Media/Default/brand/style-guide/wn-photo-example-01.jpg" alt="Example of photo use on the World Nomads site." />
                <p class="styleGuide-photoCopy">Create an emotional connection with our traveller. Our subject should be in focus in the center of the composition allowing negative space on the left hand side for headline copy and the right hand side for the Quote Calculator modal.</p>
            </div>
            <div class="styleGuide-photoWrapper small-12 medium-6 columns">
                <img class="styleGuide-photoImg" src="http://cdn.worldnomads.net/Media/Default/brand/style-guide/wn-photo-example-03.jpg" alt="Example of photo use on the World Nomads site." />
                <p class="styleGuide-photoCopy">Create an emotional connection with our traveller. Subject is in focus and aligned to the right third of the composition allowing negative space on the left hand side for headline copy.</p>
            </div>
        </div>
        <div class="row">
            <div class="styleGuide-photoWrapper small-12 medium-6 columns">
                <img class="styleGuide-photoImg" src="http://cdn.worldnomads.net/Media/Default/brand/style-guide/wn-photo-example-02.jpg" alt="Example of photo use on the World Nomads site." />
                <p class="styleGuide-photoCopy">Capture the locations and moments that inspire us to travel from natural beauty to rich culture and unique experiences. We aim to put the viewer as close as they can to visiting these places.</p>
            </div>
        </div>
    </div>
    <div class="styleGuide-example">
        <div class="row">
            <div class="small-12 columns">
                <h2 id="examples">Artwork examples</h2>
                <p>Download suitable artwork for insitu references.</p>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-3 columns">
                <figure class="styleGuide-exampleImg">
                    <img src="http://cdn.worldnomads.net/Media/Default/brand/style-guide/wn-artwork-example-01.jpg" alt="Example of a World Nomads web page template." />
                </figure>
                <h4>Web page</h4>
                <div>•psd •jpg</div>
                <a href="http://cdn.worldnomads.net/Media/Default/brand/style-guide/wn-webpage-design-template-v01.zip" class="styleGuide-exampleCta small base-button orange">Download</a>
            </div>
            <div class="small-12 medium-3 columns">
                <figure class="styleGuide-exampleImg">
                    <img src="http://cdn.worldnomads.net/Media/Default/brand/style-guide/wn-artwork-example-02.jpg" alt="Example of a World Nomads HTML email template." />
                </figure>
                <h4>eDM</h4>
                <div>•psd •jpg</div>
                <a href="http://cdn.worldnomads.net/Media/Default/brand/style-guide/wn-edm-design-template-v01.zip" class="styleGuide-exampleCta small base-button orange">Download</a>
            </div>
            <div class="small-12 medium-3 end columns">
                <figure class="styleGuide-exampleImg">
                    <img src="http://cdn.worldnomads.net/Media/Default/brand/style-guide/wn-artwork-example-03.jpg" alt="Example of a World Nomads Facebook post template." />
                </figure>
                <h4>Facebook post</h4>
                <div>•psd •jpg</div>
                <a href="http://cdn.worldnomads.net/Media/Default/brand/style-guide/wn-facebook-design-template-v01.zip" class="styleGuide-exampleCta small base-button orange">Download</a>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
               if (target.length) {
                 $('html,body').animate({
                     scrollTop: target.offset().top
                }, 1000);
                return false;
            }
        }
    });
</script>
{% endblock %}
