{% block content %}

<!-- Video Test -->
<div class="dark-grey-panel hero-content-panel video light">
  <div class="header-video">
    <div class="row">
      <div class="video-content small-12 medium-5 large-6 columns">
        <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
          <ul class="breadcrumb">
            <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="/"><span itemprop="title">World Nomads</span></a>
            </li>
            <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="/change-lives/"><span itemprop="title">Change lives</span></a>
            </li>
          </ul>
        </div>
        <h1>Our World Nomads give back</h1>
        <p class="intro">Thank you to the 1 million travellers that helped changed lives - one micro-donation at a time.</p>

        <div class="cta">
          <button class="base-button orange">Find out more</button>
        </div>
      </div>  
    </div>
    
    <img src="" class="header-video-media" data-teaser-source="/Media/Default/ChangeLives/masthead-teaser2" data-video-width="1250" data-video-height="540">
    
  </div>  
</div>

<style type="text/css">
.hero-content-panel.video {
  overflow: hidden;
  height: inherit;
  margin: 0;
  padding: 0 !important;
}
  
.header-video {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 540px;
}
video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
.video-content {
  z-index: 20;
}
.teaser-video {
  height: auto;
  width: 100%;
}


</style>

<!-- include video script -->
{{ "/Media/Default/js/modernizr.js" | asset_url | script_tag }}
{{ "/Media/Default/js/bg-video-script.js" | asset_url | script_tag }}


<script>
  $(document).ready(function() {
     HeaderVideo.init({
        container: $('.header-video'),
        header: $('.header-video-media'),
        autoPlayVideo: false
      });    
  });
</script>



<!-- Header Content -->
<div class="dark-grey-panel hero-content-panel photo header">

  <div class="hero-content row">
    
    <div class="small-12 medium-5 large-6 columns">
      <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
        <ul class="breadcrumb">
          <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="/"><span itemprop="title">World Nomads</span></a>
          </li>
          <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="/change-lives/"><span itemprop="title">Change lives</span></a>
          </li>
        </ul>
      </div>
      <h1>Our World Nomads give back</h1>
      <p class="intro">Thank you to the 1 million travellers that helped changed lives - one micro-donation at a time.</p>
    
      <div class="cta">
        <button class="base-button orange">Find out more</button>
      </div>
    </div>
    
  </div>
  
</div>

<style>
@media all and (min-width: 860px) {
body .hero-content-panel.photo.header {
    background-image: url('/Media/Default/ChangeLives/kenya-footy-large.jpg');
    background-position: bottom left;
    background-size: cover;
  }
}
@media all and (max-width: 860px) {
body .hero-content-panel.photo.header {
    background-image: url('/Media/Default/ChangeLives/kenya-footy-large.jpg');
  }

}
@media all and (max-width: 500px) {
  body .hero-content-panel.photo.header {
    background-image: url('/Media/Default/ChangeLives/kenya-footy-large.jpg');
  }
}
.hero-content-panel {
  margin-bottom: 0px; 
}
.hero-content-panel.photo:first-child {
  min-height: 520px;
}
.hero-content-panel.photo:first-child h1 {
  margin-top: 70px; 
}
.hero-content-panel.photo .cta {
  margin-bottom: 2.5rem;
  margin-top: 0.5rem;
}
.hero-content-panel.photo p.intro {
  font-size: 1.25rem; 
}
.content-panel {
  padding: 40px 0;
  margin-bottom:0;
}
</style>
<!-- End Header Content -->

<!-- Share Tools fullwidth -->
{% include 'share-tools-fullwidth' %}
{% include 'share-tools-scripts' %}



<!-- CP 1 -->
<div class="content-panel dark">
  <div class="row">
    <div class="small-12 medium-7 large-6 columns">
      <div class="flex-video widescreen vimeo">
        <iframe class="video" src="//player.vimeo.com/video/103967475?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      <label><span class="tablet-up"></span><a href="/people/christy-mccarthy">Christy McCarthy</a> Co-Founder, Footprints </label>
    </div>

    <div class="small-12 medium-5 large-6 columns">
      <h2>We believe all travellers we have a moral responsibility to give back</h2>
      <p>Ten years ago we founded Footprints
      which enables you, our customers, to fund community development projects when you buy travel insurance with us.</p>
    </div>
  </div>
</div>
<!-- CP 1 END -->

<!-- CP 2 -->
<div class="purple-panel purple-pattern">
  
  <div class="hero-content row">
    <div class="small-12 columns">
      <h2 class="text-center">We believe in the power of travel to change lives</h2>
      <div class="show-for-large-up"><img src="/Media/Default/ChangeLives/donations-info-large.png"></div>
      <div class="show-for-medium-only"><img src="/Media/Default/ChangeLives/donations-info-medium.png"></div>
      <div class="show-for-small-only"><img src="/Media/Default/ChangeLives/donations-info-small.png"></div>
    </div>
  </div>

</div>
<!-- CP 2 END -->

<!-- CP 4 -->
<div class="content-panel connect-travellers dark">
    <div class="row">    

      <div class="small-12 medium-5 large-6 columns">
        <h2>We created a way to connect travellers to projects</h2>
        <p>We connect our customers to projects run by established charities so you can fund projects in destinations with the greatest need.</p>
        <p>All administration and technology costs are paid by World Nomads to ensure that 100% of your micro-donations go directly to these projects.</p>
        <p>Our travel community has raised over $2.4 million for 130 poverty-alleviation projects around the world.</p>
      </div>
      <div class="small-12 medium-7 large-6 columns">
        <div class="flex-video widescreen vimeo">
          <iframe class="video" src="//player.vimeo.com/video/103967475?title=0&amp;byline=0&amp;portrait=0" width="400" height="225" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <label><span class="tablet-up"></span><a href="/people/christy-mccarthy">Christy McCarthy</a> Co-Founder, Footprints </label>
      </div>
  </div>
</div>

<!-- CP 4 END -->

<!-- CP 5 -->

<!-- CP 5 END -->

<!-- CP 6 -->

<!-- CP 6 END -->

<!-- CP 7 -->
<div class="blue-panel content-panel blue-pattern qqw">
  <div class="row">
    <div class="small-12 medium-6 large-6 columns">
      <h2>We invite you to Join 1 million travellers making a difference.</h2>
      <p>Make a difference to those communities in need in a simple, easy and transparent way when you travel.</p>
      <p>Next time you buy travel insurance with us, join the million strong who believe that they are small enough to change the world.</p>
      
        
    </div>
    <div class="small-12 medium-6 large-6 columns">
      <div id="wnqqcalculator" class="white">
        <h1>Choose World Nomads travel insurance</h1>
        <script async='' src='//cdn.worldnomads.net/scripts/custom/wng.cachedGetPartnerWidgetResponse.js?loadWithPanelExpanded=true&excludeStyles=true&extractCampaignCodeFromUrl=true'></script>
        <div id='wn-insurance-quote-editor'></div>

      </div>
    </div>
    
  </div> 
</div>     
<!-- CP 7 END -->

{% endblock %}