{% layout "edm" %}
{% block title %}World Nomads Email Template{% endblock %}
{% block content %}



          <!-- Content Area -->
          <table class="container content-area">
            <tr>
              <td>

                <!-- Header Image  -->
                <table class="row">
                  <tr>
                    <td class="last">
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <a href="http://www.worldnomads.com/"><img width="600" height="250" src="/Media/Default/competitions/trip-or-treat/edm_header_confirmation.jpg"></a>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                
                <!-- Intro Paragraph -->
                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            <h3><strong>Dear [firstname],</strong></h3>
                            <h3>Thanks for entering the World Nomads <a href="http://www.worldnomads.com/">Trip or Treat competition</a>. Please share with your friends if you think they would be interested.</h3>
                            <p>The winner of one of three spine-tingling trips for two to Transylvania, Cuba or India with <a href="http://www.worldnomads.com/">Intrepid Travel</a> including flights from <a href="http://www.worldnomads.com/">BootsnAll</a> will be chosen on November 22 and on November 28, we will send you an email outlining the “treats” available to you. This will have great deals on travel apparel, tours, guides and services from our amazing partners.</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
      
              

                <table class="row grey first">
                  <tr>
                    <td class="wrapper last">
                                            
                      <table class="twelve columns">
                        <tr>
                          <td class="center">
                            <center>
                              <p><strong>In partnership with:</strong></p>
                            </center>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      
                    </td>
                  </tr>
                </table>
                
                <table class="row grey">
                  <tr>
                    <td class="wrapper last">
                                            
                      <table class="twelve columns">
                        <tr>
                          <td class="center">
                            <center>
                            <img width="600" height="80" src="/Media/Default/competitions/trip-or-treat/edm_logos.jpg">
                            </center>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      
                    </td>
                  </tr>
                </table>
                
                <table class="row dark-grey">
                  <tr>
                    <td class="wrapper last">
                                            
                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                          
                            <p>World Nomads provides <a href="http://www.worldnomads.com/">travel insurance</a>, designed by adventure travelers, <a href="http://www.worldnomads.com/">language and destination guides</a>, and a thriving <a href="http://www.worldnomads.com/">travel community</a>. </p>
                          
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      
                    </td>
                  </tr>
                </table>
                

    

                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}