{% layout "edm" %}
{% block title %}World Nomads Email Template{% endblock %}
{% block content %}



          <!-- Content Area -->
          <table class="container content-area">
            <tr>
              <td>

                <!-- content start -->
                <table class="row">
                  <tr>
                    <td class="last">
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <a href="http://www.worldnomads.com/learn/travel-film/travel-film-scholarship-2015"><img width="600" height="340" src="http://www.worldnomads.com/Media/Default/LearnImages/film2015/travel-film-2015-edm-confirm-header.jpg"></a>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            <h3><strong>Hi {firstname},</strong></h3>
                            <h3>Thank you for submitting an application to the 2015 World Nomads Travel Film Scholarship.</h3>
                            <p>You can see all official entries in the official list below:<br/><span class="note">(please note, this page is cached, so your entry may not appear straight away.)</span></p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
                
                <table class="row">
                  <tr>
                    <td class="wrapper last">
                      <center>
                      <table class="five columns">
                        <tr>
                          <td class="left-text-pad">

                            <table class="button">
                              <tr>
                                <td>
                                  <a href="http://adventures.worldnomads.com/scholarships">Official Entries</a>
                                </td>
                              </tr>
                            </table>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      </center>
                    </td>
                  </tr>
                </table>
                
                <table class="row">
                  <tr>
                    <td class="wrapper last">
                      <center>
                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad left">

                            
                            
                            <p>The winner of the Scholarship, along with the best entries will be published on the WorldNomads.com website on September 26, 2014. </p> 
                            <p>Good Luck!</p>
                            
                            <hr style="margin: 20px 0;"/>
                            
                            <h4>Your Membership &amp; Travel Journal Details</h4>
                            <p>As part of the Scholarship Application process you have created a journal to host your entry. Did you know you can continue to use this travel blog as a place to record your adventures, share them with friends and stay in touch whilst you are on the road?</p>
                            <p>About WorldNomads.com</p>
                            <ul>
                              <li><a href="http://www.worldnomads.com/login.aspx">Sign in to world nomads</a> with this username: {username}</li>
                              <li>If you have forgotten your password: <a href="http://www.worldnomads.com/forgottenpassword.aspx">Reset your password</a></li>
                              <li>The screen name that identifies you on the blog is: {screenname}</li>
                              <li>Your journal address is: <a href="{journalurl}
">{journalurl}</a> - Bookmark this &amp; share with your friends.</li>
                            </ul>
                            
                            <p><a href="http://www.worldnomads.com">WorldNomads.com</a> keeps you travelling safely. Whether you’re off for a long weekend, looking for the ultimate adventure or living the nomadic dream, you’ll stay safe with Travel Insurance you can buy online, anytime, and the latest travel safety advice.</p> 
                            <p>We’ll also help you share your journey with a free travel blog, flirt in over 25 languages with our free language guides, have an experience of a lifetime on a travel scholarship and donate to a local community development project through our Footprints program.
<a href="http://www.worldnomads.com">WorldNomads.com</a> - an essential part of every adventurous traveller’s journey</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      </center>
                    </td>
                  </tr>
                </table>
                
                
                

                

                

                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}