{% layout "edm" %}
{% block title %}World Nomads Email Template{% endblock %}
{% block content %}


<style>
  #email-header { background-color: #ffffff; padding-left:0px; padding-right:0px; padding-top:0px; text-align:center;}
</style>

          <!-- Content Area -->
          <table class="container content-area">
            <tr>
              <td>

                <!-- Header Image  -->
                <table class="row">
                  <tr>
                    <td class="last">
                      <table class="twelve columns">
                        <tr>
                          <td id="email-header">
                             <a href="http://www.worldnomads.com/" alt="Thanks for applying!" title="Thanks for applying!" style=”font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #ffffff; font-style: italic; font-size: 30px; background-color:#7961aa” bgcolor="#00bae4" class="center" width="580" height="242"><img src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/edm_header_confirmation.jpg" alt="Thanks for applying!" title="Thanks for applying!" style=”font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; color: #ffffff; font-style: italic; font-size: 30px; background-color:#00bae4” bgcolor="#7961aa" class="center" width="580" height="242"></a>
                          </td>
                          <!--<td class="expander"></td>-->
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                
                <!-- Intro Paragraph -->
                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            <h3><strong>Dear [firstname],</strong></h3>
                            <h3>Thanks for entering the World Nomads <a href="http://www.worldnomads.com/">Trip or Treat competition</a>. Please share with your friends if you think they would be interested.</h3>
                            <p>The winner of one of three spine-tingling trips for two to Transylvania, Cuba or India with <a href="http://www.worldnomads.com/">Intrepid Travel</a> including flights from <a href="http://www.worldnomads.com/">BootsnAll</a> will be chosen on November 22 and on November 28, we will send you an email outlining the “treats” available to you. This will have great deals on travel apparel, tours, guides and services from our amazing partners.</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
      
              

                <!--<table class="row grey first">
                  <tr>
                    <td style="margin-bottom:0px; "class="wrapper last">
                                            
                      <table class="twelve columns">
                        <tr>
                          <td style="margin-bottom:0px; padding-bottom:0px;" class="center">
                            <center>
                              <p><strong>In partnership with:</strong></p>
                            </center>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      
                    </td>
                  </tr>
                </table>-->
                
                <table style="padding:10px 0; background:#f7f7f7; border-top:1px solid #DCDCDC;" class="row grey">
                  <tr>
                    <td class="wrapper left-text-pad right-text-pad">
                                            
                      <table class="eight columns">
                        <tr>
                          <td class="center">

                            <a href="http://www.worldnomads.com/"><img width="94" height="66" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/big_logo_intrepid.jpg"></a>
                       
                          </td>
                          <td class="center">
                        
                            <a href="http://www.worldnomads.com/"><img width="94" height="66" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/big_logo_worldnomads.jpg"></a>
                       
                          </td>
                          <td class="center">
                         
                            <a href="http://www.worldnomads.com/"><img width="94" height="66" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/big_logo_bootsnall.jpg"></a>
                         
                          </td>
                          <td class="center">
                       
                            <a href="http://www.worldnomads.com/"><img width="94" height="66" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/big_logo_travelvisapro.jpg"></a>
                         
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      
                    </td>
                    <td class="wrapper last ">
                                            
                      <table class="three columns ">
                        <tr>
                          <td class="center">
                       
                            <a href="http://www.worldnomads.com/"><img width="43" height="30" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/small_logo_lonelyplanet.jpg"></a>
                       
                          </td>
                          <td class="center">
                        
                            <a href="http://www.worldnomads.com/"><img width="43" height="30" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/small_logo_prana.jpg"></a>
                        
                          </td>
                          <td class="center">
                      
                            <a href="http://www.worldnomads.com/"><img width="43" height="30" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/small_logo_exofficio.jpg"></a>
                         
                          </td>
                      
                          <td class="expander"></td>
                        </tr>
                        <tr>
                          <td class="center">
                        
                            <a href="http://www.worldnomads.com/"><img width="43" height="30" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/small_logo_afar.jpg"></a>
                          
                          </td>
                          <td class="center">
                           
                            <a href="http://www.worldnomads.com/"><img width="43" height="30" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/small_logo_tourradar.jpg"></a>
                         
                          </td>
                          <td class="center">
                         
                            <a href="http://www.worldnomads.com/"><img width="43" height="30" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/small_logo_toadandco.jpg"></a>
                         
                          </td>
                        
                          <td class="expander"></td>
                        </tr>
                      </table>
                      
                    </td>
                  </tr>
                </table>
                
                <table class="row wrapper dark-grey">
                  <tr style="background:#343333;">
                    <td class="wrapper last" style="padding-top:20px; padding-bottom:10px;">
                                            
                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                          
                            <p style="color: #e4e4e4; text-align: center;">World Nomads provides <a style="color: #e4e4e4!important; text-decoration: underline;" href="http://www.worldnomads.com/">travel insurance</a>, designed by adventure travelers, <a style="color: #e4e4e4!important; text-decoration: underline;" href="http://www.worldnomads.com/">language and destination guides</a>, and a thriving <a style="color: #e4e4e4!important; text-decoration: underline;" href="http://www.worldnomads.com/">travel community</a>. </p>
                          
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      
                    </td>
                  </tr>
                </table>
                

    

                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}