{% layout "edm" %}
{% block title %}World Nomads Email Template{% endblock %}
{% block content %}



          <!-- Content Area -->
          <table class="container content-area">
            <tr>
              <td>

                <!-- Header Image  -->
                <table class="row">
                  <tr>
                    <td class="last">
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <a href="http://www.worldnomads.com/"><img width="600" height="306" src="/Media/Default/competitions/trip-or-treat/edm_header_launch.jpg"></a>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                
                <!-- Intro Paragraph -->
                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            <h3><strong>Dear [firstname],</strong></h3>
                            <h3>This Halloween, push yourself beyond your physical, culinary, or cultural boundaries with <a href="http://www.worldnomads.com/">World Nomads</a></h3>
                            <p>Enter the World Nomads <a href="">Trip or Treat competition</a> to win one of three spine-tingling 8+ day journeys for two to Transylvania, Cuba or India with</p> 
                            <p><a href="">Intrepid Travel</a> including flights from <a href="">BootsnAll</a>. That’s not all – everyone wins with “treats” from our partners including deals on travel gear, apparel, tours, guides and services.</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
                
                <!-- 2 col content intro  -->
                <table class="row">
                  <tr>
                    <td class="wrapper last">
                      <center>
                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            <strong>Where would you like to go? </strong>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      </center>
                    </td>
                  </tr>
                </table>
                
                <hr style="color: #999;" />
                

                <!-- 2 col content panel  -->
                <table class="row">
                  <tr>
                    <td class="wrapper">

                      <table class="six columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">

                            <a href="http://www.worldnomads.com/"><img width="257" height="187" src="/Media/Default/competitions/trip-or-treat/edm_cuba.jpg"></a>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                    <td class="wrapper last">

                      <table class="six columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">

                            <h3>Cuba</h3>
                            <p>Experience the specter of “cobblestone communism” with eight days in Cuba.</p>
                            <table class="button">
                              <tr>
                                <td>
                                  <a href="#">Apply for Cuba</a>
                                </td>
                              </tr>
                            </table>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                <hr style="color: #999;" />
                
                <!-- 2 col content panel  -->
                <table class="row">
                  <tr>
                    <td class="wrapper">

                      <table class="six columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">

                            <a href="http://www.worldnomads.com/"><img width="257" height="187" src="/Media/Default/competitions/trip-or-treat/edm_transylvania.jpg"></a>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                    <td class="wrapper last">

                      <table class="six columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">

                            <h3>Transylvania</h3>
                            <p>Ten haunting days of castles and medieval churches. </p>
                            <table class="button">
                              <tr>
                                <td>
                                  <a href="#">Apply for Transylvania</a>
                                </td>
                              </tr>
                            </table>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                <hr style="color: #999;" />
                
                <!-- 2 col content panel  -->
                <table class="row">
                  <tr>
                    <td class="wrapper">

                      <table class="six columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">

                            <a href="http://www.worldnomads.com/"><img width="257" height="187" src="/Media/Default/competitions/trip-or-treat/edm_india.jpg"></a>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                    <td class="wrapper last">

                      <table class="six columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">

                            <h3>India</h3>
                            <p>Ten days of the spellbinding sights, sounds and flavors of India.</p>
                            <table class="button">
                              <tr>
                                <td>
                                  <a href="#">Apply for India</a>
                                </td>
                              </tr>
                            </table>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
              

                <table class="row purple first">
                  <tr>
                    <td class="wrapper last offset-by-two">
                                            
                      <table class="eight columns">
                        <tr>
                          <td class="left-text-pad right-text-pad center">
                            <center>
                            Start your application now to get the chance to sink your teeth into Transylvania, Cuba or India this Halloween.
                            </center>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      
                    </td>
                  </tr>
                </table>
                
                <table class="row purple">
                  <tr>
                    <td class="wrapper last offset-by-four">
                      <table class="four columns">
                        <tr>
                          <td class="left-text-pad right-text-pad center">
                            <center>
                            <table class="button">
                              <tr>
                                <td>
                                  <a href="#">Enter Now</a>
                                </td>
                              </tr>
                            </table>
                            </center>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                <table class="row purple">
                  <tr>
                    <td class="wrapper last offset-by-two">
                      <table class="eight columns">
                        <tr>
                          <td class="left-text-pad right-text-pad center">
                            <center>
                            <strong>Applications close:</strong> November 8, 2015<br><br>
                            </center>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}