{% layout "edm" %}
{% block title %}World Nomads Email Template{% endblock %}
{% block content %}

<style>
  #email-header { background-color: #ffffff; padding-left:0px; padding-right:0px; padding-top:0px; text-align:center;}
</style>

          <!-- Content Area -->
          <table class="container content-area">
            <tr>
              <td>

                <!-- Header Image  -->
                <table class="row">
                  <tr>
                    <td class="last">
                      <table class="twelve columns">
                        <tr>
                          <td id="email-header">
                             <a href="http://www.worldnomads.com/" alt="Your card is on it’s way!" title="Your card is on it’s way!" style=”font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #ffffff; font-style: italic; font-size: 30px; background-color:#7961aa” bgcolor="#00bae4" class="center" width="580" height="296"><img src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/edm_header_launch.jpg" alt="Your card is on it’s way!" title="Your card is on it’s way!" style=”font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; color: #ffffff; font-style: italic; font-size: 30px; background-color:#00bae4” bgcolor="#7961aa" class="center" width="580" height="296"></a>
                          </td>
                          <!--<td class="expander"></td>-->
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                
                <!-- Intro Paragraph -->
                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            <h3><strong>Dear [firstname],</strong></h3>
                            <h3>This Halloween, push yourself beyond your physical, culinary, or cultural boundaries with <a href="http://www.worldnomads.com/">World Nomads</a></h3>
                            <p>Enter the World Nomads <a href="">Trip or Treat competition</a> to win one of three spine-tingling 8+ day journeys for two to Transylvania, Cuba or India with</p> 
                            <p><a href="">Intrepid Travel</a> including flights from <a href="">BootsnAll</a>. That’s not all – everyone wins with “treats” from our partners including deals on travel gear, apparel, tours, guides and services.</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
                
                <table cellpadding="20" cellspacing="0" border="0" class="row wrapper">
                  <tr>
                    <td style="padding:20px;">
                      <table cellpadding="40" cellspacing="0" border="0" class="row" >
                        <tr>
                          <td style="background:#f4f4f4; padding:40px;">
                            <h3 style="text-align:center;"><strong>Claim these treats before it’s too late!</strong></h3>
                            <p style="text-align:center;">We have chosen amazing treats for you to spoil yourself with this holiday. Pick one or all. Happy Halloween from World Nomads. </p> 
                            
                            <table class="row">
                              <tr>
                                <td class="wrapper">
                                      <table class="six columns">
                                        <tr>
                                          <td style="border-width:1px; border-style:dashed; border-color:#999999; background:#ffffff;" class="">
                                           
                                            <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                                              <tr>
                                                <td>
                                                <a href="http://www.worldnomads.com/"><img width="100%" height="auto" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/edm_cuba.jpg"></a>
                                                </td>
                                              </tr>
                                            </table>
                                            
                                            <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                                              
                                              <tr>
                                                <td class="left-text-pad right-text-pad" style="padding-top:5px;">
                                                  <p><strong>Intrepid</strong></p>
                                                  <p style="font-size:12px;">Enjoy small group tours off the beaten path in over 100 countries by getting 10% off on ample Intrepid Trips. </p>
                                                  <p style="font-size:12px; margin-bottom:15px;"><strong>Promo code: <span style="color:#61398b">20155</span></strong></p>
                                                 
                                                  <table class="button">
                                                    <tr>
                                                      <td style="margin-bottom:0px;">
                                                        <a href="#">Claim this treat</a>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                  
                                                </td>
                                              </tr>
                                            </table>
                                            
                                          </td>
                                          <td class="expander"></td>
                                        </tr>
                                      </table>

                                    </td>
                                <td class="wrapper last">
                                      <table class="six columns">
                                        <tr>
                                          <td style="border-width:1px; border-style:dashed; border-color:#999999; background:#ffffff;" class="">
                                            
                                            <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                                              <tr>
                                                <td>
                                                <a href="http://www.worldnomads.com/"><img width="100%" height="auto" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/edm_cuba.jpg"></a>
                                                </td>
                                              </tr>
                                            </table>
                                            
                                            <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                                              <tr>
                                                <td class="left-text-pad right-text-pad" style="padding-top:5px;">
                                                  <p><strong>Lonely Planet</strong></p>
                                                  <p style="font-size:12px;">Dive into inspiring travel content and expert advice since 1973 and receive 30% off anything at the LonelyPlanet.com shop. </p>
                                                  <p style="font-size:12px; margin-bottom:15px;"><strong>Promo code: <span style="color:#61398b"> LPTREAT30 </span></strong></p>
                                                 
                                                  
                                                  <table class="button">
                                                    <tr>
                                                      <td style="margin-bottom:0px;">
                                                        <a href="#">Claim this treat</a>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                 
                                                </td>
                                              </tr>
                                            </table>

                                          </td>
                                          <td class="expander"></td>
                                        </tr>
                                      </table>
                                     </td>
                              </tr>
                            </table>
                            
                            <table class="row">
                              <tr>
                                <td class="wrapper">
                                      <table class="six columns">
                                        <tr>
                                          <td style="border-width:1px; border-style:dashed; border-color:#999999; background:#ffffff;" class="">
                                           
                                            <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                                              <tr>
                                                <td>
                                                <a href="http://www.worldnomads.com/"><img width="100%" height="auto" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/edm_cuba.jpg"></a>
                                                </td>
                                              </tr>
                                            </table>
                                            
                                            <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                                              
                                              <tr>
                                                <td class="left-text-pad right-text-pad" style="padding-top:5px;">
                                                  <p><strong>Toad&amp;Co</strong></p>
                                                  <p style="font-size:12px;">Enjoy small group tours off the beaten path and get 15% off all available Modern Travel Collection products. </p>
                                                  <p style="font-size:12px; margin-bottom:15px;"><strong>Promo code: <span style="color:#61398b">20155</span></strong></p>
                                                 
                                                  <table class="button">
                                                    <tr>
                                                      <td style="margin-bottom:0px;">
                                                        <a href="#">Claim this treat</a>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                  
                                                </td>
                                              </tr>
                                            </table>
                                            
                                          </td>
                                          <td class="expander"></td>
                                        </tr>
                                      </table>

                                    </td>
                                <td class="wrapper last">
                                      <table class="six columns">
                                        <tr>
                                          <td style="border-width:1px; border-style:dashed; border-color:#999999; background:#ffffff;" class="">
                                            
                                            <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                                              <tr>
                                                <td>
                                                <a href="http://www.worldnomads.com/"><img width="100%" height="auto" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/edm_cuba.jpg"></a>
                                                </td>
                                              </tr>
                                            </table>
                                            
                                            <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                                              <tr>
                                                <td class="left-text-pad right-text-pad" style="padding-top:5px;">
                                                  <p><strong>AFAR</strong></p>
                                                  <p style="font-size:12px;">Dive into inspiring travel content and expert advice since 1973 and get yourself $14 annual US subscription to AFAR magazine. </p>
                                                  <p style="font-size:12px; margin-bottom:15px;"><strong>Promo code: <span style="color:#61398b"> LPTREAT30 </span></strong></p>
                                                  
                                                  <table class="button">
                                                    <tr>
                                                      <td style="margin-bottom:0px;">
                                                        <a href="#">Claim this treat</a>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                  
                                                </td>
                                              </tr>
                                            </table>

                                          </td>
                                          <td class="expander"></td>
                                        </tr>
                                      </table>
                                    </td>
                              </tr>
                            </table>
                            
                            <table class="row">
                              <tr>
                                <td class="wrapper">
                                      <table class="six columns">
                                        <tr>
                                          <td style="border-width:1px; border-style:dashed; border-color:#999999; background:#ffffff;" class="">
                                           
                                            <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                                              <tr>
                                                <td>
                                                <a href="http://www.worldnomads.com/"><img width="100%" height="auto" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/edm_cuba.jpg"></a>
                                                </td>
                                              </tr>
                                            </table>
                                            
                                            <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                                              
                                              <tr>
                                                <td class="left-text-pad right-text-pad" style="padding-top:5px;">
                                                  <p><strong>Exofficio</strong></p>
                                                  <p style="font-size:12px;">Get spoiled with ultimate apparel and gear for worldly exploration by using free 2-day shipping up to $16.95.</p>
                                                  <p style="font-size:12px; margin-bottom:15px;"><strong>Promo code: <span style="color:#61398b">XXXXXX</span></strong></p>
                                                 
                                                  <table class="button">
                                                    <tr>
                                                      <td style="margin-bottom:0px;">
                                                        <a href="#">Claim this treat</a>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                  
                                                </td>
                                              </tr>
                                            </table>
                                            
                                          </td>
                                          <td class="expander"></td>
                                        </tr>
                                      </table>

                                    </td>
                                <td class="wrapper last">
                                      <table class="six columns">
                                        <tr>
                                          <td style="border-width:1px; border-style:dashed; border-color:#999999; background:#ffffff;" class="">
                                            
                                            <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                                              <tr>
                                                <td>
                                                <a href="http://www.worldnomads.com/"><img width="100%" height="auto" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/edm_cuba.jpg"></a>
                                                </td>
                                              </tr>
                                            </table>
                                            
                                            <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                                              <tr>
                                                <td class="left-text-pad right-text-pad" style="padding-top:5px;">
                                                  <p><strong>TourRadar</strong></p>
                                                  <p style="font-size:12px;">Book a desirable trip with the biggest online tour specialist TourRadar valued over $250, and get $25 discount. </p>
                                                  <p style="font-size:12px; margin-bottom:15px;"><strong></strong></p>
                                                 
                                                  
                                                  <table class="button">
                                                    <tr>
                                                      <td style="margin-bottom:0px;">
                                                        <a href="#">Claim this treat</a>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                 
                                                </td>
                                              </tr>
                                            </table>

                                          </td>
                                          <td class="expander"></td>
                                        </tr>
                                      </table>
                                     </td>
                              </tr>
                            </table>
                            
                            <table class="row">
                              <tr>
                                <td class="wrapper">
                                      <table class="six columns">
                                        <tr>
                                          <td style="border-width:1px; border-style:dashed; border-color:#999999; background:#ffffff;" class="">
                                           
                                            <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                                              <tr>
                                                <td>
                                                <a href="http://www.worldnomads.com/"><img width="100%" height="auto" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/edm_cuba.jpg"></a>
                                                </td>
                                              </tr>
                                            </table>
                                            
                                            <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                                              
                                              <tr>
                                                <td class="left-text-pad right-text-pad" style="padding-top:5px;">
                                                  <p><strong>Prana</strong></p>
                                                  <p style="font-size:12px;">Indulge in sustainable clothing for people who live life fully, play long, and travel well. </p>
                                                  <p style="font-size:12px; margin-bottom:15px;"><strong>15% off anything at prAna.com</strong></p>
                                                 
                                                  <table class="button">
                                                    <tr>
                                                      <td style="margin-bottom:0px;">
                                                        <a href="#">Claim this treat</a>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                  
                                                </td>
                                              </tr>
                                            </table>
                                            
                                          </td>
                                          <td class="expander"></td>
                                        </tr>
                                      </table>

                                    </td>
                                <td class="wrapper last">
                                      <table class="six columns">
                                        <tr>
                                          <td style="border-width:1px; border-style:dashed; border-color:#999999; background:#ffffff;" class="">
                                            
                                            <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                                              <tr>
                                                <td>
                                                <a href="http://www.worldnomads.com/"><img width="100%" height="auto" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/edm_cuba.jpg"></a>
                                                </td>
                                              </tr>
                                            </table>
                                            
                                            <table cellpadding="0" cellspacing="0" border="0" style="width:100%;">
                                              <tr>
                                                <td class="left-text-pad right-text-pad" style="padding-top:5px;">
                                                  <p><strong>Travel Visa</strong></p>
                                                  <p style="font-size:12px;">Process your next travel visa in under 8 hours and benefit from $25 discount on any service fee at TravelVisaPro.com </p>
                                                  <p style="font-size:12px; margin-bottom:15px;"><strong>Promo code: <span style="color:#61398b"> WORLDNOMADS </span></strong></p>
                                                  
                                                  <table class="button">
                                                    <tr>
                                                      <td style="margin-bottom:0px;">
                                                        <a href="#">Claim this treat</a>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                  
                                                </td>
                                              </tr>
                                            </table>

                                          </td>
                                          <td class="expander"></td>
                                        </tr>
                                      </table>
                                    </td>
                              </tr>
                            </table>
                            
                          </td>
                        </tr>	
                      </table>
                    </td>
                  </tr>	
                </table>

                <table class="row wrapper">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            <p>Just because you didn’t win doesn’t mean you can’t go! Book with Intrepid Travel to <a href="">Transylvania</a>, <a href="">Cuba</a> or <a href="">India</a> and let <a href="">BootsnAll</a> help you get there. Watch out for other great news and deals in our Nomads News email, coming next month.</p> 
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
                
                <table class="row dark-grey">
                  <tr style="background:#343333;">
                    <td class="wrapper last">
                                            
                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                          
                            <p style="color: #FFFFFF; text-align: center;">World Nomads provides <a href="http://www.worldnomads.com/">travel insurance</a>, designed by adventure travelers, <a href="http://www.worldnomads.com/">language and destination guides</a>, and a thriving <a href="http://www.worldnomads.com/">travel community</a>. </p>
                          
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      
                    </td>
                  </tr>
                </table>

                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}