{% layout "edm" %}
{% block title %}World Nomads Email Template{% endblock %}
{% block content %}

<style>
  #email-header { background-color: #ffffff; padding-left:0px; padding-right:0px; padding-top:0px; text-align:center;}
</style>

          <!-- Content Area -->
          <table class="container content-area">
            <tr>
              <td>

                <!-- Header Image  -->
                <table class="row">
                  <tr>
                    <td class="last">
                      <table class="twelve columns">
                        <tr>
                          <td id="email-header">
                             <a href="http://www.worldnomads.com/" alt="Your card is on it’s way!" title="Your card is on it’s way!" style=”font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #ffffff; font-style: italic; font-size: 30px; background-color:#7961aa” bgcolor="#00bae4" class="center" width="580" height="296"><img src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/edm_header_launch.jpg" alt="Your card is on it’s way!" title="Your card is on it’s way!" style=”font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; color: #ffffff; font-style: italic; font-size: 30px; background-color:#00bae4” bgcolor="#7961aa" class="center" width="580" height="296"></a>
                          </td>
                          <!--<td class="expander"></td>-->
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                
                <!-- Intro Paragraph -->
                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            <h3><strong>Dear [firstname],</strong></h3>
                            <h3>This Halloween, push yourself beyond your physical, culinary, or cultural boundaries with <a href="http://www.worldnomads.com/">World Nomads</a></h3>
                            <p>Enter the World Nomads <a href="">Trip or Treat competition</a> to win one of three spine-tingling 8+ day journeys for two to Transylvania, Cuba or India with</p> 
                            <p><a href="">Intrepid Travel</a> including flights from <a href="">BootsnAll</a>. That’s not all – everyone wins with “treats” from our partners including deals on travel gear, apparel, tours, guides and services.</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
                
                 <table class="wrapper">
                  <tr >
                    <td class="wrapper last">
                                            
                      <table class="twelve columns">
                        <tr>
                          <td style="padding:20px;" class="left-text-pad right-text-pad">
                              <table class="twelve columns">
                                <tr>
                                  <td style="background:#F4f4f4;">
                                     <h3><strong>Claim these treats before it’s too late!</strong></h3>
                                     <p>We have chosen amazing treats for you to spoil yourself with this holiday. Pick one or all. Happy Halloween from World Nomads.</p> 
                                     
                                          <table class="row">
                                            <tr>
                                              <td class="wrapper">

                                                <table class="six columns">
                                                  <tr>
                                                    <td class="left-text-pad right-text-pad">

                                                      <a href="http://www.worldnomads.com/"><img width="200" height="124" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/treats_intrepid.jpg"></a>

                                                    </td>
                                                    <td class="expander"></td>
                                                  </tr>
                                                </table>

                                              </td>
                                              <td class="wrapper last">

                                                <table class="six columns">
                                                  <tr>
                                                    <td style="width:200px; height:128px; margin-bottom:0px;" class="left-text-pad right-text-pad">

                                                      <h3>Cuba</h3>
                                                      <p>Experience the specter of “cobblestone communism” with eight days in Cuba.</p>
                                                      <table class="button">
                                                        <tr>
                                                          <td style="margin-bottom:0px;">
                                                            <a href="#">Apply for Cuba</a>
                                                          </td>
                                                        </tr>
                                                      </table>

                                                    </td>
                                                    <td class="expander"></td>
                                                  </tr>
                                                </table>

                                              </td>
                                            </tr>
                                          </table>
                                    

                                    
                                  </td>
                                </tr>
                              </table>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      
                    </td>
                  </tr>
                </table>

                <table class="row dark-grey">
                  <tr style="background:#343333;">
                    <td class="wrapper last">
                                            
                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                          
                            <p style="color: #FFFFFF; text-align: center;">World Nomads provides <a href="http://www.worldnomads.com/">travel insurance</a>, designed by adventure travelers, <a href="http://www.worldnomads.com/">language and destination guides</a>, and a thriving <a href="http://www.worldnomads.com/">travel community</a>. </p>
                          
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      
                    </td>
                  </tr>
                </table>

                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}