{% layout "edm" %}
{% block title %}World Nomads Email Template{% endblock %}
{% block content %}

<style>
  #email-header { background-color: #ffffff; padding-left:0px; padding-right:0px; padding-top:0px; text-align:center;}
  
    @media only screen and (max-width: 600px) {

      table .vouchers.right-text-pad {
        padding-left: 0px !important;
      }

      table .vouchers.left-text-pad {
        padding-right: 0px !important;
      }
    }
  
</style>

          <!-- Content Area -->
          <table class="container content-area">
            <tr>
              <td>

                <!-- Header Image  -->
                <table class="row">
                  <tr>
                    <td class="last">
                      <table class="twelve columns">
                        <tr>
                          <td id="email-header">
                             <a href="http://www.worldnomads.com/" alt="Your treats are here!" title="Your treats are here!" style=”font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #ffffff; font-style: italic; font-size: 30px; background-color:#7961aa” bgcolor="#00bae4" class="center" width="580" height="242"><img src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/edm_header_treats.jpg" alt="Your treats are here!" title="Your treats are here!" style=”font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; color: #ffffff; font-style: italic; font-size: 30px; background-color:#00bae4” bgcolor="#7961aa" class="center" width="580" height="242"></a>
                          </td>
                          <!--<td class="expander"></td>-->
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                
                <!-- Intro Paragraph -->
                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            <h3><strong>Dear [firstname],</strong></h3>
                            <h3>The World Nomads <a href="http://www.worldnomads.com/">Trip or Treat competition</a> has finished and your treats are ready to be claimed.</h3>
                            <p>To thank you for entering, we are offering you these amazing travel treats from our friends and travel partners, just in time for the Holidays. The best part? You don’t even need to choose! They’re all for you, just for entering. But don’t delay – some of these deals and offers expire soon.</p> 
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
                
                <table class="row wrapper twelve columns">
                  <tr>
                    <td class="">
                      <table class="row" >
                        <tr>
                          <td style="background:#f4f4f4; padding-top:30px;" class="left-text-pad right-text-pad">
                            <h3 class="left-text-pad right-text-pad" style="text-align:center;"><strong>Claim these treats before it’s too late!</strong></h3>
                            <p class="left-text-pad right-text-pad" style="text-align:center; margin-bottom:30px;">We have chosen amazing treats for you to spoil yourself with this holiday. Pick one or all. Happy Halloween from World Nomads. </p> 
                            
                            <table class="">
                              <tr>
                                <td class="wrapper vouchers left-text-pad right-text-pad" style="padding-bottom:20px;">
                                      <table class="five columns">
                                        <tr>
                                          <td style="border-width:1px; border-style:dashed; border-color:#999999; background:#ffffff;" class="">
                                           
                                            <table >
                                              <tr>
                                                <td>
                                                <a href="http://www.worldnomads.com/"><img width="228" height="141" style="width:228px; height:auto;" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/treats_intrepid.jpg"></a>
                                                </td>
                                              </tr>
                                            </table>
                                            
                                            <table >
                                              
                                              <tr>
                                                <td class="left-text-pad right-text-pad" style="padding-top:5px;">
                                                  <p><strong>Intrepid</strong></p>
                                                  <p style="font-size:12px;">Enjoy small group tours off the beaten path in over 100 countries by getting 10% off on ample Intrepid Trips. </p>
                                                  <p style="font-size:12px; margin-bottom:15px;"><strong>Promo code: <span style="color:#61398b">20155</span></strong></p>
                                                 
                                                  <table class="row ">
                                                    <tr>
                                                      <td style="margin-bottom:0px; padding-bottom:0px;">
                                                        <img width="auto" style="height: 37px!important; float: left; margin-right: 7px;" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/phone_icon.gif" />
                                                        <a style="font-size:12px; color:#343333;" href="#"><strong>Call: <span style="color:#ff9c00">800-970-7299</span> <br />to claim this treat</strong></a>
                                                    
                                                    </tr>
                                                  </table>
                                                  
                                                </td>
                                              </tr>
                                            </table>
                                            
                                          </td>
                                          <td class="expander"></td>
                                        </tr>
                                      </table>

                                    </td>
                                <td class="wrapper vouchers left-text-pad right-text-pad" style="padding-bottom:20px;">
                                      <table class="five columns">
                                        <tr>
                                          <td style="border-width:1px; border-style:dashed; border-color:#999999; background:#ffffff;" class="">
                                            
                                            <table >
                                              <tr>
                                                <td>
                                                <a href="http://www.worldnomads.com/"><img width="228" height="141" style="width:228px; height:auto;" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/treats_lonelyplanet.jpg"></a>
                                                </td>
                                              </tr>
                                            </table>
                                            
                                            <table>
                                              <tr>
                                                <td class="left-text-pad right-text-pad" style="padding-top:5px;">
                                                  <p><strong>Lonely Planet</strong></p>
                                                  <p style="font-size:12px;">Dive into inspiring travel content and expert advice since 1973 and receive 30% off anything at the LonelyPlanet.com shop. </p>
                                                  <p style="font-size:12px; margin-bottom:15px;"><strong>Promo code: <span style="color:#61398b"> LPTREAT30 </span></strong></p>
                                                 
                                                  
                                                  <table class="button">
                                                    <tr>
                                                      <td style="margin-bottom:0px;">
                                                        <a href="#">Claim this treat</a>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                 
                                                </td>
                                              </tr>
                                            </table>

                                          </td>
                                          <td class="expander"></td>
                                        </tr>
                                      </table>
                                     </td>
                              </tr>
                            </table>
                            
                            <table class="">
                              <tr>
                                <td class="wrapper vouchers left-text-pad right-text-pad" style="padding-bottom:20px;">
                                      <table class="five columns">
                                        <tr>
                                          <td style="border-width:1px; border-style:dashed; border-color:#999999; background:#ffffff;" class="">
                                           
                                            <table>
                                              <tr>
                                                <td>
                                                <a href="http://www.worldnomads.com/"><img width="228" height="141" style="width:228px; height:auto;" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/treats_toadandco.jpg"></a>
                                                </td>
                                              </tr>
                                            </table>
                                            
                                            <table>
                                              
                                              <tr>
                                                <td class="left-text-pad right-text-pad" style="padding-top:5px;">
                                                  <p><strong>Toad&amp;Co</strong></p>
                                                  <p style="font-size:12px;">Enjoy small group tours off the beaten path and get 15% off all available Modern Travel Collection products. </p>
                                                  <p style="font-size:12px; margin-bottom:15px;"><strong>Promo code: <span style="color:#61398b">20155</span></strong></p>
                                                 
                                                  <table class="button">
                                                    <tr>
                                                      <td style="margin-bottom:0px;">
                                                        <a href="#">Claim this treat</a>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                  
                                                </td>
                                              </tr>
                                            </table>
                                            
                                          </td>
                                          <td class="expander"></td>
                                        </tr>
                                      </table>

                                    </td>
                                <td class="wrapper vouchers left-text-pad right-text-pad" style="padding-bottom:20px;">
                                      <table class="five columns">
                                        <tr>
                                          <td style="border-width:1px; border-style:dashed; border-color:#999999; background:#ffffff;" class="">
                                            
                                            <table>
                                              <tr>
                                                <td>
                                                <a href="http://www.worldnomads.com/"><img width="228" height="141" style="width:228px; height:auto;" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/treats_afar.jpg"></a>
                                                </td>
                                              </tr>
                                            </table>
                                            
                                            <table>
                                              <tr>
                                                <td class="left-text-pad right-text-pad" style="padding-top:5px;">
                                                  <p><strong>AFAR</strong></p>
                                                  <p style="font-size:12px;">Dive into inspiring travel content and expert advice since 1973 and get yourself $14 annual US subscription to AFAR magazine. </p>
                                                  <p style="font-size:12px; margin-bottom:15px;"><strong>Promo code: <span style="color:#61398b"> LPTREAT30 </span></strong></p>
                                                  
                                                  <table class="button">
                                                    <tr>
                                                      <td style="margin-bottom:0px;">
                                                        <a href="#">Claim this treat</a>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                  
                                                </td>
                                              </tr>
                                            </table>

                                          </td>
                                          <td class="expander"></td>
                                        </tr>
                                      </table>
                                    </td>
                              </tr>
                            </table>
                            
                            <table class="">
                              <tr>
                                <td class="wrapper vouchers left-text-pad right-text-pad" style="padding-bottom:20px;">
                                      <table class="five columns">
                                        <tr>
                                          <td style="border-width:1px; border-style:dashed; border-color:#999999; background:#ffffff;" class="">
                                           
                                            <table>
                                              <tr>
                                                <td>
                                                <a href="http://www.worldnomads.com/"><img width="228" height="141" style="width:228px; height:auto;" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/treats_exofficio.jpg"></a>
                                                </td>
                                              </tr>
                                            </table>
                                            
                                            <table>
                                              
                                              <tr>
                                                <td class="left-text-pad right-text-pad" style="padding-top:5px;">
                                                  <p><strong>Exofficio</strong></p>
                                                  <p style="font-size:12px;">Get spoiled with ultimate apparel and gear for worldly exploration by using free 2-day shipping up to $16.95.</p>
                                                  <p style="font-size:12px; margin-bottom:15px;"><strong>Promo code: <span style="color:#61398b">XXXXXX</span></strong></p>
                                                 
                                                  <table class="button">
                                                    <tr>
                                                      <td style="margin-bottom:0px;">
                                                        <a href="#">Claim this treat</a>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                  
                                                </td>
                                              </tr>
                                            </table>
                                            
                                          </td>
                                          <td class="expander"></td>
                                        </tr>
                                      </table>

                                    </td>
                                <td class="wrapper vouchers left-text-pad right-text-pad" style="padding-bottom:20px;">
                                      <table class="five columns">
                                        <tr>
                                          <td style="border-width:1px; border-style:dashed; border-color:#999999; background:#ffffff;" class="">
                                            
                                            <table>
                                              <tr>
                                                <td>
                                                <a href="http://www.worldnomads.com/"><img width="228" height="141" style="width:228px; height:auto;" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/treats_tourradar.jpg"></a>
                                                </td>
                                              </tr>
                                            </table>
                                            
                                            <table>
                                              <tr>
                                                <td class="left-text-pad right-text-pad" style="padding-top:5px;">
                                                  <p><strong>TourRadar</strong></p>
                                                  <p style="font-size:12px;">Book a desirable trip with the biggest online tour specialist TourRadar, offering tours across all brands. </p>
                                                  <p style="font-size:12px; margin-bottom:15px;"><strong>$25 off tours valued over $250</strong></p>
                                                 
                                                  
                                                  <table class="button">
                                                    <tr>
                                                      <td style="margin-bottom:0px;">
                                                        <a href="#">Claim this treat</a>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                 
                                                </td>
                                              </tr>
                                            </table>

                                          </td>
                                          <td class="expander"></td>
                                        </tr>
                                      </table>
                                     </td>
                              </tr>
                            </table>
                            
                            <table class="">
                              <tr>
                                <td class="wrapper vouchers left-text-pad right-text-pad" style="padding-bottom:20px;">
                                      <table class="five columns">
                                        <tr>
                                          <td style="border-width:1px; border-style:dashed; border-color:#999999; background:#ffffff;">
                                           
                                            <table>
                                              <tr>
                                                <td>
                                                <a href="http://www.worldnomads.com/"><img width="228" height="141" style="width:228px; height:auto;" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/treats_prana.jpg"></a>
                                                </td>
                                              </tr>
                                            </table>
                                            
                                            <table>
                                              
                                              <tr>
                                                <td class="left-text-pad right-text-pad" style="padding-top:5px;">
                                                  <p><strong>Prana</strong></p>
                                                  <p style="font-size:12px;">Love yoga? Indulge in sustainable clothing for people who live life fully, play long, and travel well. </p>
                                                  <p style="font-size:12px; margin-bottom:15px;"><strong>15% off anything at prAna.com</strong></p>
                                                 
                                                  <table class="button">
                                                    <tr>
                                                      <td style="margin-bottom:0px;">
                                                        <a href="#">Claim this treat</a>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                  
                                                </td>
                                              </tr>
                                            </table>
                                            
                                          </td>
                                          <td class="expander"></td>
                                        </tr>
                                      </table>

                                    </td>
                                <td class="wrapper vouchers left-text-pad right-text-pad" style="padding-bottom:20px;">
                                      <table class="five columns">
                                        <tr>
                                          <td style="border-width:1px; border-style:dashed; border-color:#999999; background:#ffffff;">
                                            
                                            <table>
                                              <tr>
                                                <td>
                                                <a href="http://www.worldnomads.com/"><img width="228" height="141" style="width:228px; height:auto;" src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/treats_travelvisapro.jpg"></a>
                                                </td>
                                              </tr>
                                            </table>
                                            
                                            <table>
                                              <tr>
                                                <td class="left-text-pad right-text-pad" style="padding-top:5px;">
                                                  <p><strong>Travel Visa</strong></p>
                                                  <p style="font-size:12px;">Process your next travel visa in under 8 hours and benefit from $25 discount on any service fee. </p>
                                                  <p style="font-size:12px; margin-bottom:15px;"><strong>Promo code: <span style="color:#61398b"> WORLDNOMADS </span></strong></p>
                                                  
                                                  <table class="button">
                                                    <tr>
                                                      <td style="margin-bottom:0px;">
                                                        <a href="#">Claim this treat</a>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                  
                                                </td>
                                              </tr>
                                            </table>

                                          </td>
                                          <td class="expander"></td>
                                        </tr>
                                      </table>
                                    </td>
                              </tr>
                            </table>
                            
                          </td>
                        </tr>	
                      </table>
                    </td>
                  </tr>	
                </table>

                <table class="row wrapper">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            <p style="text-align:center;">Just because you didn’t win doesn’t mean you can’t go! Book with Intrepid Travel to <a href="">Transylvania</a>, <a href="">Cuba</a> or <a href="">India</a> and let <a href="">BootsnAll</a> help you get there. Watch out for other great news and deals in our Nomads News email, coming next month.</p> 
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
                
                <table class="row wrapper dark-grey">
                  <tr style="background:#343333;">
                    <td class="wrapper last" style="padding-top:20px; padding-bottom:10px;">
                                            
                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                          
                            <p style="color: #e4e4e4; text-align: center;">World Nomads provides <a style="color: #e4e4e4!important; text-decoration: underline;" href="http://www.worldnomads.com/">travel insurance</a>, designed by adventure travelers, <a style="color: #e4e4e4!important; text-decoration: underline;" href="http://www.worldnomads.com/">language and destination guides</a>, and a thriving <a style="color: #e4e4e4!important; text-decoration: underline;" href="http://www.worldnomads.com/">travel community</a>. </p>
                          
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      
                    </td>
                  </tr>
                </table>

                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}