{% layout "edm" %}
{% block title %}World Nomads Email Template{% endblock %}
{% block content %}

<style>
  #email-header { background-color: #ffffff; padding-left:0px; padding-right:0px; padding-top:0px; text-align:center;}
</style>

          <!-- Content Area -->
          <table class="container content-area">
            <tr>
              <td>

                <!-- Header Image  -->
                <table class="row">
                  <tr>
                    <td class="last">
                      <table class="twelve columns">
                        <tr>
                          <td id="email-header">
                             <a href="http://www.worldnomads.com/" alt="You won a trip!" title="You won a trip!" style=”font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; color: #ffffff; font-style: italic; font-size: 30px; background-color:#7961aa” bgcolor="#00bae4" class="center" width="580" height="242"><img src="http://www.worldnomads.com/Media/Default/competitions/trip-or-treat/edm/edm_header_winner_cuba.jpg" alt="You won a trip!" title="You won a trip!" style=”font-family:'Helvetica Neue',Helvetica,Arial,sans-serif; color: #ffffff; font-style: italic; font-size: 30px; background-color:#00bae4” bgcolor="#7961aa" class="center" width="580" height="242"></a>
                          </td>
                          <!--<td class="expander"></td>-->
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
                
                <!-- Intro Paragraph -->
                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            <h3><strong>Congratulations [firstname]!</strong></h3>
                            <h3>You’ve been chosen as the winner of the World Nomads <a href="http://www.worldnomads.com/">Trip or Treat competition</a>.</h3>
                            <p>Your spine-tingling tale about xxxx was compelling and our judges deemed it the best from xxxx entries from across the US and Canada this fall.Please phone (person) on (xxx-xxx-xxxx) as soon as possible to accept and start to organize your trip to xxxx.
We look forward to speaking with you soon! Kind regards, (person)</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
      
              
                <table class="row fineprint">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            <p>Please note: As per the <a href="http://www.worldnomads.com/">Terms and Conditions</a>, World Nomads will continue to make reasonable efforts to contact you until December 31, at which time the prize will be offered to the second-place entrant. You must be able to travel before April 30, 2016.</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
                
               <table class="row wrapper dark-grey">
                  <tr style="background:#343333;">
                    <td class="wrapper last" style="padding-top:20px; padding-bottom:10px;">
                                            
                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                          
                            <p style="color: #e4e4e4; text-align: center;">World Nomads provides <a style="color: #e4e4e4!important; text-decoration: underline;" href="http://www.worldnomads.com/">travel insurance</a>, designed by adventure travelers, <a style="color: #e4e4e4!important; text-decoration: underline;" href="http://www.worldnomads.com/">language and destination guides</a>, and a thriving <a style="color: #e4e4e4!important; text-decoration: underline;" href="http://www.worldnomads.com/">travel community</a>. </p>
                          
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      
                    </td>
                  </tr>
                </table>

    

                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}