{% layout "desk-legacy" %}
{% block title %}Customer Service Information from TID{% endblock %}
{% block content %}


<!--begin:page_index-->


<div id='main' role='main' class="container">  
  
<div id='support-header'>
  <div class="csc-header-panel">
    <div class="csc-title">
      <h1>Help Desk</h1>
      <p class='lead'>Answers to your travel insurance questions. Search what others have already asked or ask your own question.
      </p>
      <div class='change-country-of-residence'>
        This information is for residents of World Nomads Service Centre only.
      </div>
      
    </div>
    <div class='searchbar-large search-bar'>
      <form action='/customer/portal/articles/search' method='get' id='support-search' class='support-search-big '>
          <input type='text' class='search search-terms' name='q' maxlength='100' value='' placeholder='Have a Question?  Ask or enter a search term here.'/>
          <input type='hidden' name='t' value='557563'/> <input type='hidden' name='b_id' value='4646'/>
          <input type='submit' class='button button-xlarge search-submit' value='Search' />
      </form>
    </div>
  </div>
</div>


<section id='main-content'>    

  <section class='current-events'>
    <h6>
      Current Events:
    </h6>

    <ul class='articles'>

        <li class='article'>
          <a href='/customer/portal/articles/1915562-tropical-cyclone-pam-march-2015'>Tropical Cyclone Pam March 2015</a>
        </li>

    </ul>
  </section>

  <div class='support-body' id='main-content'>
    <!-- Hide the 'tabbing' until we are displaying both articles and questions
    <ul class="nav-tabs">
      <li class="active"><h5><a href="/">Articles</a></h5></li>
    </ul>
    -->
    
   
   <section class='browse-by-topic'>

    
    <ul class='topics'>
      
        
          <li class='topic odd'>
            <section>
              <h4>What&#x27;s covered &amp; not covered</h4>

              
                <section class='list-articles'>
                  <header>
                    <h5>
                      Top Articles<small>8</small>
                    </h5>
                  </header>

                  <ul class='articles'>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1088000-medical-transport-evacuation-repatriation?t=557563'>Medical transport, evacuation &amp; repatriation</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1063055-delayed-and-missed-flights?t=557563'>Delayed and missed flights</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1672733-activities-sports-and-adventures-list?t=557563'>Activities, sports and adventures list</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1063056-overseas-medical-treatment-hospitalisation?t=557563'>Overseas medical treatment &amp; hospitalisation</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1641814-valuable-specified-items?t=557563'>Valuable Specified Items</a>
                      </li>
                    
                  </ul>
                  <a href='/customer/portal/topics/428946-what-s-covered-not-covered/articles?t=557563'>View all</a>
                </section>
              

              
            </section>
          </li>
        
      
        
          <li class='topic even'>
            <section>
              <h4>Buying a policy</h4>

              
                <section class='list-articles'>
                  <header>
                    <h5>
                      Top Articles<small>13</small>
                    </h5>
                  </header>

                  <ul class='articles'>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1063080-what-is-my-country-of-residence-?t=557563'>What is my country of residence?</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1897500-what-countries-do-you-cover-?t=557563'>What countries do you cover?</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1063162-can-i-buy-a-policy-while-i-am-already-overseas-?t=557563'>Can I buy a policy while I am already overseas?</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1897502-is-the-price-quoted-per-person-or-for-everyone-on-the-policy-?t=557563'>Is the price quoted per person or for everyone on the policy...</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1844007-what-countries-or-regions-do-i-choose-to-get-a-quote-?t=557563'>What countries or regions do I choose to get a quote?</a>
                      </li>
                    
                  </ul>
                  <a href='/customer/portal/topics/435943-buying-a-policy/articles?t=557563'>View all</a>
                </section>
              

              
            </section>
          </li>
        
      
        
          <li class='topic odd'>
            <section>
              <h4>Am I covered if...?</h4>

              
                <section class='list-articles'>
                  <header>
                    <h5>
                      Top Articles<small>18</small>
                    </h5>
                  </header>

                  <ul class='articles'>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1087699--i-m-hiking-or-trekking?t=557563'>...I&#x27;m hiking or trekking</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/962317--my-passport-s-been-stolen-lost-?t=557563'>...my passport&#x27;s been stolen/lost?</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/962320--my-bags-are-delayed-?t=557563'>...my bags are delayed?</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/962332--my-cash-has-been-stolen-?t=557563'>... my cash has been stolen?</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1063154--i-m-on-a-working-holiday?t=557563'>...I&#x27;m on a working holiday</a>
                      </li>
                    
                  </ul>
                  <a href='/customer/portal/topics/428950-am-i-covered-if-/articles?t=557563'>View all</a>
                </section>
              

              
            </section>
          </li>
        
      
        
          <li class='topic even'>
            <section>
              <h4>Your policy</h4>

              
                <section class='list-articles'>
                  <header>
                    <h5>
                      Top Articles<small>3</small>
                    </h5>
                  </header>

                  <ul class='articles'>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1063163-making-changes?t=557563'>Making changes</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1063093-extending-and-buying-more-cover?t=557563'>Extending and buying more cover</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1120259-where-is-my-policy-certificate-?t=557563'>Where is my policy certificate?</a>
                      </li>
                    
                  </ul>
                  <a href='/customer/portal/topics/478877-your-policy/articles?t=557563'>View all</a>
                </section>
              

              
            </section>
          </li>
        
      
        
          <li class='topic odd'>
            <section>
              <h4>Making claims</h4>

              
                <section class='list-articles'>
                  <header>
                    <h5>
                      Top Articles<small>12</small>
                    </h5>
                  </header>

                  <ul class='articles'>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/945605-how-to-make-a-claim?t=557563'>How to make a claim</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1063178-what-is-the-policy-excess-deductible-?t=557563'>What is the policy excess / deductible?</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1133097-how-to-contact-the-claims-team?t=557563'>How to contact the claims team</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1677466-can-i-make-a-claim-while-i-m-away-?t=557563'>Can I make a claim while I&#x27;m away?</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1677467-can-i-wait-until-i-get-home-to-make-a-claim-?t=557563'>Can I wait until I get home to make a claim?</a>
                      </li>
                    
                  </ul>
                  <a href='/customer/portal/topics/428951-making-claims/articles?t=557563'>View all</a>
                </section>
              

              
            </section>
          </li>
        
      
        
          <li class='topic even'>
            <section>
              <h4>Help &amp; Emergencies</h4>

              
                <section class='list-articles'>
                  <header>
                    <h5>
                      Top Articles<small>3</small>
                    </h5>
                  </header>

                  <ul class='articles'>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/723000-who-do-i-call-for-emergency-help-?t=557563'>Who do I call for emergency help?</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/962313-i-need-a-hospital-or-doctor?t=557563'>I need a hospital or doctor</a>
                      </li>
                    
                      <li class='article'>
                        <a href='/customer/portal/articles/1133197-can-someone-speak-my-language-?t=557563'>Can someone speak my language?</a>
                      </li>
                    
                  </ul>
                  <a href='/customer/portal/topics/330534-help-emergencies/articles?t=557563'>View all</a>
                </section>
              

              
            </section>
          </li>
        
      
    </ul>
    
  </section>   
      
</div>

   
    
 
    
  <!-- GS -->
  
  <!-- GS -->



<script type="text/javascript" src="http://assets01.desk.com/portal/desk.portal.body.page_index.js"></script>    

    <!--end:page_index-->

<!--end:portal_body-->
      
  




</section>
  

<aside class='sidebar'>
              
  <section class='talk-to-us'>
    <h4>
      Talk to us
    </h4>
    <dl class='contact-number'>
      <dt>From Australia</dt>
      <dd>1300 843 843 &nbsp; (1300 TID TID)</dd>

      <dt>From Overseas</dt>
      <dd>+61 2 8263 0483</dd>
    </dl>
  
    <dl class="open-hrs">
      <dt>
        Monday to Friday
      </dt>
      <dd>
        8:00am - 8:00pm
      </dd>
      <dt>
        Saturday and Sunday
      </dt>
      <dd>
        10:00am - 2:00pm
      </dd>
    </dl>
  </section>

  <section class='emergencies'>
    <h4>Emergencies</h4>
    <p>Call +61 2 9234 3123</p>
    <a href="http://www.travelinsurancedirect.com.au/in-an-emergency">more details</a> 
  </section>
  
  <section class='contact-us'>
    <h4>Contact us</h4>
    
    <ul class="desk-contact-list">
      
        <li><a href="/customer/portal/emails/new" data-tooltip aria-haspopup="true" class="has-tip [tip-bottom] [radius round]" title="Our customer service team will respond to you privately."><span class="fa fa-envelope"></span>Email us</a></li>
      
        <li><a href="/customer/portal/questions/new" data-tooltip aria-haspopup="true" class="has-tip [tip-bottom] [radius round]" title="This will be visible on the public forum for the benefit of everyone."><span class="fa  fa-comment"></span>Post a question</a></li>
      
        <li><a href="https://www.facebook.com/TIDaustralia"><span class="fa fa-facebook"></span>Facebook</a></li>

        <li><a href="https://twitter.com/TIDaustralia"><span class="fa fa-twitter"></span>Twitter</a></li>

        <li><a href="https://plus.google.com/+travelinsurancedirect"><span class="fa fa-google-plus"></span>Google+</a></li>

      </ul>
  </section>
  
  
</aside>
</div>

{% endblock %}