{% block content %}

<link rel="stylesheet" type="text/css" href="/assets/css/tws2016.css">

<div class="scholarships tws2016">
    <section class="tws2016-hero Hero">
        <div class="row">
          <div class="small-12 medium-8 large-6 columns">
            <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
              <ul class="Hero-breadcrumb breadcrumb">
                <li><a href="/">World Nomads</a></li>
                <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/learn/" itemprop="url"><span itemprop="title">Learn</span></a></li>
                <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/learn/travel-writing" itemprop="url"><span itemprop="title">Travel writing</span></a></li>
              </ul>
            </div>
            <h1 class="Hero-copy">Win a 10 day travel writing road trip across Australia</h1>
            <h4 class="Hero-copy">Plus be mentored by Lonely planet author</h4>
            <div data-smoothscroll>
              <a href="#tws2016-video" class="tws2016-button base-button base-button--primary orange">Learn more</a>
            </div>
          </div>
          <div class="small-12 medium-4 large-4 columns">
              <div class="tws2016-hero-sponsor scholarships-partners">
                 <ul class="scholarships-partners-list">
                    <li><a href="http://www.lonelyplanet.com/" target="_blank"><img class="partnerLogo"src="/Media/Default/LearnImages/writing2016/partners/lp_big.png" title="Lonely Planet"></a></li>
                </ul>
              </div>
          </div>
        </div>
    </section>

    <!-- Social Shares -->
    <div id="sharetools-long">
      <div class="row tws2016-share">
        <div class="small-12 columns">
          <div id="socialarea">
            <div id="sharedcount">
              <div id="total"></div>
              <p>Shares</p>
            </div>
            <div id="share-icons">
              <a class="socialicon facebook" target="_blank"><span>Share on Facebook</span>&#xe607;</a>
              <a class="socialicon twitter" target="_blank"><span>Share on Twitter</span>&#xe602;</a>
              <a class="socialicon pinterest">&#xe603;</a>
              <a class="socialicon gplus" target="_blank">&#xe605;</a>
              <a class="socialicon linkedin" target="_blank"><img src="//www.worldnomads.com/Media/Default/shareimages/linkedin-share-icon.png" /></a>
              <a class="socialicon stumbleupon" target="_blank"><img src="//www.worldnomads.com/Media/Default/shareimages/stumble-share-icon.png" /></a>
              <a class="socialicon plus"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Social Shares -->

    <div class="row">
        <div class="small-12 large-8 columns">
            <section class="tws2016-intro Intro">
                <h2 class="tws2016-intro-title">Take a trip from beach to bush and write about your adventures along the way</h2>
                <p class="scholarships-subTitle">Once again we have teamed up with Lonely Planet to bring you our 2016 Travel Writing Scholarship. This year, we’re sending 3 talented aspiring travel writers to the land down-under – on an Australian road-trip!</p>

                <div class="tws2016-intro-video video-placeholder" id="tws2016-video">
                <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><iframe src="//fast.wistia.net/embed/iframe/gn9itzilfq?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="100%" height="100%"></iframe></div></div>
                <script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
                </div>

                <!-- Benefits -->
                <section class="row tws2016-benefits">
                    <h2>All these prizes could be yours:</h2>
                    <ul class="tws2016-list">
                        <div class="row">
                            <li class="small-12 large-6 columns scholarships-MediaObject">
                                <div class="scholarships-MediaObject-image tws2016-icon-medium tws2016-sprite tws2016-sprite-writing"></div>
                                <div class="scholarships-MediaObject-body">
                                    <h4 class="scholarships-MediaObject-title">3-day workshop with a Travel Writing Pro</h4>
                                    <p>We'll fly you to Melbourne to attend a custom travel writing course under the mentorship of <a href="http://www.lonelyplanet.com/">Lonely Planet</a> author Anthony Ham. Learn how to find a great story, create solid pitches, and gain a better understanding of the travel writing industry.</p>
                                </div>
                            </li>
                            <li class="small-12 large-6 columns scholarships-MediaObject">
                                <div class="scholarships-MediaObject-image tws2016-icon-medium tws2016-sprite tws2016-sprite-pin"></div>
                                <div class="scholarships-MediaObject-body">
                                    <h4 class="scholarships-MediaObject-title">10-day custom road trip across Australia</h4>
                                    <p>Each writer will then embark on their own 10-day road trip packed with $3000 AUD spending money. PLUS receive a free <a href="http://www.adventuretours.com.au/">Adventure Tours Australia</a> trip and up to 3 <a href="http://www.urbanadventures.com/">Urban Adventures</a> day tours!<!--You’ll be producing a 20 point-of-interest or "travel discoveries" reviews (+photos) for the World Nomads website, alongside daily Instagram posts #wnwriting #aussieroadtrip.--></p>
                                </div>
                            </li>
                        </div>
                        <div class="row">
                            <li class="small-12 large-6 columns scholarships-MediaObject">
                                <div class="scholarships-MediaObject-image tws2016-icon-medium tws2016-sprite tws2016-sprite-house"></div>
                                <div class="scholarships-MediaObject-body">
                                    <h4 class="scholarships-MediaObject-title">Free accomodation</h4>
                                    <p>Our friends at <a href="https://www.yha.com.au/">YHA</a> have got your accomodation covered. Stay in their unique and convenient hostels and make some amazing friends along the way!</p>
                                </div>
                            </li>
                            <li class="small-12 large-6 columns scholarships-MediaObject">
                                <div class="scholarships-MediaObject-image tws2016-icon-medium tws2016-sprite tws2016-sprite-insurance"></div>
                                <div class="scholarships-MediaObject-body">
                                    <h4 class="scholarships-MediaObject-title">You're insured</h4>
                                    <p>As always, we've got your back. You'll receive travel insurance for the duration of your trip from <a href="https://www.worldnomads.com/">World Nomads.</p>
                                </div>
                            </li>
                        </div>
                    </ul>
                </section>
                <!-- end benefits -->

                <div data-smoothscroll>
                    <a href="http://scholarships.travel/apply" class="tws2016-button base-button base-button--primary orange">Apply now</a>
                </div>
            </section>

            <!-- Partners -->
            <section class="tws2016-partners scholarships-content scholarships-partners-partnerBox scholarships-partners">
                <div class="row">
                    <p>In partnership with:</p>
                    <ul class="scholarships-partners-list">
                        <li><a href="http://www.lonelyplanet.com/"><img class="partnerLogo" src="/Media/Default/LearnImages/writing2016/partners/lp.png"></a></li>
                        <li><a href="https://www.yha.com.au"><img class="partnerLogo" src="/Media/Default/LearnImages/writing2016/partners/yhaa.png"></a></li>
                        <li><a href="http://www.adventuretours.com.au/"><img class="partnerLogo" src="/Media/Default/LearnImages/writing2016/partners/ata.png"></a></li>
                        <li><a href="http://www.urbanadventures.com/"><img class="partnerLogo" src="/Media/Default/LearnImages/writing2016/partners/ua.png"></a></li>
                    </ul>
                </div>
            </section>
            <!--end partners-->

            <!-- onboarding-->
            <div class="scholarships-subscribe scholarships-subscribe-wide tws2016-subscribe-wide teal-pattern">
                <div class="scholarships-MediaObject scholarships-subscribe-title">
                    <div class="scholarships-MediaObject-image scholarships-subscribe-icon tws2016-icon-narrow tws2016-sprite tws2016-sprite-lightbulb"></div>
                    <div class="scholarships-MediaObject-body">
                        <h4 class="scholarships-MediaObject-title scholarships-subscribe-title">Get your FREE travel writing tips from a Lonely Planet author:</h4>
                    </div>
                </div>
                <div class="row scholarships-subscribe-wide-form">
                    <div class="large-12 columns">
                        <label class="scholarships-subscribe-label tws2016-subscribe-label">Enter your email</label>
                        <form action="//worldnomadsgroup.createsend.com/t/y/s/vhyhli/" method="post" class="row collapse scholarships-subscription-form scholarship-onboarding" id="subForm">
                            <div class="small-12 large-9 columns ">
                                <input class="scholarships-subscribe-form-input scholarships-subscribe-wide-form-input" id="fieldEmail" name="cm-vhyhli-vhyhli" type="email" placeholder="michael.palin@globetrotter.com" required />
                            </div>
                            <div class="small-12 large-3 columns">
                                <button class="scholarships-subscribe-form-submit scholarships-subscribe-wide-form-submit base-button grey">Send tips</button>
                            </div>
                        </form>
                        <script>
                          $(function () {
                            $('.scholarship-onboarding').submit(function (e) {
                              var form = $(this);
                              $.getJSON(this.action + "?callback=?", form.serialize(), function (data) {
                                if (data.Status === 400) {
                                 form.find('.error').remove();
                                  form.append("&amp;lt;p class='error'&amp;gt;" + data.Message + "&amp;lt;/p&amp;gt;");
                                }
                                else { // 200
                                        wng.googleAnalytics.trackEvent('Scholarship', 'Onboarding');
                                        wng.googleAnalytics.trackEvent('Scholarship', 'Email');
                                      form.html("Thank you, we will email you 7 days before the scholarship closes.");
                                }
                              });
                            e.preventDefault();
                            });
                          });
                        </script>
                    </div>
                </div>
            </div>
            <!--end onboarding-->

            <!-- How to apply -->
            <section class="tws2016-howtoapply scholarships-content">
                <h2 class="scholarships-content-title">How to apply</h2>
                <p>To apply, we want you to write a mini-guide to one of your favourite places or experiences that you've encountered on your travels. We're trying to unearth Travel Discoveries, or hidden gems that you know other nomads would enjoy. Limit your Travel Discovery to a specific location - a temple, a museum, a beach, a park, a train carriage. But tell us what happened to you, why it was special, how it made you feel. You can also include tips on how others could replicate your experience (where do they go, when, etc.) and make some suggestions on improving the experience, the things you'd do differently if you were planning to do it again. Give us the insider's knowledge on the experience – tell us why we should shun the obvious, and choose the alternative you discovered!</p>
                <ul class="tws2016-list">
                    <li class="scholarships-MediaObject">
                        <div class="scholarships-MediaObject-image content-icon tws2016-icon-medium tws2016-sprite tws2016-sprite-1"></div>
                        <div class="scholarships-MediaObject-body">
                            <p>Write a <strong>2500 character</strong> story about a travel experience around one of the following themes:</p>
                             <ul class="tws2016-list">
                                 <li>a) How did I end up here?</li>
                                 <li>b) A local encounter I’ll never forget.</li>
                                 <li>c) The time I discovered…</li>
                             </ul>
                        </div>
                    </li>
                    <li class="scholarships-MediaObject">
                        <div class="scholarships-MediaObject-image content-icon tws2016-icon-medium tws2016-sprite tws2016-sprite-2"></div>
                        <div class="scholarships-MediaObject-body">
                            <p>Plan your itinerary. Tell us two Australian experiences you'd like to visit and write about on your road trip and why.</p>
                        </div>
                    </li>
                    <li class="scholarships-MediaObject">
                        <div class="scholarships-MediaObject-image content-icon tws2016-icon-medium tws2016-sprite tws2016-sprite-3"></div>
                        <div class="scholarships-MediaObject-body">
                            <p>Complete an entry form which includes contact details and a maximum 1500 character essay on why you should be chosen and what the opportunity will mean for you. Your answer will provide considerable weight in the judging process.</p>
                        </div>
                    </li>
                </ul>
                <p>One entry per person. The entry must be submitted in English.</p>
                <p>Note: Once you apply, you may not go back and edit your entry. Please make sure you are completely satisfied with your essay before you submit an application.</p>

                <div data-smoothscroll>
                    <a href="#" class="tws2016-button base-button base-button--primary orange">Apply now</a>
                </div>
            </section>
            <!-- end how to apply -->
        </div>
        <!-- End intro -->
        <!-- Sidebar -->
        <section class="large-3 medium-12 small-12 columns large-offset-1 columns">
            <script type="text/javascript">
                var year = 2016;
                var month = 7;
                var day = 3;
                var hour= 14;
                var min= 0;
                var sec= 0;
            </script>
            <script type="text/javascript" src="//www.worldnomads.com/Media/Default/scripts/js/counter-countdown.js"></script>

            <div class="tws2016-panel panel" id="sidepannel">
                <h4>Applications close in...</h4>
                <div id="countbox"></div>
                <p class="small">Applications close June 27, 2016 at 11PM  <a target="_blank" href="http://www.timeanddate.com/time/zones/edt">(EDT)</a></p>
            </div>

           <!-- reminder-->
            <div class="scholarships-subscribe tws2016-panel scholarships-panel panel teal teal-pattern">
                <h4 class="scholarships-subscribe-title">Not quite ready to apply yet?</h4>
                <div class="row scholarships-subscribe-form">
                    <div class="large-12 columns">
                        <label class="scholarships-subscribe-label tws2016-subscribe-label">Enter your email</label>
                        <form action="//worldnomadsgroup.createsend.com/t/y/s/vhyhld/" method="post" class="row collapse scholarships-subscription-form scholarship-reminder" id="subForm">
                            <div class="small-12">
                                <input class="scholarships-subscribe-form-input" id="fieldEmail" name="cm-vhyhld-vhyhld" type="email" placeholder="michael.palin@globetrotter.com" required />
                            </div>
                            <div class="small-12">
                                <button class="scholarships-subscribe-form-submit base-button grey small">Send reminder</button>
                            </div>
                        </form>
                        <script>
                          $(function () {
                            $('.scholarship-reminder').submit(function (e) {
                              var form = $(this);
                              $.getJSON(this.action + "?callback=?", form.serialize(), function (data) {
                                if (data.Status === 400) {
                                 form.find('.error').remove();
                                  form.append("&amp;lt;p class='error'&amp;gt;" + data.Message + "&amp;lt;/p&amp;gt;");
                                }
                                else { // 200
                                        wng.googleAnalytics.trackEvent('Scholarship', 'Reminder');
                                        wng.googleAnalytics.trackEvent('Scholarship', 'Email');
                                      form.html("Thank you, we will email you 7 days before the scholarship closes.");
                                }
                              });
                            e.preventDefault();
                            });
                          });
                        </script>
                    </div>
                </div>
            </div>
            <!--end reminder-->

            <div id="sidePanel" class="tws2016-panel panel">
              <h4>Important dates</h4>
              <!-- Date -->
              <div class="importantdate">
                <div class="date">
                  <div>27</div>
                  <span>Jun</span>
                </div>
                <div class="info">
                  <h5>Applications close</h5>
                </div>
              </div>
              <!-- Date END -->

              <!-- Date -->
              <div class="importantdate">
                <div class="date">
                  <div>28</div>
                  <span>Jun</span>
                </div>
                <div class="info">
                  <h5>Judging begins</h5>
                </div>
              </div>
              <!-- Date END -->

              <!-- Date -->
              <div class="importantdate">
                <div class="date">
                  <div>15</div>
                  <span>Jul</span>
                </div>
                <div class="info">
                  <h5>Winners announced</h5>
                </div>
              </div>
              <!-- Date END -->

              <!-- Date -->
              <div class="importantdate">
                <div class="date">
                  <div>16</div>
                  <span>Sep</span>
                </div>
                <div class="info">
                  <h5>Arrive in Melbourne</h5>
                </div>
              </div>
              <!-- Date END -->


              <!-- Date -->
              <div class="importantdate">
                <div class="date">
                  <div>17</div>
                  <span>Sep</span>
                </div>
                <div class="info">
                  <h5>3-day travel writing workshop</h5>
                </div>
              </div>
              <!-- Date END -->

              <!-- Date -->
              <div class="importantdate">
                <div class="date">
                  <div>20</div>
                  <span>Sep</span>
                </div>
                <div class="info">
                  <h5>10-day solo road trips</h5>
                </div>
              </div>
              <!-- Date END -->

            </div>
        </section>
        <!-- END Sidebar -->
    </div>
    <!--end of row -->
    <!-- new row -->
    <div class="row">
        <div class="small-12 large-8 columns">
            <!-- Judges -->
            <section class="tws2016-judges scholarships-content">
                <h2 class="scholarships-content-title">What the judges are looking for</h2>
                <p>You’ll need to convince our judging panel through your writing that you have the spirit of adventure and passion for travel writing to be chosen for this scholarship.</p>
                <ul class="tws2016-list">
                    <div class="row">
                        <li class="small-12 large-6 columns scholarships-MediaObject">
                            <div class="scholarships-MediaObject-image content-icon tws2016-icon-medium tws2016-sprite tws2016-sprite-tick"></div>
                            <div class="scholarships-MediaObject-body">
                                <p>Great descriptive ability (without getting flowery)</p>
                            </div>
                        </li>
                        <li class="small-12 large-6 columns scholarships-MediaObject">
                            <div class="scholarships-MediaObject-image content-icon tws2016-icon-medium tws2016-sprite tws2016-sprite-tick"></div>
                            <div class="scholarships-MediaObject-body">
                                <p>Strong eye for detail</p>
                            </div>
                        </li>
                    </div>
                    <div class="row">
                        <li class="small-12 large-6 columns scholarships-MediaObject">
                            <div class="scholarships-MediaObject-image content-icon tws2016-icon-medium tws2016-sprite tws2016-sprite-tick"></div>
                            <div class="scholarships-MediaObject-body">
                                <p>Ability to uncover a great travel story and tell it in a compelling way</p>
                            </div>
                        </li>
                        <li class="small-12 large-6 columns scholarships-MediaObject">
                            <div class="scholarships-MediaObject-image content-icon tws2016-icon-medium tws2016-sprite tws2016-sprite-tick"></div>
                            <div class="scholarships-MediaObject-body">
                                <p>Excellent spelling and grammar and a knack for avoiding clichés</p>
                            </div>
                        </li>
                    </div>
                </ul>
                <p>The 3 recipients of the Scholarship, along with the shortlist of best entries will be published on the WorldNomads.com website on July 15th, 2016.</p>
            </section>
            <!-- end judges -->
            <!-- Top 3 FAQ -->
            <section class="scholarships-content tws2016-faq">
                <h2 class="scholarships-content-title">Top 3 FAQ</h2>
                <ul class="tws2016-list">
                    <li class="scholarships-MediaObject">
                        <div class="scholarships-MediaObject-image content-icon tws2016-icon-medium tws2016-sprite tws2016-sprite-faq"></div>
                        <div class="scholarships-MediaObject-body">
                            <p class="tws2016-faq-copy"><strong>Q: </strong>Am I considered a professional travel writer?</p>
                            <p class="tws2016-faq-copy"><strong>A: </strong>Essentially this is a 'learning opportunity' for someone who is looking for an introduction into the writing industry.</p>
                            <a href="#">Read full answer</a>
                        </div>
                    </li>
                    <li class="scholarships-MediaObject">
                        <div class="scholarships-MediaObject-image content-icon tws2016-icon-medium tws2016-sprite tws2016-sprite-faq"></div>
                        <div class="scholarships-MediaObject-body">
                            <p class="tws2016-faq-copy"><strong>Q: </strong>By "18+ years of age", would this be "18 before the deadline" or "18 before the actual trip"?</p>
                            <p class="tws2016-faq-copy"><strong>A: </strong>You need to be 18 at the time of the application deadline (before June 27, 2016). </p>
                            <a href="#">Read full answer</a>
                        </div>
                    </li>
                    <li class="scholarships-MediaObject">
                        <div class="scholarships-MediaObject-image content-icon tws2016-icon-medium tws2016-sprite tws2016-sprite-faq"></div>
                        <div class="scholarships-MediaObject-body">
                            <p class="tws2016-faq-copy"><strong>Q: </strong>Does the character limit include or exclude spaces?</p>
                            <p class="tws2016-faq-copy"><strong>A: </strong>We have a very strict character count. The amount of characters includes spaces.</p>
                            <a href="#">Read full answer</a>
                        </div>
                    </li>
                </ul>
            </section>
            <!-- end top 3 FAQ -->
        </div>
    </div>
    <!--end of row-->
    <!-- new row -->
    <section class="tws2016-breakout scholarships-breakout">
        <div class="row">
            <div>
                <h4 class="scholarships-breakout-title">Do you still have questions or are you ready to apply?</h4>
                <div class="scholarships-breakout-button-container">
                    <div data-smoothscroll class="scholarships-breakout-button">
                        <a href="https://www.worldnomads.com/learn/travel-writing/scholarship/2016/faq" class="tws2016-button base-button base-button--alt grey">See FAQ</a>
                    </div>
                    <div data-smoothscroll class="scholarships-breakout-button">
                        <a href="http://scholarships.travel/apply" class="tws2016-button base-button base-button--primary orange">Apply now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

 <section class="tws2016-prevwinners row panels-wrapper scholarships-content">
  <div class="small-12 columns">
    <h2 class="scholarships-content-title">Looking for a little inspiration? Check out some of our past winners and runner-ups and meet your mentor:</h2>
  </div>
    <div class="small-12 medium-6 large-3 column">
      <div class="learn-promo-subfeature tws2016-subfeature-01 promoPanel promoPanel--subfeature promoPanel--tertiary">
        <div class="promoPanel-media">
        </div>
        <div class="promoPanel-content">
          <span class="tws2016-promo-title promoPanel-title promoPanel-copy">Ex Nihilo </span>
          <span class="tws2016-promo-link promoPanel-copy">Read how Evlyn’s winning application grabs your attention from the very beginning. </span>
          <div>
            <a href="https://journals.worldnomads.com/evelynhollow/story/132440/" class="promoPanel-cta base-button base-button--alt small white">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="small-12 medium-6 large-3 column">
      <div class="learn-promo-subfeature tws2016-subfeature-02 promoPanel promoPanel--subfeature promoPanel--tertiary">
        <div class="promoPanel-media">
        </div>
        <div class="promoPanel-content">
          <span class="tws2016-promo-title promoPanel-title promoPanel-copy">The Monastery</span>
          <span class="tws2016-promo-link promoPanel-copy">Read about Neel’s unlikely encounter as his winning story engages your inner explorer. </span>
          <div>
            <a href="https://journals.worldnomads.com/untidyscrawls/story/133221/Switzerland/The-Monastery" class="promoPanel-cta base-button base-button--alt small white">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="small-12 medium-6 large-3 column">
      <div class="learn-promo-subfeature tws2016-subfeature-03 promoPanel promoPanel--subfeature promoPanel--tertiary">
        <div class="promoPanel-media">
        </div>
        <div class="promoPanel-content">
          <span class="tws2016-promo-title promoPanel-title promoPanel-copy">Pride and Prejudice</span>
          <span class="tws2016-promo-link promoPanel-copy">Read Sarah’s concise and direct style of writing in her winning narrative.</span>
          <div>
            <a href="https://journals.worldnomads.com/sarahodonnell/story/131498/" class="promoPanel-cta base-button base-button--alt small white">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="small-12 medium-6 large-3 column">
      <div class="learn-promo-subfeature tws2016-subfeature-04 promoPanel promoPanel--subfeature promoPanel--tertiary">
        <div class="promoPanel-media">
        </div>
        <div class="promoPanel-content">
          <span class="tws2016-promo-title promoPanel-title promoPanel-copy">Meet your mentor</span>
          <span class="tws2016-promo-link promoPanel-copy">Veteran Lonely Planet author Anthony Ham joins the 2016 Scholarship Program</span>
          <div>
            <a href="https://journals.worldnomads.com/sarahodonnell/story/131498/" class="promoPanel-cta base-button base-button--alt small white">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </section>


<!-- Mobile Signup -->
<div class="scholarships-subscribe teal-pattern scholarships-mobilesignup">
    <a class="scholarships-mobilesignup-mobileclose" href="#">&#xe641;</a>
    <div class="scholarships-subscribe-title">
        <div>
            <h4 class="scholarships-mobilesignup-title scholarships-subscribe-title">We know this is going to be hard to complete on a mobile device, why not enter your email and we will send you a link so you don't forget to enter this great oppourtunity.</h4>
        </div>
    </div>
    <div class="scholarships-subscribe-form">
        <div class="">
            <label class="scholarships-subscribe-label tws2016-subscribe-label">Enter your email</label>
            <form class="scholarship-mobile" action="//worldnomadsgroup.createsend.com/t/y/s/vhyhlt/" method="post" id="subForm">
                <div>
                    <input class="scholarships-subscribe-form-input scholarships-subscribe-wide-form-input" id="fieldEmail" name="cm-vhyhlt-vhyhlt" type="email" placeholder="michael.palin@globetrotter.com" required />
                </div>
                <div class="">
                    <button class="scholarships-subscribe-form-submit scholarships-subscribe-wide-form-submit base-button grey">Send reminder</button>
                </div>
            </form>
            <script>
                  $(function () {
                    $('.scholarship-mobile').submit(function (e) {
                      var form = $(this);
                      $.getJSON(this.action + "?callback=?", form.serialize(), function (data) {
                        if (data.Status === 400) {
                         form.find('.error').remove();
                          form.append("&amp;lt;p class='error'&amp;gt;" + data.Message + "&amp;lt;/p&amp;gt;");
                      } else { // 200
                                wng.googleAnalytics.trackEvent('Scholarship', 'Mobile Reminder');
                                wng.googleAnalytics.trackEvent('Scholarship', 'Email');
                                form.html("Thank you, we will email so you dont forget to apply.");
                        }
                    });
                    e.preventDefault();
                  });
                });
            </script>
            <script>
            $( "a.scholarships-mobilesignup-mobileclose" ).click(function( event ) {
              event.preventDefault();
              $( ".scholarships-mobilesignup" ).hide();
            });
            </script>
        </div>
    </div>
</div>
<!-- END Mobile Signup -->

</div>
<!--end of scholarships TWS2016-->


{% endblock %}
