{% layout "edm" %}
{% block title %}World Nomads Email Template{% endblock %}
{% block content %}



          <!-- Content Area -->
          <table class="container content-area">
            <tr>
              <td>

                <!-- content start -->
                <table class="row">
                  <tr>
                    <td class="last">
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <a href="http://www.worldnomads.com/make-a-difference?utm_source=worldnomads&utm_medium=email&utm_campaign=footprints-million"><img width="600" height="260" src="http://www.worldnomads.com/Media/Default/email-images/email-footprints-one-million.jpg"></a>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            <h3>We&rsquo;re celebrating 1 million travellers like you who have helped changed lives.</h3>
                            <p>Remember way back when you bought your travel insurance with us? We were thrilled that you also chose to make a micro-donation to one of the community development projects that we support through our Footprints charity program.</p>
                            <p>Ten years ago when we founded Footprints here at World Nomads, we only dreamed of mobilising a million travellers to make a difference in the places in which they travel. As of today, our travel community has raised over $2.4 million for 128 poverty-alleviation projects around the world.</p>
                            <p>We want to thank you again for joining the million strong who believe that they are small enough to change the world - one micro-donation at a time.</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
                
                <table class="row">
                  <tr>
                    <td class="wrapper last">
                      <center>
                      <table class="five columns">
                        <tr>
                          <td class="left-text-pad">

                            <table class="button">
                              <tr>
                                <td>
                                  <a href="http://www.worldnomads.com/make-a-difference?utm_source=worldnomads&amp;utm_medium=email&amp;utm_campaign=footprints-million">Find out more</a>
                                </td>
                              </tr>
                            </table>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      </center>
                    </td>
                  </tr>
                </table>
                
               

                

                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}