{% layout "edm" %}
{% block title %}World Nomads Email Template{% endblock %}
{% block content %}



          <!-- Content Area -->
          <table class="container content-area">
            <tr>
              <td>

                <!-- content start -->
                <table class="row">
                  <tr>
                    <td class="last">
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <a href="http://www.worldnomads.com/learn/travel-film/travel-film-scholarship-2015"><img width="600" height="340" src="http://www.worldnomads.com/Media/Default/LearnImages/film2015/travel-film-2015-onboard-header.jpg"></a>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            <h3><strong>Hey,</strong></h3>
                            <h3>Thanks for signing up for the Travel Film Tips video series from our scholarship mentor, Brian Rapsey!</h3>
                            <p>We have it hidden from the rest of the world – you can get it by clicking this link and using this <strong>password:</strong> colombiafilm</p>
                            
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>      

                      <table class="row">
                        <tr>
                          <td class="wrapper last">
                            <center>
                            <table class="five columns">
                              <tr>
                                <td class="left-text-pad">

                                  <table class="button">
                                    <tr>
                                      <td>
                                        <a href="">Watch the series</a>
                                      </td>
                                    </tr>
                                  </table>

                                </td>
                                <td class="expander"></td>
                              </tr>
                            </table>
                            </center>
                          </td>
                        </tr>
                      </table>                            
                      
                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">                            
                            
                            <p>We hope it gives you everything you need to not only craft your perfect entry, but to help make you the next great travel documentary maker.</p>
                            <p>Good luck!</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
                
                

                

                

                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}