{% layout "edm" %}
{% block title %}World Nomads Email Template{% endblock %}
{% block content %}



          <!-- Content Area -->
          <table class="container content-area">
            <tr>
              <td>

                <!-- content start -->
                <table class="row">
                  <tr>
                    <td class="last">
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <a href="http://www.worldnomads.com/learn/travel-film/travel-film-scholarship-2015"><img width="600" height="340" src="http://www.worldnomads.com/Media/Default/LearnImages/film2015/travel-film-2015-edm-header.jpg"></a>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            <h3><strong>Dear [firstname],</strong></h3>
                            <h3>Are you an aspiring filmmaker? This is your chance to go on assignment to capture Colombia!</h3>
                            <p>This South American stunner’s doors are now open, and we believe that it has more than a few stories to tell. In our 2015 Travel Film Scholarship, we’re looking for one adventurous documentary filmmaker to capture the culture and the communities of Colombia’s Pacific Coast. </p>
                            <p>For the first week of your assignment you’ll be mentored by a professional filmmaker Brian Rapsey to hone your technical skills and storytelling abilities. Then, you’ll spend three days in Bogota in a post-production workshop where you’ll work to craft your footage into an awesome 5-7 minute travel documentary. </p>
                            <p>To apply, submit a 3-minute documentary that profiles someone who inspires you to travel the world and tell us why you’re the right person for the job.</p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
                
                <table class="row">
                  <tr>
                    <td class="wrapper last">
                      <center>
                      <table class="five columns">
                        <tr>
                          <td class="left-text-pad">

                            <table class="button">
                              <tr>
                                <td>
                                  <a href="http://www.worldnomads.com/learn/travel-film/travel-film-scholarship-2015">Apply Now</a>
                                </td>
                              </tr>
                            </table>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      </center>
                    </td>
                  </tr>
                </table>
                
                <table class="row">
                  <tr>
                    <td class="wrapper last">
                      <center>
                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad center">

                            <strong>Applications close:</strong> August 31st, 2015 at 11pm (EST).

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      </center>
                    </td>
                  </tr>
                </table>
                
                <hr style="color: #999;" />
                
                <table class="container">
                  <tr>
                    <td>
                      
                      <table class="block-grid three-up">
                        <tr>
                          <td>
                            <a href="http://www.worldnomads.com/learn/travel-film/travel-film/Brian-Rapsey"><img class="feature" src="http://www.worldnomads.com/Media/Default/LearnImages/film2015/brian-rapsey-174x110.jpg"></a>
                            <strong>Behind the Lens:</strong><br /> <a href="http://www.worldnomads.com/learn/travel-film/travel-film/Brian-Rapsey">Interview with Filmmaker Brian Rapsey</a>
                          </td>
                          <td>
                            <a href="https://www.youtube.com/watch?v=tQyFWd7jUcw"><img class="feature" src="http://www.worldnomads.com/Media/Default/LearnImages/film2015/red-flame-174x110.jpg"></a>
                            <strong>Travel Documentary:</strong><br /> <a href="https://www.youtube.com/watch?v=tQyFWd7jUcw">The Red Flame Hunters’</a>
                          </td>
                          <td>
                            <a href="http://journals.worldnomads.com/projecttravel/story/106361/Worldwide/Travel-Filmmaking-Are-you-doing-it-right"><img class="feature" src="http://www.worldnomads.com/Media/Default/LearnImages/film2015/doing-it-174x110.jpg"></a>
                            <strong>Travel Filmmaking:</strong><br /> <a href="http://journals.worldnomads.com/projecttravel/story/106361/Worldwide/Travel-Filmmaking-Are-you-doing-it-right">Are you doing it right?</a>

                          </td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                

                

                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}