{% layout "edm" %}
{% block title %}World Nomads Email Template{% endblock %}
{% block content %}



          <!-- Content Area -->
          <table class="container content-area">
            <tr>
              <td>

                <!-- content start -->
                <table class="row">
                  <tr>
                    <td class="last">
                      <table class="twelve columns">
                        <tr>
                          <td>
                            <a href="http://www.worldnomads.com/learn/travel-film/travel-film-scholarship-2015"><img width="600" height="340" src="http://www.worldnomads.com/Media/Default/LearnImages/film2015/travel-film-2015-edm-header.jpg"></a>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

                <table class="row callout">
                  <tr>
                    <td class="wrapper last">

                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad">
                            <h3><strong>Aspiring filmmakers, it’s time to submit your entries!</strong></h3>
                            <h3>Just one week left to submit your film for your chance to explore the white-sand beaches and lush jungles of Colombia, and document the lives of vibrant locals in Colombia’s Pacific communities.</h3>
                            <p>This is your opportunity to travel to Colombia and be mentored by professional filmmaker and director Brian Rapsey, and hone your post-production skills in a 3-day post-production workshop. </p>
                            <p>To enter, film a profile of a person who inspires you to travel the world. Share with us their story in a visually engaging way. Then tell us in the application page why we should choose you go on this life-changing assignment. </p>
                            <p>Don’t wait until the very last minute to submit your entry. </p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
                
                <table class="row">
                  <tr>
                    <td class="wrapper last">
                      <center>
                      <table class="five columns">
                        <tr>
                          <td class="left-text-pad">

                            <table class="button">
                              <tr>
                                <td>
                                  <a href="http://www.worldnomads.com/learn/travel-film/travel-film-scholarship-2015">Apply Now</a>
                                </td>
                              </tr>
                            </table>

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      </center>
                    </td>
                  </tr>
                </table>
                
                <table class="row">
                  <tr>
                    <td class="wrapper last">
                      <center>
                      <table class="twelve columns">
                        <tr>
                          <td class="left-text-pad right-text-pad center">

                            <strong>Applications close:</strong> August 31st, 2015 at 11pm (EST).

                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>
                      </center>
                    </td>
                  </tr>
                </table>
                
                <hr style="color: #999;" />
                
                <table class="container">
                  <tr>
                    <td>
                      
                      <table class="block-grid three-up">
                        <tr>
                          <td>
                            <a href="http://www.worldnomads.com/learn/travel-film/travel-film/Brian-Rapsey"><img class="feature" src="http://www.worldnomads.com/Media/Default/LearnImages/film2015/brian-interview-174x110.jpg"></a>
                            <strong>Behind the Lens:</strong><br /> <a href="http://www.worldnomads.com/learn/travel-film/travel-film/Brian-Rapsey">Interview with Filmmaker Brian Rapsey</a>
                          </td>
                          <td>
                            <a href="http://www.worldnomads.com/learn/travel-film/travel-film/Brian-Rapsey"><img class="feature" src="http://www.worldnomads.com/Media/Default/LearnImages/film2015/brian-rapsey-174x110.jpg"></a>
                            <strong>Travel Documentary:</strong><br /> <a href="http://www.worldnomads.com/learn/travel-film/travel-film/Brian-Rapsey">The Red Flame Hunters’</a>
                          </td>
                          <td>
                            <a href="http://journals.worldnomads.com/projecttravel/story/106361/Worldwide/Travel-Filmmaking-Are-you-doing-it-right"><img class="feature" src="http://www.worldnomads.com/Media/Default/LearnImages/film2015/doing-it-174x110.jpg"></a>
                            <strong>Travel Filmmaking:</strong><br /> <a href="http://journals.worldnomads.com/projecttravel/story/106361/Worldwide/Travel-Filmmaking-Are-you-doing-it-right">Are you doing it right?</a>

                          </td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>

                

                

                <!-- container end below -->
              </td>
            </tr>
          </table>
          
          
          



{% endblock %}