

{% block content %} 
<!-- Hero Content Panel Start -->
<div class="header-panel blue-panel" id="campaign">
  <div class="row" id="article-header">  
    <div class="small-12 medium-6 large-6 columns">
      <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <ul class="breadcrumb">
          <li><a href="/">World Nomads</a></li>
          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/travel-insurance" itemprop="url"><span itemprop="title">Travel Insurance</span></a></li>
        </ul>
      </div>
      <h1>Save 10% on your travel insurance</h1>
      <p class="highlight">with the promo code <strong>GOPHOTO!</strong></p>
    </div>

  </div>
</div>
<!-- Hero Content Panel End -->

<!-- Benefits Bar -->

<div class="light blue" id="benefits-bar">
  <div class="row">
    <ul class="large-block-grid-4 medium-block-grid-4 small-block-grid-2">

      <li class="evacuation-icon"><a href="/travel-insurance/travel-insurance-abroad">Buy when already overseas</a></li>
      <li class="interruption-icon"><a href="/travel-insurance/extend-travel-insurance">Extend when your plans change</a></li>
      <li class="activities-icon"><a href="/travel-insurance/adventure-activities">200+ adventure sports &amp; activities covered</a></li>
      <li class="medical-icon"><a href="24hr-emergency-assistance">24/7 Emergency Assistance</a></li>
    </ul>
  </div>
</div>

<!-- QQW Panel Start -->
<div class="content-panel" id="qqw-content-panel">
  <div class="row">
    <div class="small-12 medium-6 large-7 column">
      <h3>Make sure you pack your travel insurance &amp; get covered for the things you love to do when you travel.</h3>
      <p>Make sure you pack your travel insurance &amp; get covered for the things you love to do when you travel.</p>
      <p>&nbsp;</p>
      <p>Trusted by:</p>
      <ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-4">
        <li class="text-center">
          <a href="http://www.lonelyplanet.com/travel-insurance" target="_blank" class="auto-size-img"><img alt="lonely planet logo" src="/Media/Default/TravelInsuranceImages/australia/lonley-planet-blue.png" class="auto-size-img"></a>
        </li>
        <li class="text-center">
          <a href="http://www.roughguides.com/travel-insurance/" target="_blank"><img alt="rough guides logo" src="/Media/Default/TravelInsuranceImages/australia/rough-guides.png" class="auto-size-img"></a>
        </li>
        <li class="text-center">
          <img alt="intepid logo" src="/Media/Default/TravelInsuranceImages/australia/intrepid.png" class="auto-size-img">
        </li>
      </ul>
    </div>
    <div class="small-12 medium-6 large-5 column">

      <div id="wnqqcalculator" class="blue-panel blue-pattern">
        <h1>Get a quote</h1>
        <script async='' src='//cdn.worldnomads.net/scripts/custom/wng.cachedGetPartnerWidgetResponse.js?loadWithPanelExpanded=true&excludeStyles=true&extractCampaignCodeFromUrl=true'></script>
        <div id='wn-insurance-quote-editor'></div>
      </div>

    </div>
  </div>
</div>
<!-- QQW Panel End -->


<!-- 3 Panel Links -->
<div class="row panels-wrapper">
  <div class="large-4 medium-4 small-12 columns">
    <div class="feature-box" style="background-image: url('//cdn.worldnomads.net/Media/Default/HomePageImages/jan14/Footprints-Feature-450x440.jpg');">
      <ul class="breadcrumb">
        <li>
          <a href="http://www.worldnomads.com/learn/travel-film/">Footprints</a>
        </li>
      </ul>
      <a href="http://www.worldnomads.com/learn/travel-film/travel-film-scholarship-2015"><h4>Make a difference when you travel</h4></a>
      <div class="bottom orange">
        <p><a href="http://www.worldnomads.com/learn/travel-film/travel-film-scholarship-2015">Help fund community  projects when you buy our travel insurance.</a></p>
      </div>
    </div>
  </div>
  <div class="large-4 medium-4 small-12 columns">
    <div class="feature-box" style="background-image: url('http://cdn.worldnomads.net/Media/Default/HomePageImages/jan14/Stories-Feature-450x440.jpg');">
      <ul class="breadcrumb">
        <li>
          <a href="http://www.worldnomads.com/learn/travel-film/">Community</a>
        </li>
      </ul>
      <a href="http://www.worldnomads.com/learn/travel-film/travel-film-scholarship-2015"><h4>Ask the travel community</h4></a>
      <div class="bottom purple">
        <p><a href="http://www.worldnomads.com/learn/travel-film/travel-film-scholarship-2015">Have a travel question? Tap into the travel smarts from locals and other nomads.</a></p>
      </div>
    </div>
  </div>
  <div class="large-4 medium-4 small-12 columns">
    <div class="feature-box" style="background-image: url('/Media/Default/saftey-feature-450x440.jpg');">
      <ul class="breadcrumb">
        <li>
          <a href="http://www.worldnomads.com/learn/travel-film/">Travel Safety</a>
        </li>
      </ul>
      <a href="http://www.worldnomads.com/learn/travel-film/travel-film-scholarship-2015"><h4>Explore your world with confidence</h4></a>
      <div class="bottom red">
        <p><a href="http://www.worldnomads.com/learn/travel-film/travel-film-scholarship-2015">Get the latest advice, alerts and essential travel information for your next trip.</a></p>
      </div>
    </div>
  </div>
</div>




<!-- Background Header Image CSS Start  -->
<style>
  /* Add link to Desktop Image */
@media all and (min-width: 860px) {
  #campaign {
    background-image: url('http://www.worldnomads.com/Media/Default/Partners/gapyear/backpackers-hiking-full.jpg');
    background-position: top center;
    min-height: 400px;
    padding-bottom: 40px;
  }
}
/* Add link to Tablet Image */
@media all and (max-width: 860px) {
  #campaign {
    background-image: url('http://www.worldnomads.com/Media/Default/Partners/gapyear/backpackers-hiking-tablet.jpg');
    min-height: 440px;
     padding-bottom: 40px;
    padding-bottom: 40px;
 }
}
/* Add link to Mobile Image */
@media all and (max-width: 640px) {
  #campaign {
    background-image: url('http://www.worldnomads.com/Media/Default/Partners/gapyear/backpackers-hiking-mobile.jpg');
    padding-bottom: 150px;
  }
}

/* QQW Styles */
#qqw-content-panel {
  margin: 40px 0px;
}
.hero-content-panel p, .hero-content-panel a {
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}
#wnqqcalculator #qqc .input-group.country-of-residence input, #wnqqcalculator #qqc .input-group.departure-date input, #wnqqcalculator #qqc .input-group.destination input, #wnqqcalculator #qqc .input-group.province input, #wnqqcalculator #qqc .input-group.return-date input, #wnqqcalculator #qqc .input-group.traveller-age input {
  border: 1px solid #a4a4a4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#wnqqcalculator h1 {
  line-height: 32px;
  font-size: 32px;
  font-weight: normal;
  color: #ffffff;
}
@media all and (max-width: 640px) {
  #wnqqcalculator {
    margin-top: 50px;
  }
}
/* Benefits Bar */
#benefits-bar .activities-icon {
  padding-left: 4rem;
  padding-right: 1rem;
  padding-bottom: 0;
  background-position: 5px -10px;
  background-repeat: no-repeat;
  min-height: 50px;
  background-image: url('/Media/Default/icons/activities-icon.png');
}
/* Feature box styles */
.feature-box .bottom {
  min-height: 100px;
}
</style>
<!-- Background Header Image CSS End -->

<!-- Main Content Area End -->

{% endblock %}
