
{% block content %}

<!-- Header -->
<div class="hero-content-panel" id="greatescape">
  <div class="row">  
    <div class="small-12 medium-10 large-8 columns left">
      <h1>Title</h1>
      <p class="highlight">Highlight</p>   
      <a href="#application" class="base-button orange">Apply now</a> 
    </div>   

  </div>
</div>

<style>
#greatescape .row {
  padding-top: 120px;
}
#greatescape h1, #greatescape p.highlight {
  color: #ffffff;
}
@media all and (min-width: 860px) {
  #greatescape {
    background-image: url('http://www.worldnomads.com/Media/Default/SafetyGuides/hero_rioinsidersguide_full.jpg');
    background-position: top center;
    min-height: 380px;
  }
}
@media all and (max-width: 860px) {
  #greatescape {
    background-image: url('http://www.worldnomads.com/Media/Default/SafetyGuides/hero_rio_tablet.jpg');
    min-height: 440px;
  }
}
@media all and (max-width: 500px) {
  #greatescape {
    background-image: url('http://www.worldnomads.com/Media/Default/SafetyGuides/hero_rio_mobile.jpg');
  }
}
</style>
<!-- Header END -->

{% include 'share-tools-scripts' %}
{% include 'share-tools-fullwidth' %}




 <script type="text/javascript">
  var year = 2015; 
  var month = 07; 
  var day = 17;
  var hour= 14; 
  var min= 0; 
  var sec= 0;
</script>
<script type="text/javascript" src="//www.worldnomads.com/Media/Default/scripts/js/counter-countdown.js"></script>

<div class="row" id="article-content">
  <div class="large-8 medium-8 small-12 columns">

    <div id="intro">
      <h2>We are giving you the chance to win one of three extraordinary experiences to Canada, Ecuador and Sweden.</h2>
      <p class="highlight">If you are an intrepid traveller, this is your chance to hit the road and get stuck into a new adventure activity every day. And we have a list as long as your arm to choose from…like kayaking, hiking, biking, canoeing, bear watching, diving, fishing, zip lining, white water rafting, surfing, snorkelling, whale watching, camping... we digress. </p>
    </div>

    <div>
      <h4>Here’s the deal.</h4>
      <p>You could be off on an all-expenses-paid weeklong trip filled with action and a hefty dose of nature and local culture. See these extraordinary destinations in a new way as you let adventure be your guide.</p>     
    </div>

  </div>

  <div class="large-4 medium-4 small-12 columns">
      
      <div id="sidepannel">
        <h4>Applications closes in...</h4>
        <div id="countbox"></div>
        <p class="small">Entries close March 6, 2015 at 2PM <a target="_blank" href="http://www.timeanddate.com/library/abbreviations/timezones/au/edt.html">(AEDT)</a></p>
      </div>

      <div id="sidepannel">
        <h4>In partnership with</h4>
      </div>
    
  </div>
</div>

<div class="row" id="article-content">
  <div class="large-12 medium-12 small-12 columns">
    <h4>Adrenaline pumping already? Here’s how to apply.</h4>
  </div>
  <div class="large-4 medium-4 small-12 columns">
    <div id="steps" class="blue">
      <span>1</span>
      <h5>Destination</h5>
      <p>Choose your adventure destination.</p>
    </div>
  </div>
  <div class="large-4 medium-4 small-12 columns">
    <div id="steps" class="teal">
      <span>2</span>
      <h5>Activities</h5>
      <p>Pick your favorite adventure activities.</p>
    </div>    
  </div>
  <div class="large-4 medium-4 small-12 columns">
    <div id="steps" class="purple">
      <span>3</span>
      <h5>Why you</h5>
      <p>Tell us about adventure activity that you'll never forget. </p>
    </div>
  </div>
</div>

<div id="application">
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <h4>Ready to apply?</h4>

                                                         



    </div>
  </div>
</div>

<div class="row" id="article-content">
  <div class="large-8 medium-8 small-12 columns">
    <div>
      <img src="//www.worldnomads.com/Media/Default/Partners/canada.jpg" class="locationimage" />
      <h4>Canada - Newfoundland and Labrador</h4>
      <p>No matter where you find yourself in Newfoundland and Labrador, you’ll feel so very, very far way. This place does that to you. It sweeps you off your feet and keeps you there for as long as you want. The land itself is like no other - cliffs and barrens, bights and guts - around every corner there’s the unexpected. </p>

      <p>Your adventure will lead you along ancient footpaths to deep fjords, towering cliffs and sub-arctic barrens, through lush inland forests, and over the earth’s mantle. Take a sea kayak to caves, inlets, and secluded beaches along routes protected by offshore islands, and view the land from the sea. Immerse yourself in a place where 10,000 whales get front row seats to go people watching, where icebergs drift along ancient shores, where there isn’t a rock, cave or cliff without a story attached.</p>     
    </div>
    <div>
      <img src="//www.worldnomads.com/Media/Default/Partners/sweden.jpg" class="locationimage" />
      <h4>Sweden - J&auml;mtland H&auml;rjedalen</h4>
      <p>The region of Jämtland H&auml;rjedalen is situated in central Sweden, has a unique flora and fauna and is often referred to as "the lungs of Europe". </p>
      <p>In addition to the clean air, it is well known for its accessible wilderness, superb homemade foods, the contrasts of the midnight sun and the winter darkness and its five clearly defined seasons.</p>
      <p>In wintertime skiing is the most popular activity in the region, but the summertime showcases the regions picturesque landscapes in which you can enjoy a hike with reindeers, cycle through small villages and down rugged mountains, visit the beautiful Storsj&ouml;n lake and even meet the resident lake monster, The Storsj&ouml;odjuret... if you’re lucky! </p>     
    </div>
    <div>
      <img src="//www.worldnomads.com/Media/Default/Partners/ecuador.jpg" class="locationimage" />
      <h4>Ecuador</h4>
      <p>For its size, Ecuador has an especially impressive array of interesting sites and cities. The high Andes beckon with stunning vistas, colourful indigenous markets, and scenic colonial neighbourhoods, where Ecuador’s “Avenue of the Volcanoes” is sure to inject you with your first dose of adventure. The eastern lowlands offer an exciting Amazonian experience where you can visit exotic wildlife species and the ancient Huaorani tribe of the rainforest. </p>
      <p>Then there are the Galapagos Islands. Located more than 900 kilometers from the coast, these fabled islands are part of Ecuadorian territory and the jewel of Ecuador. The Galapagos are on the bucket list of nearly every world traveller and those who make their way to this volcanic archipelago find their expectations surpassed by their experience.</p>     
    </div>
  </div>
  
  



<!-- Main Content Area End -->

{% endblock %}

