
{% block content %}

<!-- Header -->

<div class="header-panel purple-panel" id="travelfilm">
  <div class="row" id="article-header">  
    <div class="small-12 medium-6 large-6 columns">
      <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <ul class="breadcrumb">
          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/learn" itemprop="url"><span itemprop="title">Competitions</span></a></li>
        </ul>
      </div>
      <h1>Win a trip or treat!</h1>
      <p class="highlight">This halloween choose one of three scary good trips to India, Cuba or Transylvania – and get a treat.</p>
      <form action="/learn/travel-writing/travel-film-scholarship-2015" method="get">
        <button class="base-button orange">Apply now</button>
      </form>
     
        <p class="small">This is open to US and Canadian residents only.</p>
    
    </div>    

  </div>
</div>

<style>
@media all and (min-width: 860px) {
  #travelfilm {
    background-image: url('/Media/Default/triportreat/header-image.jpg');
    background-color: #999999;
    background-size: cover;
    background-position: center;
    min-height: 500px;
  }
  
  #article-header p.highlight {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
   
  }
    #article-header p.small {
    font-style: italic;
    color:#d5d5d5;
     -webkit-font-smoothing: antialiased;
    margin-top: 60px;
   
    }
}
@media all and (max-width: 860px) {
  #travelfilm {
    background-image: url('/Media/Default/triportreat/header-image.jpg');
    min-height: 500px;
    background-position: center right;
  }
}
@media all and (max-width: 500px) {
  #travelfilm {
    background-image: url('/Media/Default/triportreat/header-image.jpg');
    background-position: center;
  }
  

}
</style>
<!-- Header END -->

<!-- Panel 1 -->
<div id="sharetools-long">
  <div class="row">
    <div class="small-12 columns">
      <div id="socialarea">     
        <div id="sharedcount">
          <div id="total"></div>
          <p>Shares</p> 
        </div>
        <div id="share-icons">
          <a class="facebook" target="_blank"><span>Share on Facebook</span>&#xe607;</a>
          <a class="twitter" target="_blank"><span>Share on Twitter</span>&#xe602;</a>
          <a class="pinterest">&#xe603;</a>
          <a class="gplus" target="_blank">&#xe605;</a>
          <a class="linkedin" target="_blank"><img src="//www.worldnomads.com/Media/Default/shareimages/linkedin-share-icon.png" /></a>
          <a class="stumbleupon" target="_blank"><img src="//www.worldnomads.com/Media/Default/shareimages/stumble-share-icon.png" /></a>
          <a class="plus"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Panel 1 END -->


<!-- Panel 2 -->

<div class="row" id="article-content">
  <div class="large-8 medium-8 small-12 columns">
    <h2>This Halloween, push yourself beyond your physical, culinary, or cultural boundaries with World Nomads</h2>
    <p class="highlight">Sink your teeth into Transylvania, Cuba or India for a spine-tingling tour, and get a bundle of deals on gear, travel apparel, experiences, guides and other travel services.</p>
    <p>We partnered with our friends at Intrepid Travel and BootsnAll to give you a chance to win a frighteningly good trip that promises the thrills and chills of one of three great destinations on an all-expenses paid trip for you and a companion. If        you don’t think you have a ghost of a chance at winning this trip, don’t worry: Every entrant will get a sweet haul of travel treats.</p>



    <style>
      
    .feature-box {
      min-height: 317px; 
    }
    .feature-box .bottom {
      min-height: 100px 
    }
    .feature-box.cuba {
      background-image: url('/Media/Default/triportreat/feature-box-1.jpg');
      background-color: #999999;
    }
    .feature-box.transylvania {
      background-image: url('/Media/Default/triportreat/feature-box-2.jpg');
      background-color: #999999;
    }
    .feature-box.india {
      background-image: url('/Media/Default/triportreat/feature-box-3.jpg');
      background-color: #999999;
    }

    /* countdown style */
      #sidepannel #countbox #days, #sidepannel #countbox #hours, #sidepannel #countbox #mins { color: #61398b; }
      .importantdate .date { background-color: #61398b; }
      
      #partnership ul li{
      padding:0;
      }
      
      #partnership .panel {
      padding: 0.45rem 1.25rem 0 1.25rem;
      }
      
      #partnership p.small{
        font-size:  12px;
      }

    #judges, #professional, #who, #brief, #faqs, #doing, .panels-wrapper {
      margin-top: 40px; 
      margin-bottom: 40px; 
    }
    </style>


    <div class="row panels-wrapper">
      <div class="large-4 medium-12 small-12 columns">
        <div class="feature-box cuba">
            <ul class="breadcrumb">
            </ul>
            
            <a href=""><h4>Cuba</h4></a>
          <div class="bottom purple">
            <p><a href="#cuba">Experience the specter of “cobblestone communism” with eight days in Cuba. </a></p>


          </div>
        </div>
      </div> 

      <div class="large-4 medium-12 small-12 columns">
        <div class="feature-box transylvania">
          <ul class="breadcrumb">
          </ul>
            
          <a href=""><h4>Transylvania</h4></a>
          <div class="bottom purple">
            <p><a href="#transylvania">Ten haunting days of castles and medieval churches.<span></span></a></p>
          </div>
        </div>
      </div> 

      <div class="large-4 medium-12 small-12 columns">
        <div class="feature-box india">
          <ul class="breadcrumb">
          </ul>
            
          <a href=""><h4>India</h4></a>
          <div class="bottom purple">
            <p><a href="#india">Ten days of the spellbinding sights, sounds and flavors of India.<span></span></a></p>
          </div>
        </div>
      </div> 

    </div>

     <p>To enter, tell us witch destination of these experiences gets your heart and mind racing, and ultimately satiates your desire to see, eat, feel, touch or taste the weird, eerie, dark or ghoulish.</p>
     <p>This is open to US and Canadian residents only. To learn about other great opportunities, subscribe to Nomads News. </p>
  </div>
  
   <script type="text/javascript">
    var year = 2015; 
    var month = 08; 
    var day = 31;
    var hour= 12; 
    var min= 0; 
    var sec= 0;
  </script>
  <script type="text/javascript" src="//www.worldnomads.com/Media/Default/scripts/js/counter-countdown.js"></script>

  <div class="small-12 medium-4 large-3 large-offset-1 columns">
    
    <div class="panel" id="sidepannel">
      <h4>Applications close in...</h4>
      <div id="countbox"></div>
      <p class="small">Entries close March 6, 2015 at 2PM <a target="_blank" href="http://www.timeanddate.com/time/zones/est">(EST)</a></p>
    </div>
    
    <div class="panel" id="partnership">
      <h4>In partnership with:</h4>
      <div class="row panel">
           <ul class="large-block-grid-3">
            <li><img src="/Media/Default/triportreat/logo-1.jpg" /></li>
            <li><img src="/Media/Default/triportreat/logo-2.jpg" /></li>
            <li><img src="/Media/Default/triportreat/logo-3.jpg" /></li>
           </ul>
      </div>
      <div class="row panel">
       <p class="small">Other Trip or Treat partners:</p>
      </div>
           <div class="row panel">
           <ul class="large-block-grid-4 medium-block-grid-3">
              <li><img src="/Media/Default/triportreat/logo-s-1.jpg" /></li>
              <li><img src="/Media/Default/triportreat/logo-s-2.jpg" /></li>
              <li><img src="/Media/Default/triportreat/logo-s-3.jpg" /></li>
              <li><img src="/Media/Default/triportreat/logo-s-4.jpg" /></li>
              <li><img src="/Media/Default/triportreat/logo-s-5.jpg" /></li>
              <li><img src="/Media/Default/triportreat/logo-s-6.jpg" /></li>
              <li><img src="/Media/Default/triportreat/logo-s-7.jpg" /></li>
              <li><img src="/Media/Default/triportreat/logo-s-8.jpg" /></li>
           </ul>
      </div>
     
    </div>
    
    <div class="panel purple-panel purple-pattern">
      <h4>Not ready to apply yet? </h4>
      <p>Sign up to receive our reminder email 1 week before the application deadline.</p>
      <form class="nomadsnews"  action="http://worldnomadsgroup.createsend.com/t/y/s/aiifi/" method="post">
        <input id="fieldEmail" name="cm-aiifi-aiifi" type="email" placeholder="Enter your email" required style="width: 100%;" />
        <input id="fieldmthdyd" name="cm-f-mthdyd" type="hidden" value="yes" />
        <button class="base-button orange expand" style="margin-top:16px;">Send reminder</button>
      </form>
      <script>

      </script>    
    </div>
    
  </div>
</div>
<!-- Panel 2 END -->


<!-- Panel 3 -->
   <style>

      .steps0, .steps1 {

      background-color: #e4ddeb;
    }
      .steps2 {

      background-color: #c6b7d5;
    }
     

      .steps3 {
      background-color: #b09cc5;
    }
    .steps0, .steps1, .steps2, .steps3 {
        margin-bottom: 1.25rem;
        padding: 0rem;
        color: #333;
        min-height: 90px;
        margin-bottom: 0px;
     }
     
      .steps0 .row, .steps1 .row, .steps2 .row, .steps3 .row{
    
        padding: 1.6rem 3rem 0.5rem;
        height: 90px;
       
     }
     
     
     
     

    .steps1 .row .large-3 p, .steps2 .row .large-3 p, .steps3 .row .large-3 p{
        font-size: 3em;
        font-weight: 300;
        line-height: 2.4rem;
        margin-bottom: 0;
     }
     
    .steps2::before{
        
      content: url(/Media/Default/triportreat/arrow-1.png);
      float: left;
      width: 30px;
      height: 90px;
      
    }
    
    .steps3::before{
        
      content: url(/Media/Default/triportreat/arrow-2.png);
      float: left;
      width: 30px;
      height: 90px;
      
    }
     
    .form {
      background-color: #f4f4f4;
    }
     
    .form h3 {
      margin: 4rem 0 2rem;
      font-size: 3em;
    }
     
    .arrow{
     margin:-7px 0; 
    }
     
    span.arrow-number{
      position: absolute;
      padding: 0.3rem 0.9rem;
      font-size: 1.65em;
      color: #ffffff;
    }
     

     
    </style>

<div class="content-panel">
  <div class="row steps">
    <div class="large-12 columns">
      <div class="large-3 medium-12 columns steps0">
        <div class="row">
          <h4>Steps to apply:</h4>
        </div>
      </div>

      <div class="large-3 medium-12 columns steps1">
        <div class="row">
          <div class="large-3 columns">
            <p>1.</p>
          </div>
          <div class="large-8 columns">
            <p>Select where you want to go?</p>
          </div>
          <div class="large-1 columns">
            <span class="icon"></span>          
          </div>
        </div>
      </div>

      <div class="large-3 medium-12 columns steps2">
         <div class="row">
          <div class="large-3 columns">
            <p>2.</p>
          </div>
          <div class="large-8 columns">
            <p>Why you want to go there?</p>
          </div>
            <div class="large-1 columns">
            <span class="icon"></span>          
          </div>
        </div>
      </div>

      <div class="large-3 medium-12 columns steps3 end">
        <div class="row">
          <div class="large-3 columns">
            <p>3.</p>
          </div>
          <div class="large-9 columns">
            <p>About you, the traveller</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="content-panel">
  <div class="row">
      <div class="large-12 columns panel">
        <div class="row form">
          <div class="large-offset-1 large-10 columns">
         <div class="row">
           <div class="large-12 columns">
            <h3>Ready to apply?</h3>
           </div>
         </div>
         
    <form>
      
      <div class="row">
        <div class="large-12 columns">
          <div class="row">
          <div class="large-12 columns">
             <div class="row">
              <div class="large-1 columns arrow">
                <span class="arrow-number">1.</span>
                <img src="/Media/Default/triportreat/arrow.png" />
              </div>
              <div class="large-11 columns">
                <h4>Select where you want to go</h4>
              </div>
            </div>
          </div>
        </div>
          <div class="row">
          <div class="large-offset-1 large-10 columns panel">
          
              <div class="">
               <ul class="small-block-grid-3">
                  <li><img src="/Media/Default/triportreat/cuba-select.png" /></li>
                  <li><img src="/Media/Default/triportreat/transylvania.png" /></li>
                  <li><img src="/Media/Default/triportreat/india.png" /></li>
               </ul>
              </div>
          </div>
        </div>
        </div>
      </div>
        <hr class="large-offset-1 large-10">

      
      <div class="row">
        <div class="large-12 columns">
          <div class="row">
          <div class="large-12 columns">
             <div class="row">
              <div class="large-1 columns arrow">
                <span class="arrow-number">2.</span>
                <img src="/Media/Default/triportreat/arrow.png" />
              </div>
              <div class="large-11 columns">
                  <h4>Why do you want to go there?</h4>              
              </div>
            </div>
          </div>
        </div>
          <div class="row">
          <div class="large-offset-1 large-10 columns panel">
           
           <p>In 100 words or less, tell us why this trip destination bewitches you.*</p>
            <label>
              <textarea placeholder="small-12.columns"></textarea>
            </label>
          </div>
        </div>
        </div>
      </div>
        <hr class="large-offset-1 large-10">

      <div class="row">
        <div class="large-12 columns">
         <div class="row">
          <div class="large-12 columns">
             <div class="row">
              <div class="large-1 columns arrow">
                <span class="arrow-number">3.</span>
                <img src="/Media/Default/triportreat/arrow.png" />
              </div>
              <div class="large-11 columns">
                <h4>About you, the traveller</h4>
              </div>
            </div>
          </div>
        </div>
         <div class="row">
          <div class="large-offset-1 large-10 columns panel">
        
              <div class="row">
                <div class="large-6 columns">
                    <label>Your Name*
                      <input type="text" placeholder="large-12.columns" />
                    </label>
                </div>

                <div class="large-6 medium-6 small-12 columns">
                    <label for="fieldchitdr">Date of Birth</label>
                      <div class="large-4 columns">
              <select id="fieldchitdrdy" name="cm-fd-chitdr-dy"><option value="">DD</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>
                  </div>
                      <div class="large-4 columns">
              <select id="fieldchitdr" name="cm-fd-chitdr-mn"><option value="">MM</option><option value="1">Jan</option><option value="2">Feb</option><option value="3">Mar</option><option value="4">Apr</option><option value="5">May</option><option value="6">Jun</option><option value="7">Jul</option><option value="8">Aug</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option></select>
                  </div>
                      <div class="large-4 columns">
              <select id="fieldchitdryr" name="cm-fd-chitdr-yr"><option value="">YYYY</option><option value="1949">1949</option><option value="1950">1950</option><option value="1951">1951</option><option value="1952">1952</option><option value="1953">1953</option><option value="1954">1954</option><option value="1955">1955</option><option value="1956">1956</option><option value="1957">1957</option><option value="1958">1958</option><option value="1959">1959</option><option value="1960">1960</option><option value="1961">1961</option><option value="1962">1962</option><option value="1963">1963</option><option value="1964">1964</option><option value="1965">1965</option><option value="1966">1966</option><option value="1967">1967</option><option value="1968">1968</option><option value="1969">1969</option><option value="1970">1970</option><option value="1971">1971</option><option value="1972">1972</option><option value="1973">1973</option><option value="1974">1974</option><option value="1975">1975</option><option value="1976">1976</option><option value="1977">1977</option><option value="1978">1978</option><option value="1979">1979</option><option value="1980">1980</option><option value="1981">1981</option><option value="1982">1982</option><option value="1983">1983</option><option value="1984">1984</option><option value="1985">1985</option><option value="1986">1986</option><option value="1987">1987</option><option value="1988">1988</option><option value="1989">1989</option><option value="1990">1990</option><option value="1991">1991</option><option value="1992">1992</option><option value="1993">1993</option><option value="1994">1994</option><option value="1995">1995</option><option value="1996">1996</option><option value="1997">1997</option></select>
                  </div>
                </div>
                </div>
              <div class="row">
                  <div class="large-6 columns">
                      <label>Zipcode
                        <input type="text" placeholder="large-12.columns" />
                      </label>
                  </div>
                  <div class="large-6 columns">
                    <label>State/Providence
                      <select>
                        <option value="husker">Husker</option>
                        <option value="starbuck">Starbuck</option>
                        <option value="hotdog">Hot Dog</option>
                        <option value="apollo">Apollo</option>
                      </select>
                    </label>
                  </div>
            </div>

              <div class="row">
                <div class="large-12 columns panel">
                  <div class="">
                       <p>Select one or more travel categories that interest you* </p>
                       <ul class="small-block-grid-4">
                          <li><img src="/Media/Default/triportreat/gear-select.png" /></li>
                          <li><img src="/Media/Default/triportreat/map.png" /></li>
                          <li><img src="/Media/Default/triportreat/flight.png" /></li>
                          <li><img src="/Media/Default/triportreat/activity.png" /></li>
                       </ul>
                  </div>
                </div>
              </div>
          </div>
    
    <hr class="large-offset-1 large-10">
      
    <div class="large-offset-1 large-10 columns panel"> 
      <div class="row">
        <div class="large-6 columns">
          <p><input id="checkbox1" type="checkbox"><label for="checkbox1">I have read &amp; accepted the <a href="#">Terms and Conditions</a></label></p>
          <p><input id="checkbox2" type="checkbox"><label for="checkbox2">I would like to hear more from WorldNomads partners</label></p>
        </div>
        <div class="large-offset-2 large-4 columns">
          <form action="/learn/travel-writing/travel-film-scholarship-2015" method="get">
            <button class="base-button orange">Submit your application</button>
          </form>
        </div>
      </div>
    </div>
  </div>
        </div>
      </div>
        
        
</form>
      
    
      </div>
        </div>
  </div>
</div>
</div>

<!-- Panel 3 END -->


<!-- Panel 4 -->

   <style>
    #cuba, #transylvania, #india{
      margin: 0 0 60px 0;
    }

    </style>


<div class="row">
  <div class="large-8 medium-8 small-12 columns">

      <div id="cuba">
          <p><img src="/Media/Default/triportreat/big-cuba.jpg" /></p>
        <h3>Cuba</h3>
        <h6>American Citizens</h6>
        <p>For the first time in decades, Cuba’s doors are open to American travellers. Be one of the first to experience this faded Caribbean gem – a cobblestoned communist isle where the rum is plentiful, the smiles infectious and the dancing encouraged. On our new 9-day Hola Cuba adventure, wind your way from sultry Havana’s crumbling churches, through the valleys and farms of Pinar del Rio and on to the Afro-inspired beats of Trinidad. Along the way we’ve assembled a cast of Cuban characters to give you a proper welcome: tobacco farmers, expert chefs, local artists, historians and salsa dancers that understand where Cuba came from, where the country sits now and, more importantly, where it’s going.
        </p>
          
        <h6>Canadian Citizens</h6>
        <p>Travel to Cuba and enjoy a relaxing week-long adventure while immersing yourself in the history, culture and natural beauty of this colourful Caribbean island. Cuba's imminent political and cultural change makes it something to experience now before it evolves. Wander through Havana’s glittering colonial architecture, soak up the clear mountain air among Soroa’s vibrant mountain orchards, relax on Playa Ancon’s vast white beaches and admire Trinidad’s unrivalled ambience. From old cars to fragrant cigars and with plenty of salsa in between, this trip has it all and is the perfect introduction to all things Cuban.
        </p>
        <div class="row">
                <div class="small-12 large-4 columns">
                   <div class="applynowarea">
                     <div class="loggedin">
                        <form action="http://scholarships.worldnomads.com/application_form.aspx" method="get">
                          <button class="base-button orange expand">Apply for Cuba</button>
                        </form>
                      </div>

                      <div class="notloggedin" >
                        <form action="http://scholarships.worldnomads.com/application_form.aspx" method="get">
                          <button class="base-button orange expand">Apply for Cuba</button>
                        </form>
                      </div>
                    </div>
                  </div> 
              </div> 
      </div>
    
      <div id="transylvania">
            <p><img src="/Media/Default/triportreat/big-transylvania.jpg" /></p>
            <h3>Transylvania</h3>
            <p>From the beautiful Baroque churches of Budapest to the haunted castles of Transylvania, this ten-day journey across Hungary and Romania provides a fascinating insight into an intriguing region. Learn about the failed Turkish invasion of Eger and take a wine cellar tour in the Valley of the Beautiful Women. Become acquainted with traditional Romanian culture and customs in Maramures. Tour the medieval churches of Brasov, dine with a local family on an overnight homestay in Viscri and visit Bucharest's 12-storey Palace of Parliament. This jam-packed journey makes for a perfect introduction to two Eastern European treasures.
            </p>
            <div class="row">
                    <div class="small-12 large-5 columns">
                       <div class="applynowarea">
                         <div class="loggedin">
                            <form action="http://scholarships.worldnomads.com/application_form.aspx" method="get">
                              <button class="base-button orange expand">Apply for Transylvania</button>
                            </form>
                          </div>

                          <div class="notloggedin" >
                            <form action="http://scholarships.worldnomads.com/application_form.aspx" method="get">
                              <button class="base-button orange expand">Apply for Transylvania</button>
                            </form>
                          </div>
                        </div>
                    </div> 
                </div> 
        </div>

      <div id="india">
            <p><img src="/Media/Default/triportreat/big-india.jpg" /></p>
            <h3>India</h3>
            <p>Spend two fabulous weeks discovering the sights, sounds and flavours of India. From Delhi to Goa and via the ethereal beauty of Rajasthan, experience the best street food in Delhi, the beautiful sight of the Taj Mahal in Agra, the delightful taste of Rajasthan’s traditional cuisine in Jaipur and Udaipur, the colours of India’s markets and bazaars and how to cook up delicious regional Indian dishes in a number of inspiring cooking classes. Relax on Goa’s beaches, see Jaipur’s breathtaking Palace of the Wind, explore the vibrant food scene of Mumbai and spend time in rural Rajasthan living it up in a 17th-century fort. This unforgettable journey into the cultural and gastronomic heart of India will satisfy every appetite.
            </p>
            <div class="row">
                <div class="small-12 large-4 columns">
                   <div class="applynowarea">
                     <div class="loggedin">
                        <form action="http://scholarships.worldnomads.com/application_form.aspx" method="get">
                          <button class="base-button orange expand">Apply for India</button>
                        </form>
                      </div>

                      <div class="notloggedin" >
                        <form action="http://scholarships.worldnomads.com/application_form.aspx" method="get">
                          <button class="base-button orange expand">Apply for India</button>
                        </form>
                      </div>
                    </div>
                  </div> 
            </div> 
      </div>


  </div>

    
  <div class="large-3 medium-4 small-12 columns">
    <div id="sidePanel" class="panel">
      <h4>Important dates</h4>
      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>31</div>
          <span>Aug</span>
        </div>
        <div class="info">
          <h5>Program applications close</h5>
        </div>
      </div>
      <!-- Date END -->

      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>1</div>
          <span>Sept</span>
        </div>
        <div class="info">
          <h5>Application judging</h5>
        </div>
      </div>
      <!-- Date END -->

      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>26</div>
          <span>Sept</span>
        </div>
        <div class="info">
          <h5>Winners announced</h5>
        </div>
      </div>
      <!-- Date END -->

      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>22</div>
          <span>Nov</span>
        </div>
        <div class="info">
          <h5>Arrive in Bogota </h5>
        </div>
      </div>
      <!-- Date END -->

      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>23</div>
          <span>Nov</span>
        </div>
        <div class="info">
          <h5>7-day filming around Colombia</h5>
        </div>
      </div>
      <!-- Date END -->

      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>30</div>
          <span>Nov</span>
        </div>
        <div class="info">
          <h5>3-day post-production workshop</h5>
        </div>
      </div>
      <!-- Date END -->

      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>3</div>
          <span>Dec</span>
        </div>
        <div class="info">
          <h5>Depart from Bogota</h5>
        </div>
      </div>
      <!-- Date END -->
    </div>
   
    
  </div>
</div>



<!-- Panel 4 END -->


<!-- Panel 5 -->

<script>
  if($(".login").text()=="Sign In")
  {
    $(".loggedin").hide();
    $(".notloggedin").show();
  }
  else
  {
    $(".loggedin").show();
    $(".notloggedin").hide();
  }
</script>


<!-- Panel 5 END --> 	



<!-- Panel 6 -->
<!-- Fixing the markup for comments -->
<script type="text/javascript">
$(function () {
	$("h2.comment-count, h2 + ul.comments, #comment-form-beacon + form").wrapAll("<div id='comment-wrapper' />")
});
</script>
<!-- Fixing the markup END -->

<!-- Style Overrides for comments -->
<style>
 #comment-wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 71.875rem;
    padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin-bottom: 90px;
  }
  #comment-wrapper:before {
  	content: "Got a question? Post it below!";
  	padding-bottom: 32px;
  	font-size: 32px;
  	width: 100%;
  	float: left;
  }
  #comment-wrapper .comment-count {
  	display: none;
  }
  #comment-wrapper ul.comments {
	list-style: none;
	border-bottom: 1px solid #eeeeee;
	margin-left: 0;
  }
  #comment-wrapper ul.comments li {
	border-bottom: 1px solid #eeeeee;
padding-top:8px;
  }
  #comment-wrapper ul.comments li.last {
  	border-bottom: none;
  }  
  #comment-wrapper ul.comments p {
  	font-size: 15px;
  	line-height: 20px;
  }
  #comment-wrapper #add-comment {
  	font-size: 24px;
  	margin-bottom: 8px;
  }
  #comment-wrapper ol {
  	list-style: none;
  	max-width: 540px;
  	margin-left: 0;
  }
  #comment-wrapper ol li {
  	list-style: none;
  }
  #comment-wrapper .primaryAction {
  	font-size: 18px;
  	right: 5px;
  	top: 4px;
  	padding: 4px 36px 4px 15px;
  	position: relative;
  	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	font-weight: 300;
  	background: #73b4f2;
  	color: #ffffff;
  }
  #comment-wrapper .edit-item-content {
  	clear: both;
  }
    #comment-wrapper .primaryAction:after {
    	content: "";
    	font-family: WNI;
    	font-size: 32px;
    	position: absolute;
    	right:5px;
    	top: 4px;
    }
   #comment-wrapper .primaryAction:hover {
    background: none repeat scroll 0 0 #52a3ef;
    }
    #comment-wrapper h4 {
    	margin-bottom: 8px;
    }
    h2#commenter {
      font-size: 1.4em;
    }
    #comment-wrapper, #judges, #apply, #professional, #who, #brief, #faqs, #doing, .panels-wrapper {
      margin-top: 40px; 
      margin-bottom: 40px; 
    }
</style>
<!-- Panel 6 END -->

<!-- Panel 7 -->

<!-- Mobile Bit -->

<div class="mobilesignup">
  <div class="row">
    <a class="mobileclose" href="#">&#xe641;</a>
    <h3>We know this is going to be hard to complete on a mobile device, why not enter your email and we will send you a link so you don't forget to enter this great oppourtunity.</h3>
    <form class="scholarship-mobile"  action="http://worldnomadsgroup.createsend.com/t/y/s/fuhdlk/" method="post">
          <input id="fieldEmail" name="cm-fuhdlk-fuhdlk" type="email" placeholder="Enter your email" required style="width: 60%;" />
          <button class="base-button orange" style="width: 38%; margin-left: 2%;">Apply</button>
        </form>

        <script>
              $(function () {
                $('.scholarship-mobile').submit(function (e) {
                  var form = $(this);
                  $.getJSON(this.action + "?callback=?", form.serialize(), function (data) {
                    if (data.Status === 400) {
                     form.find('.error').remove();
                      form.append("&amp;lt;p class='error'&amp;gt;" + data.Message + "&amp;lt;/p&amp;gt;");
                  } else { // 200
                            wng.googleAnalytics.trackEvent('Scholarship', 'Mobile Reminder');
                            form.html("Thank you, we will email so you dont forget to enter.");
                    }
                });
                e.preventDefault();
              });
            });
        </script>
  </div>
<script>
$( ".mobilesignup" ).show();
$( "a.mobileclose" ).click(function( event ) {
  event.preventDefault();
  $( ".mobilesignup" ).hide();
});
</script>
</div>
<style>
.mobilesignup {
  display: none;
}
@media all and (max-width: 500px) {
  .mobilesignup {
  display: block;
  width: 100%;
  clear: both;
  background: url('http://cdn.worldnomads.net/Content/styles/i/wn/backgrounds/hero_bg_color_purple.jpg');
  position: fixed;
  padding-bottom: 20px;
  bottom: 0;
  margin-bottom: 0;
  z-index: 5000
}
.mobilesignup h3 {
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  padding-bottom: 8px;
}
.mobilesignup a.mobileclose {
  color: #ffffff;
  float: right;
}
.mobileclose {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-family: "WNI";
  line-height: 24px;
  margin-bottom: 10px;
  padding: 12px 0;
}
}
</style>

<!-- Mobile Bit END -->
<script>
jQuery.sharedCount = function(url, fn) {
 url = encodeURIComponent(url || location.href);
 var domain = "//free.sharedcount.com/"; /* SET DOMAIN */
 var apikey = "8e4b7187bcfca463ceeca1577105f710bf47edd1" /*API KEY HERE*/
 var arg = {
  data: {
   url : url,
   apikey : apikey
  },
  url: domain,
  cache: true,
  dataType: "json"
 };
 if ('withCredentials' in new XMLHttpRequest) {
  arg.success = fn;
 }
 else {
  var cb = "sc_" + url.replace(/\W/g, '');
  window[cb] = fn;
  arg.jsonpCallback = cb;
  arg.dataType += "p";
 }
 return jQuery.ajax(arg);
};

jQuery(document).ready(function($){
 var targetUrl = "http://" + location.host + location.pathname;

 $.sharedCount(targetUrl, function(data){
  var totalShares = data.Twitter + data.Facebook.like_count + data.GooglePlusOne + data.Facebook.share_count + data.Pinterest + data.LinkedIn + data.StumbleUpon;
  if (totalShares <= 1) {
   totalShares = 1;
  }
  $("#tweetscount").text(data.Twitter);    
  $("#likescount").text(data.Facebook.like_count);
  $("#facebooksharecount").text(data.Facebook.share_count);
  $("#plusonescount").text(data.GooglePlusOne);
  $("#stumbleuponcount").text(data.StumbleUpon);
  $("#pintrestcount").text(data.Pinterest);
  $("#linkedincount").text(data.LinkedIn);
  $("#total").text(totalShares);
  $("#sharedcount").fadeIn();

 });
});
</script>
<!-- Panel 7 END -->

<!-- Panel 8 -->
<script>

  // Build the target srcs for the icons on click.
  var socialMedialUrl          = window.location;
  
  var facebookParamU           = "http://bit.ly/1AWyF12";

  var twitterParamText         = "Go on a 10-day filmmaking assignment to capture Colombia with @WorldNomads and be mentored by a professional filmmaker (bitly) #wnfilm";

  var pinParamDescription      = "Go on a filmmaking assignment to Colombia!";
  var pinParamMedia            = "http://www.worldnomads.com/Media/Default/LearnImages/film2015/film-2015-Pintrest.jpg";
  
  var linkedParamTitle         = "Go on a filmmaking assignment to Colombia!";
  var linkedParamDescription   = "Win a 10-day filmmaking assignment to capture Colombia and be mentored by veteran filmmaker and director, Brian Rapsey.";

  $(function() {
    var $plus = $(".plus");
    var $toggleableButtons = $(".pinterest, .gplus, .linkedin, .stumbleupon").hide();
    $plus.on("click", function() {
      var $this = $(this);
      $toggleableButtons.toggle();
      $plus.toggleClass("open");
    });
  });
  
  $(function() {
    var $si = $(".socialicon");
    var targetUrl = "";
    $si.on("click", function() {
      var $this = $(this);
      if ($this.hasClass("facebook")) {
        targetUrl = "http://www.facebook.com/share.php?u=" + facebookParamU;
        window.open(targetUrl, 'name', 'width=600,height=400');
      }
      else if ($this.hasClass("twitter")) {
        targetUrl = "https://twitter.com/intent/tweet?text=" + twitterParamText;
        window.open(targetUrl, 'name', 'width=600,height=400');
      }
      else if ($this.hasClass("pinterest")) {
        targetUrl = "http://pinterest.com/pin/create/button?description=" + pinParamDescription + "&media=" + pinParamMedia; + "&url=" + socialMedialUrl; 
        window.open(targetUrl, 'name', 'width=755,height=400,scrollbars=no');
      }
      else if ($this.hasClass("gplus")) {
        targetUrl = "https://plus.google.com/share?url=" + socialMedialUrl;
        window.open(targetUrl, 'name', 'width=600,height=400');
      }
      else if ($this.hasClass("linkedin")) {
        targetUrl = "https://www.linkedin.com/shareArticle?mini=true&url=" + socialMedialUrl + "&title=" + linkedParamTitle + "&summary=" + linkedParamDescription;
        window.open(targetUrl, 'name', 'width=600,height=400');
      }
      else if ($this.hasClass("stumbleupon")) {
        targetUrl = "http://www.stumbleupon.com/badge/?url=" + socialMedialUrl;
        window.open(targetUrl, 'name', 'width=600,height=400');
      }
    });
  });
</script>
<!-- Panel 8 END  -->

{% endblock %}
