{% block content %}

<!-- STYLES -->
<style>
#header-panel h1, #header-panel p.highlight {
  color: #ffffff;
  max-width: 100%;
}
@media all and (min-width: 860px) {
#article-content ul.breadcrumb {
  margin-top: 0px;
}
@media all and (min-width: 860px) {
  #header-panel {
    background-image: url('/Media/Default/competitions/urban-march/hero-urbanmarch-desktop.jpg');
    background-color: #999999;
    background-size: cover;
    background-position: top center;
    min-height: 500px;
  }

  #article-header p.highlight {
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 100;
    -webkit-font-smoothing: antialiased;
  }
@media all and (max-width: 1024px) {
  #header-panel {
    background-image: url('/Media/Default/competitions/urban-march/hero-urbanmarch-tablet.jpg');
    min-height: 500px;
    background-position: center top;
  }
}

@media all and (max-width: 500px) {
  #header-panel {
    background-image: url('/Media/Default/competitions/urban-march/hero_urbanmarch_mobile.jpg');
    background-position: center bottom;
    min-height: 680px;
  }
}

/* ---- Countdown Widget ---- */
#sidepannel #countbox #days, #sidepannel #countbox #hours, #sidepannel #countbox #mins { color: #de5346; }

.importantdate .date { background-color: #de5346; }

#partnership ul li{
  padding:0;
}

#partnership .panel {
  padding: 0.45rem 1.25rem 0 1.25rem;
}

#partnership p.small{
  font-size:  12px;
}

.panels-wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Terms & Conditions List Styles */

ol {
    list-style: outside;
}
ol > li {
  margin-bottom: 1rem;
}
ol.decimal {
  list-style: decimal;
}
ol.alpha {
    counter-reset: list;
    margin: 0;
}
ol.alpha > li {
    list-style: none;
    position: relative;
    left: 1.4rem;
    margin-bottom: 0.25rem;
}
ol.alpha > li:before {
    counter-increment: list;
    content: counter(list, lower-alpha) ") ";
    position: absolute;
    left: -1.4rem;
}
</style>
<!-- STYLES End -->



<!-- Header -->

<div class="hero-content-panel" id="header-panel">
  <div class="row">
    <div class="small-12 medium-8 large-6 columns">
      <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
        <ul class="breadcrumb">
          <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="/"><span itemprop="title">World Nomads</span></a>
          </li>
          <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="/competitions/"><span itemprop="title">Competitions</span></a>
          </li>
          <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="/competitions/urban-march"><span itemprop="title">Urban March</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="small-12 medium-6 large-8 columns left">
      <h1>Urban March Competition: Terms &amp; Conditions</h1>
      <p class="highlight">
        <button class="base-button orange">Enter Now</button>
      </p>
    </div>

  </div>
</div>

<!-- Header End -->



<!-- Content Start -->
<div class="row" id="article-content">

<!-- Left column content start -->
  <div class="large-8 medium-8 small-12 columns">
    <h2>World Nomads Urban March Contest</h2>
    <h3>OFFICIAL RULES</h3>
    <p>Important:  Please read these rules before entering this contest (the “Contest”).</p>
    <p>By participating in this Contest, you agree to be bound by these Official Rules and represent that you satisfy all of the eligibility requirements below.</p>


    <ol class="decimal">
      <li>Sponsor:  Contest is sponsored by World Nomads Inc. (“Sponsor”) of 1120 NW Couch St, 10th Floor, Portland Oregon 97209. NO PURCHASE OR PAYMENT NECESSARY TO ENTER.</li>

      <li>Eligibility:  Contest is open only to residents of the 50 United States and the District of Columbia who are 1) at least age 18 (or the age of majority in their jurisdiction, whichever is older) at the time of entry and 2) are eligible for travel insurance from Sponsor.  Directors, officers and employees of Sponsor and Fodor’s Travel, a division of Penguin Random House LLC (“Fodor’s Travel”) and Toad &amp; Co. (“Toad &amp; Co.”), and any of their respective parent companies, affiliate companies, subsidiaries, agents, professional advisors, and advertising and promotional agencies, and immediate family members of each  are not eligible to win any prizes. </li>

      <li>Contest Period:  The Contest period is from 12:00:01 am ET on March 3, 2016 to 11:59:59pm ET on March 31, 2016 (the "Contest Period"). Sponsor’s computer is the official timekeeping device for the Contest.  All entries must be received during the Contest Period, and meet other requirements in these Official Rules, to be eligible to win a prize.</li>

      <li>How to Enter:  To enter, during the Contest Period, visit the contest entry page at www.worldnomads.com/competitions/urban-march and follow the instructions to submit the following items:

      <ol class="decimal">
        <li>Provide your personal details and the following information as requested:
          <ol class="alpha">
            <li>First name, Last name</li>
            <li>Age</li>
            <li>Zipcode</li>
            <li>State</li>
            <li>Socials: twitter, Instagram</li>
            <li>Email</li>
            <li>Where are you traveling in the next 12 months?</li>
            <li>When are you likely traveling next?</li>
          </ol>
        </li>
        <li>Nominate one of the following five cities: Barcelona, Berlin, London, Paris, or Rome;</li>
        <li>In 100 words or less, tell us about why and/or how the city you nominated most inspires you to get out of gridlock and go walk the grid in one of Europe’s most iconic cities.</li>
        <li>Tell us when and where you next plan to travel.</li>
      </ol>

      <p>The information, nomination, and description you provide is referred to below as your “Submission.”</p>

      <p>By posting your Submission, you agree to conform to the Guidelines and Restrictions listed below. The Sponsor reserves the right, in its sole discretion, to disqualify any entrant if Sponsor believes that the Submission does not comply with these Guidelines and Restrictions.</p>

      <p>Limit:  One (1) entry per person during the Contest Period. The odds of winning will depend on the number and quality of entries received during the Contest Period.  Any attempts to obtain additional entries, including through multiple or duplicate accounts will result in disqualification.</p>
      </li>
    </ol>
    
    <p>Submission Guidelines and Restrictions</p>
    <ol class="decimal">
          <ol class="alpha">
            <li>Your Submission must not supply untruthful, incomplete, inaccurate or misleading information.</li>
            <li>Your Submission must be your original creation and be owned 100% by you.</li>
            <li>Your Submission must not have been published previously.</li>
            
            <li>Your Submission must not (as determined in Sponsor’s discretion):  (i) violate any third-party rights, including, but not limited to, copyrights, trademark rights, or rights of privacy and publicity; (ii) contain disparaging or defamatory statements; (iii) include threats to any person, place, business, or group; (iv) be obscene, offensive, or indecent; (v) depict risky behavior; (vi) contain material that promotes bigotry, racism, hatred or harm, against any group or individual or promotes discrimination based on race, gender, religion, nationality, disability, sexual orientation or age; or (vii) contain unauthorized third-party trademarks or logos.</li>
            
            <li>By providing a Submission, you warrant and represent that: (i) you own all rights in and to all Submission submitted by you (including, without limitation, all copyright and other intellectual property rights); (ii) all such Submissions are original works of authorship on your part and have not been copied, in whole or in part, from any other work and do not violate, misappropriate or infringe any copyright, trademark or other proprietary right of any other person or entity; and (iii) the Submission complies with all requirements of these Official Rules.
</li>
          </ol>
      <p>If sending your Submission to this Contest via your mobile device, you may be charged for standard data use from your mobile service provider according to the terms in your wireless service provider’s data plan.</p>
      
      <li>Selection and Notification of Winners: On or about April 25, 2016 a panel of judges selected by Sponsor, in its sole discretion, will score the eligible Submissions in Berkeley, California based on the following criteria (“Judging Criteria”):</li>
      
      <ol type="i">
        <li>overall creativity of Submission;</li>
        <li>consistency of Submission with the Contest theme of who best portrays an “inspired urban walking” travel experience;</li>
        <li>the most apt, interesting, and original Submission</li>
      </ol>
      
      <p>The top scoring Submission will be deemed the potential winner.  The potential winner will be notified via email within two business days of the date of selection and once the winner is verified and notified that no further action is needed, his or her name will be published on www.worldnomads.com/competitions/urbanmarch as authorized by Section 9 of these Official Rules. As a condition of being awarded a prize, the potential winner must follow the instructions contained in his/her notification, and except where prohibited by law, Sponsor may require the potential winner to execute and deliver a written Affidavit of Eligibility and Liability/Publicity Release, acceptance of these Official Rules, tax forms,  proof of identity, and other reasonable documentation.  If (i) the attempted notification is returned as undeliverable without a forwarding address; (ii) any required documents are not returned within seven days, including but not limited to the Affidavit of Eligibility and Liability/Publicity Release; or (iii) if winner is otherwise unable to accept the prize as stated, prize will be forfeited and may be awarded to an alternate winner pursuant to the Judging Criteria.  An entrant is not a winner until his or her eligibility has been verified and has been notified that verification is complete and no further action is needed.</p>
      
        <li>Prize: One winner will be awarded a prize that consists of travel vouchers, travel apparel vouchers, an accommodation voucher, and travel insurance reimbursement with an approximate retail value (“ARV”) of $4,352 all monetary values in U.S. Dollars).  The winning prize will be used to send the winner and a companion to one of five European Cities (London, Berlin, Paris, Barcelona, or Rome).  The winner’s companion must be a resident of the 50 United States or D.C. that is over the age of 18 (or the age of majority in his or her jurisdiction, whichever is older) at the time of entry and be eligible for travel insurance from Sponsor.  The prize consists of the following:</li>

       <ol class="decimal">
          <ol class="alpha">
            <li>Travel Voucher:  $2000 American express travel voucher (provided by Fodor’s Travel) to be applied towards airline tickets for both travellers to the same chosen destination, and for other associated expenses.</li>
            <li>Apparel Voucher:  Adventure travel apparel for two (2), with an ARV of $750 (each), courtesy of Toad &amp; Co. The winner will be able to redeem this travel apparel voucher through a gift card from Toad &amp; Co to be used on the Toad &amp; Co website: www.toadandco.com. Apparel pieces provided are subject to Toad &amp; Co.’s available online stock inventory and subject to their approval.  (ARV:  $1500)</li>
            <li>Lodging Voucher:  Airbnb gift certificate voucher for 5 nights at chosen destination city provided courtesy of World Nomads Inc. (ARV:  $750).
</li>
            <li>Travel Insurance:  1-week Standard plan travel insurance policy from World Nomads Inc. (U.S. couple plan) for two travellers traveling on the same itinerary departing/arriving from same departure city in the United States. Plan policy premium depends on country of residence. For U.S.-residents, a couple Standard policy premium is USD$102 (cost is approximate and subject to change). 
</li>
            <p>TRAVEL INSURANCE PLAN MUST BE PURCHASED THROUGH WORLDNOMADS.COM AND WITH PROOF OF PURCHASE WILL BE REIMBURSED IMMEDIATELY. The travel insurance policy from World Nomads Inc. will be issued subject to the applicants’ meeting eligibility criteria and subject to the policy’s terms, conditions, limitations and exclusions.  If the potential winner is not eligible for travel insurance, he or she will not receive the prize and the prize will be awarded to an alternate winner.</p>
      </ol>
         
    <p>Only one prize will be awarded.  If, by reason of a print or other error, more prizes are claimed than the one prize set forth in these Official Rules, an alternate winner will be selected in accordance with the above Judging Criteria.  No substitutions or exchanges (including for cash) of any prizes will be permitted, except that Sponsor reserves the right to substitute a prize of comparable or greater value for any prize.</p>
         
    <p>All prizes are awarded "AS IS" and WITHOUT WARRANTY OF ANY KIND, express or implied (including, without limitation, any implied warranty of merchantability or fitness for a particular purpose). All federal, state and local taxes associated with the receipt or use of any Prize are the sole responsibility of the winner.</p>
         
    <p>Prize and Travel Restrictions:  If prize winner elects to travel or partake in trip with no travel companion, no additional compensation will be awarded.  Winner and travel companion must travel together on the same itinerary. Winner and traveling companion will be responsible for securing passports and other travel documents required for travel.  Air transportation, hotel accommodations and other elements of prize must be taken together and cannot be taken separately. The Sponsor or its designee will not replace any lost or stolen tickets, travel vouchers or certificates or similar items once they are in the winner’s possession, or in the possession of the winner’s travel companion.  Any unclaimed and/or unused prize (or portion of the prize package) will remain the property of prize provider.</p>
         
  <ol class="decimal">
          <ol class="alpha">
            <li>Travel arrangements must be booked by no later than November 25, 2016 and travel must be completed by no later than April 25, 2017.  Sponsor will not be responsible for any cancellations, delays, diversions or substitutions or any act or omissions whatsoever by air carriers or other transportation companies used in connection with the travel.</li>
            <li>The prize vouchers must be redeemed within the applicable expiration dates stated on the vouchers.</li>
            <li>Each winner and his or her companion, must be in possession of a valid passport with a minimum of six months validity prior to departure date.</li>
            <li>Any amendment fees or charges incurred as a result of any changes to the flights, once confirmed and ticketed are the responsibility of the winners.</li>
            <li>All costs not explicitly set forth in the vouchers described above are the sole responsibility of the winner and his or her companion and Sponsor will not provide any compensation or reimbursement for these costs, including but not limited to Visa requirements, valid passports, insurance, spending money, meals, taxes (excluding airline and airport taxes), vaccinations, transport to and from departure point, transfers, items of a personal nature, excess baggage, in-room charges, other ancillary costs, and any applicable insurance excesses.</li>
            <li>It is the winner’s responsibility to organize transport to/from the airport departure/return point and winner will not receive compensation.</li>
            <li>It is winner (and their companions) responsibility to comply with any health or other government requirements.</li>
            <li>Prizes are subject to the airlines Condition of Carriage.</li>

            <p>The Sponsor, in its absolute discretion, reserves the right to remove any of the travel destination options in the event that travel to such destinations is deemed dangerous in accordance with travel advice obtained from the Department of Foreign Affairs and Trade. In the event winner engages in behavior during travel that (as determined by Sponsor in its sole discretion) that is illegal, tortious, or subjects winner or companion to detention, Sponsor shall have no obligation to pay any damages, fees, fines, judgments, or other costs or expenses of any kind incurred by winner as a result of such conduct.  Sponsor, and other providers of any prize and Facebook , Inc and each of their respective parent companies, subsidiaries, affiliates, officers, directors, employees, agents, professional advisors, contractors, and advertising/marketing and contest agencies (collectively, “Released Parties”) shall have no liability for any personal injuries, death property damage, or other damages or expenses resulting from or arising out of any travel related to the prize or any other aspect of prize winner’s or companion’s acceptance of the prize.</p>
    </ol>
    </ol>   
           <li>Disclaimer:  Released Parties will not be responsible for:</li>
    <ol class="decimal">
          <ol class="alpha">
            <li>any late, lost, misrouted, garbled or distorted or damaged transmissions or entries;</li>
            <li>telephone, electronic, hardware, software, network, Internet, or other computer or communications-related malfunctions or failures;</li>
            <li>any Contest disruptions, injuries, losses or damages caused by events beyond the control of Sponsor or by non-authorized human intervention; or</li>
            <li>any printing or typographical errors in any materials associated with the Contest.</li>
      </ol>
      </ol>
            <li>Limitations of Liability/Releases:  By entering the Contest, you release Sponsor and all Released Parties from any liability whatsoever, and waive any and all causes of action, related to any claims, costs, injuries, losses, or damages of any kind arising out of or in connection with the Contest or delivery, misdelivery, acceptance, possession, use of, or inability to use, any prize (including, without limitation, claims, costs, injuries, losses and damages related to personal injuries, death, damage to or destruction of property, rights of publicity or privacy, defamation or portrayal in a false light, whether intentional or unintentional), whether under a theory of contract, tort (including negligence), warranty or other theory.
</li>
         <li>Name and Likeness Rights: Except where prohibited by law, entry into the Contest constitutes permission to use each winner’s name, city of residence, likeness and prize information, without limitation, for Sponsor's advertising, marketing, and promotional purposes (including in publicly-displayed advertising and in a publicly-distributed winner list) without further permission or compensation.   As a condition of being awarded any prize, except where prohibited by law, winner may be required to execute a consent to the use of their name, hometown, aural and visual likeness and prize information, without limitation, for advertising, marketing, and promotional purposes without further permission or compensation.  By entering this Contest, you consent to being contacted by Sponsor for any purpose in connection with this Contest.</li>
         
         <li>License to Submissions:  By entering the Contest and submitting your Submission to Sponsor in connection with the Contest, you hereby grant to Sponsor a perpetual, irrevocable, royalty-free, worldwide, nonexclusive license to publish, reproduce, display, perform, distribute, adapt, edit, modify, translate, create derivative works based upon, and otherwise use and sublicense your Submission, or any portion thereof, in connection with the Contest and for other advertising, marketing and promotional purposes, and to incorporate Submissions, in whole or in part, into other works in any manner, form, media or technology now known or later developed. Sponsor will have no obligation to publish or use or retain any Submission you submit or to return any such Submission to you. You agree that it is your sole responsibility to obtain all permissions and releases necessary for the grant of the rights contained in this paragraph and these Official Rules. You agree to take, at Sponsor's expense, any further action (including, without limitation, execution of affidavits and other documents) reasonably requested by Sponsor to effect, perfect or confirm Sponsor's rights as set forth above and in these Official Rules.</li>
         
         <li>No Facebook Endorsement:  This Contest is in no way sponsored, endorsed or administered by, or associated with Facebook, Inc. You understand that by using and interacting with www.facebook.com, you are subject to the terms, conditions, and policies that govern the use of www.facebook.com.  You should therefore review the applicable terms and policies for www.facebook.com, including privacy and data gathering practices, before using or interacting with Facebook.</li>
         
         <li>Official Rules/Winners List:  For a copy of the winner list or these Official Rules visit www.worldnomads.com/competitions/urban-march.</li>
         
         <li>Privacy: Please refer to Sponsor’s Privacy Policy at http://www.worldnomads.com//privacy for information about how Sponsor collects, uses and discloses your information. Please be aware, all information collected for the 2016 Urban March Contest will be shared with our business partners, Fodor’s Travel and Toad &amp; Co, and such information may be used for Fodor’s Travel’s and Toad &amp; Co’s own business purposes, as described in their respective Fodor’s Privacy Policy and Toad &amp; Co Privacy Policy. 
</li>
         <li>Intellectual Property:  The Contest and all accompanying materials are Copyright © 2016 by World Nomads Inc. All rights reserved.</li>
         
         <li>General Terms and Conditions:  The Contest and these Official Rules will be governed, construed and interpreted under the laws of the State of Oregon.  THIS CONTEST is subject to all applicable federal, state, and municipal laws and is void where prohibited. Any provision of these Official Rules deemed unenforceable will be enforced to the extent permissible, and the remainder of these Official Rules will remain in effect. Submissions become the property of Sponsor and will not be returned. Sponsor reserves the right to amend these Official Rules or to terminate this Contest at any time.  Entrants who violate these Official Rules, violate any law, rule or regulation in connection with participation in the Contest, tamper with the operation of the Contest or engage in any conduct that is detrimental or unfair to Sponsor, the Contest or any other entrant (in each case as determined in Sponsor's sole discretion) are subject to disqualification from entry into the Contest.</li>
            
  </div>
<!-- Left column content end -->


<!-- Right column start -->
  <!-- Countdown Widget -->
  <div class="small-12 medium-4 large-3 large-offset-1 columns">
    <div class="panel" id="sidepannel">
      <h4>Entries close in...</h4>
      <div id="countbox"></div>
      <p class="small">Entries close March 31, 2016 at 11:59:59pm <a target="_blank" href="http://www.timeanddate.com/time/zones/est">(ET)</a></p>
    </div>
    <!-- End Countdown Widget -->
    <!-- Partners Widget -->
    <div class="panel" id="partnership">
      <h4>In partnership with:</h4>
      <div class="row panel">
        <ul class="large-block-grid-3 small-block-grid-3">
          <li>
            <a href="http://www.fodors.com/" target="_blank">
              <img src="/Media/Default/competitions/urban-march/big_logo_fodors.gif" alt="Fodor's" />
            </a>
          </li>
          <li>
            <a href="//www.worldnomads.com/travel-insurance" target="_blank">
              <img src="/Media/Default/competitions/urban-march/big_logo_worldnomads.gif" alt="World Nomads" />
            </a>
          </li>
          <li>
            <a href="http://www.toadandco.com/" target="_blank">
              <img src="/Media/Default/competitions/urban-march/big_logo_toad-co.gif" alt="Toad & Co" />
            </a>
          </li>
         </ul>
      </div>
    </div>
  </div>
  <!-- End Partners Widget -->


    <!-- Important Dates Widget -->
  <div class="small-12 medium-4 large-3 large-offset-1 columns">
    <div id="sidePanel" class="panel">
      <h4>Important dates</h4>
      <div class="importantdate">
        <div class="date">
          <div>31</div>
          <span>Mar</span>
        </div>
        <div class="info">
          <h5>Urban March campaign close</h5>
        </div>
      </div>
      <div class="importantdate">
        <div class="date">
          <div>25</div>
          <span>Apr</span>
        </div>
        <div class="info">
          <h5>Winner announcement</h5>
        </div>
      </div>
    </div>
    <!-- Important Dates Widget -->
  </div>  
<!-- Right column end -->

</div>
<!-- Content End -->

<!-- PAGE SCRIPTS -->
<script type="text/javascript">
  // Countdown timer target
  var year = 2016;
  var month = 03;
  var day = 31;
  var hour= 17;
  var min= 0;
  var sec= 0;
</script>
<script type="text/javascript" src="//www.worldnomads.com/Media/Default/scripts/js/counter-countdown.js"></script>

<!-- Page Scripts End -->

{% endblock %}