
{% block content %}

<div class='successmessage'>
    <div class='small-12 columns'>
      <div class='form'>
        <div class='large-offset-1 large-10 columns'>
          <div class='row'>
            <div class='large-12 columns'>
              <div class='row'>
                <div class='small-12 columns tick tables'>
                  <span class='table-1'><span class=''></span></span>
                  <span class='table-2'><h2 class=''>Thank's for entering!</h2></span>
                </div>
              </div>
              <div class='row'>
                <div class='large-offset-1 large-10 columns'>
                  <h4>The winner of this trip will be announced April 25th.</h4>
                  <h5>Download your marching orders from Fodor’s to explore on foot these iconic European and five bonus US cities! Or read it later (check your email!)</h5>
                  <p></p>
                </div>
              </div>
              <div class='row'>
				<div class='large-offset-1 small-12 large-5 columns'>
				   <div class=''>
					  <a href='/Media/Default/competitions/urban-march/2016-Q1-GoodWalks-1024x768-4p.pdf' class='base-button orange expand'>Download your Free Fodor's Guide</a>
				   </div>
				</div>
              </div>
              <hr class='large-offset-1 large-10 columns'>
              <div class='row'>
                <div class='large-offset-1 large-10 columns'>
                  <div class='social'>
                    <h5 class='strong'>Tell a friend about this spine-tingling competition!</h5>
                    <div id='sharetools-long'>
                      <div class='row'>
                        <div class='small-12 columns'>
                          <div id='socialarea'>
                            <div id='share-icons'>
                              <a class='socialicon facebook' target='_blank'><span>Share on Facebook</span>&#xe607;</a><a class='socialicon twitter' target='_blank'><span>Share on Twitter</span>&#xe602;</a><a class='socialicon pinterest'>&#xe603;</a><a class='socialicon gplus' target='_blank'>&#xe605;</a><a class='socialicon linkedin' target='_blank'><img src='//www.worldnomads.com/Media/Default/shareimages/linkedin-share-icon.png'></a><a class='socialicon stumbleupon' target='_blank'><img src='//www.worldnomads.com/Media/Default/shareimages/stumble-share-icon.png'></a><a class='socialicon plus'></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>


{% endblock %}
