<div class="zone zone-footer">
                <article class="widget-SafetyArticleFooter widget-footer widget-raw-html-widget widget">
                    <footer>
                        <div class="footer-background">
                            <div class="footer generic">
                                <a href="">
                                <div class="logo"></div></a>

                                <div class="map">
                                    <ul class="world-nomads">
                                        <li class="title">World Nomads</li>

                                        <li>
                                            <a href="http://www.worldnomads.com/travel-insurance">Travel Insurance</a>
                                        </li>

                                        <li>
                                            <a href="http://www.worldnomads.com/travel-insurance">Get a Quote</a>
                                        </li>

                                        <li>
                                            <a href="http://www.worldnomads.com/travel-safety">Travel Smart</a>
                                        </li>

                                        <li>
                                            <a href="http://answers.worldnomads.com/">Explore</a>
                                        </li>

                                        <li>
                                            <a href="http://www.worldnomads.com/learn">Learn</a>
                                        </li>

                                        <li>
                                            <a href="http://www.worldnomads.com/make-a-difference">Changing Lives</a>
                                        </li>

                                        <li>
                                            <a href="http://www.worldnomads.com/stories">Share Stories</a>
                                        </li>
                                    </ul>

                                    <ul class="about-us">
                                        <li class="title">About Us</li>

                                        <li>
                                            <a href="http://www.worldnomads.com/who-we-are">Who we are</a>
                                        </li>

                                        <li>
                                            <a href="http://www.worldnomads.com/in-the-news">In the News</a>
                                        </li>

                                        <li>
                                            <a href="https://partner.worldnomads.com/">Partners</a>
                                        </li>

                                        <li>
                                            <a href="http://www.worldnomads.com/sitemap">Site map</a>
                                        </li>

                                        <li>
                                            <a href="http://www.worldnomads.com/terms-of-use">Terms of use</a>
                                        </li>

                                        <li>
                                            <a href="http://www.worldnomads.com/privacy">Privacy</a>
                                        </li>
                                    </ul>

                                    <ul class="need-help">
                                        <li class="title">Need Help?</li>

                                        <li>
                                            <a href="http://www.worldnomads.com/emergencies">Help &amp; Emergencies</a>
                                        </li>

                                        <li>
                                            <a href="http://www.worldnomads.com/travel-insurance-claims">Make a claim</a>
                                        </li>

                                        <li>
                                            <a href="http://service.worldnomads.com/">Help Desk</a>
                                        </li>

                                        <li>
                                            <a href="http://service.worldnomads.com/">Contact us</a>
                                        </li>
                                    </ul>
                                </div>

                                <div class="membership">
                                    Already a member? <a href="https://www.worldnomads.com/Member">Sign In</a>
                                </div>

                                <ul class="social">
                                    <li class="title">Follow us on</li>

                                    <li class="twitter">
                                        <a href="https://twitter.com/worldnomads" target="_blank"></a>
                                    </li>

                                    <li class="facebook">
                                        <a href="https://www.facebook.com/worldnomads" target="_blank"></a>
                                    </li>

                                    <li class="youtube">
                                        <a href="http://www.youtube.com/user/WorldNomadsTV" target="_blank"></a>
                                    </li>

                                    <li class="flickr">
                                        <a href="https://www.flickr.com/groups/worldnomads/" target="_blank"></a>
                                    </li>

                                    <li class="instagram">
                                        <a href="http://instagram.com/worldnomads/" target="_blank"></a>
                                    </li>

                                    <li class="vimeo">
                                        <a href="http://vimeo.com/worldnomadstv" target="_blank"></a>
                                    </li>

                                    <li class="pinterest">
                                        <a href="http://www.pinterest.com/worldnomads/" target="_blank"></a>
                                    </li>
                                </ul>
                            </div>

                            <div class="disclaimer">
                                WorldNomads.com Pty Limited (ABN 62 127 485 198 AR 343027) is an Authorised Representative of Cerberus Special Risks Pty Limited (ABN 81 115 932 173 AFSL 308461), and markets and distributes insurance products of Bupa Denmark (Bupa Global Travel), branch of Bupa Insurance Limited, 15-19 Bloomsbury Way, London, WC1A 2BA (No. 3956433). World Nomads Limited Company (05443592) is an Appointed Representative of Millstream Underwriting Limited, 145 Leadenhall St, London EC3V 4QT (FCA 308584). World Nomads (Canada) Ltd (BC0700178, ON-1708111, SK-101206919, MB-853797942) is a licensed agent for AIG Insurance Company of Canada, 145 Wellington Street West, Toronto, ON, M5J 1H8. World Nomads, Inc. (15854422), in CA dba World Nomads Travel Insurance Services (0I46621), provides Insurance underwritten by Nationwide Mutual Insurance Company and affiliated companies, Columbus, OH. All of the information we provide about travel insurance is a brief, general summary. It doesn't take into account your personal situation, what you want or might need. Before you buy, it's important to consider what product is right for you and you should carefully read all policy documents, including the Policy Wording/Product Disclosure Statement/Certificate/Policy/Product Guide, to understand what's covered, what's not covered and the limits, terms and conditions which may apply.
                            </div>
                        </div>
                    </footer>
                </article>

                <div class="user-display"></div>
            </div>