.scholarships-subTitle {
  font-size: 1.5rem;
  line-height: 1.1; }
.scholarships-content {
  margin-bottom: 3rem; }
  .scholarships-content-title {
    margin-top: 0; }
.scholarships-MediaObject {
  margin-bottom: 0.5rem; }
  .scholarships-MediaObject-image {
    display: table-cell;
    vertical-align: top; }
  .scholarships-MediaObject-body {
    display: table-cell;
    vertical-align: top; }
  .scholarships-MediaObject-title {
    margin-top: 0; }
.scholarships-partners-partnerBox {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333; }
.scholarships-partners-list li {
  padding-right: 2rem;
  float: left; }
  .scholarships-partners-list li .partnerLogo {
    width: auto;
    max-height: 70px; }
.scholarships-breakout {
  padding: 1rem; }
  @media only screen and (min-width: 40.063em) {
    .scholarships-breakout {
      padding: 2rem; } }
  .scholarships-breakout-title {
    margin-top: 0; }
  .scholarships-breakout-button {
    margin-right: 1rem;
    float: left; }
.scholarships-subscribe {
  padding: 1rem; }
  @media only screen and (min-width: 40.063em) {
    .scholarships-subscribe {
      padding: 2rem; } }
  .scholarships-subscribe-icon {
    display: none; }
    @media only screen and (min-width: 40.063em) {
      .scholarships-subscribe-icon {
        display: table-cell; } }
  .scholarships-subscribe-title {
    margin-bottom: 0.5rem; }
  .scholarships-subscribe-label {
    margin-bottom: 0.5rem; }
  .scholarships-subscribe-form-input {
    margin-bottom: 0.5rem; }
.scholarships-subscribe-wide-form-submit {
  height: 41px; }
  .scholarships-subscribe-wide-form-submit:after {
    top: 9px; }
.scholarships-panel {
  padding: 1rem; }
.scholarships-mobilesignup {
  display: block;
  width: 100%;
  clear: both;
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  z-index: 5000; }
  @media only screen and (min-width: 40.063em) {
    .scholarships-mobilesignup {
      display: none; } }
  .scholarships-mobilesignup-title {
    color: #ffffff;
    margin-top: 2rem; }
  .scholarships-mobilesignup-mobileclose {
    color: #ffffff;
    float: right;
    text-decoration: none;
    font-size: 24px;
    font-family: "WNI";
    line-height: 24px;
    margin-bottom: 10px; }

.tws2016 {
  /* countdown style */ }
  .tws2016-hero {
    background: url('/Media/Default/LearnImages/writing2016/WN_TWS2016_Hero_Mobile_V01.jpg') no-repeat center center;
    background-size: cover;
    margin-bottom: 0; }
    @media only screen and (min-width: 55em) {
      .tws2016-hero {
        background: url('/Media/Default/LearnImages/writing2016/WN_TWS2016_Hero_Desktop_V02.jpg') no-repeat bottom center;
        background-size: cover;
        margin-bottom: 0; } }
    @media only screen and (min-width: 40.063em) and (max-width: 55em) {
      .tws2016-hero {
        background: url('/Media/Default/LearnImages/writing2016/WN_TWS2016_Hero_tablet_V01.jpg') no-repeat bottom center; } }
    .tws2016-hero-sponsor {
      float: right;
      margin-top: 280px;
      display: none; }
      @media only screen and (min-width: 40.063em) {
        .tws2016-hero-sponsor {
          display: block; } }
  .tws2016-button {
    margin-top: 1.5rem; }
  .tws2016-icon-medium {
    width: 60px;
    height: 60px; }
  .tws2016-icon-narrow {
    width: 40px;
    height: 60px; }
  .tws2016-sprite {
    background-image: url("/Media/Default/LearnImages/writing2016/icons/tws2016_sprite.png");
    background-size: 248px, 248px;
    background-repeat: no-repeat;
    float: left; }
    .tws2016-sprite-writing {
      background-position: -60px -66px; }
    .tws2016-sprite-pin {
      background-position: -125px -70px; }
    .tws2016-sprite-house {
      background-position: -187px -70px; }
    .tws2016-sprite-insurance {
      background-position: -1px -132px; }
    .tws2016-sprite-lightbulb {
      background-position: -80px -132px; }
    .tws2016-sprite-1 {
      background-position: 0px -10px; }
    .tws2016-sprite-2 {
      background-position: -62px -10px; }
    .tws2016-sprite-3 {
      background-position: -124px -10px; }
    .tws2016-sprite-tick {
      background-position: -188px -10px; }
    .tws2016-sprite-faq {
      background-position: 0px -70px; }
  .tws2016-intro-title {
    margin-top: 0; }
  .tws2016-intro-video {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem; }
    .tws2016-intro-video-placeholder:hover {
      cursor: pointer; }
  .tws2016-subscribe-label {
    color: #444642; }
  .tws2016-subscribe-wide {
    margin-top: 3rem;
    margin-bottom: 2rem; }
  .tws2016-list {
    margin-top: 2rem;
    margin-bottom: 0rem;
    margin-left: 0; }
    .tws2016-list li {
      margin-bottom: 2rem; }
  .tws2016-faq-copy {
    margin-bottom: 0.5rem; }
  .tws2016-breakout {
    background: #ededed;
    margin-bottom: 3rem; }
  .tws2016-subfeature-01 {
    background-image: url(/Media/Default/LearnImages/writing2016/wn-tws2016-promo-1.jpg); }
  .tws2016-subfeature-02 {
    background-image: url(/Media/Default/LearnImages/writing2016/wn-tws2016-promo-2.jpg); }
  .tws2016-subfeature-03 {
    background-image: url(/Media/Default/LearnImages/writing2016/wn-tws2016-promo-3.jpg); }
  .tws2016-subfeature-04 {
    background-image: url(/Media/Default/LearnImages/writing2016/wn-tws2016-promo-4.jpg); }
  .tws2016-promo {
    margin-top: 30px; }
    .tws2016-promo-subfeature {
      margin-bottom: 30px;
      background-position: top center; }
      @media only screen and (min-width: 40.063em) {
        .tws2016-promo-subfeature {
          background-position: center center; } }
      .tws2016-promo-subfeature .promoPanel-media {
        min-height: 120px; }
        @media only screen and (min-width: 40.063em) {
          .tws2016-promo-subfeature .promoPanel-media {
            min-height: 200px; } }
      @media only screen and (min-width: 40.063em) {
        .tws2016-promo-subfeature .promoPanel-content {
          min-height: 224px; } }
      @media only screen and (min-width: 64.063em) {
        .tws2016-promo-subfeature .promoPanel-content {
          min-height: 248px; } }
    .tws2016-promo-link {
      color: #ffffff; }
  .tws2016-panel #days, .tws2016-panel #hours, .tws2016-panel #mins {
    color: #40c1ba; }
  .tws2016-panel .importantdate .date {
    background-color: #40c1ba; }
