{% block content %}

<!-- Header -->
<!-- Hero Content Panel Start -->
<div class="hero-content-panel" id="home">
  <div class="row small-collapse medium-uncollapse">
  <div class="small-12 medium-4 large-4 columns left">
      <div id="homeheropromo">
        <!-- Promotion -->
        <h2>Explore your boundaries</h2></a>
        <p class="intro"><a href="/travel-insurance/" style="font-size: 1.4rem; line-height: 1.8rem; color: #ffffff;">Travel insurance</a> for independent travellers. Buy, extend &amp; claim online, even after you’ve left home.</p>
        <!-- Promotion END -->
      </div>
    </div>

    <div class="small-12 medium-7 large-6 columns right">
      <div id="wnqqcalculator" class="white">
        <h1 style="font-size: 28px;">Travel Insurance. Simple &amp; flexible.</h1>
        <script async='' src='//cdn.worldnomads.net/scripts/custom/wng.cachedGetPartnerWidgetResponse.js?loadWithPanelExpanded=true&excludeStyles=true&extractCampaignCodeFromUrl=true'></script>
        <div id='wn-insurance-quote-editor'></div>
       <div class="trustedby">
          <p>Trusted by:</p>
          <a href="http://www.lonelyplanet.com/travel-insurance" target="_blank"><img src="http://www.worldnomads.com/Media/Default/TravelInsuranceImages/PartnerLogos/lonley-planet-logo-dark.png" alt="Lonely Planet" class="lp" /></a>
          <img src="http://www.worldnomads.com/Media/Default/TravelInsuranceImages/PartnerLogos/nat-geo-logo-dark.png" alt="Nat Geo Adventure"  class="natgeo" />
          <a href="http://www.roughguides.com/travel-insurance/" target="_blank"><img src="http://www.worldnomads.com/Media/Default/TravelInsuranceImages/PartnerLogos/rough-guide-logo-dark.png" alt="Rough Guides" class="rg" /></a>
          <img src="http://www.worldnomads.com/Media/Default/TravelInsuranceImages/PartnerLogos/intrepid-logo-dark.png" alt="Intrepid" class="intrep" />
          <a href="http://www.virtualtourist.com/travel-insurance/" target="_blank"><img src="http://www.worldnomads.com/Media/Default/TravelInsuranceImages/PartnerLogos/v-tourist-logo-dark.png" alt="Virtual Tourist" class="vt" /></a>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Hero Content Panel End -->

<!-- Background Header Image CSS Start  -->
<style>
  /* Add link to Desktop Image */

  @media all and (min-width: 860px) {
    #home {
      background-image: url('/Media/Default/HomePageImages/hp-lombok-hero-full.jpg');
      background-size: cover;
      background-position: center left;
      min-height: 600px;
    }
    #homeheropromo { margin-top: 140px;

  }
  }
  /* Add link to Tablet Image */
  @media all and (max-width: 860px) {
    #home {
      background-image: url('/Media/Default/HomePageImages/hp-lombok-hero-tablet.jpg');
      min-height: 640px;
    }
    #homeheropromo {
    margin-top: 140px;
  }


  }
  /* Add link to Mobile Image */
  @media all and (max-width: 640px) {
    #home {
      background-image: url('/Media/Default/HomePageImages/hp-lombok-hero-mobile.jpg');
      min-height: 1400px;
      background-position: top left;
    }
    #homeheropromo { margin-top: 30px;}
    #wnqqcalculator { margin-top: 10px;}

  }

</style>
<!-- Background Header Image CSS End -->
<!-- Header END -->

<!-- Panel 1 -->
<!-- Search Panel Start -->
<div class="content-panel">
  <div class="row">
    <div class="small-12 large-10 large-centered column">
      <div class="section">
          <h3>Discover insights, stories &amp; answers for your trip</h3>
          <script>
            (function() {
              var cx = '016598410852319007988:ymzl3vno0va';
              var gcse = document.createElement('script');
              gcse.type = 'text/javascript';
              gcse.async = true;
              gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                  '//cse.google.com/cse.js?cx=' + cx;
              var s = document.getElementsByTagName('script')[0];
              s.parentNode.insertBefore(gcse, s);
            })();

            /* Add placeholder element on load */
            $("body").on('DOMNodeInserted', 'input[id="gsc-i-id1"]', function(){
                $(this).attr("placeholder", "eg: Thailand, Motorbikes, Photography");
            })


          </script>
          <gcse:searchbox-only></gcse:searchbox-only>
        </div>
    </div>
  </div>
</div>
<!-- Search Panel End -->
<!-- Panel 1 END -->

<!-- Panel 2 START -->
<!-- Promo panel Start -->
<section class="home-headerPromo content-panel">
  <div class="row">
    <div class="small-12 columns">
      <div class="promoPanel">
        <div class="promoPanel-media">
          <span class="iconBadge iconBadge--primary">
            <span class="iconBadge-content">
              <img src="/Media/Default/promo/photo.png">
              photo
            </span>
          </span>
        </div>
        <div class="promoPanel-content">
          <ul class="breadcrumb">
            <li>
              <a href="/make-a-difference">Travel Photo Scholarship</a>
            </li>
          </ul>
          <a href="/make-a-difference">
            <h4 class="home-headerPromo-title">Win a photo assignment to Nepal!</h4>
          </a>
          <p>Go on a 10-day photographic assignment to capture Nepal and be mentored by professional photographer Richard I’Anson.</p>
          <button class="home-headerPromo-cta button orange">Apply now</button>
          <ul class="home-headerPromo-benefits small-block-grid-4">
            <li>
              <img class="home-headerPromo-benefitsIcon" src="/Media/Default/promo/pin.png" alt="pin"/>
              10-day trip
            </li>
            <li>
              <img class="home-headerPromo-benefitsIcon" src="/Media/Default/promo/photo.png" alt="photo"/>
              Learn from a pro
            </li>
            <li>
              <img class="home-headerPromo-benefitsIcon" src="/Media/Default/promo/flight.png" alt="flight"/>
              Free flights
            </li>
            <li>
              <img class="home-headerPromo-benefitsIcon" src="/Media/Default/promo/insurance.png" alt="insurance"/>
              You're covered
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Promo panel End -->
<!-- Panel 2 END -->

<!-- Panel 3 START -->
<!-- Content Area Start -->
<div class="content-panel">
  <div class="row">
    <div class="small-12 medium-6 large-3 columns">
      <div class="feature-box" style="background-image: url('//cdn.worldnomads.net/Media/Default/HomePageImages/jan14/Footprints-Feature-450x440.jpg');">
        <ul class="breadcrumb">
          <li>
            <a href="/make-a-difference">Change Lives</a>
          </li>
        </ul>
        <a href="/make-a-difference"><h4>Give a little back when you travel</h4></a>
        <div class="bottom orange">
          <span class="feature-link-title">Latest projects funded:</span>
          <p><a href="/make-a-difference">When you buy travel insurance add a micro-donation to support a community project and help change lives.</a></p>
        </div>
      </div>
    </div>
    <div class="small-12 medium-6 large-3 columns">
      <div class="feature-box" style="background-image: url('http://cdn.worldnomads.net/Media/Default/HomePageImages/jan14/Community-Feature-450x440.jpg');">
        <ul class="breadcrumb">
          <li>
            <a href="http://answers.worldnomads.com">Community</a>
          </li>
        </ul>
        <a href="http://answers.worldnomads.com"><h4>Your travel questions answered</h4></a>
        <div class="bottom purple">
          <span class="feature-link-title">Top Questions:</span>
          <p><a href="http://answers.worldnomads.com/questions/japan/3601/is-it-safe-to-travel-to-japan-now">Is it safe to travel to Japan now?</a></p>
          <p><a href="http://answers.worldnomads.com/questions/ireland/8585/what-are-the-top-10-attractions-outside-dublin-worth-a-visit">What are the top 10 attractions near Dublin?</a></p>
        </div>
      </div>
    </div>
    <div class="small-12 medium-6 large-3 columns">
      <div class="feature-box" style="background-image: url('//cdn.worldnomads.net/Media/Default/HomePageImages/jan14/Scholarships-Feature-450x440.jpg');">
        <ul class="breadcrumb">
          <li>
            <a href="/learn">Scholarships</a>
          </li>
        </ul>
        <a href="/learn"><h4>Turn your Passion into a Profession</h4></a>
        <div class="bottom teal">
          <span class="feature-link-title">Latest Scholarships:</span>
          <p><a href="http://www.worldnomads.com/learn/travel-food">Travel Food - Apply Now!</a></p>
          <p><a href="http://www.worldnomads.com/learn/travel-photography/winner-2014">Travel Photography<br>(winner announced)</a></p>
        </div>
      </div>
    </div>
    <div class="small-12 medium-6 large-3 columns">
      <div class="feature-box" style="background-image: url('//cdn.worldnomads.net/Media/Default/HomePageImages/jan14/Stories-Feature-450x440.jpg');">
        <ul class="breadcrumb">
          <li>
            <a href="http://www.worldnomads.com/stories">Stories</a>
          </li>
        </ul>
        <a href="/stories"><h4>Share your travel story</h4></a>
        <div class="bottom blue">
          <span class="feature-link-title">Trending Stories:</span>
          <p><a href="http://journals.worldnomads.com/lauren_watson/story/67893/australia/australia-vs-america-the-little-differences">Australia vs America - The little differences.</a></p>
          <p><a href="http://journals.worldnomads.com/travel-tips/story/31930/vietnam/dos-and-donts-when-travelling-in-vietnam">Dos and Don'ts when travelling to Vietnam.</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Safety Panel Start -->
<div class="content-panel red-pattern">
  <div class="row">
  <div class="small-12 medium-7 large-8 columns">
    <ul class="breadcrumb">
      <li><a href="http://www.worldnomads.com/travel-safety">Travel Smart</a></li>
    </ul>
    <a href="http://www.worldnomads.com/travel-safety"><h2>Travel insights &amp; advice for your trip</h2></a>
    <p class="intro">Insights, advice, tips and guides to help you survive the nightlife, avoid scams, make your money last longer and help you avoid trouble in every corner of the world.</p>
    <button class="base-button grey">Get travel insights</button>
    <p></p>
  </div>

  <div class="small-12 medium-5 large-4 columns">
    <div class="sideadvert" style="background-image: url('//cdn.worldnomads.net/Media/Default/HomePageImages/jan14/ThaiGuide-Feature-450x440.jpg')">
      <ul class="breadcrumb">
        <li><a href="http://www.worldnomads.com/travel-safety">Travel Smart</a></li>
        <li><a href="http://www.worldnomads.com/guides/thailand-survival-guide">Thailand</a></li>
      </ul>
      <a href="http://www.worldnomads.com/guides/thailand-survival-guide"><h4>FREE Thailand survival guide</h4></a>
      <div class="bottom">
        <a class="cta-button-primary grey" href="http://www.worldnomads.com/guides/thailand-survival-guide">Download the guide</a>
      </div>
    </div>
  </div>
</div>
<!-- Safety Panel End -->

<!-- Main Content Area End -->
<!-- Panel 3 END -->

{% endblock %}
