{% layout "desk" %}
{% block title %}Travel Insurance - Portal | World Nomads{% endblock %}
{% block content %}

<!--begin:portal_body-->

<!--begin:page_article-->

<section id='main-content'>
  <nav class='breadcrumbs' id='breadcrumbs'>
    <a href='/?t=646842'>Home</a>
    <a href='/customer/en/portal/topics/428946-what-s-covered-what-s-not/articles?t=646842'>What&#x27;s covered &amp; what&#x27;s no...</a>
    Medical transport, evacuation &amp; repa...
  </nav>
  <article class='article'>
    <div class='article'>
      <h1>Medical transport, evacuation &amp; repatriation</h1>
      <p class='change-country-of-residence'>
        This information is for residents of <span class='country-of-residence-name'>World Nomads Service Centre</span> only.
      </p>
      <div class='body'>
        <p class="hidden">Emergency medical transport is available to the nearest medical facility,&nbsp;most suitable medical facility (in another city or&nbsp;country) or&nbsp;even back home? Read on for details on what you need to do&nbsp;if medical evacuation is necessary.</p>
        <div class="lloyds-specific-info specific-info">
          <h5>Australia and New Zealand Residents&nbsp;<br />
            <span style="font-size: 12px;">Insurer: certain underwriters at Lloyd&#39;s</span>
          </h5>
          <div class="info">
            <p>You&rsquo;re trekking and suddenly succumb to severe altitude sickness; you&rsquo;ve had an accident and broken bones in an area with poor medical facilities; you&rsquo;re in hospital with a serious tropical disease where recovery time will be lengthy.</p>
            <p>It can and does happen unfortunately, which is why emergency transport is available when it&rsquo;s necessary to get to proper medical facilities or for repatriation home if you&rsquo;re unfit to continue your trip when:</p>
            <ul>
              <li>you&rsquo;re seriously injured or suddenly ill; or</li>
              <li>you&rsquo;re assaulted, hijacked or kidnapped and suffer physiological trauma; or</li>
              <li>you die overseas.</li>
            </ul>
            <h3>What&#39;s covered</h3>
            <p>Depending on where you are and what&rsquo;s happened to you, there&rsquo;s cover for emergency medical transport by road ambulance or other suitable transport (including by helicopter if available and medically necessary) to transfer you to:</p>
            <ul>
              <li>the nearest, most appropriate hospital/medical facility;</li>
              <li>more suitable medical facilities in another city or nearby country for more appropriate medical care;</li>
              <li>your home back in Australia or New Zealand if your treating physician has determined that you&rsquo;re unfit to travel because of your sudden illness or injury and the insurer agrees.</li>
            </ul>
            <p>If it&rsquo;s agreed that repatriation is necessary, there&rsquo;s cover for reasonable, additional travel expenses to get you home (your return flight ticket will be used to reduce the insurer&rsquo;s cost) and other reasonable and necessary additional expenses such as for a medical escort or a friend/relative to travel home with you (or accompany your child if you&rsquo;re not able to).</p>
            <h3>How it works</h3>
            <p>If something happens and you need emergency transport, you (or someone else) <strong>MUST</strong>:</p>
            <ul>
              <li>contact our <a href="service.worldnomads.com/customer/portal/articles/723000-who-do-i-call-for-emergency-help-"><u>emergency assistance team</u></a> as soon as you can for pre-approval.</li>
              <li>work with the emergency assistance team and your treating doctor to decide and arrange the most appropriate transportation.</li>
            </ul>
            <p>Circumstances such as your location and your specific medical situation will determine when and how you are transported to appropriate medical facilities.</p>
            <h3>What&rsquo;s not covered</h3>
            <p>Travel insurance is not designed to cover everything, so take the time to read terms, conditions, limits and exclusions of the policy wording, particularly Section 2 - Medical Evacuation and Repatriation and the General Exclusions, so there are no surprises if you do need to use it.</p>
            <p>Here are the main things that aren&rsquo;t covered:</p>
            <ul>
              <li>The full cost of the return flight.&nbsp; The insurer will use your pre-booked return flight to help recover some of the cost or, if you don&rsquo;t have a return flight booked, you&rsquo;ll be charged the cost of a one way economy class airfare at the&nbsp;carrier&#39;s&nbsp;regular published rates to subsidise the journey&nbsp;home. See the conditions related to travelling on a one way ticket in the policy wording for more details.</li>
              <li>If you refuse to be repatriated after being declared medically unfit to continue on&nbsp;your trip, then any ongoing or additional costs are yours.</li>
              <li>Any expenses that relate to a pre-existing medical condition, unless it&rsquo;s listed as an automatically covered medical condition as explained in the policy wording.</li>
              <li>Any costs incurred once you get back home.</li>
              <li>Anything else that&#39;s listed in the specific and general exclusions on the policy.</li>
            </ul>
          </div>
        </div>
        <!-- <div class="millstream-specific-info specific-info">
          <h5>United Kingdom and Ireland Residents<br />
            <span style="font-size: 12px;">Underwritten by: Millstream</span>
          </h5>
          <div class="info">
            <p>Emergency transport, evacuation and repatriation expenses home are included if you&nbsp;are accidentally injured, become seriously ill or in a worse case scenario, you die while abroad.</p>
            <h3>What&rsquo;s covered</h3>
            <p>Depending on where you are and what&rsquo;s happened to you, there&rsquo;s cover for emergency medical transport by road ambulance or other suitable transport (including by helicopter if available and medically necessary) to transfer you to:</p>
            <ul>
              <li>the nearest, most appropriate hospital/medical facility</li>
              <li>another city,neighbouring country or back home for the most appropriate medical care.</li>
            </ul>
            <p>If repatriation is medically required on the advice of the attending&nbsp;medical practitioner, there&rsquo;s cover for:</p>
            <ul>
              <li>reasonable, additional economy class travel expenses to get you home</li>
              <li>other reasonable additional expenses such as a medical escort or the costs of a friend/relative to travel home with you (or accompany your child if you&rsquo;re not able to).</li>
            </ul>
            <p>If you die overseas, then the repatriation cover includes either transportation of your remains or ashes home or your overseas funeral, burial or cremation (not both).</p>
            <h3>How it works</h3>
            <p>If something happens and you need emergency transport, you (or someone else) MUST:</p>
            <ul>
              <li>contact our <u>Emergency Medical Assistance Service</u> as soon as you can and remain in contact until your return home or until you no longer require treatment or assistance.</li>
              <li>work in consultation with the emergency assistance service medical consultant and your treating doctor to decide and arrange the most appropriate transportation</li>
            </ul>
            <p>Be aware that if the Assistance Service are not contacted or if you arrange your own repatriation or transport which is determined as not medically necessary or reasonable under the circumstances, cover may be limited.</p>
            <p>Where you go, when and how you get there, the availability of transport and the suitability of the medical facilities nearby will depend on the where you are located and your medical situation.</p>
            <h3>What&rsquo;s not covered</h3>
            <p>Travel insurance is not designed to cover everything, so take the time to read the policy wording for the full terms and conditions&nbsp;so there are no surprises if you do need to use it.</p>
            <p>Here are the main things that aren&rsquo;t covered:</p>
            <ul>
              <li>The cost of a return flight home if you don&rsquo;t already have one.&nbsp; Why? Because cost of this return flight is considered a normal travel cost.</li>
              <li>If you refuse to be repatriated after being declared medically unfit to continue on&nbsp;your trip, then any ongoing or additional costs are yours.</li>
              <li>Any expenses that relate to a pre-existing medical condition as explained in the policy wording.</li>
              <li>Any costs once you get back home.</li>
              <li>Anything else that&#39;s listed in the exclusions on the policy.</li>
            </ul>
          </div>
        </div>
        <div class="travel-guard-chartis-specific-info specific-info">
          <h5>United States Residents<br />
            <span style="font-size: 12px;">Insurer: Trip Mate</span>
          </h5>
          <div class="info">
            <h3>What&rsquo;s covered</h3>
            <p>Your policy covers medical transportation services for an injury or illness that occurs during your trip.</p>
            <p>Under the terms and conditions of the policy, there is cover for emergency medical evacuation as long as it is ordered by the attending physician who certifies adequate medical treatments are not locally available and due to the severity of the condition, medical evacuation to the nearest adequate licensed medical facility where appropriate medical treatment can be obtained .</p>
            <p>Emergency medical transport is also available if your medical condition requires you to be transported home to the USA to where you reside for further medical treatment or recovery. Transportation can be arranged as soon as your treating doctor agrees you are fit to travel.</p>
            <p>There&rsquo;s also cover for someone to accompany you to escort you home if medically required.<br />
              If you die, there&rsquo;s cover for the reasonable and customary services for embalming, cremation and casket for transport and transportation of your remains home.
            </p>
            <h3>How it works</h3>
            <p>If something happens and you need necessary emergency transport or evacuation, you (or someone else) MUST contact the <u><a href="http://service.worldnomads.com/customer/portal/articles/723000-who-do-i-call-for-emergency-help-">24 hour&nbsp;</a><a href="http://service.worldnomads.com/customer/portal/articles/723000-who-do-i-call-for-emergency-help-">emergency assistance team</a></u> at One Call Travel Services Network as soon as reasonably possible for pre-authorization and assistance.&nbsp;</p>
            <p>The emergency assistance team&rsquo;s medical consultant will work in consultation with you and your attending physician to decide and arrange the most appropriate transportation. Where you go, when and how you get there, the availability of transport and the suitability of the medical facilities nearby will depend on the situation.</p>
            <h3>What&rsquo;s not covered</h3>
            <p>Travel insurance is not designed to cover everything, so take the time to read the full Travel Protection Plan for all terms, conditions and exclusions, so there are no surprises if you do need to use it.</p>
            <p>Here are the main things that aren&rsquo;t covered:</p>
            <ul>
              <li>Any medical transportation or associated additional expenses which are not pre-authorized by the emergency assistance team</li>
              <li>Any expenses that relate to a pre-existing medical condition.</li>
              <li>Any costs once you get back home.</li>
              <li>Anything else that&#39;s listed in the exclusions on the policy.</li>
            </ul>
          </div>
        </div>
        <div class="chartis-canada-specific-info specific-info">
          <h5>Canadian Residents<br />
            <span style="font-size: 12px;">Insurer: Chartis Canada</span>
          </h5>
          <div class="info">
            <p>Your policy covers medical transportation services for an injury or illness that occurs during your trip.</p>
            <h3>What&rsquo;s covered</h3>
            <p>If your local attending physician and the emergency assistance team&rsquo;s medical consultant agree that adequate and medically necessary treatment is not available locally, you will be transported to the nearest, appropriate medical facility for the emergency medical care you need.</p>
            <p>If returning home is medically necessary and agreed by the medical assistance team, then there&rsquo;s cover for the cost of an economy class one-way ticket, a stretcher fare on a commercial flight or air ambulance home.</p>
            <p>There&rsquo;s also cover for a qualified medical attendant to accompany you and escort you home if medically required.</p>
            <p>If you die, there&rsquo;s cover for the reasonable and necessary services to transport your remains home.</p>
            <h3>How it works</h3>
            <p>If something happens and you need emergency transport or evacuation, you (or someone else) MUST contact Travel Guard Canada&rsquo;s emergency assistance team as soon as reasonably possible for authorisation and assistance.</p>
            <p>The emergency assistance team&rsquo;s medical consultant will work in consultation with you and your treating doctor to decide and arrange the most appropriate transportation. Where you go, when and how you get there, the availability of transport and the suitability of the medical facilities nearby will depend on the situation.</p>
            <h3>What&rsquo;s not covered</h3>
            <p>Travel insurance is not designed to cover everything, so take the time to read the policy wording for the full terms and conditions , particularly Section1A Emergency out of province medical expenses and Section 1b: Emergency medical transportation / additional expenses, and the General Exclusions, so there are no surprises if you do need to use it.</p>
            <p>Here are the main things that aren&rsquo;t covered:</p>
            <ul>
              <li>Any medical transportation or associated additional expenses which are not pre-authorized by the Travel Guard Canada.</li>
              <li>Any expenses that relate to a pre-existing medical condition.</li>
              <li>Any costs once you get back home.</li>
              <li>Anything else that&#39;s listed in the exclusions on the policy.</li>
            </ul>
            <p>This is a summary only. It does not include all terms, conditions and exclusions of the policies described. Please refer to the actual policies for complete details of coverage and exclusions.</p>
            <p>If you have any questions, feel free to <a href="http://www.worldnomads.com/contactus.aspx">send a message</a>&nbsp;or call Travel Guard Canada&#39;s team direct:</p>
            <p>1 877 328 2528 toll-free from Canada and Continental US</p>
            <p>+1 416 646 3723 collect from anywhere else in the world</p>
            <p>Travel Guard Canada&#39;s World Service Centre is here to help 6am to 10pm, 7 days (CST/CDT).</p>
          </div>
        </div>
        <div class="bupa-specific-info specific-info">
          <h5>Residents of all countries (excluding Australia, New Zealand, United Kingdom, Ireland, USA and Canada)<br />
            <span style="font-size: 12px;">Insurer: Bupa Global Travel</span>
          </h5>
          <div class="info">
            <p>Your policy can cover emergency ambulance transport or repatriation home to your country of permanent residency if you suffer an unexpected and acute serious injury or illness while on your trip requiring urgent medical treatment.</p>
            <h3>What&rsquo;s covered</h3>
            <p>Depending on where you are and what&rsquo;s happened to you, there&rsquo;s cover for emergency medical transport by road ambulance or other suitable transport (including by helicopter if available and medically necessary) to transfer you:</p>
            <ul>
              <li>the nearest, most appropriate hospital/medical facility</li>
              <li>a more suitable place of treatment in another city or nearby country</li>
              <li>back to your country of permanent residence</li>
            </ul>
            <p>If repatriation is necessary because your treating physician and our medical consultant have decided that your on-going treatment should be back in your country of permanent residency, there&rsquo;s cover for:</p>
            <ul>
              <li>reasonable additional travel expenses to get you home.</li>
              <li>reasonable additional travel, accommodation, local transportation and meal expenses for a fellow traveller or a close relative summoned from your country of residency to support and accompany you while in hospital or during your repatriation home if your condition is life-threatening or if you are admitted to hospital for at least 5 nights</li>
            </ul>
            <p>If you die while on your trip, then the repatriation cover includes either transportation of your remains home or the cremation and transportation of your ashes home (not both).</p>
            <h3>How it works</h3>
            <p>If something happens and you need emergency transport, you (or someone else) <strong>MUST</strong>:</p>
            <ul>
              <li>contact our <a href="http://service.worldnomads.com/customer/portal/articles/723000-who-do-i-call-for-emergency-help-"><u>Emergency Medical Assistance Team</u></a> as soon possible. <strong>Very important:</strong> expenses for a medical evacuation/repatriation must be pre-approved by us or we will not be liable</li>
              <li>work in consultation with the emergency medical assistance team&rsquo;s medical consultant and your treating physician to decide and arrange the most appropriate transportation</li>
            </ul>
            <p>Where you go, when and how you get there, the availability of transport and the suitability of the medical facilities nearby will depend on the where you are located and your medical situation.</p>
            <h3>What&rsquo;s not covered</h3>
            <p>Travel insurance is not designed to cover everything, so take the time to read the policy wording for the full terms and conditions, particularly Section 9 Medical Evacuation or Repatriation Home and the General Exclusions, so there are no surprises if you do need to use it.</p>
            <p>Here are the main things that aren&rsquo;t covered:</p>
            <ul>
              <li>Any medical evacuation or repatriation expenses, which are not pre-approved by ihi Bupa.</li>
              <li>If you refuse to be repatriated or evacuated.</li>
              <li>Any expenses that relate to a <a href="http://service.worldnomads.com/customer/portal/articles/1655828--i-have-a-pre-existing-medical-condition">pre-existing medical condition</a> as explained in the policy wording.</li>
              <li>Anything else that&#39;s listed in the exclusions on the policy.</li>
              <li>Any costs once you are returned to your country of permanent residence.</li>
              <li>The policy excess, deductible or co-pay amount as shown in the policy wording.</li>
            </ul>
          </div>
        </div> -->
        <div class="skype_c2c_menu_container skype_c2c notranslate" data-fp="{FA21F3A4-A387-4382-8F6E-E97F66C566F1}" data-murl="https://pipe.skype.com/Client/2.0/" data-uiid="0" id="skype_c2c_menu_container" onmouseout="SkypeClick2Call.MenuInjectionHandler.hideMenu(this, event)" onmouseover="SkypeClick2Call.MenuInjectionHandler.showMenu(this, event)" style="display: none;">
          <div class="skype_c2c_menu_click2call"><a class="skype_c2c_menu_click2call_action" id="skype_c2c_menu_click2call_action" target="_self">Call</a></div>
          <div class="skype_c2c_menu_click2sms"><a class="skype_c2c_menu_click2sms_action" id="skype_c2c_menu_click2sms_action" target="_self">Send SMS</a></div>
          <div class="skype_c2c_menu_add2skype"><a class="skype_c2c_menu_add2skype_text" id="skype_c2c_menu_add2skype_text" target="_self">Add to Skype</a></div>
          <div class="skype_c2c_menu_toll_info"><span class="skype_c2c_menu_toll_callcredit">You&#39;ll need Skype Credit</span><span class="skype_c2c_menu_toll_free">Free via Skype</span></div>
        </div>
      </div>
    </div>
    <footer>
      <div class='rate-article'>
        <div id="rate_article_container" style="display:none;">
          <div id="rate_article">
            <div>
              <a href="https://service.worldnomads.com/customer/en/portal/articles/1088000/rate?rating=1&amp;t=646842" class="rate_link" data-method="post" data-remote="true" rel="nofollow"> Yes </a>
              <span>
              I found this article helpful
              </span>
            </div>
            <div class="rate-link-down">
              <a href="https://service.worldnomads.com/customer/en/portal/articles/1088000/rate?rating=0&amp;t=646842" class="rate_link" data-method="post" data-remote="true" rel="nofollow"> No</a>
              <span>
              I did not find this article helpful
              </span>
            </div>
          </div>
        </div>
        <script>
          $(document).ready(function() {
              $.get('/customer/en/portal/articles/1088000/is_rateable.json?b_id=4646&amp;t=646842', function(json) {
                  if (json.is_rateable) {
                      $("#rate_article_container").show();
                  }
              });
          });
        </script>
      </div>
      <time class='last-updated'>
      Last Updated: Last Updated: Mar 15, 2016 12:30PM EST
      </time>
    </footer>
    <section style="float:left;" class='qqc-section'>
      <script async='' src='//www.worldnomads.com/Partner/GetPartnerWidget?loadWithPanelExpanded=true&excludeStyles=true&cultureKey=en&extractCampaignCodeFromUrl=true'></script>
      <div id='wn-insurance-quote-editor'></div>
    </section>
    <p class='disclaimer'></p>
    <!-- WN Quote Widget -->
  </article>
</section>
<!--end:page_article-->

<!--end:portal_body-->
{% endblock %}
