{% layout "desk" %}
{% block title %}Customer Service Information from TID{% endblock %}
{% block content %}


<!--begin:page_index-->


<div id='main' role='main'>  


<!--begin:question_show-->

<section id="main-content" class="topic">
  <header>
    <nav class="breadcrumbs">
      <a href="/?b_id=755" rel="index up">Customer Service</a> »
      What We Cover
    </nav>

    <h2 class="topic-name">
      What We Cover
    </h2>
  </header>

  <div class="questions-or-articles">
    <nav>
      <ul>
        
          <li>
            <a href="/customer/portal/topics/238831-what-we-cover/articles?b_id=755">Articles</a>
          </li>
        
        
          <li class="active">
            <a href="/customer/portal/topics/238831-what-we-cover/questions?b_id=755">Questions</a>
          </li>
        
      </ul>
    </nav>
    
    
      <ul class="questions">
        
          <li class="question featured">
            <section>
              <h3 class="subject">
                <a href="/customer/portal/questions/10918410-nut-allergy?b_id=755">Nut Allergy</a>
              </h3>

              <p class="body">
                Hi
I'm looking at taking out TID travel insurance.

One of the children travelling with us has a nut and egg allergy that requires an epipen
Is this covered under "food intolerance" under section 43 "Automatically Covered Medical Conditions cover...
              </p>

              <aside>
                
                  <span class="agent-answer-count">
                    1
                     
                    Answer
                  </span>
                  |
                
                <span class="community-answer-count">
                  0
                  Community Answers
                </span>
                | Last Updated: 
                <time class="last-updated">Mar 05, 2015</time>
              </aside>
            </section>
          </li>
        
          <li class="question featured">
            <section>
              <h3 class="subject">
                <a href="/customer/portal/questions/10304771-travel-insurance-for-cruising-the-mediterranean?b_id=755">travel insurance for cruising the Mediterranean</a>
              </h3>

              <p class="body">
                I'm just about to buy travel insurance, does it cover cruises to the Mediterranean?
              </p>

              <aside>
                
                  <span class="agent-answer-count">
                    1
                     
                    Answer
                  </span>
                  |
                
                <span class="community-answer-count">
                  0
                  Community Answers
                </span>
                | Last Updated: 
                <time class="last-updated">Mar 03, 2015</time>
              </aside>
            </section>
          </li>
        
          <li class="question featured">
            <section>
              <h3 class="subject">
                <a href="/customer/portal/questions/6186315-cover-for-motorcycle-riding?b_id=755">Cover for Motorcycle riding</a>
              </h3>

              <p class="body">
                Hi, I will be travelling to the UK for the IOM TT races ( spectator ) and then will be touring around Europe for approx 9 x weeks on an 1100cc motorcycle. Do you cover this with your travel insurance ? I've been riding large motorcycles in Aust for n...
              </p>

              <aside>
                
                  <span class="agent-answer-count">
                    1
                     
                    Answer
                  </span>
                  |
                
                <span class="community-answer-count">
                  0
                  Community Answers
                </span>
                | Last Updated: 
                <time class="last-updated">Apr 28, 2014</time>
              </aside>
            </section>
          </li>
        
          <li class="question">
            <section>
              <h3 class="subject">
                <a href="/customer/portal/questions/11520547-re-scheduled-flight-?b_id=755">Re-scheduled flight.</a>
              </h3>

              <p class="body">
                I just found out a flight I booked which was scheduled to depart on the 21st has been cancelled by the airline and they have re-booked us on a flight on the 18th. Does my insurance cover the costs of re-booking or modifying the domestic flights I had...
              </p>

              <aside>
                
                  <span class="agent-answer-count">
                    1
                     
                    Answer
                  </span>
                  |
                
                <span class="community-answer-count">
                  0
                  Community Answers
                </span>
                | Last Updated: 
                <time class="last-updated">Mar 16, 2015</time>
              </aside>
            </section>
          </li>
        
          <li class="question">
            <section>
              <h3 class="subject">
                <a href="/customer/portal/questions/11510397-hey?b_id=755">Hey</a>
              </h3>

              <p class="body">
                Hey there,
I'm currently traveling through Bali Indonesia and have met a few people here that have got there belonging's stolen from them or been mugged in the past.
They recommend i get insurance right away as i don't have any currently.
So i'm j...
              </p>

              <aside>
                
                  <span class="agent-answer-count">
                    1
                     
                    Answer
                  </span>
                  |
                
                <span class="community-answer-count">
                  0
                  Community Answers
                </span>
                | Last Updated: 
                <time class="last-updated">Mar 13, 2015</time>
              </aside>
            </section>
          </li>
        
          <li class="question">
            <section>
              <h3 class="subject">
                <a href="/customer/portal/questions/11482579-do-you-offer-insurance-to-european-people-or-just-australians-?b_id=755">Do you offer insurance to European people or just Australians?</a>
              </h3>

              <p class="body">
                I'm a destination wedding photographer. I have weddings all over Europe.
Do you offer public liability, indemnity insurance and camera gear insurance?
              </p>

              <aside>
                
                  <span class="agent-answer-count">
                    1
                     
                    Answer
                  </span>
                  |
                
                <span class="community-answer-count">
                  0
                  Community Answers
                </span>
                | Last Updated: 
                <time class="last-updated">Mar 06, 2015</time>
              </aside>
            </section>
          </li>
        
          <li class="question">
            <section>
              <h3 class="subject">
                <a href="/customer/portal/questions/11401946-is-my-husband-covered-if-he-s-travelling-with-me-?b_id=755">Is my husband covered if he's travelling with me?</a>
              </h3>

              <p class="body">
                My husband is travelling with me.  Is he covered under my policy?
              </p>

              <aside>
                
                  <span class="agent-answer-count">
                    1
                     
                    Answer
                  </span>
                  |
                
                <span class="community-answer-count">
                  0
                  Community Answers
                </span>
                | Last Updated: 
                <time class="last-updated">Mar 05, 2015</time>
              </aside>
            </section>
          </li>
        
          <li class="question">
            <section>
              <h3 class="subject">
                <a href="/customer/portal/questions/11398567-are-we-covered-for-a-motorbike-if-we-only-have-l-plates-?b_id=755">Are we covered for a motorbike if we only have L plates?</a>
              </h3>

              <p class="body">
                Are we covered overseas on a motorbike if we only have L plates?
              </p>

              <aside>
                
                  <span class="agent-answer-count">
                    1
                     
                    Answer
                  </span>
                  |
                
                <span class="community-answer-count">
                  0
                  Community Answers
                </span>
                | Last Updated: 
                <time class="last-updated">Mar 05, 2015</time>
              </aside>
            </section>
          </li>
        
          <li class="question">
            <section>
              <h3 class="subject">
                <a href="/customer/portal/questions/11393100-interstate-travel-within-australia?b_id=755">Interstate Travel within Australia</a>
              </h3>

              <p class="body">
                Will you cover my business travel within Australia?
              </p>

              <aside>
                
                  <span class="agent-answer-count">
                    1
                     
                    Answer
                  </span>
                  |
                
                <span class="community-answer-count">
                  0
                  Community Answers
                </span>
                | Last Updated: 
                <time class="last-updated">Feb 17, 2015</time>
              </aside>
            </section>
          </li>
        
          <li class="question">
            <section>
              <h3 class="subject">
                <a href="/customer/portal/questions/11383692-standard-cover-?b_id=755">standard cover?</a>
              </h3>

              <p class="body">
                does standard cover include for an instrument - double bass?
              </p>

              <aside>
                
                  <span class="agent-answer-count">
                    1
                     
                    Answer
                  </span>
                  |
                
                <span class="community-answer-count">
                  0
                  Community Answers
                </span>
                | Last Updated: 
                <time class="last-updated">Feb 25, 2015</time>
              </aside>
            </section>
          </li>
        
      </ul>
    
  </div>
  
  <div class="pagination">
    
<div id="paginate_block"><br>
<div id="results_string">

	
</div><br>
<div class="pagination"><span class="previous_page disabled">&lt;&lt;</span> <em class="current">1</em> <a rel="next" href="/customer/portal/topics/238831-what-we-cover/questions?b_id=755&amp;page=2">2</a> <a href="/customer/portal/topics/238831-what-we-cover/questions?b_id=755&amp;page=3">3</a> <a href="/customer/portal/topics/238831-what-we-cover/questions?b_id=755&amp;page=4">4</a> <a href="/customer/portal/topics/238831-what-we-cover/questions?b_id=755&amp;page=5">5</a> <a class="next_page" rel="next" href="/customer/portal/topics/238831-what-we-cover/questions?b_id=755&amp;page=2">&gt;&gt;</a></div>
</div>

  </div>
</section>

<script>
  // Function to wrap text links in anchors
  (function() {
    var URLRegex = /(?:\b|(?:http(?:s)?:\/\/))(?:[a-z0-9\-@]+\.)+(?:ly|eu|us|jp|uk|nz|aero|asia|biz|cat|com|coop|edu|gov|info|int|jobs|mil|mobi|museum|name|net|org|pro|travel|cz|ar|it)(?:\.[a-z]{2,3})*(?:\/(?:\.?[:#@a-z0-9\-_A-Z%&+]+)*)*(?:\?[a-zA-Z:=&_%+\';0-9\*\.\,\-]*)?/gi;

    window.linkifyElement = function(jQueryElement) {
      // Don't search iframes or it will bug out, and obviously don't match the contents of existing anchors!
      var textNodes = jQueryElement.find(":not(iframe, a)").andSelf().contents().filter(function() {
        return this.nodeType == 3;
      });

      textNodes.each(function(i, textNode) {

        var wrappedNode = $(textNode);
        var currentText = wrappedNode.text();
        var replacedText = currentText.replace(URLRegex, function(captured) {
          if (captured.indexOf('http') == 0) {
            var url = captured
          } else {
            var url = 'http://' + captured;
          }

          return "<a href='" + url + "'>" + captured + "</a>";
        });

        if (replacedText != currentText) {
          var span = $('<span/>').html(replacedText);
          wrappedNode.after(span).remove();  
        }
      });
    }
  })();
  
  $(function() {
    linkifyElement($('.answer .body'));
    linkifyElement($('.question .body'));
  });
</script><!--end:question_show-->

  

<aside class='aside'>
  
  <div class='small-search-bar'>
    <form action='/customer/portal/articles/search' method='get' id='support-search' class='support-search-small'>
      {{template_form_params}}
      <input id='q' name='q' placeholder='Search or ask us' type='text' maxlength='100' value='{{ search_term }}' class='small-search-terms' />
      <input class='small-search-submit' type='submit' value='Search' />
    </form>
  </div>
  <!-- Make sure autocompleter works -->
  <script type='text/javascript'>
  //<![CDATA[
  jQuery(document).ready(function() {
    $("#q").bind("autocompleteopen", function(event, ui) {
      $('.ui-autocomplete').css('width','230px');
    });
  });
  //]]>
  </script>
              
  <section class='talk-to-us'>
    <h4>
      Talk to us
    </h4>
    <dl class='contact-number'>
      <dt>From Australia</dt>
      <dd>1300 843 843 &nbsp; (1300 TID TID)</dd>

      <dt>From Overseas</dt>
      <dd>+61 2 8263 0483</dd>
    </dl>
  
    <dl class="open-hrs">
      <dt>
        Monday to Friday
      </dt>
      <dd>
        8:00am - 8:00pm
      </dd>
      <dt>
        Saturday and Sunday
      </dt>
      <dd>
        10:00am - 2:00pm
      </dd>
    </dl>
  </section>

  <section class='emergencies'>
    <h4>Emergencies</h4>
    <p>Call +61 2 9234 3123</p>
    <a href="http://www.travelinsurancedirect.com.au/in-an-emergency">more details</a> 
  </section>
  
  <section class='contact-us'>
    <h4>Contact us</h4>
    
    <ul class="desk-contact-list">
      
        <li><a href="/customer/portal/emails/new" data-tooltip aria-haspopup="true" class="has-tip [tip-bottom] [radius round]" title="Our customer service team will respond to you privately."><span class="fa fa-envelope"></span>Email us</a></li>
      
        <li><a href="/customer/portal/questions/new" data-tooltip aria-haspopup="true" class="has-tip [tip-bottom] [radius round]" title="This will be visible on the public forum for the benefit of everyone."><span class="fa  fa-comment"></span>Post a question</a></li>
      
        <li><a href="https://www.facebook.com/TIDaustralia"><span class="fa fa-facebook"></span>Facebook</a></li>

        <li><a href="https://twitter.com/TIDaustralia"><span class="fa fa-twitter"></span>Twitter</a></li>

        <li><a href="https://plus.google.com/+travelinsurancedirect"><span class="fa fa-google-plus"></span>Google+</a></li>

      </ul>
  </section>
  
  
</aside>
</div>

{% endblock %}