{% block content %}

<!-- Header -->
<section class="learn-hero Hero">
  <div class="row">
    <div class="small-12 medium-8 large-6 columns">
      <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <ul class="learn-breadcrumb breadcrumb">
          <li><a href="/">World Nomads</a></li>
          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/learn/" itemprop="url"><span itemprop="title">Learn</span></a></li>
        </ul>
      </div>
      <h1 class="Hero-copy">Travel. Learn. Create.</h1>
      <h4 class="Hero-copy">Explore your passion through real-life storytelling assignments and mentorships.</h4>
      <div data-smoothscroll>
        <a href="#readMore" class="learn-cta base-button base-button--alt white">Learn more</a>
      </div>
    </div>
  </div>
</section>
<!-- Header END -->
<!-- Content 1 -->
<section class="learn-promo">
  <div class="row">
    <div class="small-12 column">
      <div class="learn-promo-featured promoPanel">
        <div class="promoPanel-media">
          <span class="promoPanel-icon iconBadge iconBadge--quinary">
            <span class="iconBadge-content">
              <svg class="iconBadge-icon" version="1.1" id="Background_xA0_Image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30.4" style="enable-background:new 0 0 30 30.4;" xml:space="preserve">
                <g>
                  <path class="iconBadge-fill" d="M30,14.5c0-2.5-2-4.8-5.4-6.4c0,0-1.1-0.4-2.5-0.8c-0.5-0.1-1,0.2-1.1,0.6c-0.1,0.5,0.2,1,0.6,1.1 c1.3,0.3,2.2,0.7,2.2,0.7c2.7,1.2,4.3,3,4.3,4.7c0,3.5-6,6.4-13.2,6.4c-7.1,0-13.1-2.9-13.2-6.4c0,0,0,0,0,0c0,0,0,0,0,0 c0-3,4.5-5.7,10.4-6.3c0,0,1.2-0.1,1.8-0.1c0.5,0,0.9-0.4,0.9-0.9S14.5,6.3,14,6.3c-0.7,0-2,0.1-2,0.1C4.9,7.2,0,10.5,0,14.5 c0,7.8,5.6,15.9,15,15.9C24.4,30.4,30,22.3,30,14.5C30,14.5,30,14.5,30,14.5z M15,28.6c-6.3,0-10.7-4.2-12.4-9.3 c2.7,2.2,7.2,3.6,12.4,3.6c5.2,0,9.7-1.4,12.4-3.6C25.7,24.4,21.3,28.6,15,28.6z"/>
                  <path class="iconBadge-fill" d="M20.9,0.1c-0.5-0.2-1,0-1.2,0.5l-3.8,9.8c-0.4,0-0.9,0-1.4,0.2c-1.4,0.5-2.7,1.7-3.6,3.4c-0.7,1.4-1,3-0.7,4.3 c0.1,0.5,0.6,0.8,1.1,0.7c0.5-0.1,0.8-0.6,0.7-1.1c-0.2-0.9,0-2.1,0.6-3.2c0.6-1.2,1.6-2.1,2.5-2.4c0.3-0.1,0.7-0.2,1.1,0 c0.6,0.3,0.8,1.1,0.8,1.5c0.1,0.9-0.1,1.9-0.6,2.9c-0.2,0.4-0.5,0.8-0.8,1.2c-0.3,0.4-0.3,1,0.1,1.3c0.2,0.1,0.4,0.2,0.6,0.2 c0.3,0,0.5-0.1,0.7-0.3c0.4-0.5,0.7-1,1-1.5c0.7-1.3,0.9-2.7,0.8-3.9c-0.1-1.1-0.6-2-1.3-2.6l3.8-9.8C21.6,0.8,21.4,0.2,20.9,0.1z"
                    />
                </g>
              </svg>
              food
            </span>
          </span>
        </div>
        <div class="promoPanel-content">
          <ul class="learn-promo-featured-breadcrumb breadcrumb">
            <li>
              <a href="//www.worldnomads.com/learn/travel-food/">Travel Food Scholarship </a>
            </li>
          </ul>
          <h4 class="home-headerPromo-title">Win a Spanish food adventure!</h4>
          <p>Share your best travel recipe to go on a food-fuelled assignment to Spain.</p>
          <a href="/learn/travel-food/scholarship/2016/" class="base-button orange">Find out more</a>
          <ul class="home-headerPromo-benefits small-block-grid-4">
            <li>
              <img class="home-headerPromo-benefitsIcon" src="//www.worldnomads.com/Media/Default/LearnImages/PromoBox/pin.png" alt="pin"/>
              7 day trip
            </li>
            <li>
              <img class="home-headerPromo-benefitsIcon" src="//www.worldnomads.com/Media/Default/LearnImages/PromoBox/food.png" alt="food"/>
              Learn from a pro
            </li>
            <li>
              <img class="home-headerPromo-benefitsIcon" src="//www.worldnomads.com/Media/Default/LearnImages/PromoBox/flight.png" alt="flight"/>
              Free flights
            </li>
            <li>
              <img class="home-headerPromo-benefitsIcon" src="//www.worldnomads.com/Media/Default/LearnImages/PromoBox/insurance.png" alt="insurance"/>
              You’re covered
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 medium-6 large-3 column">
      <div class="learn-promo-subfeature learn-subfeature-01 promoPanel promoPanel--subfeature promoPanel--secondary">
        <div class="promoPanel-media">
          <span class="promoPanel-icon iconBadge iconBadge--secondary">
            <span class="iconBadge-content">
              <svg class="iconBadge-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 24.4" style="enable-background:new 0 0 30 24.4;" xml:space="preserve">
                <g id="Photo">
                  <g>
                    <path class="iconBadge-fill" d="M27.2,3.7h-4.3L20.6,0H9.4L7.1,3.7H2.8C1.9,3.7,0,4.7,0,6.5 v15c0,1.6,1.4,2.8,2.6,2.8h24.6c1.2,0,2.8-1.3,2.8-2.8v-15C30,5.6,29.1,3.7,27.2,3.7z M28.1,21.6c0,0.4-0.6,0.9-0.9,0.9H2.6 c-0.2,0-0.7-0.4-0.7-0.9v-15c0-0.6,0.8-0.9,0.9-0.9h4.3h1.1l0.5-0.9l1.7-2.8h9.2l1.7,2.8l0.5,0.9h1.1h4.3c0.7,0,0.9,0.9,0.9,0.9 V21.6z M15,6.6c-3.6,0-6.6,2.9-6.6,6.6c0,3.6,2.9,6.6,6.6,6.6s6.6-2.9,6.6-6.6C21.6,9.5,18.6,6.6,15,6.6z M15,17.8 c-2.6,0-4.7-2.1-4.7-4.7s2.1-4.7,4.7-4.7c2.6,0,4.7,2.1,4.7,4.7S17.6,17.8,15,17.8z"/>
                  </g>
                </g>
              </svg>
              photo
            </span>
          </span>
        </div>
        <div class="promoPanel-content">
          <span class="learn-promo-title promoPanel-title promoPanel-copy">Photo</span>
          <span class="learn-promo-link promoPanel-copy" href="/learn/travel-photography/">Be mentored by a professional photographer on a real photographic assignment.</span>
          <div>
            <a href="/learn/travel-photography/" class="learn-promo-cta base-button base-button--alt small white">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="small-12 medium-6 large-3 column">
      <div class="learn-promo-subfeature learn-subfeature-02 promoPanel promoPanel--subfeature promoPanel--quarternary">
        <div class="promoPanel-media">
          <span class="promoPanel-icon iconBadge iconBadge--quarternary">
            <span class="iconBadge-content">
              <svg class="iconBadge-icon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 75 47.7" style="enable-background:new 0 0 75 47.7;" xml:space="preserve">
              <path class="iconBadge-fill" style="fill-rule:evenodd;" d="M54.3,35.9v5c0,6.8-6.8,6.8-6.8,6.8H6.8c0,0-6.8,0-6.8-6.8V6.8C0,0,6.8,0,6.8,0h40.6c0,0,6.8,0,6.8,6.8v5.1 L75,2v44.3L54.3,35.9z M51.2,31v9.8c0,3.5-3.4,3.5-3.4,3.5H6.9c0,0-3.4,0-3.4-3.5v-34c0-3.5,3.4-3.5,3.4-3.5h40.9c0,0,3.4,0,3.4,3.5 v10.5l20.3-9.9v33.4L51.2,31z"/>
              </svg>
              film
            </span>
          </span>
        </div>
        <div class="promoPanel-content">
          <span class="learn-promo-title promoPanel-title promoPanel-copy">Film</span>
          <span class="learn-promo-link promoPanel-copy">Get in-field experience and learn camera and storytelling techniques from a pro filmmaker.</span>
          <div>
            <a href="/learn/travel-film/" class="learn-promo-cta base-button base-button--alt small white">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="small-12 medium-6 large-3 column">
      <div class="learn-promo-subfeature learn-subfeature-03 promoPanel promoPanel--subfeature promoPanel--tertiary">
        <div class="promoPanel-media">
          <span class="promoPanel-icon iconBadge iconBadge--tertiary">
            <span class="iconBadge-content">
              <svg class="iconBadge-icon" version="1.1" id="Background_xA0_Image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">
                <g>
                  <g>
                    <path class="iconBadge-fill" d="M23.4,28.1H1.9V4.7H15l1.9-1.8l0,0h-15C0.8,2.8,0,3.7,0,4.7v23.4c0,1,0.8,1.9,1.9,1.9h21.5 c1,0,1.9-0.8,1.9-1.9V14.4l-1.9,1.8V28.1z M28.5,1.2C27.7,0.4,26.7,0,25.8,0c-1.6,0-2.7,1-3,1.3C22.3,1.7,9.9,14.1,9.9,14.1 c-0.1,0.1-0.2,0.2-0.2,0.4c-0.3,1.2-2,6.8-2,6.8c-0.1,0.3,0,0.6,0.2,0.8c0.1,0.1,0.3,0.2,0.6,0.2c0.1,0,0.2,0,0.2,0 c0.1,0,5.7-1.9,6.7-2.1c0.1,0,0.2-0.1,0.3-0.2c0.6-0.6,12-11.8,12.9-12.8c1-1,1.4-2,1.4-3C30,3.1,29.5,2.1,28.5,1.2z M27.2,5.9 c-0.5,0.5-4.6,4.6-12.1,12l-0.6,0.6c-0.9,0.3-2.9,.9-4.5,1.4c0.5-1.7,1.1-3.7,1.4-4.6C13,13.7,23.7,3,24.1,2.6 c0.1-0.1,0.8-0.8,1.7-0.8c0.5,0,1,0.2,1.5,0.7c0.6,0.6,0.9,1.1,0.9,1.6C28.1,4.7,27.8,5.3,27.2,5.9z"/>
                  </g>
                </g>
              </svg>
              writing
            </span>
          </span>
        </div>
        <div class="promoPanel-content">
          <span class="learn-promo-title promoPanel-title promoPanel-copy">Writing</span>
          <span class="learn-promo-link promoPanel-copy">Improve your writing skills and attend an exclusive workshop with an esteemed travel writer.</span>
          <div>
            <a href="/learn/travel-writing" class="learn-promo-cta base-button base-button--alt small white">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <div class="small-12 medium-6 large-3 column">
      <div class="learn-promo-subfeature learn-subfeature-04 promoPanel promoPanel--subfeature promoPanel--quinary">
        <div class="promoPanel-media">
          <span class="promoPanel-icon iconBadge iconBadge--quinary">
            <span class="iconBadge-content">
              <svg class="iconBadge-icon" version="1.1" id="Background_xA0_Image" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 30 30.4" style="enable-background:new 0 0 30 30.4;" xml:space="preserve">
                <g>
                  <path class="iconBadge-fill" d="M30,14.5c0-2.5-2-4.8-5.4-6.4c0,0-1.1-0.4-2.5-0.8c-0.5-0.1-1,0.2-1.1,0.6c-0.1,0.5,0.2,1,0.6,1.1 c1.3,0.3,2.2,0.7,2.2,0.7c2.7,1.2,4.3,3,4.3,4.7c0,3.5-6,6.4-13.2,6.4c-7.1,0-13.1-2.9-13.2-6.4c0,0,0,0,0,0c0,0,0,0,0,0 c0-3,4.5-5.7,10.4-6.3c0,0,1.2-0.1,1.8-0.1c0.5,0,0.9-0.4,0.9-0.9S14.5,6.3,14,6.3c-0.7,0-2,0.1-2,0.1C4.9,7.2,0,10.5,0,14.5 c0,7.8,5.6,15.9,15,15.9C24.4,30.4,30,22.3,30,14.5C30,14.5,30,14.5,30,14.5z M15,28.6c-6.3,0-10.7-4.2-12.4-9.3 c2.7,2.2,7.2,3.6,12.4,3.6c5.2,0,9.7-1.4,12.4-3.6C25.7,24.4,21.3,28.6,15,28.6z"/>
                  <path class="iconBadge-fill" d="M20.9,0.1c-0.5-0.2-1,0-1.2,0.5l-3.8,9.8c-0.4,0-0.9,0-1.4,0.2c-1.4,0.5-2.7,1.7-3.6,3.4c-0.7,1.4-1,3-0.7,4.3 c0.1,0.5,0.6,0.8,1.1,0.7c0.5-0.1,0.8-0.6,0.7-1.1c-0.2-0.9,0-2.1,0.6-3.2c0.6-1.2,1.6-2.1,2.5-2.4c0.3-0.1,0.7-0.2,1.1,0 c0.6,0.3,0.8,1.1,0.8,1.5c0.1,0.9-0.1,1.9-0.6,2.9c-0.2,0.4-0.5,0.8-0.8,1.2c-0.3,0.4-0.3,1,0.1,1.3c0.2,0.1,0.4,0.2,0.6,0.2 c0.3,0,0.5-0.1,0.7-0.3c0.4-0.5,0.7-1,1-1.5c0.7-1.3,0.9-2.7,0.8-3.9c-0.1-1.1-0.6-2-1.3-2.6l3.8-9.8C21.6,0.8,21.4,0.2,20.9,0.1z"
                    />
                </g>
              </svg>
              food
            </span>
          </span>
        </div>
        <div class="promoPanel-content">
          <span class="learn-promo-title promoPanel-title promoPanel-copy">Food</span>
          <span class="learn-promo-link promoPanel-copy">Learn about food culture and meet passionate local cooks on a Passport &amp; Plate trip.</span>
          <div>
            <a href="/learn/travel-food/" class="learn-promo-cta base-button base-button--alt small white">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Content 1 -->
<!-- Content 2 -->
<section class="learn-copy row">
  <div class="small-12 medium-8 column">
    <h2 id="readMore">World Nomads Scholarships</h2>
    <p>Every year, World Nomads send talented storytellers on money-can't-buy learning experiences around the world.</p>
    <p>World Nomads offer Travel Scholarships in photography, writing, film making and because food and language are such an essential part of the travel experience, these as well.</p>
    <p>Winners get the opportunity to learn from industry professionals, experts that have honed their craft over many years and have a passion to give back to aspiring storytellers.</p>
    <p>Scholarships provide the perfect platform to turn a passion into a profession. Past winners having gone on to work with in film production, with major publishers, and have had their scholarship work broadcast to hundreds of thousands of people around the world.</p>
    <p>Want the chance to win the opportunity of a lifetime? Then subscribe.</p>
  </div>
  <div class="small-12 medium-4 column">
    <div class="learn-copy-subscribe grey-pattern">
      <h4 class="learn-copy-subscribe-title">Keep me informed</h4>
      <form action="https://worldnomadsgroup.createsend.com/t/y/s/aiifi/" method="post" class="scholarship-subscription-form">
        <input class="learn-copy-subscribe-input" id="fieldEmail" name="cm-aiifi-aiifi" type="email" placeholder="Enter your email " required />
        <ul class="learn-copy-subscribe-options">
          <li>
            <input id="fieldmhyft" name="cm-f-mhyft" type="checkbox" value="yes" />
            <label for="fieldmhyft">Food</label>
          </li>
          <li>
            <input id="fieldmhyfi" name="cm-f-mhyfi" type="checkbox" value="yes" />
            <label for="fieldmhyfi">Film</label>
          </li>
          <li>
            <input id="fieldmhyfd" name="cm-f-mhyfd" type="checkbox" value="yes" />
            <label for="fieldmhyfd">Photography</label>
          </li>
          <li>
            <input id="fieldmhyfh" name="cm-f-mhyfh" type="checkbox" value="yes" />
            <label for="fieldmhyfh">Writing</label>
          </li>
          <li>
            <input id="fieldmhyfk" name="cm-f-mhyfk" type="checkbox" value="yes" />
            <label for="fieldmhyfk">Language</label>
          </li>
          <li>
            <input id="subscribe-all" type="checkbox" value="yes" />
            <label for="subscribe-all">All</label>
          </li>
        </ul>
        <button class="learn-copy-subscribe-submit base-button orange small">Subscribe Now</button>
      </form>
      <script>
        $(function () {
          var $form = $(".scholarship-subscription-form");
          $form.find("#subscribe-all").on("click", function() {
            var $this = $(this);
            if ($this.is(":checked")) {
              $form.find("input[type='checkbox']").not("#subscribe-all").prop('checked', true);
            } else {
              $form.find("input[type='checkbox']").not("#subscribe-all").prop('checked', false);
            }
          });
          $form.submit(function (e) {
            var $form = $(this);
            $.getJSON(this.action + "?callback=?&cm-f-mthdyk=yes", $form.serialize(), function (data) {
              if (data.Status === 400) {
                $form.find('.error').remove();
                $form.append("<label class='error'>" + data.Message + "</label>");
              } else { // 200
                wng.googleAnalytics.trackEvent('Content', 'Join Scholarships List');
                $form.html("<label class='success'>" + data.Message + "</label>");
              }
            });
            e.preventDefault();
          });
        });
      </script>
    </div>
  </div>
</section>
<section class="learn-testimonial">
  <div class="row">
    <div class="small-12 medium-10 medium-offset-1 column">
      <blockquote class="learn-testimonial-quote">
        <a class="learn-testimonial-quote-link" href="https://journals.worldnomads.com/adventurerfever#axzz3Ah54ASQG">Before the scholarship I had been making videos by my own and publishing them through my travel website, but after the scholarship my skills had improved, I had much more storytelling resources and also great material to show in my reel.</a>
      </blockquote>
      <div>
        <img class="learn-testimonial-profile" src="/Media/Default/scholarships/wn-scholarships-testimonial-author.jpg" alt="Andres Brennar">
        <span class="learn-testimonial-author">
          <strong>Andres Brennar</strong><br/>
          Winner Film Scholarship 2013
        </span>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $('[data-smoothscroll] a[href*="#"]:not([href="#"])').click(function() {
      if (location.pathname.replace(/^\//,'') === this.pathname.replace(/^\//,'') ||
          location.hostname === this.hostname) {

          var target = $(this.hash);
          target = target.length ? target : $('[id=' + this.hash.slice(1) +']');
             if (target.length) {
               $('html,body').animate({
                   scrollTop: target.offset().top
              }, 500);
              return false;
          }
      }
  });
</script>
<!-- End Content 2 -->

{% endblock %}
