{% block content %}
<!-- Header -->

<div class="header-panel purple-panel" id="travelfilm">
  <div class="row" id="article-header">  
    <div class="small-12 medium-8 large-6 columns">
      <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <ul class="breadcrumb">
          <li><a href="/">World Nomads</a></li>
          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/learn" itemprop="url"><span itemprop="title">Learn</span></a></li>
          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/learn/travel-film" itemprop="url"><span itemprop="title">Travel Film</span></a></li>
        </ul>
      </div>
      <h1>Travel Film Scholarship - Common Questions</h1>
      <div class="applynowarea">
        <div class="loggedin">
          <form action="http://scholarships.worldnomads.com/application_form.aspx" method="get">
            <button class="base-button orange">Apply now</button>
          </form>
        </div>
        <div class="notloggedin" >
          <form action="http://scholarships.worldnomads.com/application_form.aspx" method="get">
            <button class="base-button orange">Apply now</button>
          </form>
        </div>
      </div>
    </div>    
  </div>
</div>

<style>
@media all and (min-width: 860px) {
  #travelfilm {
    background-image: url('/Media/Default/LearnImages/film2015/114272717-500px-1440x680.jpg');
    background-size: cover;
    background-position: center;
    min-height: 400px;
  }
}
@media all and (max-width: 860px) {
  #travelfilm {
    background-image: url('/Media/Default/LearnImages/');
    min-height: 400px;
  }
}
@media all and (max-width: 500px) {
  #travelfilm {
    background-image: url('/Media/Default/LearnImages/');
  }
}
  
/* countdown style */
  #sidepannel #countbox #days, #sidepannel #countbox #hours, #sidepannel #countbox #mins { color: #61398b; }
  .importantdate .date { background-color: #61398b; }
  
</style>
<!-- Header END -->


<script>
  if($(".login").text()=="Sign In")
  {
    $(".loggedin").hide();
    $(".notloggedin").show();
  }
  else
  {
    $(".loggedin").show();
    $(".notloggedin").hide();
  }
</script>




<div class="row" id="article-content">
  <div class="large-8 medium-8 small-12 columns">


    <div id="faq-title">
        <h3>Film Scholarship FAQs</h3> 
        <p>Every year we repeatedly get asked many of the same questions about the film scholarship. Please take a few minutes to read these carefully. If you have any other questions, please post it in the comments section below.</p>
        <div>
            Quick Links to commonly asked questions about:
            <ul class="qlinks">
                <li><a href="#faq-eligibility">Eligibility</a></li>
                <li><a href="#faq-application">Applications</a></li>
                <li><a href="#faq-trip">The Trip</a></li>
                <li><a href="#faq-troubleshooting">Troubleshooting</a></li>
            </ul>
        </div>
     </div>
    <div id="faq-eligibility" class="faq">

        <h4>Eligibility</h4>
        
        <dl>
            <dt>By "18+ years of age", would this be "18 before the deadline" or "18 before the actual trip"?</dt>  
            <dd>You do need to be 18 at the time of the application deadline (before August 31, 2015).</dd>
            
            <dt>Am I considered a professional filmmaker?</dt>
            <dd><p>This is a grey area, and very tricky to put measures around. We appreciate that the filmmaking and presenting industries are difficult to break into and there are a lucky few who can count themselves as professional full time filmmakers or presenters.</p><p>This scholarship is very much about the mentorship opportunity, and the judging panel will be selecting the person or team who they feel will most benefit from the learning opportunity. So if you have already been commissioned to make films (in any genre) or have had your work broadcast on numerous occasions, it is unlikely you will be selected.</p><p>You will be asked to outline your experience to date in the submission process, and it will be the judging panel who decides who is most suitable based on their video and written component. So whilst we are not stipulating exactly what does and does not constitute a professional, think about the spirit of the mentorship program and whether you think you would make the most ideal candidate(s).</p></dd>
            
            <dt>I speak very little English. Will this be a problem?</dt>
            <dd>English does not have to be your first language, but you do need to have conversational English for this scholarship. In order for you to get the most of the mentorship you will need to be able to understand and converse with your mentor, Brian, on the trip.</dd>
            
            <dt>I am Colombian. Can I apply for this scholarhsip?</dt>
            <dd>Yes, of course Colombians are eligible too! </dd>
        </dl>

      </div>


    <div id="faq-application" class="faq">
        <h4>Application</h4>
        
        <dl>
            <dt>Can I enter more than once?</dt>  
            <dd>No, you can only submit one entry. </dd>
            
            <dt>Can a pair or team submit an entry?  </dt>
            <dd>No, each film must be submitted by an individual filmmaker. While in previous years we have allowed team submissions, this year we're looking for a one-person show, needing nothing more than a camera and a sense of adventure to unearth a great story.</dd>
            
            <dt>Can I make video in our local language with English Subtitles?</dt>
            <dd>Yes, however you must keep in mind that English skills are paramount, as our mentor, Brian Rapsey, only speaks English.</dd>
            
            <dt>Can I use previous travel footage I have shot?</dt>
            <dd>The travel video may be compiled from previous travel videos you've shot.</dd>
            
            <dt>I have some great material but from a phone. Will it have a chance?</dt>
            <dd>Have a look at the winning videos of our previous film scholarships and see if your footage compares. Remember, the film needs to have good audio too!</dd>
            
            <dt>Can I include animation in my film?</dt>
            <dd>Yes, you may have some animation, but you must still adhere to the brief.</dd>
            
            <dt>Can I include music in my film? </dt>
            <dd>Yes, you can include music in your film. However, please be aware, you will need to follow the guidelines outlined by YouTube & Vimeo. If you use copyrighted music, you run the risk of your entire audio track being stripped from your video.</dd>
            
            <dt>Can I use photos within the film? </dt>
            <dd>We're happy for you to include photos as long as you have the right to use the images. Remember, the majority of your entry should be footage and not stills.</dd>

        </dl>
      </div>

    <div id="faq-trip" class="faq">
        <h4>The Trip</h4>
        
        <dl>
            <dt>What will I have to produce from my trip?</dt>  
            <dd><p>Under the mentorship of Brian Rapsey you will be shooting a short 5-7 minute travel documentary, you will then attend a post-production workshop in Bogota to commence your editing work. Within two months of your return, you will complete your video and submit the piece to World Nomads.</p>
            <p>You will also keep a daily diary about your time on the trip and upload this plus pictures you've taken to your World Nomads travel journal.</p></dd>
            
            <dt>Are the trip dates final or could they be altered a little?</dt>
            <dd>Yes, these dates are final.</dd>
            
            <dt>What will the mentorship entail? </dt>
            <dd>Every day on assignment you'll catch up with your mentor Brian to review your footage, discuss your story direction and ply him with your filmmaking questions over some Colombian coffee.</dd>
            
            <dt>How can I prepare for my trip?</dt>
            <dd>Prior to departure, we'll work with the winner(s) to flesh out themes, story lines and potential filming ideas...then we'll let you loose to research and get amongst it!</dd>

            <dt>Will I need to bring my own gear? If so, what gear do I need to bring?</dt>
            <dd>Yes, you will need to bring your own gear. You will need to have a camera capable of capturing reasonably good quality video and audio. DSLR's and camcorders are preferable, GoPros and iPhones are less preferable - simply because you are limited in what you can do with them.  However, if you are able to demonstrate you have an excellent eye for a story and an excellent grasp of visual language, we will look past gear limitations.</dd>
            
            <dt>Can I bring a travel companion or my partner along for the trip?</dt>
            <dd>The three trips are only for one person each. Should you wish to extend that trip in Sri Lanka after the assignment, this can be discussed.</dd>
            
            <dt>Is there any other way to get into the program besides the scholarship? Can I pay for my room &amp; board myself and take part in the program? </dt>
            <dd>No, unfortunately, you cannot pay your way onto this trip.</dd>
            
        </dl>
      </div>
   
    <div id="faq-troubleshooting" class="faq">
        <h4>Troubleshooting</h4>
        
        <dl>
            <dt>I have a problem submitting my application. Can I email my entry to you? Help!</dt>  
            <dd><p>No, you cannot email your entry to us. All entrants need to fill the application page and submit their applications via our website. </p>If you have encountered any specific issues please contact us at scholarships@worldnomads.com</dd>
            
            <dt>I&#39;m not sure if my application was submitted correctly. How do I check this?</dt>
            <dd>If your entry is complete, you will automatically receive an email confirmation. You can also <a href="http://adventures.worldnomads.com/scholarships">see your submission in the list</a> here along with everyone else&#39;s entries.</dd>
        </dl>
      </div>
    
  </div>
  
  <script type="text/javascript">
    var year = 2015; 
    var month = 08; 
    var day = 31;
    var hour= 12; 
    var min= 0; 
    var sec= 0;
  </script>
  <script type="text/javascript" src="//www.worldnomads.com/Media/Default/scripts/js/counter-countdown.js"></script>

  <div class="small-12 medium-4 large-3 large-offset-1 columns">
    
    <div class="panel" id="sidepannel">
      <h4>Applications close in...</h4>
      <div id="countbox"></div>
      <p class="small">Entries close March 6, 2015 at 2PM <a target="_blank" href="http://www.timeanddate.com/time/zones/est">(EST)</a></p>
    </div>
    
    <div id="sidePanel" class="panel">
      <h4>Important dates</h4>
      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>31</div>
          <span>Aug</span>
        </div>
        <div class="info">
          <h5>Program applications close</h5>
        </div>
      </div>
      <!-- Date END -->

      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>1</div>
          <span>Sept</span>
        </div>
        <div class="info">
          <h5>Application judging</h5>
        </div>
      </div>
      <!-- Date END -->

      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>26</div>
          <span>Sept</span>
        </div>
        <div class="info">
          <h5>Winners announced</h5>
        </div>
      </div>
      <!-- Date END -->

      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>22</div>
          <span>Nov</span>
        </div>
        <div class="info">
          <h5>Arrive in Bogota </h5>
        </div>
      </div>
      <!-- Date END -->

      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>23</div>
          <span>Nov</span>
        </div>
        <div class="info">
          <h5>7-day filming around Colombia</h5>
        </div>
      </div>
      <!-- Date END -->

      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>30</div>
          <span>Nov</span>
        </div>
        <div class="info">
          <h5>3-day post-production workshop</h5>
        </div>
      </div>
      <!-- Date END -->

      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>3</div>
          <span>Dec</span>
        </div>
        <div class="info">
          <h5>Depart from Bogota</h5>
        </div>
      </div>
      <!-- Date END -->
    </div>

  </div>
</div>

{% endblock %}
