
{% block content %}

<!-- Header -->

<div class="header-panel purple-panel" id="travelfilm">
  <div class="row" id="article-header">  
    <div class="small-12 medium-6 large-6 columns">
      <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        <ul class="breadcrumb">
          <li><a href="/">World Nomads</a></li>
          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/learn" itemprop="url"><span itemprop="title">Learn</span></a></li>
          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/learn/travel-film" itemprop="url"><span itemprop="title">Travel Film</span></a></li>
        </ul>
      </div>
      <h1>Go on a filmmaking assignment to Colombia!</h1>
      <p class="highlight">Plus be mentored by veteran filmmaker and director, Brian Rapsey.</p>
      <form action="/learn/travel-writing/travel-film-scholarship-2015" method="get">
        <button class="base-button orange">Apply now</button>
      </form>
    </div>    

  </div>
</div>

<style>
@media all and (min-width: 860px) {
  #travelfilm {
    background-image: url('/Media/Default/LearnImages/film2015/114272717-500px-1440x680.jpg');
    background-size: cover;
    background-position: center;
    min-height: 550px;
  }
}
@media all and (max-width: 860px) {
  #travelfilm {
    background-image: url('/Media/Default/LearnImages/');
    min-height: 440px;
  }
}
@media all and (max-width: 500px) {
  #travelfilm {
    background-image: url('/Media/Default/LearnImages/');
  }
}
</style>
<!-- Header END -->

<!-- Panel 1 -->
<div id="sharetools-long">
  <div class="row">
    <div class="small-12 columns">
      <div id="socialarea">     
        <div id="sharedcount">
          <div id="total"></div>
          <p>Shares</p> 
        </div>
        <div id="share-icons">
          <a class="facebook" target="_blank"><span>Share on Facebook</span>&#xe607;</a>
          <a class="twitter" target="_blank"><span>Share on Twitter</span>&#xe602;</a>
          <a class="pinterest">&#xe603;</a>
          <a class="gplus" target="_blank">&#xe605;</a>
          <a class="linkedin" target="_blank"><img src="//www.worldnomads.com/Media/Default/shareimages/linkedin-share-icon.png" /></a>
          <a class="stumbleupon" target="_blank"><img src="//www.worldnomads.com/Media/Default/shareimages/stumble-share-icon.png" /></a>
          <a class="plus"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Panel 1 END -->


<!-- Panel 2 -->

<div class="row" id="article-content">
  <div class="large-8 medium-8 small-12 columns">
    <h2>Aspiring filmmakers, this is your chance to go on assignment to capture Colombia!</h2>
    <p class="highlight">This South American stunner’s doors are now open, and we believe that it has more than a few stories to tell. In our 2015 Travel Film Scholarship, we’re looking for one adventurous documentary filmmaker to capture the culture and the communities of Colombia’s Pacific Coast. </p>
    <p>Boasting more than its fair share of white-sand beaches, lush jungles and cloud forested mountain ranges, Colombia is a filmmaker’s dream. However, it’s beauty is matched by history, culture and people no less interesting or colourful. </p>
    <p>Your job will be to document the story of a Pacific community nestled in one of the world's biodiversity hotspots. This undiscovered paradise is just opening itself up to travellers and is chock full of some of the country’s best wildlife and adventure experiences. This is your opportunity to document how the community lives and how they are working to promote tourism to the region. </p>    

    <h3>The Prizes</h3>
    <ul class="disc">
      <li>A 10-day all-expenses-paid trip in Colombia</li>
      <li>Round-trip airfare from your country of residence to Bogota</li>
      <li>10-day professional mentorship from Brian Rapsey</li>
      <li>Travel insurance for the duration of the trip from World Nomads.</li>
    </ul>
    
    
    <div class="row">
      <div class="small-12 large-4 columns">
        <div class="applynowarea">
          <div class="loggedin">
            <form action="http://scholarships.worldnomads.com/application_form.aspx" method="get">
              <button class="base-button orange expand">Apply now</button>
            </form>
          </div>

          <div class="notloggedin" >
            <form action="http://scholarships.worldnomads.com/application_form.aspx" method="get">
              <button class="base-button orange expand">Apply now</button>
            </form>
          </div>
        </div>
      </div> 
    </div> 
  </div>
  
   <script type="text/javascript">
    var year = 2015; 
    var month = 08; 
    var day = 31;
    var hour= 12; 
    var min= 0; 
    var sec= 0;
  </script>
  <script type="text/javascript" src="//www.worldnomads.com/Media/Default/scripts/js/counter-countdown.js"></script>

  <div class="small-12 medium-4 large-3 large-offset-1 columns">
    
    <div class="panel" id="sidepannel">
      <h4>Applications close in...</h4>
      <div id="countbox"></div>
      <p class="small">Entries close March 6, 2015 at 2PM <a target="_blank" href="http://www.timeanddate.com/time/zones/est">(EST)</a></p>
    </div>
    
    <div class="panel purple-panel purple-pattern">
      <h4>Not ready to apply yet? </h4>
      <p>Sign up to receive our reminder email 1 week before the application deadline.</p>
      <form class="nomadsnews"  action="http://worldnomadsgroup.createsend.com/t/y/s/aiifi/" method="post">
        <input id="fieldEmail" name="cm-aiifi-aiifi" type="email" placeholder="Enter your email" required style="width: 100%;" />
        <input id="fieldmthdyd" name="cm-f-mthdyd" type="hidden" value="yes" />
        <button class="base-button orange expand" style="margin-top:16px;">Send reminder</button>
      </form>
      <script>

      </script>    
    </div>
    
  </div>
</div>
<!-- Panel 2 END -->


<!-- Panel 3 -->
<style>
.feature-box .bottom {
  min-height: 100px 
}
.feature-box.apply {
  background-image: url('/Media/Default/LearnImages/film2015/apply-450x440.jpg');
}
.feature-box.pro {
  background-image: url('/Media/Default/LearnImages/film2015/pro-450x440.jpg');
}
.feature-box.faq {
  background-image: url('/Media/Default/LearnImages/film2015/faqs-450x440.jpg');
}
.feature-box.mentor {
  background-image: url('/Media/Default/LearnImages/film2015/brian-rapsey-450x440.jpg');
}
  
/* countdown style */
  #sidepannel #countbox #days, #sidepannel #countbox #hours, #sidepannel #countbox #mins { color: #61398b; }
  .importantdate .date { background-color: #61398b; }
  
#judges, #apply, #professional, #who, #brief, #faqs, #doing, .panels-wrapper {
  margin-top: 40px; 
  margin-bottom: 40px; 
}
</style>


<div class="row panels-wrapper">
  <div class="large-3 medium-6 small-12 columns">
    <div class="feature-box apply">
      <ul class="breadcrumb">
        <li>
          <a href="">Travel Film</a>
        </li>
        <li>
          <a href="">How</a>
        </li>
      </ul>
      <a href=""><h4>How to apply</h4></a>
      <div class="bottom purple">
        <span class="feature-link-title">Application steps</span>
        <p><a href="#apply">Follow our 3 simple steps and enter!</a></p>

<!--
        <ol class="number">
          <li><a href="#apply">Carefully read the brief below</a></li>
          <li><a href="#apply">Film and upload your video</a></li>
          <li><a href="#apply">Tell us why we should we choose you?</a></li>
        </ol>
-->
      </div>
    </div>
  </div> 

  <div class="large-3 medium-6 small-12 columns">
    <div class="feature-box pro">
      <ul class="breadcrumb">
        <li>
          <a href="">Travel Film</a>
        </li>
        <li>
          <a href="">Professional</a>
        </li>
      </ul>
      <a href=""><h4>Am I a professional?</h4></a>
      <div class="bottom purple">
        <span class="feature-link-title">Eligibility to enter</span>
        <p><a href="">Think you might be a pro, read our guide before you enter.<span></span></a></p>
      </div>
    </div>
  </div> 

  <div class="large-3 medium-6 small-12 columns">
    <div class="feature-box faq">
      <ul class="breadcrumb">
        <li>
          <a href="">Travel Film</a>
        </li>
        <li>
          <a href="">FAQ's</a>
        </li>
      </ul>
      <a href=""><h4>Frequently Asked Questions</h4></a>
      <div class="bottom purple">
        <span class="feature-link-title">Before you ask: </span>
        <p><a href="">Have a burning question? Read our faq's.<span></span></a></p>
      </div>
    </div>
  </div> 
  
  <div class="large-3 medium-6 small-12 columns">
    <div class="feature-box mentor">
      <ul class="breadcrumb">
        <li>
          <a href="">Travel Film</a>
        </li>
        <li>
          <a href="">Mentor</a>
        </li>
      </ul>
      <a href=""><h4>Meet your Mentor</h4></a>
      <div class="bottom purple">
        <span class="feature-link-title">About Brian Rapsey</span>
        <p><a href="http://journals.worldnomads.com/projecttravel/story/119040/Worldwide/Meet-the-Mentor-Brian-Rapsey" target="_blank">Profesional Filmmaker and Director, Brian Rapsey.<span></span></a></p>
      </div>
    </div>
  </div>   
  
</div>


<!-- Panel 3 END -->


<!-- Panel 4 -->
<div class="row">
  <div class="large-8 medium-8 small-12 columns">

      <div class="panel">
        <h4>Get some great travel filmmaking tips</h4>
        <p>Want to craft your best entry for the scholarship? Then sign up for the free Travel Filmmaking Tips video series here!</p>
        <form class="nomadsnews"  action="http://worldnomadsgroup.createsend.com/t/y/s/aiifi/" method="post">
          <div class="row">
            <div class="small-12 medium-6 large-6 columns">
              <input id="fieldEmail" name="cm-aiifi-aiifi" type="email" placeholder="Enter your email" required />
              <input id="fieldmthdyd" name="cm-f-mthdyd" type="hidden" value="yes" />
            </div>
            <div class="small-12 medium-6 large-6 columns">
              <button class="base-button orange expand">Send me tips</button>
            </div>
          </div>
        </form>
        <script>
              $(function () {
                $('.nomadsnews').submit(function (e) {
                  var form = $(this);
                  $.getJSON(this.action + "?callback=?", form.serialize(), function (data) {
                    if (data.Status === 400) {
                     form.find('.error').remove();
                      form.append("&amp;lt;p class='error'&amp;gt;" + data.Message + "&amp;lt;/p&amp;gt;");
                  } else { // 200
                            wng.googleAnalytics.trackEvent('Scholarship', 'Reminder');
                            form.html("Thank you, we will send you the next copy of Nomads News.");
                    }
                });
                e.preventDefault();
              });
            });
        </script>  
      </div>
    
      <div id="doing">
        <h3>What You'll be Doing</h3>
        <p>The scholarship recipient will be flown from their country of residence to Bogota where they will spend 7 days filming in Colombia under the mentorship of filmmaker and director Brian Rapsey, then spend the final 3 days in a post-production workshop in Bogota. In that time you will be producing a short 5-7 minute travel documentary, which we will share with the world!</p>
        <p>You will also post photos from your assignment to Instagram or Twitter on a daily basis so that we can follow your adventures.</p>
      </div>

      <div id="who">
        <h3>Who can apply?</h3>
        <ul class="disc">
          <li>Any non-professionals can apply - this is open to film students, or anyone who is trying to build a career in documentary style filmmaking.</li>
          <li>The scholarship is open to all nationalities; however, you must have an exceptionally high degree of proficiency in written English.</li>
          <li>Minimum age 18 (by application deadline, August 31st).</li>
          <li>You must have a current, valid passport and you must be available as per the dates set out. Please note these dates are not changeable in any way.</li>
          <li>You may be a resident of any country (subject to obtaining a Colombian visa).</li>
          <li>You should be a keen amateur with a lust for adventure and burning desire to be a filmmaker.</li>
          <li>You must be fit and healthy as moderate levels of physical work are involved as well as a number of late nights!</li>
        </ul>
      </div>
    

      <div id="apply">
        <h3>How to apply</h3>
        <p class="highlight">This year we’re only accepting applications from solo documentary filmmakers. To apply, simply:</p>
        
        <ol class="number">
          <li>
            <span>Film your 'profile of a person who inspires you to travel the world'</span>
            Please carefully read the brief below. Your film should be no longer than 3-minutes and in English. Remember, entries that exceed this will not be considered. 
          </li>
          <li>
            <span>Upload your video</span>
            Go to YouTube or Vimeo to upload your video
          </li>
          <li>
            <span>Complete your application form</span>
            Tell us what winning the scholarship would mean to you and why we should choose you.
          </li>
        </ol>
        <div class="">
          <strong>Note: </strong>
          <p>One entry per person.</p>
          <p>Entries compiled solely of still shots will not be considered, you need to demonstrate your skill with the moving image.</p>
        </div>
              
      </div>

      <div id="brief">
        <h3>Your Brief</h3>
        <p class="highlight">For this year’s application brief, we are looking to focus on profiles of people who inspire you to travel the world.</p>
        <p>We want you to find and tell the story of someone's journey. This could be anything from a story of immigration, a triumph of summiting of Mt. Everest or the traveller who keeps the travel spirit alive in their own backyard. Our challenge to you is to go out and interview these amazing adventurers, courageous souls and regular people who inspire you to hit the road.</p>
        <p>Your brief is to paint their picture for us – show us how they travel. Find out what they have done, where they have been, what kind of person they are, and why you find them interesting. Bring to life their compelling travel story and share their unique philosophies, quirky travel rituals and fascinating curiosities. </p>
        <p>This is your chance to find an inspiring story and tell it through your great documentary filmmaking skills.</p>
      </div>
      
      <div id="judges">
        <h3>What the judges are looking for</h3>
        <p class="highlight">A good entry should:</p>
        <p>We will be looking for:</p>
        <ul class="disc">
          <li>Convey a strong narrative within a 3 minute timeframe</li>
          <li>Focus on an individual person</li>
          <li>Show us your interviewing skills and ability to coax a good story from your subject</li>
          <li>Demonstrate strong filmmaking skills</li>
          <li>Show originality</li>
          <li>Be visually engaging</li>
        </ul>
        <p>Entries compiled solely of still shots will not be considered, you need to demonstrate your skill with the moving image.</p>
      </div>


      <div id="faqs">
        <h3>FAQ's</h3>
        <ul class="disc">
          <li><a href="">Am I considered a professional filmmaker?</a></li>
          <li><a href="">Can I use previous travel footage I have shot?</a></li>
          <li><a href="">What will I have to produce from my trip?</a></li>
          <li><a href="">What will the mentorship entail?</a></li>
          <li><a href="">How can I prepare for my trip?</a></li>
          <li><a href="">Can I make video in our local language with English Subtitles?</a></li>
          <li><a href="">Can a pair or team submit an entry? </a></li>
          <li><a href="">What gear do I need to bring?</a></li>
          <li><a href="">Can I include animation in my film?</a></li>
          <li><a href="">How do I know my application has been successful?</a></li>
          <li><a href="">Can I include music in our film?</a></li>
          <li><a href="">Can I use photos within the film? </a></li>
          <li><a href="">I have some great material but from a phone. Will it have a chance?</a></li>
        </ul>
        <p>Please read our FAQs page and our responses to the questions posted below before posting your question in the comments sections below. </p>
      </div>


  </div>

    
  <div class="large-3 medium-4 small-12 columns">
    <div id="sidePanel" class="panel">
      <h4>Important dates</h4>
      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>31</div>
          <span>Aug</span>
        </div>
        <div class="info">
          <h5>Program applications close</h5>
        </div>
      </div>
      <!-- Date END -->

      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>1</div>
          <span>Sept</span>
        </div>
        <div class="info">
          <h5>Application judging</h5>
        </div>
      </div>
      <!-- Date END -->

      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>26</div>
          <span>Sept</span>
        </div>
        <div class="info">
          <h5>Winners announced</h5>
        </div>
      </div>
      <!-- Date END -->

      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>22</div>
          <span>Nov</span>
        </div>
        <div class="info">
          <h5>Arrive in Bogota </h5>
        </div>
      </div>
      <!-- Date END -->

      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>23</div>
          <span>Nov</span>
        </div>
        <div class="info">
          <h5>7-day filming around Colombia</h5>
        </div>
      </div>
      <!-- Date END -->

      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>30</div>
          <span>Nov</span>
        </div>
        <div class="info">
          <h5>3-day post-production workshop</h5>
        </div>
      </div>
      <!-- Date END -->

      <!-- Date -->
      <div class="importantdate">
        <div class="date">
          <div>3</div>
          <span>Dec</span>
        </div>
        <div class="info">
          <h5>Depart from Bogota</h5>
        </div>
      </div>
      <!-- Date END -->
    </div>
   
    
  </div>
</div>



<!-- Panel 4 END -->


<!-- Panel 5 -->
<style>
.feature-box.rmckinley {
  background-image: url('/Media/Default/LearnImages/writing2015/BelugaSmile.jpg');
}
.feature-box.aeileenr {
  background-image: url('/Media/Default/LearnImages/writing2015/WrongSideofWall.jpg');
}
.feature-box.jazzanomadica {
  background-image: url('/Media/Default/LearnImages/writing2015/NeverEndingHorizon.jpg');
}
.feature-box.roadtrip {
  background-image: url('/Media/Default/LearnImages/writing2015/EuroRoadTrip.jpg');
}
@media all and (max-width: 500px) {
  .feature-box.rmckinley {
    background-image: url('/Media/Default/LearnImages/writing2015/BelugaSmile_tablet.jpg');
  }
  .feature-box.aeileenr {
    background-image: url('/Media/Default/LearnImages/writing2015/WrongSideofWall_tablet.jpg');
  }
  .feature-box.jazzanomadica {
    background-image: url('/Media/Default/LearnImages/writing2015/NeverEndingHorizon_tablet.jpg');
  }
  .feature-box.roadtrip {
    background-image: url('/Media/Default/LearnImages/writing2015/EuroRoadTrip_tablet.jpg');
  }
}
</style>

<div class="panel">
  <div class="row">
    <div class="small-12 large-5 large-offset-2 columns"><h4>Apply now for the 2015 Film Scholarship</h4></div>
    <div class="small-12 large-3 end columns">
      <div class="applynowarea">
        <div class="loggedin">
          <form action="http://scholarships.worldnomads.com/application_form.aspx" method="get">
            <button class="base-button orange expand">Apply now</button>
          </form>
        </div>

        <div class="notloggedin" >
          <form action="http://scholarships.worldnomads.com/application_form.aspx" method="get">
            <button class="base-button orange expand">Apply now</button>
          </form>
        </div>
      </div>
    </div> 
  </div>
</div>

<script>
  if($(".login").text()=="Sign In")
  {
    $(".loggedin").hide();
    $(".notloggedin").show();
  }
  else
  {
    $(".loggedin").show();
    $(".notloggedin").hide();
  }
</script>

<div class="row panels-wrapper">
  <div class="large-12 medium-12 small-12 columns">
    <h3>View the best entries from our 2014 Travel Film Scholarship</h3>
  </div>
  <div class="large-3 medium-6 small-12 columns">
    <div class="feature-box rmckinley">
      <ul class="breadcrumb">
        <li>
          <a href="/learn/travel-writing">Travel Writing</a>
        </li>
      </ul>
      <a href="http://journals.worldnomads.com/rmckinley/" target="_blank"><h4>Beluga Smile</h4></a>
      <div class="bottom teal">
        <span class="feature-link-title">2014 Winner</span>
        <p><a href="http://journals.worldnomads.com/rmckinley/" target="_blank">Here is Rachel's winning story, read about her road trip through Prague and London.<span></span></a></p>
      </div>
    </div>
  </div> 

  <div class="large-3 medium-6 small-12 columns">
    <div class="feature-box aeileenr">
      <ul class="breadcrumb">
        <li>
          <a href="/learn/travel-writing">Travel Writing</a>
        </li>
      </ul>
      <a href="http://journals.worldnomads.com/aeileenr/" target="_blank"><h4>Wrong Side of the Wall</h4></a>
      <div class="bottom teal">
        <span class="feature-link-title">2014 Winner</span>
        <p><a href="http://journals.worldnomads.com/aeileenr/" target="_blank">Read Amanda's winning story and her adventures in Venice and Copenhagen.<span></span></a></p>
      </div>
    </div>
  </div> 

  <div class="large-3 medium-6 small-12 columns">
    <div class="feature-box jazzanomadica">
      <ul class="breadcrumb">
        <li>
          <a href="/learn/travel-writing">Travel Writing</a>
        </li>
      </ul>
      <a href="http://journals.worldnomads.com/jazzanomadica/" target="_blank"><h4>Never-Ending Horizon</h4></a>
      <div class="bottom teal">
        <span class="feature-link-title">2014 Winner</span>
        <p><a href="http://journals.worldnomads.com/jazzanomadica/" target="_blank">Check out Jarryd's winning story and read about his travels in Lisbon and Madrid.<span></span></a></p>
      </div>
    </div>
  </div> 

  <div class="large-3 medium-6 small-12 columns">
    <div class="feature-box roadtrip">
      <ul class="breadcrumb">
        <li>
          <a href="/learn/travel-writing">Travel Writing</a>
        </li>
      </ul>
      <a href="http://journals.worldnomads.com/scholarships/story/117899/Worldwide/Travel-Writing-Scholarship-2014-Euro-Road-Trip-Winners-Announced" target="_blank"><h4>Euro Road Trip 2014</h4></a>
      <div class="bottom teal">
        <span class="feature-link-title">2014 Winner</span>
        <p><a href="http://journals.worldnomads.com/scholarships/story/117899/Worldwide/Travel-Writing-Scholarship-2014-Euro-Road-Trip-Winners-Announced" target="_blank">Interested in what makes a good story? Check out las year's winners and the shortlisted entries.<span></span></a></p>
      </div>
    </div>
  </div>  
</div>
<!-- Panel 5 END --> 	



<!-- Panel 6 -->
<!-- Fixing the markup for comments -->
<script type="text/javascript">
$(function () {
	$("h2.comment-count, h2 + ul.comments, #comment-form-beacon + form").wrapAll("<div id='comment-wrapper' />")
});
</script>
<!-- Fixing the markup END -->

<!-- Style Overrides for comments -->
<style>
 #comment-wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 71.875rem;
    padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin-bottom: 90px;
  }
  #comment-wrapper:before {
  	content: "Got a question? Post it below!";
  	padding-bottom: 32px;
  	font-size: 32px;
  	width: 100%;
  	float: left;
  }
  #comment-wrapper .comment-count {
  	display: none;
  }
  #comment-wrapper ul.comments {
	list-style: none;
	border-bottom: 1px solid #eeeeee;
	margin-left: 0;
  }
  #comment-wrapper ul.comments li {
	border-bottom: 1px solid #eeeeee;
padding-top:8px;
  }
  #comment-wrapper ul.comments li.last {
  	border-bottom: none;
  }  
  #comment-wrapper ul.comments p {
  	font-size: 15px;
  	line-height: 20px;
  }
  #comment-wrapper #add-comment {
  	font-size: 24px;
  	margin-bottom: 8px;
  }
  #comment-wrapper ol {
  	list-style: none;
  	max-width: 540px;
  	margin-left: 0;
  }
  #comment-wrapper ol li {
  	list-style: none;
  }
  #comment-wrapper .primaryAction {
  	font-size: 18px;
  	right: 5px;
  	top: 4px;
  	padding: 4px 36px 4px 15px;
  	position: relative;
  	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  	box-sizing: border-box;
  	font-weight: 300;
  	background: #73b4f2;
  	color: #ffffff;
  }
  #comment-wrapper .edit-item-content {
  	clear: both;
  }
    #comment-wrapper .primaryAction:after {
    	content: "";
    	font-family: WNI;
    	font-size: 32px;
    	position: absolute;
    	right:5px;
    	top: 4px;
    }
   #comment-wrapper .primaryAction:hover {
    background: none repeat scroll 0 0 #52a3ef;
    }
    #comment-wrapper h4 {
    	margin-bottom: 8px;
    }
    h2#commenter {
      font-size: 1.4em;
    }
    #comment-wrapper, #judges, #apply, #professional, #who, #brief, #faqs, #doing, .panels-wrapper {
      margin-top: 40px; 
      margin-bottom: 40px; 
    }
</style>
<!-- Panel 6 END -->

<!-- Panel 7 -->

<!-- Mobile Bit -->

<div class="mobilesignup">
  <div class="row">
    <a class="mobileclose" href="#">&#xe641;</a>
    <h3>We know this is going to be hard to complete on a mobile device, why not enter your email and we will send you a link so you don't forget to enter this great oppourtunity.</h3>
    <form class="scholarship-mobile"  action="http://worldnomadsgroup.createsend.com/t/y/s/fuhdlk/" method="post">
          <input id="fieldEmail" name="cm-fuhdlk-fuhdlk" type="email" placeholder="Enter your email" required style="width: 60%;" />
          <button class="base-button orange" style="width: 38%; margin-left: 2%;">Apply</button>
        </form>

        <script>
              $(function () {
                $('.scholarship-mobile').submit(function (e) {
                  var form = $(this);
                  $.getJSON(this.action + "?callback=?", form.serialize(), function (data) {
                    if (data.Status === 400) {
                     form.find('.error').remove();
                      form.append("&amp;lt;p class='error'&amp;gt;" + data.Message + "&amp;lt;/p&amp;gt;");
                  } else { // 200
                            wng.googleAnalytics.trackEvent('Scholarship', 'Mobile Reminder');
                            form.html("Thank you, we will email so you dont forget to enter.");
                    }
                });
                e.preventDefault();
              });
            });
        </script>
  </div>
<script>
$( ".mobilesignup" ).show();
$( "a.mobileclose" ).click(function( event ) {
  event.preventDefault();
  $( ".mobilesignup" ).hide();
});
</script>
</div>
<style>
.mobilesignup {
  display: none;
}
@media all and (max-width: 500px) {
  .mobilesignup {
  display: block;
  width: 100%;
  clear: both;
  background: url('http://cdn.worldnomads.net/Content/styles/i/wn/backgrounds/hero_bg_color_purple.jpg');
  position: fixed;
  padding-bottom: 20px;
  bottom: 0;
  margin-bottom: 0;
  z-index: 5000
}
.mobilesignup h3 {
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  padding-bottom: 8px;
}
.mobilesignup a.mobileclose {
  color: #ffffff;
  float: right;
}
.mobileclose {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-family: "WNI";
  line-height: 24px;
  margin-bottom: 10px;
  padding: 12px 0;
}
}
</style>

<!-- Mobile Bit END -->
<script>
jQuery.sharedCount = function(url, fn) {
 url = encodeURIComponent(url || location.href);
 var domain = "//free.sharedcount.com/"; /* SET DOMAIN */
 var apikey = "8e4b7187bcfca463ceeca1577105f710bf47edd1" /*API KEY HERE*/
 var arg = {
  data: {
   url : url,
   apikey : apikey
  },
  url: domain,
  cache: true,
  dataType: "json"
 };
 if ('withCredentials' in new XMLHttpRequest) {
  arg.success = fn;
 }
 else {
  var cb = "sc_" + url.replace(/\W/g, '');
  window[cb] = fn;
  arg.jsonpCallback = cb;
  arg.dataType += "p";
 }
 return jQuery.ajax(arg);
};

jQuery(document).ready(function($){
 var targetUrl = "http://" + location.host + location.pathname;

 $.sharedCount(targetUrl, function(data){
  var totalShares = data.Twitter + data.Facebook.like_count + data.GooglePlusOne + data.Facebook.share_count + data.Pinterest + data.LinkedIn + data.StumbleUpon;
  if (totalShares <= 1) {
   totalShares = 1;
  }
  $("#tweetscount").text(data.Twitter);    
  $("#likescount").text(data.Facebook.like_count);
  $("#facebooksharecount").text(data.Facebook.share_count);
  $("#plusonescount").text(data.GooglePlusOne);
  $("#stumbleuponcount").text(data.StumbleUpon);
  $("#pintrestcount").text(data.Pinterest);
  $("#linkedincount").text(data.LinkedIn);
  $("#total").text(totalShares);
  $("#sharedcount").fadeIn();

 });
});
</script>
<!-- Panel 7 END -->

<!-- Panel 8 -->
<script>

  // Build the target srcs for the icons on click.
  var socialMedialUrl          = window.location;
  
  var facebookParamU           = "http://bit.ly/1AWyF12";

  var twitterParamText         = "Go on a 10-day filmmaking assignment to capture Colombia with @WorldNomads and be mentored by a professional filmmaker (bitly) #wnfilm";

  var pinParamDescription      = "Go on a filmmaking assignment to Colombia!";
  var pinParamMedia            = "http://www.worldnomads.com/Media/Default/LearnImages/film2015/film-2015-Pintrest.jpg";
  
  var linkedParamTitle         = "Go on a filmmaking assignment to Colombia!";
  var linkedParamDescription   = "Win a 10-day filmmaking assignment to capture Colombia and be mentored by veteran filmmaker and director, Brian Rapsey.";

  $(function() {
    var $plus = $(".plus");
    var $toggleableButtons = $(".pinterest, .gplus, .linkedin, .stumbleupon").hide();
    $plus.on("click", function() {
      var $this = $(this);
      $toggleableButtons.toggle();
      $plus.toggleClass("open");
    });
  });
  
  $(function() {
    var $si = $(".socialicon");
    var targetUrl = "";
    $si.on("click", function() {
      var $this = $(this);
      if ($this.hasClass("facebook")) {
        targetUrl = "http://www.facebook.com/share.php?u=" + facebookParamU;
        window.open(targetUrl, 'name', 'width=600,height=400');
      }
      else if ($this.hasClass("twitter")) {
        targetUrl = "https://twitter.com/intent/tweet?text=" + twitterParamText;
        window.open(targetUrl, 'name', 'width=600,height=400');
      }
      else if ($this.hasClass("pinterest")) {
        targetUrl = "http://pinterest.com/pin/create/button?description=" + pinParamDescription + "&media=" + pinParamMedia; + "&url=" + socialMedialUrl; 
        window.open(targetUrl, 'name', 'width=755,height=400,scrollbars=no');
      }
      else if ($this.hasClass("gplus")) {
        targetUrl = "https://plus.google.com/share?url=" + socialMedialUrl;
        window.open(targetUrl, 'name', 'width=600,height=400');
      }
      else if ($this.hasClass("linkedin")) {
        targetUrl = "https://www.linkedin.com/shareArticle?mini=true&url=" + socialMedialUrl + "&title=" + linkedParamTitle + "&summary=" + linkedParamDescription;
        window.open(targetUrl, 'name', 'width=600,height=400');
      }
      else if ($this.hasClass("stumbleupon")) {
        targetUrl = "http://www.stumbleupon.com/badge/?url=" + socialMedialUrl;
        window.open(targetUrl, 'name', 'width=600,height=400');
      }
    });
  });
</script>
<!-- Panel 8 END  -->

{% endblock %}
