{% block content %}

  
<div class="header-panel red-panel red-pattern" id="travelfilm">
  <div class="row" id="article-header">  
    <div class="small-12 medium-6 large-6 columns">
      
    </div>
  </div>
</div>

<div class="row" id="article-content">  
  <div class="small-12 medium-8 large-8 columns">
    
    <!--  Breadcrumb -->
    <div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
      <ul class="breadcrumb">
        <li><a href="/">World Nomads</a></li>
        <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/travel-smart" itemprop="url"><span itemprop="title">Travel Smart</span></a></li>
      </ul>
    </div>
    
    <!--  Header  -->
    <h1>Thailand, Motorbikes &amp; Accidents</h1>
    
    <!-- Share tools -->
    <div class="contain-to-grid sticky"> 
      <div id="sharetools-article" data-topbar role="navigation" data-options="sticky_on: large">
        <div class="row">
          <div class="small-12 columns">
            <div id="socialarea">     
              <div id="sharedcount">
                <div id="total"></div>
                <p>Shares</p> 
              </div>
              <div id="share-icons">
                <a class="facebook" target="_blank"><span>Share on Facebook</span>&#xe607;</a>
                <a class="twitter" target="_blank"><span>Share on Twitter</span>&#xe602;</a>
  <!--              <a class="email">&#xe603;</a>-->
                <a class="pinterest">&#xe603;</a>
                <a class="gplus" target="_blank">&#xe605;</a>
                <a class="linkedin" target="_blank"><img src="//www.worldnomads.com/Media/Default/shareimages/linkedin-share-icon.png" /></a>
                <a class="stumbleupon" target="_blank"><img src="//www.worldnomads.com/Media/Default/shareimages/stumble-share-icon.png" /></a>
                <a class="plus"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    
    <!-- Share tools script -->
    <script>
      // Build the target srcs for the icons on click.
      var socialMedialUrl          = window.location;

      var facebookParamU           = "";

      var twitterParamText         = "";

      var pinParamDescription      = "";
      var pinParamMedia            = "";

      var linkedParamTitle         = "";
      var linkedParamDescription   = "";
    </script>
    {% include "share-tools-scripts"  %}
    
    <p class="highlight">Many travellers to Thailand are bypassing ‘professional’ services, and are now taking the wheel on their own hands – but obviously there are far greater risks involved.</p>
    
    <p>Make sure you read our advice on riding around Thailand before you take off…including our most popular question: Do I need travel insurance to ride a motorbike in Thailand? Yes yes YES!</p>
    
    <p><img src="http://d2ty3p0lzh1wfl.cloudfront.net/safetyhub_images/aaThailand%20Content/iStock_000005687562_monk_on_bike_610x400.jpg" alt="" /></p>
    
    <div class="article-link-summary">
      <h4>Link summary</h4>
      <ul class="no-bullet">
        <li><a href="">Do I need a license to ride a motorbike in Thailand</a></li>
        <li><a href="">Do I need travel insurance to ride a motorbike in Thailand </a></li>
        <li><a href="">Am I covered if I injure myself on a motorbike?</a></li>
        <li><a href="">Don't be an idiot when you ride</a></li>
      </ul>
    
    </div>
    
    <h2>Do I need a license to ride a motorbike in Thailand</h2>
    <p>If you want to drive a car or ride a motorcycle in Thailand the most important thing to note is that you need to have absolute nerves of steel to survive emotionally and physically. The country has an appaling road safety regime and lots of accidents. In fact it's one of the worst places on Earth for fatalities per capita.</p>
    <p>You will need a driving license from your home country if you want to hire a motorbike or car. But, if you do not have an international license, or a Thai license, you will be driving illegally.&nbsp;</p>
    <p>What if you’re stopped by police? Yes, you can usually pay the police officer off for a few dollars - not that we recommend that!</p>
    <p><strong>But you should check out our guide to <a target="_blank" title="When-and-how-much-to-bribe" href="police-what-you-need-to-know#bribing-police-when-and-how-much">bribing police</a>&nbsp;and find out the going rate for traffic offences</strong>.</p>
    <p>The fact that the shop rented you the bike without asking for your license doesn’t mean you don’t need one. It’s not their responsibility if you don’t check out local law.</p>
    
    <h4>What about a scooter under 50cc?</h4>
    <p>Apart from the fact no one should be seen on a scooter with a sewing machine engine for propulsion – it’s only some European countries that do away with licenses for under 50cc engines.</p>
    <h4>But everyone's doing it!</h4>
    <p>Tens of thousands of visitors each year rent a motorcycle/scooter and ride around unlicensed and get away with it. That doesn't mean it's legal.</p>
    <p>Many travellers report ticking the motorcycle box on their International Driver’s Permit. If the policeman who stops you isn’t fooled, you’ll pay a “fine”, after which he’ll let you go on your merry way. This does not mean you are riding legally; you’ve just avoided the law by paying a bribe.</p>
    <p>You can keep on riding regardless, but what if you have a crash, and you need to call on your travel insurance? It’s pretty straightforward; no valid license means you’re riding illegally and you’re not covered.&nbsp;</p>
    <p>If you tried that "everyone's doing it!" stuff on your mother we're pretty sure she'd want to know if you were going to jump off a cliff if everyone else was doing it - listen to your mother.</p>
    <h2 id="do-i-need-travel-insurance-to-ride-a-motorbike-in-thailand">Do I need travel insurance to ride a motorbike in Thailand</h2>
    <p><img src="http://d2ty3p0lzh1wfl.cloudfront.net/safetyhub_images/aaThailand Content/iStock_000004473956_little_biker_610x400.jpg"></p>
    <p>Sure you can keep on riding if you don't have a license, but what if you do have a crash, and you need to call on your travel insurance? It’s pretty straightforward; no valid license in the country where the accident happened, means you’re riding illegally and you’re not covered. If you're not sure give us a call.</p>
    
    <blockquote class="tweet-quote">It's pretty straightforward; no valid license in the country where the accident happened, means you're riding illegally and you're not covered.
    <span class="citation"><a href="">Phil Sylvester</a> - Travel Safety Expert</span>
    <button class="base-button blue">Tweet it</button>
    </blockquote>
    
    <p><span class="tweet-it">You cannot insure against illegal activity. That also includes not wearing a helmet where it’s compulsory</span> <span class="twitter-shares">4</span> (Cambodia, Thailand, Bali), and not riding under the influence of drink or drugs (everywhere).</p>
    <p>The fact that the shop rented you the bike without asking for your license doesn’t mean you don’t need one. It’s not their responsibility if you don’t check out local law.</p>
    <h2 id="am-i-covered-if-i-injure-myself-on-a-motorbike">Am I covered if I injure myself on a motorbike?</h2>
    <p>Injury from a motorcycle accident is one of the most common claims received by insurers. If it’s a bad one and you need medical evacuation, the cost could run to $100,000 or more. Don’t be fooled, the insurer will check if you have a valid license (forging that international permit isn’t looking so smart anymore).</p>
    <h2 id="dont-be-an-idiot-when-you-ride">Don't be an idiot with your own safety</h2>
    <p>Here are a few tips to keep you safe while on the road (If you’re still tempted to roll the dice, (unlicensed and uninsured) do everything you can to make sure you don’t get hurt in a crash):</p>
    <ul>
    <li><em>Wear a helmet – preferably full-face.</em></li>
    <li>
    <p><em>Wear protective clothing – long trousers and a jacket of sturdy material. (Flip-flops a t-shirt and shorts don’t count as “sturdy”).</em></p>
    </li>
    <li>
    <p><em>Wear gloves - anyone who’s falling puts out their hands to protect themselves, even on a hard bitumen road approaching at 50 km/h. Ouch!</em></p>
    </li>
    <li>
    <p><em>Don’t speed, drink or do drugs and ride.</em></p>
    </li>
    <li><em>Don’t ride at night</em></li>
    </ul>
    <p>The protective clothing is the toughest one – it’s stinking hot and humid, you’re just zipping back from the beach to your room, you’re on holiday, who wants to follow rules! - We get it. Just ride really carefully!</p>
    <p>If you do end up in a crash, you will also wear the cost irrespective of if you were at fault or not. Basically, the law of the land goes like this: If you are a Farang (visitor or tourist), the accident is your fault. Don't fight it, but negotiate to keep the costs down.</p>
    <p><em><strong>Going to give the motorbike a miss now? There are plenty of <a href="thailand/transport-and-safety" title="Thai transport tips" target="_blank">other transport options</a> in Thailand.</strong></em></p>
    <p><br/></p>
    <p><br/></p>
    <p><br/></p>
    
  </div>
  
  
  <div class="small-12 medium-4 large-3 columns">
    
  </div>
</div>

{% endblock %}