{% block content %} 

<div class="header-panel dark-green-panel">
  <div class="row">
    <div class="large-12 columns">
      <h1>World Nomads Component Library</h1>
    </div>
  </div>
</div>
<div class="content-panel">
  <div class="row">
    <div class="large-12 columns">
      <h4 id="alert-boxes">Alert Boxes</h4>
      <br>
      <div data-alert="" class="alert-box">
        This is a standard alert (div.alert-box).
        <a href="" class="close">×</a>
      </div>

      <div data-alert="" class="alert-box success">
        This is a success alert (div.alert-box.success).
        <a href="" class="close">×</a>
      </div>

      <div data-alert="" class="alert-box secondary">
        This is a secondary alert (div.alert-box.secondary).
        <a href="" class="close">×</a>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">  
    <div class="large-12 columns">
      <h4>breadcrumb</h4><br>
      <div class="row green-panel">
        <div class="large-12 columns">
          <ul class="breadcrumb">
            <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href="/"><span itemprop="title">Vivamos</span></a>
            </li>
            <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href=""><span itemprop="title">Destino</span></a>
            </li>
            <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href=""><span itemprop="title">Estados Unidos</span></a>
            </li>
            <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
              <a href=""><span itemprop="title">Nova Orleans</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">  
    <div class="large-12 columns">
      
      <h4 id="buttons">Buttons</h4>
      <div class="row">
        <div class="small-4 large-4 columns">
          <a href="#" class="large button">.large.button</a><br>
          <a href="#" class="button">.button</a><br>
          <a href="#" class="small button">.small.button</a><br>
        </div>
        <div class="small-4 large-4 columns">
          <a href="#" class="button primary">.primary</a><br>
          <a href="#" class="button secondary">.secondary</a><br>
          <a href="#" class="button disabled">.disabled</a><br>
        </div>
        <div class="small-4 large-4 columns">
          <a href="#" class="button green">.green</a><br>
          <a href="#" class="button dark-green">.dark-green</a><br>
          <a href="#" class="button grey">.grey</a><br>
        </div>
        
      </div>
      
    </div>
  </div>
  <hr>
  <div class="row">  
    <div class="large-12 columns">
  
      <form>
        <h4>Forms</h4>

        <div class="row">
          <div class="large-12 columns">
            <label>Input Label</label>
            <input type="text" placeholder="large-12.columns">
          </div>
        </div>

        <div class="row">
          <div class="large-4 columns">
            <label>Input Label</label>
            <input type="text" placeholder="large-4.columns">
          </div>
          <div class="large-4 columns">
            <label>Input Label</label>
            <input type="text" placeholder="large-4.columns">
          </div>
          <div class="large-4 columns">
            <label>Select Box
              <select>
                <option value="husker">Husker</option>
                <option value="starbuck">Starbuck</option>
                <option value="hotdog">Hot Dog</option>
                <option value="apollo">Apollo</option>
              </select>
            </label>
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <label>Textarea Label</label>
            <textarea placeholder="small-12.columns"></textarea>
          </div>
        </div>
        
        <div class="large-6 columns">
          <label>Choose Your Favorite</label>
          <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
          <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
        </div>
        <div class="large-6 columns">
          <label>Check these out</label>
          <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
          <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
        </div>

    </form>
    </div>
  </div>
  <hr>
  <div class="row">  
    <div class="large-12 columns">
      <h4>Tables</h4>
      <br>
      <table>
        <thead>
          <tr>
            <th width="200">Table Header</th>
            <th>Table Header</th>
            <th width="150">Table Header</th>
            <th width="150">Table Header</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Content Goes Here</td>
            <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
            <td>Content Goes Here</td>
            <td>Content Goes Here</td>
          </tr>
          <tr>
            <td>Content Goes Here</td>
            <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
            <td>Content Goes Here</td>
            <td>Content Goes Here</td>
          </tr>
          <tr>
            <td>Content Goes Here</td>
            <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
            <td>Content Goes Here</td>
            <td>Content Goes Here</td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>
  <hr>
  <div class="row">  
    <div class="large-12 columns">
      <h4>Typography</h4>
      <br>
      <div class="type-demo">

        <h1>h1. This is a very large header.</h1>
        <h2>h2. This is a large header.</h2>
        <h3>h3. This is a medium header.</h3>
        <h4>h4. This is a moderate header.</h4>
        <h5>h5. This is a small header.</h5>
        <h6>h6. This is a tiny header.</h6>

        <hr>

        <h4>Definition List</h4><br>
        <dl>
        <dt>Lower cost</dt>
          <dd>The new version of this product costs significantly less than the previous one!</dd>
        <dt>Easier to use</dt>
          <dd>We've changed the product so that it's much easier to use!</dd>
        <dt>Safe for kids</dt>
          <dd>You can leave your kids alone in a room with this product and they won't get hurt (not a guarantee).</dd>
        </dl>
        
        <hr>
        <h4>Un-ordered List</h4><br>
        <ul class="disc">
          <li>List item with a much longer description or more content.</li>
          <li>List item</li>
          <li>List item
            <ul>
              <li>Nested List Item</li>
              <li>Nested List Item</li>
              <li>Nested List Item</li>
            </ul>
          </li>
          <li>List item</li>
          <li>List item</li>
          <li>List item</li>
        </ul>
        <hr>
        <h4>Ordered List</h4><br>
        <ol>
          <li>List Item 1</li>
          <li>List Item 2</li>
          <li>List Item 3</li>
        </ol>



        <hr>
        <h4>Blockquote</h4><br>
        <blockquote>I do not fear computers. I fear the lack of them. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur.<cite>Isaac Asimov</cite></blockquote>



      </div>
    </div>
  </div>
  
  <hr>
  <div class="row">  
    <div class="large-12 columns">
      <h4>Panels</h4>
      <div class="row">
        <div class="small-4 large-4 columns panel">
          <p>.panel</p>
        </div>
        <div class="small-4 large-4 columns green-panel">
          <p>.green-panel</p>
        </div>
        <div class="small-4 large-4 columns dark-green-panel">
          <p>.dark-green-panel</p>
        </div>
        
      </div>
    </div>
  </div>
      
</div>
    


{% endblock %} 
