
{% block content %}



<!-- Hero Content Panel Start -->
<div class="hero-content-panel light" id="herovideo">
  <div class="herovideo"></div>
  <div class="row">
    <div class="large-12 medium-12 small-12">
      <h1>Are you looking for an adventure out of the ordinary?</h1>
      <a href="#application" style="width: 100%; text-align: center; display: inline-block; position: relative; z-index: 999;"><div class="base-button orange">Apply now</div></a>
    </div>
  </div>
</div>

<script>
  $(function() {
    $('.herovideo').videoBG({
        mp4:'//www.worldnomads.com/Media/Default/video/extraordinary_experiences_html5_15mb_5mb.mp4.mp4',
        ogv:'//www.worldnomads.com/Media/Default/video/extraordinary_experiences_html5_15mb_5mb.oggtheora.ogv',
        webm:'//www.worldnomads.com/Media/Default/video/extraordinary_experiences_html5_15mb_5mb.webmsd.webm',
        poster:'//www.worldnomads.com/Media/Default/video/extraordinary_experiences.jpg',
        scale:true,
        zIndex:0
    });

    $(".herovideo").find(".videoBG, .videoBG_wrapper").css("width", "100%");
  });
</script>
<!-- Hero Content Panel End -->       

<!-- Countdown Script -->


<div id="sharetools-long">
  <div class="row">
    <div id="socialarea">     
      <div id="sharedcount">
        <div id="total"></div>
        <p>Shares</p> 
      </div>
      <div id="share-icons">
        <a class="facebook" target="_blank"><span>Share on Facebook</span>&#xe607;</a>
        <a class="twitter" target="_blank"><span>Share on Twitter</span>&#xe602;</a>
        <a class="pinterest">&#xe603;</a>
        <a class="gplus" target="_blank">&#xe605;</a>
        <a class="linkedin" target="_blank"><img src="//www.worldnomads.com/Media/Default/shareimages/linkedin-share-icon.png" /></a>
        <a class="stumbleupon" target="_blank"><img src="//www.worldnomads.com/Media/Default/shareimages/stumble-share-icon.png" /></a>
        <a class="plus"></a>
      </div>
    </div>
  </div>
</div>


 <script type="text/javascript">
  var year = 2015; 
  var month = 04; 
  var day = 17;
  var hour= 14; 
  var min= 0; 
  var sec= 0;
</script>
<script type="text/javascript" src="//www.worldnomads.com/Media/Default/scripts/js/counter-countdown.js"></script>
<div class="row" id="article-content">
  <div class="large-8 medium-8 small-12 columns">

    <div id="intro">
      <h2>We are giving you the chance to win one of three extraordinary experiences to Canada, Ecuador and Sweden.</h2>
      <p class="highlight">If you are an intrepid traveller, this is your chance to hit the road and get stuck into a new adventure activity every day. And we have a list as long as your arm to choose from…like kayaking, hiking, biking, canoeing, bear watching, diving, fishing, zip lining, white water rafting, surfing, snorkelling, whale watching, camping... we digress. </p>
    </div>

    <div>
      <h4>Here’s the deal.</h4>
      <p>You could be off on an all-expenses-paid weeklong trip filled with action and a hefty dose of nature and local culture. See these extraordinary destinations in a new way as you let adventure be your guide.</p>     
    </div>

  </div>

  <div class="large-4 medium-4 small-12 columns">
      
      <div id="sidepannel">
        <h4>Applications closes in...</h4>
        <div id="countbox"></div>
        <p class="small">Entries close March 6, 2015 at 2PM <a target="_blank" href="http://www.timeanddate.com/library/abbreviations/timezones/au/edt.html">(AEDT)</a></p>
      </div>

      <div id="sidepannel">
        <h4>In partnership with</h4>
        <a href="http://www.newfoundlandlabrador.com" target="_blank" id="comppartnerlogo"><img src="//www.worldnomads.com/Media/Default/Partners/newfoundlandcanada.jpg" alt="Newfoundland and Labrador" /></a>
        <a href="http://www.destinationecuador.com/" target="_blank" id="comppartnerlogo"><img src="//www.worldnomads.com/Media/Default/Partners/tropic.jpg" alt="Tropic Journeys" /></a>
        <a href="http://jamtland.se/index.php/se/inside-jamtland-harjedalen-turism" id="comppartnerlogo" target="_blank"><img src="//www.worldnomads.com/Media/Default/Partners/jamtland-harjedalen-turism.jpg" alt="Jämtland Härjedalen Sweden" /></a>
      </div>
    
  </div>
</div>

<div class="row" id="article-content">
  <div class="large-12 medium-12 small-12 columns">
    <h4>Adrenaline pumping already? Here’s how to apply.</h4>
  </div>
  <div class="large-4 medium-4 small-12 columns">
    <div id="steps" class="blue">
      <span>1</span>
      <h5>Destination</h5>
      <p>Choose your adventure destination.</p>
    </div>
  </div>
  <div class="large-4 medium-4 small-12 columns">
    <div id="steps" class="teal">
      <span>2</span>
      <h5>Activities</h5>
      <p>Pick your favorite adventure activities.</p>
    </div>    
  </div>
  <div class="large-4 medium-4 small-12 columns">
    <div id="steps" class="purple">
      <span>3</span>
      <h5>Why you</h5>
      <p>Tell us about adventure activity that you'll never forget. </p>
    </div>
  </div>
</div>

<div id="application">
  <div class="row">
    <div class="large-12 medium-12 small-12 columns">
      <h4>Ready to apply?</h4>

<script>

  $(function() {
      var advActivities;
      var advMap;
      var $advAutocomplete = $(".adventure-autocomplete");
      var $advAutocompleteSelected = $(".adventure-activities-selected");
      var corElements;
      var corMap;
      var $corAutocomplete = $(".cor-autocomplete");
      var ttnElements;
      var ttnMap;
      var $ttnAutocomplete = $(".ttn-autocomplete");

      // Adventure Activities
      advActivities = $(".adventure-activities input[type='checkbox']");
      advMap = advActivities.map(function(i) {
          return {
            'id': $(this).attr('value'),
            'name': $(this).next('label').html()
          }
        })
        .get();
      $advAutocomplete.autocomplete(advMap)
        .on('itemChosen', function(e, data, textUserEnteredd, selectedListItem) {
          var $checkbox = advActivities.filter('input[value="' + data.id + '"]');
          $checkbox.prop('checked', true);

          var $liSelectedSpan = $('<span>')
            .html('x')
            .data("target-checkbox", $checkbox)
            .on('click', function() {
              $this = $(this);
              $this.data("target-checkbox").prop('checked', false);
              $this.parent("li").remove();
            });
          var $liSelected = $('<li>')
            .html($checkbox.next('label').html())
            .append($liSelectedSpan);

          $advAutocompleteSelected.append($liSelected);

          $(this).val('');
        });

      // Country of Residence
      corElements = $(".country-of-residence select option");
      corMap = corElements.map(function(i) {
          return {
            'id': $(this).attr('value'),
            'name': $(this).html()
          }
        })
        .get();
      $corAutocomplete.autocomplete(corMap)
        .on('itemChosen', function(e, data, textUserEnteredd, selectedListItem) {
          $(".country-of-residence select").val(data.id);
          $(this).val(data.name);
        });

      // Travelling to next
      ttnElements = $(".travelling-to-next select option");
      ttnMap = ttnElements.map(function(i) {
          return {
            'id': $(this).attr('value'),
            'name': $(this).html()
          }
        })
        .get();
      $ttnAutocomplete.autocomplete(ttnMap)
        .on('itemChosen', function(e, data, textUserEnteredd, selectedListItem) {
          $(".travelling-to-next select").val(data.id);
          $(this).val(data.name);
        });
  });

  // Datepicker for When are they travelling next
  $(function() {

      var dateNow = new Date();
      var dateNowDay = dateNow.getUTCDate();
      var dateNowMonth = dateNow.getUTCMonth() + 1;
      var dateNowYear = dateNow.getUTCFullYear();
      var $whenSelects = $(".when-are-they-travelling select");
      var $whenDay = $whenSelects.eq(1); // WTF why is it in this order
      var $whenMonth = $whenSelects.eq(0);
      var $whenYear = $whenSelects.eq(2);
      var $whenInput = $(".when-datepicker");

      $whenDay.val(dateNowDay);
      $whenMonth.val(dateNowMonth);
      $whenYear.val(dateNowYear);

      $whenInput.datePickerForSelects(
        $whenDay,
        $whenMonth,
        $whenYear
      );

  });


  // Are you travelling toggle
  $(function() {

      var $ttnDiv = $(".travelling-to-next").hide();
      var $wattDiv = $(".when-are-they-travelling").hide();
      var $tRadios = $(".travelling-radio");
      var $tRadioYes = $("#travelling-yes");
      var $tRadioNo = $("#travelling-no").prop("checked", true);

      $tRadios.on("change", function() {
        var $this = $(this);
        var targetId = $this.attr("id");
        if (targetId == "travelling-yes") {
          // YES
          $ttnDiv.show();
          $wattDiv.show();
        } else if (targetId == "travelling-no") {
          // NO
          $ttnDiv.hide();
          $wattDiv.hide();
        }
      });

  });


</script>


                                                          

<form action="http://worldnomadsgroup.createsend.com/t/y/s/fhrdlr/" method="post" id="subForm" class="ee-form">
    <h4 class="sectionheader">A little about you...</h4>
    <div class="large-4 medium-4 small-12 columns">
        <label for="fieldName">Name</label>
        <input id="fieldName" name="cm-name" type="text" placeholder="Firstname Lastname"/>
    </div>
    <div class="large-4 medium-4 small-12 columns">
        <label for="fieldEmail">Email</label>
        <input id="fieldEmail" name="cm-fhrdlr-fhrdlr" type="email" required placeholder="name@domain.com" />
    </div>
    
    <div class="large-4 medium-4 small-12 columns">
      <div class="country-of-residence">
        <label for="fieldchyjrk">Country of residence</label>
        <input class="cor-autocomplete" type='text' />
        <select id="fieldchyjrk" name="cm-fo-chyjrk">
            <option value=""></option>
            <option value="883446">Afghanistan</option>
            <option value="883447">Albania</option>
            <option value="883448">Algeria</option>
            <option value="883449">American Samoa</option>
            <option value="883450">Andorra</option>
            <option value="883451">Angola</option>
            <option value="883452">Anguilla</option>
            <option value="883453">Antigua &amp; Barbuda</option>
            <option value="883454">Argentina</option>
            <option value="883455">Armenia</option>
            <option value="883456">Aruba</option>
            <option value="883457">Australia</option>
            <option value="883458">Austria</option>
            <option value="883459">Azerbaijan</option>
            <option value="883460">Azores</option>
            <option value="883461">Bahamas</option>
            <option value="883462">Bahrain</option>
            <option value="883463">Bangladesh</option>
            <option value="883464">Barbados</option>
            <option value="883465">Belarus</option>
            <option value="883466">Belgium</option>
            <option value="883467">Belize</option>
            <option value="883468">Benin</option>
            <option value="883469">Bermuda</option>
            <option value="883470">Bhutan</option>
            <option value="883471">Bolivia</option>
            <option value="883472">Bonaire</option>
            <option value="883473">Bosnia &amp; Herzegovina</option>
            <option value="883474">Botswana</option>
            <option value="883475">Brazil</option>
            <option value="883476">British Indian Ocean Ter</option>
            <option value="883477">Brunei</option>
            <option value="883478">Bulgaria</option>
            <option value="883479">Burkina Faso</option>
            <option value="883480">Burundi</option>
            <option value="883481">Cambodia</option>
            <option value="883482">Cameroon</option>
            <option value="883483">Canada</option>
            <option value="883484">Canary Islands</option>
            <option value="883485">Cape Verde</option>
            <option value="883486">Cayman Islands</option>
            <option value="883487">Central African Republic</option>
            <option value="883488">Chad</option>
            <option value="883489">Channel Islands</option>
            <option value="883490">Chile</option>
            <option value="883491">China</option>
            <option value="883492">Christmas Island</option>
            <option value="883493">Cocos Island</option>
            <option value="883494">Colombia</option>
            <option value="883495">Comoros</option>
            <option value="883496">Congo</option>
            <option value="883497">Congo Democratic Rep</option>
            <option value="883498">Cook Islands</option>
            <option value="883499">Costa Rica</option>
            <option value="883500">Cote D&#x27;Ivoire</option>
            <option value="883501">Croatia</option>
            <option value="883502">Cuba</option>
            <option value="883503">Curacao</option>
            <option value="883504">Cyprus</option>
            <option value="883505">Czech Republic</option>
            <option value="883506">Denmark</option>
            <option value="883507">Djibouti</option>
            <option value="883508">Dominica</option>
            <option value="883509">Dominican Republic</option>
            <option value="883510">East Timor</option>
            <option value="883511">Ecuador</option>
            <option value="883512">Egypt</option>
            <option value="883513">El Salvador</option>
            <option value="883514">Equatorial Guinea</option>
            <option value="883515">Eritrea</option>
            <option value="883516">Estonia</option>
            <option value="883517">Ethiopia</option>
            <option value="883518">Falkland Islands</option>
            <option value="883519">Faroe Islands</option>
            <option value="883520">Fiji</option>
            <option value="883521">Finland</option>
            <option value="883522">France</option>
            <option value="883523">French Guiana</option>
            <option value="883524">French Polynesia</option>
            <option value="883525">French Southern Ter</option>
            <option value="883526">Gabon</option>
            <option value="883527">Gambia</option>
            <option value="883528">Georgia</option>
            <option value="883529">Germany</option>
            <option value="883530">Ghana</option>
            <option value="883531">Gibraltar</option>
            <option value="883532">Great Britain</option>
            <option value="883533">Greece</option>
            <option value="883534">Greenland</option>
            <option value="883535">Grenada</option>
            <option value="883536">Guadeloupe</option>
            <option value="883537">Guam</option>
            <option value="883538">Guatemala</option>
            <option value="883539">Guernsey</option>
            <option value="883540">Guinea</option>
            <option value="883541">Guinea-Bissau</option>
            <option value="883542">Guyana</option>
            <option value="883543">Haiti</option>
            <option value="883544">Honduras</option>
            <option value="883545">Hong Kong</option>
            <option value="883546">Hungary</option>
            <option value="883547">Iceland</option>
            <option value="883548">India</option>
            <option value="883549">Indonesia</option>
            <option value="883550">Iran</option>
            <option value="883551">Iraq</option>
            <option value="883552">Ireland</option>
            <option value="883553">Isle of Man</option>
            <option value="883554">Israel</option>
            <option value="883555">Italy</option>
            <option value="883556">Jamaica</option>
            <option value="883557">Japan</option>
            <option value="883558">Jersey</option>
            <option value="883559">Jordan</option>
            <option value="883560">Kazakhstan</option>
            <option value="883561">Kenya</option>
            <option value="883562">Kiribati</option>
            <option value="883563">Korea North</option>
            <option value="883564">Korea South</option>
            <option value="883565">Kuwait</option>
            <option value="883566">Kyrgyzstan</option>
            <option value="883567">Laos</option>
            <option value="883568">Latvia</option>
            <option value="883569">Lebanon</option>
            <option value="883570">Lesotho</option>
            <option value="883571">Liberia</option>
            <option value="883572">Libya</option>
            <option value="883573">Liechtenstein</option>
            <option value="883574">Lithuania</option>
            <option value="883575">Luxembourg</option>
            <option value="883576">Macau</option>
            <option value="883577">Macedonia</option>
            <option value="883578">Madagascar</option>
            <option value="883579">Malawi</option>
            <option value="883580">Malaysia</option>
            <option value="883581">Maldives</option>
            <option value="883582">Mali</option>
            <option value="883583">Malta</option>
            <option value="883584">Marshall Islands</option>
            <option value="883585">Martinique</option>
            <option value="883586">Mauritania</option>
            <option value="883587">Mauritius</option>
            <option value="883588">Mayotte</option>
            <option value="883589">Mexico</option>
            <option value="883590">Midway Islands</option>
            <option value="883591">Moldova</option>
            <option value="883592">Monaco</option>
            <option value="883593">Mongolia</option>
            <option value="883594">Montenegro</option>
            <option value="883595">Montserrat</option>
            <option value="883596">Morocco</option>
            <option value="883597">Mozambique</option>
            <option value="883598">Myanmar</option>
            <option value="883599">Namibia</option>
            <option value="883600">Nauru</option>
            <option value="883601">Nepal</option>
            <option value="883602">Netherland Antilles</option>
            <option value="883603">Netherlands</option>
            <option value="883604">Nevis</option>
            <option value="883605">New Caledonia</option>
            <option value="883606">New Zealand</option>
            <option value="883607">Nicaragua</option>
            <option value="883608">Niger</option>
            <option value="883609">Nigeria</option>
            <option value="883610">Niue</option>
            <option value="883611">Norfolk Island</option>
            <option value="883612">Norway</option>
            <option value="883613">Oman</option>
            <option value="883614">Pakistan</option>
            <option value="883615">Palau Island</option>
            <option value="883616">Palestine</option>
            <option value="883617">Panama</option>
            <option value="883618">Papua New Guinea</option>
            <option value="883619">Paraguay</option>
            <option value="883620">Peru</option>
            <option value="883621">Philippines</option>
            <option value="883622">Pitcairn Island</option>
            <option value="883623">Poland</option>
            <option value="883624">Portugal</option>
            <option value="883625">Puerto Rico</option>
            <option value="883626">Qatar</option>
            <option value="883627">Reunion</option>
            <option value="883628">Romania</option>
            <option value="883629">Russia</option>
            <option value="883630">Rwanda</option>
            <option value="883631">Saipan</option>
            <option value="883632">Samoa</option>
            <option value="883633">Samoa American</option>
            <option value="883634">San Marino</option>
            <option value="883635">Sao Tome &amp; Principe</option>
            <option value="883636">Saudi Arabia</option>
            <option value="883637">Senegal</option>
            <option value="883638">Serbia</option>
            <option value="883639">Serbia &amp; Montenegro</option>
            <option value="883640">Seychelles</option>
            <option value="883641">Sierra Leone</option>
            <option value="883642">Singapore</option>
            <option value="883643">Slovakia</option>
            <option value="883644">Slovenia</option>
            <option value="883645">Solomon Islands</option>
            <option value="883646">Somalia</option>
            <option value="883647">South Africa</option>
            <option value="883648">South Sudan</option>
            <option value="883649">Spain</option>
            <option value="883650">Sri Lanka</option>
            <option value="883651">St Barthelemy</option>
            <option value="883652">St Eustatius</option>
            <option value="883653">St Helena</option>
            <option value="883654">St Kitts-Nevis</option>
            <option value="883655">St Lucia</option>
            <option value="883656">St Maarten</option>
            <option value="883657">St Pierre &amp; Miquelon</option>
            <option value="883658">St Vincent &amp; Grenadines</option>
            <option value="883659">Sudan</option>
            <option value="883660">Suriname</option>
            <option value="883661">Swaziland</option>
            <option value="883662">Sweden</option>
            <option value="883663">Switzerland</option>
            <option value="883664">Syria</option>
            <option value="883665">Tahiti</option>
            <option value="883666">Taiwan</option>
            <option value="883667">Tajikistan</option>
            <option value="883668">Tanzania</option>
            <option value="883669">Thailand</option>
            <option value="883670">Togo</option>
            <option value="883671">Tokelau</option>
            <option value="883672">Tonga</option>
            <option value="883673">Trinidad &amp; Tobago</option>
            <option value="883674">Tunisia</option>
            <option value="883675">Turkey</option>
            <option value="883676">Turkmenistan</option>
            <option value="883677">Turks &amp; Caicos Is</option>
            <option value="883678">Tuvalu</option>
            <option value="883679">Uganda</option>
            <option value="883680">Ukraine</option>
            <option value="883681">United Arab Emirates</option>
            <option value="883682">United Kingdom</option>
            <option value="883683">United States of America</option>
            <option value="883684">Uruguay</option>
            <option value="883685">Uzbekistan</option>
            <option value="883686">Vanuatu</option>
            <option value="883687">Vatican City State</option>
            <option value="883688">Venezuela</option>
            <option value="883689">Vietnam</option>
            <option value="883690">Virgin Islands (Brit)</option>
            <option value="883691">Virgin Islands (USA)</option>
            <option value="883692">Wake Island</option>
            <option value="883693">Wallis &amp; Futana Is</option>
            <option value="883694">Yemen</option>
            <option value="883695">Zambia</option>
            <option value="883696">Zimbabwe</option>
        </select>
      </div>
    </div>
    <div class="large-4 medium-4 small-12 columns" id="dob">
        <label for="fieldchitdr">Date of Birth</label>
        <select id="fieldchitdrdy" name="cm-fd-chitdr-dy"><option value="">DD</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>
        <select id="fieldchitdr" name="cm-fd-chitdr-mn"><option value="">MM</option><option value="1">Jan</option><option value="2">Feb</option><option value="3">Mar</option><option value="4">Apr</option><option value="5">May</option><option value="6">Jun</option><option value="7">Jul</option><option value="8">Aug</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option></select>

        <select id="fieldchitdryr" name="cm-fd-chitdr-yr"><option value="">YYYY</option><option value="1949">1949</option><option value="1950">1950</option><option value="1951">1951</option><option value="1952">1952</option><option value="1953">1953</option><option value="1954">1954</option><option value="1955">1955</option><option value="1956">1956</option><option value="1957">1957</option><option value="1958">1958</option><option value="1959">1959</option><option value="1960">1960</option><option value="1961">1961</option><option value="1962">1962</option><option value="1963">1963</option><option value="1964">1964</option><option value="1965">1965</option><option value="1966">1966</option><option value="1967">1967</option><option value="1968">1968</option><option value="1969">1969</option><option value="1970">1970</option><option value="1971">1971</option><option value="1972">1972</option><option value="1973">1973</option><option value="1974">1974</option><option value="1975">1975</option><option value="1976">1976</option><option value="1977">1977</option><option value="1978">1978</option><option value="1979">1979</option><option value="1980">1980</option><option value="1981">1981</option><option value="1982">1982</option><option value="1983">1983</option><option value="1984">1984</option><option value="1985">1985</option><option value="1986">1986</option><option value="1987">1987</option><option value="1988">1988</option><option value="1989">1989</option><option value="1990">1990</option><option value="1991">1991</option><option value="1992">1992</option><option value="1993">1993</option><option value="1994">1994</option><option value="1995">1995</option><option value="1996">1996</option><option value="1997">1997</option></select>
    </div>
    <div class="large-4 medium-4 small-12 columns">
        <label for="fieldchitdj">Twitter</label>
        <input id="fieldchitdj" name="cm-f-chitdj" type="text" placeholder="username" />
    </div>
    <div class="large-4 medium-4 small-12 columns">
        <label for="fieldchitdt">Instagram</label>
        <input id="fieldchitdt" name="cm-f-chitdt" type="text" placeholder="username" />
    </div>

    <h4 class="sectionheader">The competition</h4>
    <div class="large-4 medium-4 small-12 columns">
        <label for="fieldchithk">Where do you want to go?</label>
        <select id="fieldchithk" name="cm-fo-chithk">
            <option value="Please select">Please select</option>
            <option value="885427">Canada</option>
            <option value="885428">Ecuador</option>
            <option value="885429">Sweden</option>
        </select>
    </div>
    <div class="large-4 medium-4 small-12 columns">
    <label>Which 7 activity would you love to do?</label>
    <input type="text" class="adventure-autocomplete" />
    <div class="adventure-activities">
        <input id="fieldchithd-0" name="cm-fo-chithd" value="885315" type="checkbox" /> <label for="fieldchithd-0">Aerial safari</label>
        <input id="fieldchithd-1" name="cm-fo-chithd" value="885316" type="checkbox" /> <label for="fieldchithd-1">Aerobics</label>
        <input id="fieldchithd-2" name="cm-fo-chithd" value="885317" type="checkbox" /> <label for="fieldchithd-2">Air guitar</label>
        <input id="fieldchithd-3" name="cm-fo-chithd" value="885318" type="checkbox" /> <label for="fieldchithd-3">American football</label>
        <input id="fieldchithd-4" name="cm-fo-chithd" value="885319" type="checkbox" /> <label for="fieldchithd-4">Angling</label>
        <input id="fieldchithd-5" name="cm-fo-chithd" value="885320" type="checkbox" /> <label for="fieldchithd-5">Archery</label>
        <input id="fieldchithd-6" name="cm-fo-chithd" value="885321" type="checkbox" /> <label for="fieldchithd-6">Athletics</label>
        <input id="fieldchithd-7" name="cm-fo-chithd" value="885322" type="checkbox" /> <label for="fieldchithd-7">Australian Rules Football (AFL)</label>
        <input id="fieldchithd-8" name="cm-fo-chithd" value="885323" type="checkbox" /> <label for="fieldchithd-8">Badminton</label>
        <input id="fieldchithd-9" name="cm-fo-chithd" value="885324" type="checkbox" /> <label for="fieldchithd-9">Ballet</label>
        <input id="fieldchithd-10" name="cm-fo-chithd" value="885325" type="checkbox" /> <label for="fieldchithd-10">Ballooning</label>
        <input id="fieldchithd-11" name="cm-fo-chithd" value="885326" type="checkbox" /> <label for="fieldchithd-11">Banana boat rides</label>
        <input id="fieldchithd-12" name="cm-fo-chithd" value="885327" type="checkbox" /> <label for="fieldchithd-12">Baseball</label>
        <input id="fieldchithd-13" name="cm-fo-chithd" value="885328" type="checkbox" /> <label for="fieldchithd-13">Basketball</label>
        <input id="fieldchithd-14" name="cm-fo-chithd" value="885329" type="checkbox" /> <label for="fieldchithd-14">Black water rafting</label>
        <input id="fieldchithd-15" name="cm-fo-chithd" value="885330" type="checkbox" /> <label for="fieldchithd-15">Bobsleigh</label>
        <input id="fieldchithd-16" name="cm-fo-chithd" value="885331" type="checkbox" /> <label for="fieldchithd-16">Bowling</label>
        <input id="fieldchithd-17" name="cm-fo-chithd" value="885332" type="checkbox" /> <label for="fieldchithd-17">Bowling (lawn or ten pin)</label>
        <input id="fieldchithd-18" name="cm-fo-chithd" value="885333" type="checkbox" /> <label for="fieldchithd-18">Bungee jumping</label>
        <input id="fieldchithd-19" name="cm-fo-chithd" value="885334" type="checkbox" /> <label for="fieldchithd-19">Bushcraft</label>
        <input id="fieldchithd-20" name="cm-fo-chithd" value="885335" type="checkbox" /> <label for="fieldchithd-20">Bushwalking</label>
        <input id="fieldchithd-21" name="cm-fo-chithd" value="885336" type="checkbox" /> <label for="fieldchithd-21">Camel riding &#x2F; trekking</label>
        <input id="fieldchithd-22" name="cm-fo-chithd" value="885337" type="checkbox" /> <label for="fieldchithd-22">Camping</label>
        <input id="fieldchithd-23" name="cm-fo-chithd" value="885338" type="checkbox" /> <label for="fieldchithd-23">Canoeing</label>
        <input id="fieldchithd-24" name="cm-fo-chithd" value="885339" type="checkbox" /> <label for="fieldchithd-24">Capoeira dancing</label>
        <input id="fieldchithd-25" name="cm-fo-chithd" value="885340" type="checkbox" /> <label for="fieldchithd-25">Cheerleading</label>
        <input id="fieldchithd-26" name="cm-fo-chithd" value="885341" type="checkbox" /> <label for="fieldchithd-26">Clay pigeon shooting</label>
        <input id="fieldchithd-27" name="cm-fo-chithd" value="885342" type="checkbox" /> <label for="fieldchithd-27">Cricket</label>
        <input id="fieldchithd-28" name="cm-fo-chithd" value="885343" type="checkbox" /> <label for="fieldchithd-28">Croquet</label>
        <input id="fieldchithd-29" name="cm-fo-chithd" value="885344" type="checkbox" /> <label for="fieldchithd-29">Curling</label>
        <input id="fieldchithd-30" name="cm-fo-chithd" value="885345" type="checkbox" /> <label for="fieldchithd-30">Cycling</label>
        <input id="fieldchithd-31" name="cm-fo-chithd" value="885346" type="checkbox" /> <label for="fieldchithd-31">Dance (including interpretive dance)</label>
        <input id="fieldchithd-32" name="cm-fo-chithd" value="885347" type="checkbox" /> <label for="fieldchithd-32">Darts</label>
        <input id="fieldchithd-33" name="cm-fo-chithd" value="885348" type="checkbox" /> <label for="fieldchithd-33">Deep sea fishing</label>
        <input id="fieldchithd-34" name="cm-fo-chithd" value="885349" type="checkbox" /> <label for="fieldchithd-34">Dirt boarding</label>
        <input id="fieldchithd-35" name="cm-fo-chithd" value="885350" type="checkbox" /> <label for="fieldchithd-35">Dodge ball</label>
        <input id="fieldchithd-36" name="cm-fo-chithd" value="885351" type="checkbox" /> <label for="fieldchithd-36">Dog sledding</label>
        <input id="fieldchithd-37" name="cm-fo-chithd" value="885352" type="checkbox" /> <label for="fieldchithd-37">Dragon boating</label>
        <input id="fieldchithd-38" name="cm-fo-chithd" value="885353" type="checkbox" /> <label for="fieldchithd-38">Elephant riding &#x2F; trekking</label>
        <input id="fieldchithd-39" name="cm-fo-chithd" value="885354" type="checkbox" /> <label for="fieldchithd-39">Fell running &#x2F; walking</label>
        <input id="fieldchithd-40" name="cm-fo-chithd" value="885355" type="checkbox" /> <label for="fieldchithd-40">Fencing</label>
        <input id="fieldchithd-41" name="cm-fo-chithd" value="885356" type="checkbox" /> <label for="fieldchithd-41">Fishing</label>
        <input id="fieldchithd-42" name="cm-fo-chithd" value="885357" type="checkbox" /> <label for="fieldchithd-42">Fitness training</label>
        <input id="fieldchithd-43" name="cm-fo-chithd" value="885358" type="checkbox" /> <label for="fieldchithd-43">Floorball</label>
        <input id="fieldchithd-44" name="cm-fo-chithd" value="885359" type="checkbox" /> <label for="fieldchithd-44">Football</label>
        <input id="fieldchithd-45" name="cm-fo-chithd" value="885360" type="checkbox" /> <label for="fieldchithd-45">Frisbee</label>
        <input id="fieldchithd-46" name="cm-fo-chithd" value="885361" type="checkbox" /> <label for="fieldchithd-46">Glacier walking</label>
        <input id="fieldchithd-47" name="cm-fo-chithd" value="885362" type="checkbox" /> <label for="fieldchithd-47">Go karting</label>
        <input id="fieldchithd-48" name="cm-fo-chithd" value="885363" type="checkbox" /> <label for="fieldchithd-48">Golf</label>
        <input id="fieldchithd-49" name="cm-fo-chithd" value="885364" type="checkbox" /> <label for="fieldchithd-49">Gym training</label>
        <input id="fieldchithd-50" name="cm-fo-chithd" value="885365" type="checkbox" /> <label for="fieldchithd-50">Gymnastics</label>
        <input id="fieldchithd-51" name="cm-fo-chithd" value="885366" type="checkbox" /> <label for="fieldchithd-51">Handball</label>
        <input id="fieldchithd-52" name="cm-fo-chithd" value="885367" type="checkbox" /> <label for="fieldchithd-52">Hockey</label>
        <input id="fieldchithd-53" name="cm-fo-chithd" value="885368" type="checkbox" /> <label for="fieldchithd-53">Horse riding</label>
        <input id="fieldchithd-54" name="cm-fo-chithd" value="885369" type="checkbox" /> <label for="fieldchithd-54">Hot air ballooning</label>
        <input id="fieldchithd-55" name="cm-fo-chithd" value="885370" type="checkbox" /> <label for="fieldchithd-55">Ice hockey</label>
        <input id="fieldchithd-56" name="cm-fo-chithd" value="885371" type="checkbox" /> <label for="fieldchithd-56">Ice skating</label>
        <input id="fieldchithd-57" name="cm-fo-chithd" value="885372" type="checkbox" /> <label for="fieldchithd-57">In-line skating</label>
        <input id="fieldchithd-58" name="cm-fo-chithd" value="885373" type="checkbox" /> <label for="fieldchithd-58">Jet boating</label>
        <input id="fieldchithd-59" name="cm-fo-chithd" value="885374" type="checkbox" /> <label for="fieldchithd-59">Kayaking</label>
        <input id="fieldchithd-60" name="cm-fo-chithd" value="885375" type="checkbox" /> <label for="fieldchithd-60">Kite Surfing</label>
        <input id="fieldchithd-61" name="cm-fo-chithd" value="885376" type="checkbox" /> <label for="fieldchithd-61">Korfball</label>
        <input id="fieldchithd-62" name="cm-fo-chithd" value="885377" type="checkbox" /> <label for="fieldchithd-62">Martial arts - non contact</label>
        <input id="fieldchithd-63" name="cm-fo-chithd" value="885378" type="checkbox" /> <label for="fieldchithd-63">Moped &#x2F; scooter biking</label>
        <input id="fieldchithd-64" name="cm-fo-chithd" value="885379" type="checkbox" /> <label for="fieldchithd-64">Motor biking</label>
        <input id="fieldchithd-65" name="cm-fo-chithd" value="885380" type="checkbox" /> <label for="fieldchithd-65">Netball</label>
        <input id="fieldchithd-66" name="cm-fo-chithd" value="885381" type="checkbox" /> <label for="fieldchithd-66">Orienteering</label>
        <input id="fieldchithd-67" name="cm-fo-chithd" value="885382" type="checkbox" /> <label for="fieldchithd-67">Paint balling</label>
        <input id="fieldchithd-68" name="cm-fo-chithd" value="885383" type="checkbox" /> <label for="fieldchithd-68">Parachuting</label>
        <input id="fieldchithd-69" name="cm-fo-chithd" value="885384" type="checkbox" /> <label for="fieldchithd-69">Parasailing</label>
        <input id="fieldchithd-70" name="cm-fo-chithd" value="885385" type="checkbox" /> <label for="fieldchithd-70">Quad biking</label>
        <input id="fieldchithd-71" name="cm-fo-chithd" value="885386" type="checkbox" /> <label for="fieldchithd-71">Rambling</label>
        <input id="fieldchithd-72" name="cm-fo-chithd" value="885387" type="checkbox" /> <label for="fieldchithd-72">Rifle range shooting</label>
        <input id="fieldchithd-73" name="cm-fo-chithd" value="885388" type="checkbox" /> <label for="fieldchithd-73">Rifle range&#x2F;sports shooting</label>
        <input id="fieldchithd-74" name="cm-fo-chithd" value="885389" type="checkbox" /> <label for="fieldchithd-74">Roller blading</label>
        <input id="fieldchithd-75" name="cm-fo-chithd" value="885390" type="checkbox" /> <label for="fieldchithd-75">Roller skating</label>
        <input id="fieldchithd-76" name="cm-fo-chithd" value="885391" type="checkbox" /> <label for="fieldchithd-76">Rowing &#x2F; sculling</label>
        <input id="fieldchithd-77" name="cm-fo-chithd" value="885392" type="checkbox" /> <label for="fieldchithd-77">Rugby (League&#x2F;Union)</label>
        <input id="fieldchithd-78" name="cm-fo-chithd" value="885393" type="checkbox" /> <label for="fieldchithd-78">Running</label>
        <input id="fieldchithd-79" name="cm-fo-chithd" value="885394" type="checkbox" /> <label for="fieldchithd-79">Safari tours</label>
        <input id="fieldchithd-80" name="cm-fo-chithd" value="885395" type="checkbox" /> <label for="fieldchithd-80">Sail boarding</label>
        <input id="fieldchithd-81" name="cm-fo-chithd" value="885396" type="checkbox" /> <label for="fieldchithd-81">Sailing</label>
        <input id="fieldchithd-82" name="cm-fo-chithd" value="885397" type="checkbox" /> <label for="fieldchithd-82">Scuba diving</label>
        <input id="fieldchithd-83" name="cm-fo-chithd" value="885398" type="checkbox" /> <label for="fieldchithd-83">Sea canoeing</label>
        <input id="fieldchithd-84" name="cm-fo-chithd" value="885399" type="checkbox" /> <label for="fieldchithd-84">Skiing</label>
        <input id="fieldchithd-85" name="cm-fo-chithd" value="885400" type="checkbox" /> <label for="fieldchithd-85">Snowboarding</label>
        <input id="fieldchithd-86" name="cm-fo-chithd" value="885401" type="checkbox" /> <label for="fieldchithd-86">Sleigh rides</label>
        <input id="fieldchithd-87" name="cm-fo-chithd" value="885402" type="checkbox" /> <label for="fieldchithd-87">Snooker</label>
        <input id="fieldchithd-88" name="cm-fo-chithd" value="885403" type="checkbox" /> <label for="fieldchithd-88">Snorkelling</label>
        <input id="fieldchithd-89" name="cm-fo-chithd" value="885404" type="checkbox" /> <label for="fieldchithd-89">Soccer</label>
        <input id="fieldchithd-90" name="cm-fo-chithd" value="885405" type="checkbox" /> <label for="fieldchithd-90">Softball</label>
        <input id="fieldchithd-91" name="cm-fo-chithd" value="885406" type="checkbox" /> <label for="fieldchithd-91">Speed boating</label>
        <input id="fieldchithd-92" name="cm-fo-chithd" value="885407" type="checkbox" /> <label for="fieldchithd-92">Squash</label>
        <input id="fieldchithd-93" name="cm-fo-chithd" value="885408" type="checkbox" /> <label for="fieldchithd-93">Stand up paddle surfing</label>
        <input id="fieldchithd-94" name="cm-fo-chithd" value="885409" type="checkbox" /> <label for="fieldchithd-94">Stilt walking</label>
        <input id="fieldchithd-95" name="cm-fo-chithd" value="885410" type="checkbox" /> <label for="fieldchithd-95">Surfing</label>
        <input id="fieldchithd-96" name="cm-fo-chithd" value="885411" type="checkbox" /> <label for="fieldchithd-96">Swimming</label>
        <input id="fieldchithd-97" name="cm-fo-chithd" value="885412" type="checkbox" /> <label for="fieldchithd-97">Table Tennis</label>
        <input id="fieldchithd-98" name="cm-fo-chithd" value="885413" type="checkbox" /> <label for="fieldchithd-98">Ten Pin Bowling</label>
        <input id="fieldchithd-99" name="cm-fo-chithd" value="885414" type="checkbox" /> <label for="fieldchithd-99">Tennis</label>
        <input id="fieldchithd-100" name="cm-fo-chithd" value="885415" type="checkbox" /> <label for="fieldchithd-100">Trampolining</label>
        <input id="fieldchithd-101" name="cm-fo-chithd" value="885416" type="checkbox" /> <label for="fieldchithd-101">Ultimate frisbee</label>
        <input id="fieldchithd-102" name="cm-fo-chithd" value="885417" type="checkbox" /> <label for="fieldchithd-102">Volleyball</label>
        <input id="fieldchithd-103" name="cm-fo-chithd" value="885418" type="checkbox" /> <label for="fieldchithd-103">Wakeboarding</label>
        <input id="fieldchithd-104" name="cm-fo-chithd" value="885419" type="checkbox" /> <label for="fieldchithd-104">Walking</label>
        <input id="fieldchithd-105" name="cm-fo-chithd" value="885420" type="checkbox" /> <label for="fieldchithd-105">Water polo</label>
        <input id="fieldchithd-106" name="cm-fo-chithd" value="885421" type="checkbox" /> <label for="fieldchithd-106">Water skiing (excluding jumps)</label>
        <input id="fieldchithd-107" name="cm-fo-chithd" value="885422" type="checkbox" /> <label for="fieldchithd-107">White water kayaking</label>
        <input id="fieldchithd-108" name="cm-fo-chithd" value="885423" type="checkbox" /> <label for="fieldchithd-108">White water rafting</label>
        <input id="fieldchithd-109" name="cm-fo-chithd" value="885424" type="checkbox" /> <label for="fieldchithd-109">Windsurfing</label>
        <input id="fieldchithd-110" name="cm-fo-chithd" value="885425" type="checkbox" /> <label for="fieldchithd-110">Yachting</label>
        <input id="fieldchithd-111" name="cm-fo-chithd" value="885426" type="checkbox" /> <label for="fieldchithd-111">Yoga</label>
      </div>
    </div>
    <div class="large-4 medium-4 small-12 columns">
      <ul class="adventure-activities-selected"></ul>
    </div>
    
    
    <div class="large-8 medium-12 small-12 columns">
        <label for="fieldchithh">Tell us in 100 words or less about an adventure activity that you'll never forget.</label>
        <textarea class="raw-adventure-description" type="text" /></textarea>
        <!-- Hidden fields 1- 15 -->
        <input id="fieldckyhli" class="hidden-concat" name="cm-f-ckyhli" type="hidden" />
        <input id="fieldckyhld" class="hidden-concat" name="cm-f-ckyhld" type="hidden" />
        <input id="fieldckyhlh" class="hidden-concat" name="cm-f-ckyhlh" type="hidden" />
        <input id="fieldckyhlk" class="hidden-concat" name="cm-f-ckyhlk" type="hidden" />
        <input id="fieldckyhlu" class="hidden-concat" name="cm-f-ckyhlu" type="hidden" />
        <input id="fieldckyhrl" class="hidden-concat" name="cm-f-ckyhrl" type="hidden" />
        <input id="fieldckyhrr" class="hidden-concat" name="cm-f-ckyhrr" type="hidden" />
        <input id="fieldckyhry" class="hidden-concat" name="cm-f-ckyhry" type="hidden" />
        <input id="fieldckyhrj" class="hidden-concat" name="cm-f-ckyhrj" type="hidden" />
        <input id="fieldckyhrt" class="hidden-concat" name="cm-f-ckyhrt" type="hidden" />
        <input id="fieldckyhri" class="hidden-concat" name="cm-f-ckyhri" type="hidden" />
        <input id="fieldckyhrd" class="hidden-concat" name="cm-f-ckyhrd" type="hidden" />
        <input id="fieldckyhrh" class="hidden-concat" name="cm-f-ckyhrh" type="hidden" />
        <input id="fieldckyhrk" class="hidden-concat" name="cm-f-ckyhrk" type="hidden" />
        <input id="fieldckyhru" class="hidden-concat" name="cm-f-ckyhru" type="hidden" />
        <!-- Hidden fields 1- 15 END -->

        <script>
          $(function() {
            var queryCharLim = 100;
            var $concatInputs = $("input.hidden-concat");
            var $textareaAdvDesc = $("textarea.raw-adventure-description");

            $textareaAdvDesc.on("change", function(e) {
              var $this = $(this);
              var currentText = $this.val();
              var iterator = 1;

              $concatInputs.each(function() {
                $(this).attr("value", "");
              });

              for (var i = 0; (i * queryCharLim) < currentText.length; i++) {
                var from = i * queryCharLim;
                var to = (i + 1) * queryCharLim;
                var subset = currentText.substr(from, queryCharLim);
                $concatInputs.eq(i).val(subset);
              }
              
            });
          });
          

        </script>
    </div>
    <h4 class="sectionheader">Are you traveling in the next 12 months?</h4>
    <div class="large-4 medium-4 small-12 columns">
      <label>Are you travelling in the next 12 months?</label>
      <div class="radioinput">
        <input type='radio' name="travelling-q" id='travelling-yes' class='travelling-radio' />
        <label for='travelling-yes'>Yes</label>
      </div>
      <div class="radioinput">
        <input type='radio' name="travelling-q" id='travelling-no' class='travelling-radio' />
        <label for='travelling-no'>No</label>
      </div>
    </div>

    <div class="large-4 medium-4 small-12 columns">
      <div class='travelling-to-next'>
        <label for="fieldchitdd">Travelling to next</label>
        <input class='ttn-autocomplete' type='text' />
        <select id="fieldchitdd" name="cm-fo-chitdd">
            <option value=""></option>
            <option value="885064">Afghanistan</option>
            <option value="885065">Albania</option>
            <option value="885066">Algeria</option>
            <option value="885067">American Samoa</option>
            <option value="885068">Andorra</option>
            <option value="885069">Angola</option>
            <option value="885070">Anguilla</option>
            <option value="885071">Antigua &amp; Barbuda</option>
            <option value="885072">Argentina</option>
            <option value="885073">Armenia</option>
            <option value="885074">Aruba</option>
            <option value="885075">Australia</option>
            <option value="885076">Austria</option>
            <option value="885077">Azerbaijan</option>
            <option value="885078">Azores</option>
            <option value="885079">Bahamas</option>
            <option value="885080">Bahrain</option>
            <option value="885081">Bangladesh</option>
            <option value="885082">Barbados</option>
            <option value="885083">Belarus</option>
            <option value="885084">Belgium</option>
            <option value="885085">Belize</option>
            <option value="885086">Benin</option>
            <option value="885087">Bermuda</option>
            <option value="885088">Bhutan</option>
            <option value="885089">Bolivia</option>
            <option value="885090">Bonaire</option>
            <option value="885091">Bosnia &amp; Herzegovina</option>
            <option value="885092">Botswana</option>
            <option value="885093">Brazil</option>
            <option value="885094">British Indian Ocean Ter</option>
            <option value="885095">Brunei</option>
            <option value="885096">Bulgaria</option>
            <option value="885097">Burkina Faso</option>
            <option value="885098">Burundi</option>
            <option value="885099">Cambodia</option>
            <option value="885100">Cameroon</option>
            <option value="885101">Canada</option>
            <option value="885102">Canary Islands</option>
            <option value="885103">Cape Verde</option>
            <option value="885104">Cayman Islands</option>
            <option value="885105">Central African Republic</option>
            <option value="885106">Chad</option>
            <option value="885107">Channel Islands</option>
            <option value="885108">Chile</option>
            <option value="885109">China</option>
            <option value="885110">Christmas Island</option>
            <option value="885111">Cocos Island</option>
            <option value="885112">Colombia</option>
            <option value="885113">Comoros</option>
            <option value="885114">Congo</option>
            <option value="885115">Congo Democratic Rep</option>
            <option value="885116">Cook Islands</option>
            <option value="885117">Costa Rica</option>
            <option value="885118">Cote D&#x27;Ivoire</option>
            <option value="885119">Croatia</option>
            <option value="885120">Cuba</option>
            <option value="885121">Curacao</option>
            <option value="885122">Cyprus</option>
            <option value="885123">Czech Republic</option>
            <option value="885124">Denmark</option>
            <option value="885125">Djibouti</option>
            <option value="885126">Dominica</option>
            <option value="885127">Dominican Republic</option>
            <option value="885128">East Timor</option>
            <option value="885129">Ecuador</option>
            <option value="885130">Egypt</option>
            <option value="885131">El Salvador</option>
            <option value="885132">Equatorial Guinea</option>
            <option value="885133">Eritrea</option>
            <option value="885134">Estonia</option>
            <option value="885135">Ethiopia</option>
            <option value="885136">Falkland Islands</option>
            <option value="885137">Faroe Islands</option>
            <option value="885138">Fiji</option>
            <option value="885139">Finland</option>
            <option value="885140">France</option>
            <option value="885141">French Guiana</option>
            <option value="885142">French Polynesia</option>
            <option value="885143">French Southern Ter</option>
            <option value="885144">Gabon</option>
            <option value="885145">Gambia</option>
            <option value="885146">Georgia</option>
            <option value="885147">Germany</option>
            <option value="885148">Ghana</option>
            <option value="885149">Gibraltar</option>
            <option value="885150">Great Britain</option>
            <option value="885151">Greece</option>
            <option value="885152">Greenland</option>
            <option value="885153">Grenada</option>
            <option value="885154">Guadeloupe</option>
            <option value="885155">Guam</option>
            <option value="885156">Guatemala</option>
            <option value="885157">Guernsey</option>
            <option value="885158">Guinea</option>
            <option value="885159">Guinea-Bissau</option>
            <option value="885160">Guyana</option>
            <option value="885161">Haiti</option>
            <option value="885162">Honduras</option>
            <option value="885163">Hong Kong</option>
            <option value="885164">Hungary</option>
            <option value="885165">Iceland</option>
            <option value="885166">India</option>
            <option value="885167">Indonesia</option>
            <option value="885168">Iran</option>
            <option value="885169">Iraq</option>
            <option value="885170">Ireland</option>
            <option value="885171">Isle of Man</option>
            <option value="885172">Israel</option>
            <option value="885173">Italy</option>
            <option value="885174">Jamaica</option>
            <option value="885175">Japan</option>
            <option value="885176">Jersey</option>
            <option value="885177">Jordan</option>
            <option value="885178">Kazakhstan</option>
            <option value="885179">Kenya</option>
            <option value="885180">Kiribati</option>
            <option value="885181">Korea North</option>
            <option value="885182">Korea South</option>
            <option value="885183">Kuwait</option>
            <option value="885184">Kyrgyzstan</option>
            <option value="885185">Laos</option>
            <option value="885186">Latvia</option>
            <option value="885187">Lebanon</option>
            <option value="885188">Lesotho</option>
            <option value="885189">Liberia</option>
            <option value="885190">Libya</option>
            <option value="885191">Liechtenstein</option>
            <option value="885192">Lithuania</option>
            <option value="885193">Luxembourg</option>
            <option value="885194">Macau</option>
            <option value="885195">Macedonia</option>
            <option value="885196">Madagascar</option>
            <option value="885197">Malawi</option>
            <option value="885198">Malaysia</option>
            <option value="885199">Maldives</option>
            <option value="885200">Mali</option>
            <option value="885201">Malta</option>
            <option value="885202">Marshall Islands</option>
            <option value="885203">Martinique</option>
            <option value="885204">Mauritania</option>
            <option value="885205">Mauritius</option>
            <option value="885206">Mayotte</option>
            <option value="885207">Mexico</option>
            <option value="885208">Midway Islands</option>
            <option value="885209">Moldova</option>
            <option value="885210">Monaco</option>
            <option value="885211">Mongolia</option>
            <option value="885212">Montenegro</option>
            <option value="885213">Montserrat</option>
            <option value="885214">Morocco</option>
            <option value="885215">Mozambique</option>
            <option value="885216">Myanmar</option>
            <option value="885217">Namibia</option>
            <option value="885218">Nauru</option>
            <option value="885219">Nepal</option>
            <option value="885220">Netherland Antilles</option>
            <option value="885221">Netherlands</option>
            <option value="885222">Nevis</option>
            <option value="885223">New Caledonia</option>
            <option value="885224">New Zealand</option>
            <option value="885225">Nicaragua</option>
            <option value="885226">Niger</option>
            <option value="885227">Nigeria</option>
            <option value="885228">Niue</option>
            <option value="885229">Norfolk Island</option>
            <option value="885230">Norway</option>
            <option value="885231">Oman</option>
            <option value="885232">Pakistan</option>
            <option value="885233">Palau Island</option>
            <option value="885234">Palestine</option>
            <option value="885235">Panama</option>
            <option value="885236">Papua New Guinea</option>
            <option value="885237">Paraguay</option>
            <option value="885238">Peru</option>
            <option value="885239">Philippines</option>
            <option value="885240">Pitcairn Island</option>
            <option value="885241">Poland</option>
            <option value="885242">Portugal</option>
            <option value="885243">Puerto Rico</option>
            <option value="885244">Qatar</option>
            <option value="885245">Reunion</option>
            <option value="885246">Romania</option>
            <option value="885247">Russia</option>
            <option value="885248">Rwanda</option>
            <option value="885249">Saipan</option>
            <option value="885250">Samoa</option>
            <option value="885251">Samoa American</option>
            <option value="885252">San Marino</option>
            <option value="885253">Sao Tome &amp; Principe</option>
            <option value="885254">Saudi Arabia</option>
            <option value="885255">Senegal</option>
            <option value="885256">Serbia</option>
            <option value="885257">Serbia &amp; Montenegro</option>
            <option value="885258">Seychelles</option>
            <option value="885259">Sierra Leone</option>
            <option value="885260">Singapore</option>
            <option value="885261">Slovakia</option>
            <option value="885262">Slovenia</option>
            <option value="885263">Solomon Islands</option>
            <option value="885264">Somalia</option>
            <option value="885265">South Africa</option>
            <option value="885266">South Sudan</option>
            <option value="885267">Spain</option>
            <option value="885268">Sri Lanka</option>
            <option value="885269">St Barthelemy</option>
            <option value="885270">St Eustatius</option>
            <option value="885271">St Helena</option>
            <option value="885272">St Kitts-Nevis</option>
            <option value="885273">St Lucia</option>
            <option value="885274">St Maarten</option>
            <option value="885275">St Pierre &amp; Miquelon</option>
            <option value="885276">St Vincent &amp; Grenadines</option>
            <option value="885277">Sudan</option>
            <option value="885278">Suriname</option>
            <option value="885279">Swaziland</option>
            <option value="885280">Sweden</option>
            <option value="885281">Switzerland</option>
            <option value="885282">Syria</option>
            <option value="885283">Tahiti</option>
            <option value="885284">Taiwan</option>
            <option value="885285">Tajikistan</option>
            <option value="885286">Tanzania</option>
            <option value="885287">Thailand</option>
            <option value="885288">Togo</option>
            <option value="885289">Tokelau</option>
            <option value="885290">Tonga</option>
            <option value="885291">Trinidad &amp; Tobago</option>
            <option value="885292">Tunisia</option>
            <option value="885293">Turkey</option>
            <option value="885294">Turkmenistan</option>
            <option value="885295">Turks &amp; Caicos Is</option>
            <option value="885296">Tuvalu</option>
            <option value="885297">Uganda</option>
            <option value="885298">Ukraine</option>
            <option value="885299">United Arab Emirates</option>
            <option value="885300">United Kingdom</option>
            <option value="885301">United States of America</option>
            <option value="885302">Uruguay</option>
            <option value="885303">Uzbekistan</option>
            <option value="885304">Vanuatu</option>
            <option value="885305">Vatican City State</option>
            <option value="885306">Venezuela</option>
            <option value="885307">Vietnam</option>
            <option value="885308">Virgin Islands (Brit)</option>
            <option value="885309">Virgin Islands (USA)</option>
            <option value="885310">Wake Island</option>
            <option value="885311">Wallis &amp; Futana Is</option>
            <option value="885312">Yemen</option>
            <option value="885313">Zambia</option>
            <option value="885314">Zimbabwe</option>
        </select>
      </div>
    </div>
    <div class="large-4 medium-4 small-12 columns">
      <div class="when-are-they-travelling">
        <label for="fieldchitdh">When are they travelling next?</label>
        <input class='when-datepicker' type='text' />
        <select id="fieldchitdh" name="cm-fd-chitdh-mn"><option value="1">Jan</option><option value="2">Feb</option><option value="3">Mar</option><option value="4">Apr</option><option value="5">May</option><option value="6">Jun</option><option value="7">Jul</option><option value="8">Aug</option><option value="9">Sep</option><option value="10">Oct</option><option value="11">Nov</option><option value="12">Dec</option></select>
        <select id="fieldchitdhdy" name="cm-fd-chitdh-dy"><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option></select>
        <select id="fieldchitdhyr" name="cm-fd-chitdh-yr">
          <option value="2015">2015</option>
          <option value="2016">2016</option>
        </select>
      </div>
    </div>
    <div class="clear"></div>
    <div class="large-4 medium-4 small-12 columns right">
        <button type="submit" class="base-button orange">Submit entry</button>
    </div>
    <div class="large-8 medium-8 small-12 columns">
      <div class="terms">
        <input id="fieldchithu" name="cm-f-chithu" type="checkbox" value="yes" />
        <label for="fieldchithu">I agree to the Terms and Conditions of this campaign.</label>
      </div>
      <div class="terms">
        <input id="fieldckydku" name="cm-f-ckydku" type="checkbox" value="yes" />
        <label for="fieldckydku">I would like to hear more from these destinations.</label>
      </div>
    </div>
        <input id="fieldchitkl" name="cm-f-chitkl" type="hidden" value="extraordinary-experiences" />

</form>

<script>
  $(function () {
    $('.ee-form').submit(function (e) {
      var form = $(this);
      $.getJSON(this.action + "?callback=?", form.serialize(), function (data) {
        if (data.Status === 400) {
          form.find('.error').remove();
          form.append("&lt;p class='error'&gt;" + data.Message + "&lt;/p&gt;");
        } else { // 200
          wng.googleAnalytics.trackEvent('Content', 'Guide');
          form.html("<div class='successmessage'><p>Thanks for applying, we will announce the winner on the 14th May 2015.</div>");
        }
      });
      e.preventDefault();
    });
  });
</script>

    </div>
  </div>
</div>

<div class="row" id="article-content">
  <div class="large-8 medium-8 small-12 columns">
    <div>
      <img src="//www.worldnomads.com/Media/Default/Partners/canada.jpg" class="locationimage" />
      <h4>Canada - Newfoundland and Labrador</h4>
      <p>No matter where you find yourself in Newfoundland and Labrador, you’ll feel so very, very far way. This place does that to you. It sweeps you off your feet and keeps you there for as long as you want. The land itself is like no other - cliffs and barrens, bights and guts - around every corner there’s the unexpected. </p>

      <p>Your adventure will lead you along ancient footpaths to deep fjords, towering cliffs and sub-arctic barrens, through lush inland forests, and over the earth’s mantle. Take a sea kayak to caves, inlets, and secluded beaches along routes protected by offshore islands, and view the land from the sea. Immerse yourself in a place where 10,000 whales get front row seats to go people watching, where icebergs drift along ancient shores, where there isn’t a rock, cave or cliff without a story attached.</p>     
    </div>
    <div>
      <img src="//www.worldnomads.com/Media/Default/Partners/sweden.jpg" class="locationimage" />
      <h4>Sweden - J&auml;mtland H&auml;rjedalen</h4>
      <p>The region of Jämtland H&auml;rjedalen is situated in central Sweden, has a unique flora and fauna and is often referred to as "the lungs of Europe". </p>
      <p>In addition to the clean air, it is well known for its accessible wilderness, superb homemade foods, the contrasts of the midnight sun and the winter darkness and its five clearly defined seasons.</p>
      <p>In wintertime skiing is the most popular activity in the region, but the summertime showcases the regions picturesque landscapes in which you can enjoy a hike with reindeers, cycle through small villages and down rugged mountains, visit the beautiful Storsj&ouml;n lake and even meet the resident lake monster, The Storsj&ouml;odjuret... if you’re lucky! </p>     
    </div>
    <div>
      <img src="//www.worldnomads.com/Media/Default/Partners/ecuador.jpg" class="locationimage" />
      <h4>Ecuador</h4>
      <p>For its size, Ecuador has an especially impressive array of interesting sites and cities. The high Andes beckon with stunning vistas, colourful indigenous markets, and scenic colonial neighbourhoods, where Ecuador’s “Avenue of the Volcanoes” is sure to inject you with your first dose of adventure. The eastern lowlands offer an exciting Amazonian experience where you can visit exotic wildlife species and the ancient Huaorani tribe of the rainforest. </p>
      <p>Then there are the Galapagos Islands. Located more than 900 kilometers from the coast, these fabled islands are part of Ecuadorian territory and the jewel of Ecuador. The Galapagos are on the bucket list of nearly every world traveller and those who make their way to this volcanic archipelago find their expectations surpassed by their experience.</p>     
    </div>
  </div>
  <div class="large-4 medium-4 small-12 columns">
          <div id="sidepannel">
        <h4>Important dates</h4>
        <!-- Date -->
        <div id="importantdate">
          <div class="date">
            <div>04</div>
            <span>March</span>
          </div>
          <div class="info">
            <h5>Applications open</h5>
            <!-- <a href="#">Apply here</a> -->
          </div>
        </div>
        <!-- Date END -->

        <!-- Date -->
        <div id="importantdate">
          <div class="date">
            <div>17</div>
            <span>April</span>
          </div>
          <div class="info">
            <h5>Submissions deadline</h5>
          </div>
        </div>
        <!-- Date END -->

        <!-- Date -->
        <div id="importantdate">
          <div class="date">
            <div>18</div>
            <span>April</span>
          </div>
          <div class="info">
            <h5>Judging starts</h5>
          </div>
        </div>
        <!-- Date END -->

        <!-- Date -->
        <div id="importantdate">
          <div class="date">
            <div>14</div>
            <span>May</span>
          </div>
          <div class="info">
            <h5>Winner announced</h5>
          </div>
        </div>
        <!-- Date END -->

        <!-- Date -->
        <div id="importantdate">
          <div class="date">
            <div>02</div>
            <span>July</span>
          </div>
          <div class="info">
            <h5>Trips</h5>
            July 2 - 10
          </div>
        </div>
        <!-- Date END -->

      </div>  
      
      
    </div>
  </div>
</div>




<!-- Share tools -->  
<script>
// Build the target srcs for the icons on click.
    var socialMedialUrl          = window.location;

    var facebookParamU           = "http://bit.ly/16wBqhs";

    var twitterParamText         = "@WorldNomads change lives with @wateraid. See how we did it. http://bit.ly/16wBqhs";

    var pinParamDescription      = "6,880 children now have clean hands and water to drink thanks to 106,219 travellers like you! See how we did it.";
    var pinParamMedia            = "http://www.worldnomads.com/Media/Default/footprints/wateraid/Infographic_WaterAid_Pinterest.jpg";

    var linkedParamTitle         = "World Nomads change lives with Water Aid";
    var linkedParamDescription   = "6,880 children now have clean hands and water to drink thanks to 106,219 travellers like you!";

    $(function() {
      var $plus = $(".plus");
      var $toggleableButtons = $(".pinterest, .gplus, .linkedin, .stumbleupon").hide();
      $plus.on("click", function() {
        var $this = $(this);
        $toggleableButtons.toggle();
        $plus.toggleClass("open");
      });
    });

    $(function() {
      var $si = $(".socialicon");
      var targetUrl = "";
      $si.on("click", function() {
        var $this = $(this);
        if ($this.hasClass("facebook")) {
          targetUrl = "http://www.facebook.com/share.php?u=" + facebookParamU;
          window.open(targetUrl, 'name', 'width=600,height=400');
        }
        else if ($this.hasClass("twitter")) {
          targetUrl = "https://twitter.com/intent/tweet?text=" + twitterParamText;
          window.open(targetUrl, 'name', 'width=600,height=400');
        }
        else if ($this.hasClass("pinterest")) {
          targetUrl = "http://pinterest.com/pin/create/button?description=" + pinParamDescription + "&media=" + pinParamMedia; + "&url=" + socialMedialUrl; 
          window.open(targetUrl, 'name', 'width=755,height=400,scrollbars=no');
        }
        else if ($this.hasClass("gplus")) {
          targetUrl = "https://plus.google.com/share?url=" + socialMedialUrl;
          window.open(targetUrl, 'name', 'width=600,height=400');
        }
        else if ($this.hasClass("linkedin")) {
          targetUrl = "https://www.linkedin.com/shareArticle?mini=true&url=" + socialMedialUrl + "&title=" + linkedParamTitle + "&summary=" + linkedParamDescription;
          window.open(targetUrl, 'name', 'width=600,height=400');
        }
        else if ($this.hasClass("stumbleupon")) {
          targetUrl = "http://www.stumbleupon.com/badge/?url=" + socialMedialUrl;
          window.open(targetUrl, 'name', 'width=600,height=400');
        }
      });
    });
</script> <!-- Social Counter -->
<script>
jQuery.sharedCount = function(url, fn) {
   url = encodeURIComponent(url || location.href);
   var domain = "//free.sharedcount.com/"; /* SET DOMAIN */
   var apikey = "8e4b7187bcfca463ceeca1577105f710bf47edd1" /*API KEY HERE*/
   var arg = {
    data: {
     url : url,
     apikey : apikey
    },
    url: domain,
    cache: true,
    dataType: "json"
   };
   if ('withCredentials' in new XMLHttpRequest) {
    arg.success = fn;
   }
   else {
    var cb = "sc_" + url.replace(/\W/g, '');
    window[cb] = fn;
    arg.jsonpCallback = cb;
    arg.dataType += "p";
   }
   return jQuery.ajax(arg);
  };

  jQuery(document).ready(function($){
   var targetUrl = "http://" + location.host + location.pathname;

   $.sharedCount(targetUrl, function(data){
    var totalShares = data.Twitter + data.Facebook.like_count + data.GooglePlusOne + data.Facebook.share_count + data.Pinterest + data.LinkedIn + data.StumbleUpon;
    if (totalShares <= 48) {
     totalShares = 888;
    }
    $("#tweetscount").text(data.Twitter);    
    $("#likescount").text(data.Facebook.like_count);
    $("#facebooksharecount").text(data.Facebook.share_count);
    $("#plusonescount").text(data.GooglePlusOne);
    $("#stumbleuponcount").text(data.StumbleUpon);
    $("#pintrestcount").text(data.Pinterest);
    $("#linkedincount").text(data.LinkedIn);
    $("#total").text(totalShares);
    $("#sharedcount").fadeIn();

   });
  });
</script> <!-- Share tools END -->

<!-- Main Content Area End -->

{% endblock %}

