
{% block content %} 

<!-- Hero Content Panel Start -->
<div class="hero-content-panel" id="home">
  <div class="row">  
    <div class="small-12 medium-4 large-4 columns left" id="mobile-hero-margin">
      <h2>Explore seus limites</h2>
      <p class="intro">Se voc&ecirc; adora viajar, compartilhar hist&oacute;rias, buscar novas experi&ecirc;ncias ou ajudar as comunidades locais, ent&atilde;o voc&ecirc; &eacute; um N&ocirc;made do Mundo.Junte-se a n&oacute;s.</p>
    </div>
    <div class="small-12 medium-7 large-6 columns right">
      <div id="wnqqcalculator" class="white">
        <h1>Seguro Viagem. Simples &amp; Flexível.</h1>
        <script async='' src='//www.worldnomads.com/Partner/GetPartnerWidget?loadWithPanelExpanded=true&excludeStyles=true&extractCampaignCodeFromUrl=true&cultureKey=pt'></script>
        <div id='wn-insurance-quote-editor'></div>
        <div class="trustedby">
          <a href="http://www.lonelyplanet.com/travel-insurance" target="_blank"><img src="http://www.worldnomads.com/Media/Default/TravelInsuranceImages/PartnerLogos/lonley-planet-logo-dark.png" alt="Lonely Planet" class="lp" /></a>
          <img src="http://www.worldnomads.com/Media/Default/TravelInsuranceImages/PartnerLogos/nat-geo-logo-dark.png" alt="Nat Geo Adventure"  class="natgeo" />
          <a href="http://www.roughguides.com/travel-insurance/" target="_blank"><img src="http://www.worldnomads.com/Media/Default/TravelInsuranceImages/PartnerLogos/rough-guide-logo-dark.png" alt="Rough Guides" class="rg" /></a>
          <img src="http://www.worldnomads.com/Media/Default/TravelInsuranceImages/PartnerLogos/intrepid-logo-dark.png" alt="Intrepid" class="intrep" />
          <a href="http://www.virtualtourist.com/travel-insurance/" target="_blank"><img src="http://www.worldnomads.com/Media/Default/TravelInsuranceImages/PartnerLogos/v-tourist-logo-dark.png" alt="Virtual Tourist" class="vt" /></a>
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- Hero Content Panel End -->       

<style>
  /* Add link to Desktop Image */
  @media all and (min-width: 860px) {
    #home {
      background-image: url('http://www.worldnomads.com/Media/Default/HomePageImages/Hero_EExperiences_full.jpg');
      background-position: top center;
      min-height: 550px;
    }
  }
  /* Add link to Tablet Image */
  @media all and (max-width: 860px) {
    #home {
      background-image: url('http://www.worldnomads.com/Media/Default/HomePageImages/Hero_EExperiences_tablet.jpg');
      min-height: 440px;
    }
  }
  /* Add link to Mobile Image */
  @media all and (max-width: 640px) {
    #home {
      background-image: url('http://www.worldnomads.com/Media/Default/HomePageImages/Hero_EExperiences_mobile.jpg');
    }
  }
</style>
<!-- Hero END -->


<!-- Content Middle -->
<div class="row">  
  <div class="small-12 medium-6 large-3 columns">
    <div class="feature-box" style="background-image: url('//cdn.worldnomads.net/Media/Default/HomePageImages/jan14/Footprints-Feature-450x440.jpg');">
      <ul class="breadcrumb">
        <li>
          <a href="http://www.worldnomads.com/make-a-difference">Fazer a diferen&ccedil;a</a>
        </li>
      </ul>
      <a href="http://www.worldnomads.com/make-a-difference"><h4>D&ecirc; algo de volta quando viajar</h4></a>
      <div class="bottom orange">
        <span class="feature-link-title">Financiar projetos:</span>
        <p><a href="http://www.worldnomads.com/make-a-difference">Quando voc&ecirc; compra um seguro de viagem, adicione uma micro-doa&ccedil;&atilde;o para apoiar um projeto comunit&aacute;rio e ajudar a mudar vidas.</a></p>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-3 columns">
    <div class="feature-box" style="background-image: url('http://cdn.worldnomads.net/Media/Default/HomePageImages/jan14/Community-Feature-450x440.jpg');">
      <ul class="breadcrumb">
        <li>
          <a href="http://answers.worldnomads.com">Comunidade</a>
        </li>
      </ul>
      <a href="http://answers.worldnomads.com"><h4>Deixe a nossa comunidade de viagens ajud&aacute;-lo</h4></a>
      <div class="bottom purple">
        <span class="feature-link-title">Pergunte a um n&ocirc;made:</span>
        <p><a href="http://answers.worldnomads.com">Saiba o conhecimento de viagem de mais de80 mil viajantes N&ocirc;mades do Mundo de mais de 129 países.</a></p>
      </div>
    </div>
  </div>
  <div class="small-12 medium-6 large-3 columns">
    <div class="feature-box" style="background-image: url('//cdn.worldnomads.net/Media/Default/HomePageImages/jan14/Scholarships-Feature-450x440.jpg');">
      <ul class="breadcrumb">
        <li>
          <a href="http://www.worldnomads.com/learn">Bolsas</a>
        </li>
      </ul>
      <a href="http://www.worldnomads.com/learn"><h4>Transforme a sua paix&atilde;o em uma profiss&atilde;o</h4></a>
      <div class="bottom teal">
        <span class="feature-link-title">Aprender habilidades:</span>
        <p><a href="http://www.worldnomads.com/learn">Todos os anos enviamos contadores de hist&oacute;ria em experi&ecirc;ncias de aprendizado que o dinheiro n&atilde;o pode comprar em todo o mundo.Voc&ecirc; ser&aacute; o pr&oacute;ximo?</a></p>
      </div>
    </div>
  </div>  
  <div class="small-12 medium-6 large-3 columns">
    <div class="feature-box" style="background-image: url('//cdn.worldnomads.net/Media/Default/HomePageImages/jan14/Stories-Feature-450x440.jpg');">
      <ul class="breadcrumb">
        <li>
          <a href="http://www.worldnomads.com/stories">Hist&oacute;rias</a>
        </li>
      </ul>
      <a href="http://www.worldnomads.com/stories"><h4>Compartilhe sua hist&oacute;ria de viagem</h4></a>
      <div class="bottom blue">
        <span class="feature-link-title">Come&ccedil;ar a compartilhar:</span>
        <p><a href="http://www.worldnomads.com/stories">Cada aventura &eacute; uma hist&oacute;ria para contar, mergulhe nas hist&oacute;rias de viagens dos N&ocirc;mades do Mundo ou crie sua pr&oacute;pria.</a></p>
      </div>
    </div>
  </div>
</div>  
<!-- Content Middle END -->

<!-- Bottom Section -->
<div id="twofeature">
  <div class="row">  
  <div class="small-12 medium-7 large-8 columns">
    <ul class="breadcrumb">
      <li><a href="http://www.worldnomads.com/travel-safety">Viagem inteligente</a></li>
    </ul>
    <a href="http://www.worldnomads.com/travel-safety"><h3>Dicas e conselhos de viagem para sua viagem</h3></a>
    <p class="intro">Dicas, conselhos e orienta&ccedil;ões para ajud&aacute;-lo a sobreviver à vida noturna, evitar enrascadas, fazer seu dinheiro durar mais tempo e ajud&aacute;-lo a evitar problemas em qualquer lugar do mundo.</p>
    <div class="searchform">
      <!-- start safety country picker -->   
      <form class="answers form-input-button-pair">
        <input class="autocomplete" placeholder="Enter Country/Region Name" type="text"> <button class="button-primary">Obter dicas de viagem</button>
      </form>
      <script src="//www.worldnomads.com/Scripts/jquery/autocomplete/jquery.autocomplete.js"></script>
      <script>
        var countries = [
          { 'id': 'http://www.worldnomads.com/travel-safety/worldwide', 'name': 'Worldwide' },
          { 'id': 'http://www.worldnomads.com/travel-safety/afghanistan', 'name': 'Afghanistan' },
          { 'id': 'http://www.worldnomads.com/travel-safety/aland-islands', 'name': 'Aland Islands' },
          { 'id': 'http://www.worldnomads.com/travel-safety/albania', 'name': 'Albania' },
          { 'id': 'http://www.worldnomads.com/travel-safety/algeria', 'name': 'Algeria' },
          { 'id': 'http://www.worldnomads.com/travel-safety/american-samoa', 'name': 'American Samoa' },
          { 'id': 'http://www.worldnomads.com/travel-safety/andorra', 'name': 'Andorra' },
          { 'id': 'http://www.worldnomads.com/travel-safety/angola', 'name': 'Angola' },
          { 'id': 'http://www.worldnomads.com/travel-safety/anguilla', 'name': 'Anguilla' },
          { 'id': 'http://www.worldnomads.com/travel-safety/antarctica', 'name': 'Antarctica' },
          { 'id': 'http://www.worldnomads.com/travel-safety/antigua-and-barbuda', 'name': 'Antigua and Barbuda' },
          { 'id': 'http://www.worldnomads.com/travel-safety/argentina', 'name': 'Argentina' },
          { 'id': 'http://www.worldnomads.com/travel-safety/armenia', 'name': 'Armenia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/aruba', 'name': 'Aruba' },
          { 'id': 'http://www.worldnomads.com/travel-safety/australia', 'name': 'Australia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/austria', 'name': 'Austria' },
          { 'id': 'http://www.worldnomads.com/travel-safety/azerbaijan', 'name': 'Azerbaijan' },
          { 'id': 'http://www.worldnomads.com/travel-safety/bahrain', 'name': 'Bahrain' },
          { 'id': 'http://www.worldnomads.com/travel-safety/bali', 'name': 'Bali' },
          { 'id': 'http://www.worldnomads.com/travel-safety/bangladesh', 'name': 'Bangladesh' },
          { 'id': 'http://www.worldnomads.com/travel-safety/barbados', 'name': 'Barbados' },
          { 'id': 'http://www.worldnomads.com/travel-safety/belarus', 'name': 'Belarus' },
          { 'id': 'http://www.worldnomads.com/travel-safety/belgium', 'name': 'Belgium' },
          { 'id': 'http://www.worldnomads.com/travel-safety/belize', 'name': 'Belize' },
          { 'id': 'http://www.worldnomads.com/travel-safety/benin', 'name': 'Benin' },
          { 'id': 'http://www.worldnomads.com/travel-safety/bermuda', 'name': 'Bermuda' },
          { 'id': 'http://www.worldnomads.com/travel-safety/bhutan', 'name': 'Bhutan' },
          { 'id': 'http://www.worldnomads.com/travel-safety/bolivia', 'name': 'Bolivia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/bosnia-and-herzegovina', 'name': 'Bosnia and Herzegovina' },
          { 'id': 'http://www.worldnomads.com/travel-safety/botswana', 'name': 'Botswana' },
          { 'id': 'http://www.worldnomads.com/travel-safety/bouvet-island', 'name': 'Bouvet Island' },
          { 'id': 'http://www.worldnomads.com/travel-safety/brazil', 'name': 'Brazil' },
          { 'id': 'http://www.worldnomads.com/travel-safety/british-indian-ocean-territory', 'name': 'British Indian Ocean Territory' },
          { 'id': 'http://www.worldnomads.com/travel-safety/british-virgin-islands', 'name': 'British Virgin Islands' },
          { 'id': 'http://www.worldnomads.com/travel-safety/brunei', 'name': 'Brunei' },
          { 'id': 'http://www.worldnomads.com/travel-safety/bulgaria', 'name': 'Bulgaria' },
          { 'id': 'http://www.worldnomads.com/travel-safety/burkina-faso', 'name': 'Burkina Faso' },
          { 'id': 'http://www.worldnomads.com/travel-safety/burundi', 'name': 'Burundi' },
          { 'id': 'http://www.worldnomads.com/travel-safety/cambodia', 'name': 'Cambodia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/cameroon', 'name': 'Cameroon' },
          { 'id': 'http://www.worldnomads.com/travel-safety/canada', 'name': 'Canada' },
          { 'id': 'http://www.worldnomads.com/travel-safety/cape-verde', 'name': 'Cape Verde' },
          { 'id': 'http://www.worldnomads.com/travel-safety/caribbean', 'name': 'Caribbean' },
          { 'id': 'http://www.worldnomads.com/travel-safety/cayman-islands', 'name': 'Cayman Islands' },
          { 'id': 'http://www.worldnomads.com/travel-safety/central-african-republic', 'name': 'Central African Republic' },
          { 'id': 'http://www.worldnomads.com/travel-safety/central-america', 'name': 'Central America' },
          { 'id': 'http://www.worldnomads.com/travel-safety/central-asia', 'name': 'Central Asia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/chad', 'name': 'Chad' },
          { 'id': 'http://www.worldnomads.com/travel-safety/chile', 'name': 'Chile' },
          { 'id': 'http://www.worldnomads.com/travel-safety/china', 'name': 'China' },
          { 'id': 'http://www.worldnomads.com/travel-safety/christmas-island', 'name': 'Christmas Island' },
          { 'id': 'http://www.worldnomads.com/travel-safety/cocos-(keeling)-islands', 'name': 'Cocos (Keeling) Islands' },
          { 'id': 'http://www.worldnomads.com/travel-safety/colombia', 'name': 'Colombia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/comoros', 'name': 'Comoros' },
          { 'id': 'http://www.worldnomads.com/travel-safety/congo', 'name': 'Congo' },
          { 'id': 'http://www.worldnomads.com/travel-safety/cook-islands', 'name': 'Cook Islands' },
          { 'id': 'http://www.worldnomads.com/travel-safety/costa-rica', 'name': 'Costa Rica' },
          { 'id': 'http://www.worldnomads.com/travel-safety/cote-d\'ivoire', 'name': 'Cote d\'Ivoire' },
          { 'id': 'http://www.worldnomads.com/travel-safety/croatia', 'name': 'Croatia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/cuba', 'name': 'Cuba' },
          { 'id': 'http://www.worldnomads.com/travel-safety/cyprus', 'name': 'Cyprus' },
          { 'id': 'http://www.worldnomads.com/travel-safety/czech-republic', 'name': 'Czech Republic' },
          { 'id': 'http://www.worldnomads.com/travel-safety/democratic-republic-of-the-congo', 'name': 'Democratic Republic of the Congo' },
          { 'id': 'http://www.worldnomads.com/travel-safety/denmark', 'name': 'Denmark' },
          { 'id': 'http://www.worldnomads.com/travel-safety/djibouti', 'name': 'Djibouti' },
          { 'id': 'http://www.worldnomads.com/travel-safety/dominica', 'name': 'Dominica' },
          { 'id': 'http://www.worldnomads.com/travel-safety/dominican-republic', 'name': 'Dominican Republic' },
          { 'id': 'http://www.worldnomads.com/travel-safety/east-timor', 'name': 'East Timor' },
          { 'id': 'http://www.worldnomads.com/travel-safety/eastern-africa', 'name': 'Eastern Africa' },
          { 'id': 'http://www.worldnomads.com/travel-safety/eastern-asia', 'name': 'Eastern Asia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/eastern-europe', 'name': 'Eastern Europe' },
          { 'id': 'http://www.worldnomads.com/travel-safety/ecuador', 'name': 'Ecuador' },
          { 'id': 'http://www.worldnomads.com/travel-safety/egypt', 'name': 'Egypt' },
          { 'id': 'http://www.worldnomads.com/travel-safety/el-salvador', 'name': 'El Salvador' },
          { 'id': 'http://www.worldnomads.com/travel-safety/equatorial-guinea', 'name': 'Equatorial Guinea' },
          { 'id': 'http://www.worldnomads.com/travel-safety/eritrea', 'name': 'Eritrea' },
          { 'id': 'http://www.worldnomads.com/travel-safety/estonia', 'name': 'Estonia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/ethiopia', 'name': 'Ethiopia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/falkland-islands', 'name': 'Falkland Islands' },
          { 'id': 'http://www.worldnomads.com/travel-safety/faroe-islands', 'name': 'Faroe Islands' },
          { 'id': 'http://www.worldnomads.com/travel-safety/fiji', 'name': 'Fiji' },
          { 'id': 'http://www.worldnomads.com/travel-safety/finland', 'name': 'Finland' },
          { 'id': 'http://www.worldnomads.com/travel-safety/france', 'name': 'France' },
          { 'id': 'http://www.worldnomads.com/travel-safety/french-guiana', 'name': 'French Guiana' },
          { 'id': 'http://www.worldnomads.com/travel-safety/french-polynesia', 'name': 'French Polynesia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/french-southern-territories', 'name': 'French Southern Territories' },
          { 'id': 'http://www.worldnomads.com/travel-safety/gabon', 'name': 'Gabon' },
          { 'id': 'http://www.worldnomads.com/travel-safety/gambia', 'name': 'Gambia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/georgia', 'name': 'Georgia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/germany', 'name': 'Germany' },
          { 'id': 'http://www.worldnomads.com/travel-safety/ghana', 'name': 'Ghana' },
          { 'id': 'http://www.worldnomads.com/travel-safety/gibraltar', 'name': 'Gibraltar' },
          { 'id': 'http://www.worldnomads.com/travel-safety/greece', 'name': 'Greece' },
          { 'id': 'http://www.worldnomads.com/travel-safety/greenland', 'name': 'Greenland' },
          { 'id': 'http://www.worldnomads.com/travel-safety/grenada', 'name': 'Grenada' },
          { 'id': 'http://www.worldnomads.com/travel-safety/guadeloupe', 'name': 'Guadeloupe' },
          { 'id': 'http://www.worldnomads.com/travel-safety/guam', 'name': 'Guam' },
          { 'id': 'http://www.worldnomads.com/travel-safety/guatemala', 'name': 'Guatemala' },
          { 'id': 'http://www.worldnomads.com/travel-safety/guernsey', 'name': 'Guernsey' },
          { 'id': 'http://www.worldnomads.com/travel-safety/guinea', 'name': 'Guinea' },
          { 'id': 'http://www.worldnomads.com/travel-safety/guinea-bissau', 'name': 'Guinea-Bissau' },
          { 'id': 'http://www.worldnomads.com/travel-safety/guyana', 'name': 'Guyana' },
          { 'id': 'http://www.worldnomads.com/travel-safety/haiti', 'name': 'Haiti' },
          { 'id': 'http://www.worldnomads.com/travel-safety/heard-island-and-mcdonald-islands', 'name': 'Heard Island and McDonald Islands' },
          { 'id': 'http://www.worldnomads.com/travel-safety/holy-see-vatican-city-state', 'name': 'Holy See (Vatican City State)' },
          { 'id': 'http://www.worldnomads.com/travel-safety/honduras', 'name': 'Honduras' },
          { 'id': 'http://www.worldnomads.com/travel-safety/hong-kong', 'name': 'Hong Kong' },
          { 'id': 'http://www.worldnomads.com/travel-safety/hungary', 'name': 'Hungary' },
          { 'id': 'http://www.worldnomads.com/travel-safety/iceland', 'name': 'Iceland' },
          { 'id': 'http://www.worldnomads.com/travel-safety/india', 'name': 'India' },
          { 'id': 'http://www.worldnomads.com/travel-safety/indonesia', 'name': 'Indonesia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/iran', 'name': 'Iran' },
          { 'id': 'http://www.worldnomads.com/travel-safety/iraq', 'name': 'Iraq' },
          { 'id': 'http://www.worldnomads.com/travel-safety/ireland', 'name': 'Ireland' },
          { 'id': 'http://www.worldnomads.com/travel-safety/isle-of-man', 'name': 'Isle of Man' },
          { 'id': 'http://www.worldnomads.com/travel-safety/israel', 'name': 'Israel' },
          { 'id': 'http://www.worldnomads.com/travel-safety/italy', 'name': 'Italy' },
          { 'id': 'http://www.worldnomads.com/travel-safety/jamaica', 'name': 'Jamaica' },
          { 'id': 'http://www.worldnomads.com/travel-safety/japan', 'name': 'Japan' },
          { 'id': 'http://www.worldnomads.com/travel-safety/jersey', 'name': 'Jersey' },
          { 'id': 'http://www.worldnomads.com/travel-safety/jordan', 'name': 'Jordan' },
          { 'id': 'http://www.worldnomads.com/travel-safety/kazakhstan', 'name': 'Kazakhstan' },
          { 'id': 'http://www.worldnomads.com/travel-safety/kenya', 'name': 'Kenya' },
          { 'id': 'http://www.worldnomads.com/travel-safety/kiribati', 'name': 'Kiribati' },
          { 'id': 'http://www.worldnomads.com/travel-safety/kuwait', 'name': 'Kuwait' },
          { 'id': 'http://www.worldnomads.com/travel-safety/kyrgyzstan', 'name': 'Kyrgyzstan' },
          { 'id': 'http://www.worldnomads.com/travel-safety/laos', 'name': 'Laos' },
          { 'id': 'http://www.worldnomads.com/travel-safety/latvia', 'name': 'Latvia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/lebanon', 'name': 'Lebanon' },
          { 'id': 'http://www.worldnomads.com/travel-safety/lesotho', 'name': 'Lesotho' },
          { 'id': 'http://www.worldnomads.com/travel-safety/liberia', 'name': 'Liberia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/libya', 'name': 'Libya' },
          { 'id': 'http://www.worldnomads.com/travel-safety/liechtenstein', 'name': 'Liechtenstein' },
          { 'id': 'http://www.worldnomads.com/travel-safety/lithuania', 'name': 'Lithuania' },
          { 'id': 'http://www.worldnomads.com/travel-safety/luxembourg', 'name': 'Luxembourg' },
          { 'id': 'http://www.worldnomads.com/travel-safety/macao', 'name': 'Macao' },
          { 'id': 'http://www.worldnomads.com/travel-safety/macedonia', 'name': 'Macedonia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/madagascar', 'name': 'Madagascar' },
          { 'id': 'http://www.worldnomads.com/travel-safety/malawi', 'name': 'Malawi' },
          { 'id': 'http://www.worldnomads.com/travel-safety/malaysia', 'name': 'Malaysia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/maldives', 'name': 'Maldives' },
          { 'id': 'http://www.worldnomads.com/travel-safety/mali', 'name': 'Mali' },
          { 'id': 'http://www.worldnomads.com/travel-safety/malta', 'name': 'Malta' },
          { 'id': 'http://www.worldnomads.com/travel-safety/marshall-islands', 'name': 'Marshall Islands' },
          { 'id': 'http://www.worldnomads.com/travel-safety/martinique', 'name': 'Martinique' },
          { 'id': 'http://www.worldnomads.com/travel-safety/mauritania', 'name': 'Mauritania' },
          { 'id': 'http://www.worldnomads.com/travel-safety/mauritius', 'name': 'Mauritius' },
          { 'id': 'http://www.worldnomads.com/travel-safety/mayotte', 'name': 'Mayotte' },
          { 'id': 'http://www.worldnomads.com/travel-safety/mexico', 'name': 'Mexico' },
          { 'id': 'http://www.worldnomads.com/travel-safety/micronesia', 'name': 'Micronesia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/middle-africa', 'name': 'Middle Africa' },
          { 'id': 'http://www.worldnomads.com/travel-safety/middle-east', 'name': 'Middle East' },
          { 'id': 'http://www.worldnomads.com/travel-safety/moldova', 'name': 'Moldova' },
          { 'id': 'http://www.worldnomads.com/travel-safety/monaco', 'name': 'Monaco' },
          { 'id': 'http://www.worldnomads.com/travel-safety/mongolia', 'name': 'Mongolia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/montenegro', 'name': 'Montenegro' },
          { 'id': 'http://www.worldnomads.com/travel-safety/montserrat', 'name': 'Montserrat' },
          { 'id': 'http://www.worldnomads.com/travel-safety/morocco', 'name': 'Morocco' },
          { 'id': 'http://www.worldnomads.com/travel-safety/mozambique', 'name': 'Mozambique' },
          { 'id': 'http://www.worldnomads.com/travel-safety/myanmar', 'name': 'Myanmar' },
          { 'id': 'http://www.worldnomads.com/travel-safety/namibia', 'name': 'Namibia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/nauru', 'name': 'Nauru' },
          { 'id': 'http://www.worldnomads.com/travel-safety/nepal', 'name': 'Nepal' },
          { 'id': 'http://www.worldnomads.com/travel-safety/netherlands', 'name': 'Netherlands' },
          { 'id': 'http://www.worldnomads.com/travel-safety/netherlands-antilles', 'name': 'Netherlands Antilles' },
          { 'id': 'http://www.worldnomads.com/travel-safety/new-caledonia', 'name': 'New Caledonia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/new-zealand', 'name': 'New Zealand' },
          { 'id': 'http://www.worldnomads.com/travel-safety/nicaragua', 'name': 'Nicaragua' },
          { 'id': 'http://www.worldnomads.com/travel-safety/niger', 'name': 'Niger' },
          { 'id': 'http://www.worldnomads.com/travel-safety/nigeria', 'name': 'Nigeria' },
          { 'id': 'http://www.worldnomads.com/travel-safety/niue', 'name': 'Niue' },
          { 'id': 'http://www.worldnomads.com/travel-safety/norfolk-island', 'name': 'Norfolk Island' },
          { 'id': 'http://www.worldnomads.com/travel-safety/north-korea', 'name': 'North Korea' },
          { 'id': 'http://www.worldnomads.com/travel-safety/northern-africa', 'name': 'Northern Africa' },
          { 'id': 'http://www.worldnomads.com/travel-safety/northern-america', 'name': 'Northern America' },
          { 'id': 'http://www.worldnomads.com/travel-safety/northern-europe', 'name': 'Northern Europe' },
          { 'id': 'http://www.worldnomads.com/travel-safety/northern-mariana-islands', 'name': 'Northern Mariana Islands' },
          { 'id': 'http://www.worldnomads.com/travel-safety/norway', 'name': 'Norway' },
          { 'id': 'http://www.worldnomads.com/travel-safety/oceania', 'name': 'Oceania' },
          { 'id': 'http://www.worldnomads.com/travel-safety/oman', 'name': 'Oman' },
          { 'id': 'http://www.worldnomads.com/travel-safety/pakistan', 'name': 'Pakistan' },
          { 'id': 'http://www.worldnomads.com/travel-safety/palau', 'name': 'Palau' },
          { 'id': 'http://www.worldnomads.com/travel-safety/palestinian-territory-occupied', 'name': 'Palestinian Territory, Occupied' },
          { 'id': 'http://www.worldnomads.com/travel-safety/panama', 'name': 'Panama' },
          { 'id': 'http://www.worldnomads.com/travel-safety/papua-new-guinea', 'name': 'Papua New Guinea' },
          { 'id': 'http://www.worldnomads.com/travel-safety/paraguay', 'name': 'Paraguay' },
          { 'id': 'http://www.worldnomads.com/travel-safety/peru', 'name': 'Peru' },
          { 'id': 'http://www.worldnomads.com/travel-safety/philippines', 'name': 'Philippines' },
          { 'id': 'http://www.worldnomads.com/travel-safety/pitcairn', 'name': 'Pitcairn' },
          { 'id': 'http://www.worldnomads.com/travel-safety/poland', 'name': 'Poland' },
          { 'id': 'http://www.worldnomads.com/travel-safety/portugal', 'name': 'Portugal' },
          { 'id': 'http://www.worldnomads.com/travel-safety/puerto-rico', 'name': 'Puerto Rico' },
          { 'id': 'http://www.worldnomads.com/travel-safety/qatar', 'name': 'Qatar' },
          { 'id': 'http://www.worldnomads.com/travel-safety/reunion', 'name': 'Reunion' },
          { 'id': 'http://www.worldnomads.com/travel-safety/romania', 'name': 'Romania' },
          { 'id': 'http://www.worldnomads.com/travel-safety/russia', 'name': 'Russia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/rwanda', 'name': 'Rwanda' },
          { 'id': 'http://www.worldnomads.com/travel-safety/saint-barthelemy', 'name': 'Saint Barthelemy' },
          { 'id': 'http://www.worldnomads.com/travel-safety/saint-helena-ascension-and-tristan-da-cunha', 'name': 'Saint Helena, Ascension and Tristan da Cunha' },
          { 'id': 'http://www.worldnomads.com/travel-safety/saint-kitts-and-nevis', 'name': 'Saint Kitts and Nevis' },
          { 'id': 'http://www.worldnomads.com/travel-safety/saint-lucia', 'name': 'Saint Lucia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/saint-martin-(french-part)', 'name': 'Saint Martin (French part)' },
          { 'id': 'http://www.worldnomads.com/travel-safety/saint-pierre-and-miquelon', 'name': 'Saint Pierre and Miquelon' },
          { 'id': 'http://www.worldnomads.com/travel-safety/saint-vincent-and-the-grenadines', 'name': 'Saint Vincent and the Grenadines' },
          { 'id': 'http://www.worldnomads.com/travel-safety/samoa', 'name': 'Samoa' },
          { 'id': 'http://www.worldnomads.com/travel-safety/san-marino', 'name': 'San Marino' },
          { 'id': 'http://www.worldnomads.com/travel-safety/sao-tome-and-principe', 'name': 'Sao Tome and Principe' },
          { 'id': 'http://www.worldnomads.com/travel-safety/saudi-arabia', 'name': 'Saudi Arabia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/senegal', 'name': 'Senegal' },
          { 'id': 'http://www.worldnomads.com/travel-safety/serbia', 'name': 'Serbia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/seychelles', 'name': 'Seychelles' },
          { 'id': 'http://www.worldnomads.com/travel-safety/sierra-leone', 'name': 'Sierra Leone' },
          { 'id': 'http://www.worldnomads.com/travel-safety/singapore', 'name': 'Singapore' },
          { 'id': 'http://www.worldnomads.com/travel-safety/slovakia', 'name': 'Slovakia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/slovenia', 'name': 'Slovenia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/solomon-islands', 'name': 'Solomon Islands' },
          { 'id': 'http://www.worldnomads.com/travel-safety/somalia', 'name': 'Somalia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/south-africa', 'name': 'South Africa' },
          { 'id': 'http://www.worldnomads.com/travel-safety/south-america', 'name': 'South America' },
          { 'id': 'http://www.worldnomads.com/travel-safety/south-georgia-and-the-south-sandwich-islands', 'name': 'South Georgia and the South Sandwich Islands' },
          { 'id': 'http://www.worldnomads.com/travel-safety/south-korea', 'name': 'South Korea' },
          { 'id': 'http://www.worldnomads.com/travel-safety/south-eastern-asia', 'name': 'South-Eastern Asia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/southern-africa', 'name': 'Southern Africa' },
          { 'id': 'http://www.worldnomads.com/travel-safety/southern-asia', 'name': 'Southern Asia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/southern-europe', 'name': 'Southern Europe' },
          { 'id': 'http://www.worldnomads.com/travel-safety/spain', 'name': 'Spain' },
          { 'id': 'http://www.worldnomads.com/travel-safety/sri-lanka', 'name': 'Sri Lanka' },
          { 'id': 'http://www.worldnomads.com/travel-safety/sudan', 'name': 'Sudan' },
          { 'id': 'http://www.worldnomads.com/travel-safety/suriname', 'name': 'Suriname' },
          { 'id': 'http://www.worldnomads.com/travel-safety/svalbard-and-jan-mayen', 'name': 'Svalbard and Jan Mayen' },
          { 'id': 'http://www.worldnomads.com/travel-safety/swaziland', 'name': 'Swaziland' },
          { 'id': 'http://www.worldnomads.com/travel-safety/sweden', 'name': 'Sweden' },
          { 'id': 'http://www.worldnomads.com/travel-safety/switzerland', 'name': 'Switzerland' },
          { 'id': 'http://www.worldnomads.com/travel-safety/syria', 'name': 'Syria' },
          { 'id': 'http://www.worldnomads.com/travel-safety/tahiti', 'name': 'Tahiti' },
          { 'id': 'http://www.worldnomads.com/travel-safety/taiwan', 'name': 'Taiwan' },
          { 'id': 'http://www.worldnomads.com/travel-safety/tajikistan', 'name': 'Tajikistan' },
          { 'id': 'http://www.worldnomads.com/travel-safety/tanzania', 'name': 'Tanzania' },
          { 'id': 'http://www.worldnomads.com/travel-safety/thailand', 'name': 'Thailand' },
          { 'id': 'http://www.worldnomads.com/travel-safety/the-bahamas', 'name': 'The Bahamas' },
          { 'id': 'http://www.worldnomads.com/travel-safety/togo', 'name': 'Togo' },
          { 'id': 'http://www.worldnomads.com/travel-safety/tokelau', 'name': 'Tokelau' },
          { 'id': 'http://www.worldnomads.com/travel-safety/tonga', 'name': 'Tonga' },
          { 'id': 'http://www.worldnomads.com/travel-safety/trinidad-and-tobago', 'name': 'Trinidad and Tobago' },
          { 'id': 'http://www.worldnomads.com/travel-safety/tunisia', 'name': 'Tunisia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/turkey', 'name': 'Turkey' },
          { 'id': 'http://www.worldnomads.com/travel-safety/turkmenistan', 'name': 'Turkmenistan' },
          { 'id': 'http://www.worldnomads.com/travel-safety/turks-and-caicos-islands', 'name': 'Turks and Caicos Islands' },
          { 'id': 'http://www.worldnomads.com/travel-safety/tuvalu', 'name': 'Tuvalu' },
          { 'id': 'http://www.worldnomads.com/travel-safety/uganda', 'name': 'Uganda' },
          { 'id': 'http://www.worldnomads.com/travel-safety/ukraine', 'name': 'Ukraine' },
          { 'id': 'http://www.worldnomads.com/travel-safety/united-arab-emirates', 'name': 'United Arab Emirates' },
          { 'id': 'http://www.worldnomads.com/travel-safety/united-kingdom', 'name': 'United Kingdom' },
          { 'id': 'http://www.worldnomads.com/travel-safety/united-states', 'name': 'United States' },
          { 'id': 'http://www.worldnomads.com/travel-safety/united-states-minor-outlying-islands', 'name': 'United States Minor Outlying Islands' },
          { 'id': 'http://www.worldnomads.com/travel-safety/unknown-region', 'name': 'Unknown Region' },
          { 'id': 'http://www.worldnomads.com/travel-safety/uruguay', 'name': 'Uruguay' },
          { 'id': 'http://www.worldnomads.com/travel-safety/us-virgin-islands', 'name': 'US Virgin Islands' },
          { 'id': 'http://www.worldnomads.com/travel-safety/uzbekistan', 'name': 'Uzbekistan' },
          { 'id': 'http://www.worldnomads.com/travel-safety/vanuatu', 'name': 'Vanuatu' },
          { 'id': 'http://www.worldnomads.com/travel-safety/venezuela', 'name': 'Venezuela' },
          { 'id': 'http://www.worldnomads.com/travel-safety/vietnam', 'name': 'Vietnam' },
          { 'id': 'http://www.worldnomads.com/travel-safety/wallis-and-futuna', 'name': 'Wallis and Futuna' },
          { 'id': 'http://www.worldnomads.com/travel-safety/western-africa', 'name': 'Western Africa' },
          { 'id': 'http://www.worldnomads.com/travel-safety/western-europe', 'name': 'Western Europe' },
          { 'id': 'http://www.worldnomads.com/travel-safety/western-sahara', 'name': 'Western Sahara' },
          { 'id': 'http://www.worldnomads.com/travel-safety/worldwide', 'name': 'Worldwide' },
          { 'id': 'http://www.worldnomads.com/travel-safety/yemen', 'name': 'Yemen' },
          { 'id': 'http://www.worldnomads.com/travel-safety/zambia', 'name': 'Zambia' },
          { 'id': 'http://www.worldnomads.com/travel-safety/zimbabwe', 'name': 'Zimbabwe'}
            ];
    
        var $input = $(".autocomplete").autocomplete(countries)
                .on("itemChosen", function(e, data, textUserEntered, selectedListItem) {
                $(this).val(data.name);
                window.location.href = data.id;
        })
                .siblings("button")
                .on("click", function(e) {
                e.preventDefault();
            });
      </script>
      <!-- end safety country picker -->
    </div>
  </div>

  <div class="small-12 medium-5 large-4 columns">
    <div class="sideadvert" style="background-image: url('//cdn.worldnomads.net/Media/Default/HomePageImages/jan14/ThaiGuide-Feature-450x440.jpg')" style="display: block !important;">
      <ul class="breadcrumb">
        <li><a href="http://www.worldnomads.com/travel-safety">Viagem inteligente</a></li>
        <li><a href="http://www.worldnomads.com/guides/thailand-survival-guide">Tail&acirc;ndia</a></li>
      </ul>
      <a href="http://www.worldnomads.com/guides/thailand-survival-guide"><h4>Guia de sobreviv&ecirc;ncia gr&aacute;tis para Tail&acirc;ndia</h4></a>
      <div class="bottom">
        <a class="cta-button-primary grey" href="http://www.worldnomads.com/guides/thailand-survival-guide">Baixar o guia</a>
      </div>
    </div>
  </div>
</div>
<!-- Bottom Section -->

{% endblock %}
    
    
    
    
    
    
    
    
    
<!-- Nav -->
    
<div class="sticky-header" data-threshold="300">
  <a class="logo" href="http://www.worldnomads.com/">World Nomads</a>
</div>

<div class="side-nav closed ">  
    <div class="signed-out">
      <div class="side-nav-list">
        <ul>
          <li class="side-nav-sign-in-form">
            
            

<form action="https://www.worldnomads.com/Member/SignIn" method="post"><div class="input-group full-width no-label">
<input id="AuthenticationRequestDto_EmailAddress" name="AuthenticationRequestDto.EmailAddress" placeholder="Email address" type="text" value="" /></div>

<div class="input-group full-width no-label">
<input id="AuthenticationRequestDto_Password" name="AuthenticationRequestDto.Password" placeholder="Password" type="password" /></div>
              <div class="actions">
                <div class="input-group">
                  <input type="hidden" id="after-sign-in-return-url" name="returnUrl" />
                  <button class="button-primary">Cadastrar-se</button>
                </div>
                <div class="input-group forgotten-password">
                  <a class="load-by-ajax" data-analytics-id="popup-forgot-password" href="/Member/ForgotPassword">Esqueceu a senha?</a>
                </div>
                <div class="input-group verify-guest">
                  <div class="verify-guest-query">
                    Foi convidado?
                    <a data-analytics-id="verify-guest" href="http://www.worldnomads.com/Member/VerifyGuest">Crie uma conta</a>
                  </div>
                </div>
              </div>
              <div class="session-tokens"></div>
</form>          </li>
</ul>

<ul>
  <li>
  <a href="http://www.worldnomads.com/travel-insurance/" class="side-nav-a">
    <span class="icon">&#xe617;</span>

    <label>Seguro de viagem</label>
    <span class="description tablet-up">Seguro de viagem simples e seguro para sua pr&oacute;xima aventura.</span>
  </a>
  </li>


  <li>
  <a href="http://www.worldnomads.com/travel-safety" class="side-nav-a">
    <span class="icon">&#xe644;</span>
    <label>Viagem inteligente</label>
    <span class="description tablet-up">Dicas e conselhos de viagem para sua pr&oacute;xima viagem.</span>
  </a>
  </li>


  <li>
  <a href="http://www.worldnomads.com/learn" class="side-nav-a">
    <span class="icon">&#xe629;</span>
    <label>Bolsas</label>
    <span class="description tablet-up">Oportunidades para viajar e criar.</span>
  </a>
  </li>


  <li>
  <a href="http://answers.worldnomads.com" class="side-nav-a">
    <span class="icon">&#xe645;</span>
    <label>Comunidade</label>
    <span class="description tablet-up">Saiba o conhecimento de outros viajantes ou compartilhe o seu.</span>
  </a>
  </li>


  <li>
  <a href="http://www.worldnomads.com/make-a-difference" class="side-nav-a">
    <span class="icon">&#xe635;</span>
    <label>Fazer a diferen&ccedil;a</label>
    <span class="description tablet-up">Descubra como os viajantes ajudaram as vidas das pessoas.</span>
  </a>
  </li>


  <li>
  <a href="http://adventures.worldnomads.com/" class="side-nav-a">
    <span class="icon">&#xe629;</span>
    <label>Compartilhar hist&oacute;rias</label>
    <span class="description tablet-up">Hist&oacute;rias de viagem para empolgar, inspirar e compartilhar.</span>
  </a>
  </li>


  <li>
  <a href="http://service.worldnomads.com" class="side-nav-a">
    <span class="icon">&#xe63e;</span>
    <label>Atendimento ao cliente</label>
    <span class="description tablet-up">Tudo que voc&ecirc; precisa saber.Estamos aqui para ajudar.</span>
  </a>
  </li>


</ul>     
      </div>
      <div class="bottom-links">
        <ul>
        </ul>
      </div>
    </div>  
</div>

<div class="side-nav-arrow"></div>

<div class="side-nav-toggle"><span></span></div>

<div class="side-nav-sign-in " >
<a class="login" href="https://www.worldnomads.com/Member/OpenSignIn">Cadastrar-se</a>
<span class="existing-member">J&aacute; &eacute; membro?</span>
</div>

<div class="side-nav-close-panel"></div>

<ul class="top-links">
  <li><a href="http://service.worldnomads.com">Atendimento ao cliente</a></li>
  <li class="hide-first"><a href="http://www.worldnomads.com/make-a-difference">Fazer a diferen&ccedil;a</a></li>
  <li class="hide-first"><a href="http://answers.worldnomads.com">Comunidade</a></li>
  <li class="hide-second"><a href="http://www.worldnomads.com/learn">Bolsas</a></li>
  <li><a href="http://www.worldnomads.com/travel-safety">Viagem inteligente</a></li>
  <li><a href="http://www.worldnomads.com/travel-insurance/">Seguro de viagem</a></li>
</ul>




<!--Nav p2-->
    

<div class="sticky-header" data-threshold="300">
  <a class="logo" href="http://www.worldnomads.com/">World Nomads</a>
</div>

<div class="side-nav closed">  
    <div class="signed-in">
      <div class="side-nav-list">
<ul class="member-links-panel">
  <li class="greeting">Hi, {FirstName}</li>
  <li class="member-dashboard"><a href="https://www.worldnomads.com/Member">Member Dashboard <span>&#xe634;</span></a></li>
  <li><a href="/Member/EditAccount">Account settings</a></li>
</ul>

<ul>
  <li>
  <a href="https://www.worldnomads.com/travel-insurance/" class="side-nav-a">
    <span class="icon">&#xe617;</span>

    <label>Seguro de viagem</label>
    <span class="description tablet-up">Seguro de viagem simples e seguro para sua pr&oacute;xima aventura.</span>
  </a>
  </li>


  <li>
  <a href="http://www.worldnomads.com/travel-safety" class="side-nav-a">
    <span class="icon">&#xe644;</span>
    <label>Viagem inteligente</label>
    <span class="description tablet-up">Dicas e conselhos de viagem para sua pr&oacute;xima viagem.</span>
  </a>
  </li>


  <li>
  <a href="http://www.worldnomads.com/learn" class="side-nav-a">
    <span class="icon">&#xe629;</span>
    <label>Bolsas</label>
    <span class="description tablet-up">Oportunidades para viajar e criar.</span>
  </a>
  </li>


  <li>
  <a href="http://answers.worldnomads.com" class="side-nav-a">
    <span class="icon">&#xe645;</span>
    <label>Comunidade</label>
    <span class="description tablet-up">Saiba o conhecimento de outros viajantes ou compartilhe o seu.</span>
  </a>
  </li>


  <li>
  <a href="http://www.worldnomads.com/make-a-difference" class="side-nav-a">
    <span class="icon">&#xe635;</span>
    <label>Mudar vidas</label>
    <span class="description tablet-up">Descubra como os viajantes ajudaram as vidas das pessoas.</span>
  </a>
  </li>


  <li>
  <a href="http://adventures.worldnomads.com/" class="side-nav-a">
    <span class="icon">&#xe629;</span>
    <label>Compartilhar hist&oacute;rias</label>
    <span class="description tablet-up">Hist&oacute;rias de viagem para empolgar, inspirar e compartilhar.</span>
  </a>
  </li>


  <li>
  <a href="http://service.worldnomads.com" class="side-nav-a">
    <span class="icon">&#xe63e;</span>
    <label>Atendimento ao cliente</label>
    <span class="description tablet-up">Tudo que voc&ecirc; precisa saber.Estamos aqui para ajudar.</span>
  </a>
  </li>


</ul> 
      </div>
    </div>  
</div>

<div class="side-nav-arrow"></div>

<div class="side-nav-toggle"><span></span></div>

<div class="side-nav-sign-in signed-in" ><a class="sign-out-link" href="/Member/SignOut">Sign out</a></div>

<div class="side-nav-close-panel"></div>

<ul class="top-links">
  <li><a href="http://service.worldnomads.com">Atendimento ao cliente</a></li>
  <li class="hide-first"><a href="http://www.worldnomads.com/make-a-difference">Fazer a diferen&ccedil;a</a></li>
  <li class="hide-first"><a href="http://answers.worldnomads.com">Comunidade</a></li>
  <li class="hide-second"><a href="http://www.worldnomads.com/learn">Bolsas</a></li>
  <li><a href="http://www.worldnomads.com/travel-safety">Viagem inteligente</a></li>
  <li><a href="http://www.worldnomads.com/travel-insurance/">Seguro de viagem</a></li>
</ul>


   
    
    
