
{% block content %}

<!-- Hero Content Panel Start -->

<div class="hero-content-panel scholarship">
  <div class="hero-content">
    <div class="headercontent">
      <ul class="breadcrumb">
      <li>
        <a href="/">World Nomads</a>
      </li>
      <li>
        <a href="/learn">Stories</a>
      </li>
      <li><a href="/learn/travel-food">Connect Locally</a></li>
    </ul>
    <h1>Meeting Locals in Iran</h1>
    <p>His  stories changed the way I looked at his region, his country and his faith</p>
    <form action="#" method="get">
      <button class="button-primary">I'm a button Click Me</button>
    </form>
    <p class="small">Need a little copy add some</p>
    </div>
  </div>
</div>

<!-- Hero Content Panel End -->       

<!-- Background Header Image CSS Start  -->

<style>
  /* Add link to Desktop Image */
  @media all and (min-width: 860px) {
    .hero-content-panel.scholarship {
      background-image: url('/Media/Default/hero/hero_iran-gholam_full.jpg');
      background-position: top center;
      min-height: 550px;
    }
  }
  /* Add link to Tablet Image */
  @media all and (max-width: 860px) {
    .hero-content-panel.scholarship {
      background-image: url('/Media/Default/hero/hero_srilanka_tablet.jpg');
      min-height: 440px;
    }
  }
  /* Add link to Mobile Image */
  @media all and (max-width: 500px) {
    .hero-content-panel.scholarship {
      background-image: url('/Media/Default/hero/hero_srilanka_mobile.jpg');
    }
    .hero-content-panel h2, .hero-content-panel h1 {
      margin-top: 160px;
    }
  }
</style>

<!-- Background Header Image CSS End -->

<!-- Content Area Start -->
<div class="normal-content">
  <div class="col-2-1">
    <div>
      <div id="intro">
        <h2>Ben Hogarth an Australian freelance TV producer travels through Iran</h2>
        <p class="highlight">This is Gholam Ali. He&#39;s 89 years old. He&#39;s a father of five. A husband for 67 years. And half blind. We met in an alleyway in Kang, a small village in north-western Iran.</p>

        <div>
          The people of Iran:

          <ul class="qlinks">
            <li>
              <a href="#one">Gholam Ali</a>
            </li>

            <li>
              <a href="#two">Mr Ahmed</a>
            </li>

            <li>
              <a href="#three">Assa</a>
            </li>

            <li>
              <a href="#four">Yadz</a>
            </li>
            
            <li>
              <a href="#five">Muhammad</a>
            </li>

          </ul>
        </div>
        
        <div>
        <h4 id="one">Gholam Ali</h4>
        <p>
          Within seconds, he offered to take me to his small mud-brick home for cups of tea. His house was basic, just a single photo on the wall. A portrait of himself.
He has lived in this village his whole life - his family has been in Kang for thousands of years. He quickly prepared the tea, along with apples and walnuts from his meagre garden, before sitting down to chat.
        </p><p>
For the next three hours we spoke (through a translator). He told stories from his past - as a teenager he remembers the marauding Turkmen raiding the village and kidnapping his neighbours. He spoke of the Soviet soldiers who occupied his village after the Second World War. He revelled in the tale of how he killed a panther with a knife - earning him the title ‘Panther Killer’.
        </p><p>
At one point I asked about his one and only photo. It was of him at age 60. It was taken the day he volunteered for the Iranian army to fight Saddam Hussein’s invading forces. He served 6 months on the front line- losing three family members in one battle.
        </p><p>
He’s built two mosques and one school for his village - with his own hands and paying for it out of his own pocket. His one good eye glistened with a tear when he said Allah will reward him in the afterlife. It was this precise moment that he asked me to photograph.
        </p><p>
I’m not sure what Gholam gained from our conversation - maybe just a fresh set of ears to listen to his life stories. Maybe it helped take his mind off his wife, who has fallen ill.
        </p><p>
For me, it was one of my greatest travel experiences. It was simply tea, but the stories changed the way I looked at his region, his country and his faith.
He embodies humility, integrity, family and community. I hope at 89, I can entertain for three hours like him.
        </p><p>
At the end I asked Gholam Ali to pose with his single photo. His spirit to live hasn’t diminished at all with time.
        </p><p>
Tomorrow I will get the picture sent to him. Hopefully he will decide to put two photos on the wall.
        </p>
        </div>
        <div>
          <h4 id="two">Mr Ahmed</h4>        
          <p><img src="http://aphs.worldnomads.com/connectlocally/27791/Photo2.jpg" alt=""></p>
          <p>This is Mr Ahmed. He reads the Quran every morning as part of his daily ritual. We spoke (hand signals) for twenty minutes before he grabbed my hand and walked me to a little bookshop where he bought me the Quran for $3. He knew I was not a man of faith, but wanted me to remember him. I intend to do just that.</p>
        </div>
        <div>
          <h4 id="three">Assa</h4>   
          <p><img src="http://aphs.worldnomads.com/connectlocally/27791/Photo3.jpg" alt=""></p>
          <p>This is Assa. I travelled around 9 hours by train to the holy city of Mashhad, around 200kms from the Afghan border. I sat next to this girl's brother who was fascinated by my phone and headphones. After 7 hours of staring, I asked if he would like to listen to some music, which his parents approved. For 15 minutes he had his first taste of Johnny Cash, Led Zeppelin, Pearl Jam and the Foo Fighters. I hope the smile on his face indicated he was influenced by the music in same way I was at his age. I got this photo of Assa, as the train stopped for prayer time.</p>
        </div>
        <div>
          <h4 id="four">Yadz</h4>   
          <p><img src="http://aphs.worldnomads.com/connectlocally/27791/Photo4.jpg" alt=""></p>
          <p>In Yadz, a young Iranian girl came up to me and began a conversation in broken English. Her family took photos of us as we spoke. She said she's been studying English for two years and uses Hollywood films and American songs to help. She said her family is very proud of her. As I said goodbye, she ran to her family and started to cry embracing her mother. The whole family began to clap for her - these were tears of joy and pride in her hard work learning a new language. Our simple conversation meant the world to her. This is her grandfather, who nearly shook my hand off.</p>
        </div>
        <div>
          <h4 id="five">Muhammad</h4>   
          <p><img src="http://aphs.worldnomads.com/connectlocally/27791/Photo5.jpg" alt=""></p>
          <p>This is Muhammad. He sells boot polish on the streets of Yazd. He asked me to take his photo in the morning sun, which I happily did. Later that night I met Muhammad again. He spotted me standing in line for fresh bread and quickly paid before I even reached for my wallet. I think Muhammad personifies Iran.</p>
          <p><img src="http://aphs.worldnomads.com/connectlocally/27791/Photo6.jpg" alt=""></p>
          <p>Mashhad, Iran. For thousands of years, it has been a trading point on the legendary Silk Road. The 4000 kilometre merchant route that linked Asia to Europe since 200BC. It still has a beating heart today. It was a pleasure to sit with Afghans, Iraqis, Kurds, Iranians, Turkmen and local tribal dealers and talk travel and share dirty jokes. Away from the newspaper headlines, our differences were very small.</p>
        </div>
        <div>
          <h4>About the Author</h4>
          <p><span>Ben Hogarth is an Australian freelance TV producer and photographer. He’s worked extensively across Asia, Africa, Australia and the Americas. He’s currently based in the Middle East. Ben is the co-founder of Habari Productions, which he runs with his wife, Stephanie Hunt. Together they’ve held African travel photography exhibitions across Australia.</span></p>
          <h4><a href="http://scholarships.worldnomads.com/"><span>Travel. Learn. Create.</span></a></h4>
          <p dir="ltr"><span>For all of you aspiring creatives, check out our </span><a href="http://scholarships.worldnomads.com/"><span>Scholarships page</span></a><span> for the latest opportunities, </span><a href="http://journals.worldnomads.com/projecttravel/"><span>tips</span></a><span>, </span><a href="http://journals.worldnomads.com/projecttravel/"><span>advice</span></a><span> and </span><a href="http://journals.worldnomads.com/projecttravel/"><span>interviews</span></a><span> with industry professionals in the fields of photography, travel writing and filmmaking.</span></p>
          <p><span id="docs-internal-guid-5b206271-5f89-5eea-82fb-03af9112d415"><span>And if you're lucky enough to be mentored by one of our industry professionals, </span><a href="http://journals.worldnomads.com/projecttravel/story/91811/Worldwide/Profile-of-a-Nat-Geo-Photographer-Jason-Edwards"><span>it could kick start your career!</span></a></span></p>
        </div>
      </div>
    </div>

      

      

      

    <div class="right-coloumn">
      <h4 class="tabcolour">Share this…</h4>

      <div id="socialarea">  
        <div id="sharedcount">
          <div id="total">502</div>
          <p>Shares</p> 
        </div>        
        <div id="share-icons">
          <a class="socialicon facebook" target="_blank"></a>
          <a class="socialicon twitter" target="_blank"></a>
          <a class="socialicon pinterest" style="display: none;"></a>
          <a class="socialicon gplus" target="_blank" style="display: none;"></a>
          <a class="socialicon linkedin" target="_blank" style="display: none;"><img src="/Media/Default/shareimages/linkedin-share-icon.png"></a>
          <a class="socialicon stumbleupon" target="_blank" style="display: none;"><img src="/Media/Default/shareimages/stumble-share-icon.png"></a>
          <a class="socialicon plus"></a>
        </div>
      </div>

      <h4 class="tabcolour">Related Stories</h4>

      <ul class="related">

        <!--1st item -->        
        <li>
        <a href="http://journals.worldnomads.com/responsible-travel/story/81053/Thailand/Why-Elephant-Riding-Should-Be-Removed-from-Your-Bucket-List&quot;"><img src="http://www.worldnomads.com//Media/Default/Stories-Images/Thai-image.jpg"></a>
        <a href="http://journals.worldnomads.com/responsible-travel/story/81053/Thailand/Why-Elephant-Riding-Should-Be-Removed-from-Your-Bucket-List">Why Elephant Riding Should be Removed from your Bucket List</a>
        <label><a href="http://journals.worldnomads.com/responsible-travel/">by Responsible Travel</a></label>
        </li>

        <!--2nd item -->
        <li>
        <a href="http://journals.worldnomads.com/travel-tips/story/109254/Worldwide/Around-the-World-in-Ten-Hangovers"><img src="http://www.worldnomads.com/Media/Default/Stories-Images/tripe.jpg"></a>
        <a href="http://journals.worldnomads.com/travel-tips/story/109254/Worldwide/Around-the-World-in-Ten-Hangovers">Around the World in Ten Hangovers </a>
        <label><a href="http://journals.worldnomads.com/travel-tips/">by A Nomad Knows</a></label>
        </li>

        <!--3rd item -->
        <li>
        <a href="http://journals.worldnomads.com/workandholiday/story/78488/France/Working-Holidays-in-France-Embracing-the-Work-Life-Balance"><img src="http://www.worldnomads.com/Media/Default/Stories-Images/girl-france.jpg"></a>
        <a href="http://journals.worldnomads.com/workandholiday/story/78488/France/Working-Holidays-in-France-Embracing-the-Work-Life-Balance">Working Holidays in France:  Embracing the Work-Life Balance</a>
        <label><a href="http://journals.worldnomads.com/workandholiday/">by Working Holiday</a></label>
        </li>

        <!--4th item -->
        <li>
        <a href="http://journals.worldnomads.com/extraordinaryexperiences/story/111141/Greenland/Greenland-Hiking-on-Top-of-the-World"><img src="http://www.worldnomads.com/Media/Default/Stories-Images/greenland.jpg"></a>
        <a href="http://journals.worldnomads.com/extraordinaryexperiences/story/111141/Greenland/Greenland-Hiking-on-Top-of-the-World">Greenland: Hiking to the Top of the World</a>
        <label><a href="http://journals.worldnomads.com/extraordinaryexperiences#axzz3C1FL4feP">by Extraordinary Experiences</a></label>
        </li>

      </ul>
    </div>
  </div>
</div>
<!-- Main Content Area End -->

{% endblock %}
