
{% block content %}



<div class="hero-content-panel light" id="article-header">
  <div class="row">
    
    <!--  TITLE  -->
    <div class="large-4 medium-5 small-12 column">
      <div itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
        <ul class="breadcrumb">
          <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="/"><span itemprop="title">World Nomads</span></a>
          </li>
          <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
            <a href="/travel-insurance/"><span itemprop="title">Travel Insurance Australia</span></a>
          </li>
        </ul>
      </div>
      <h1>Travel Insurance for Australians by World Nomads</h1>
      <p>Travel Insurance for Residents of Australia</p>
   </div>


    <!--  QQC  -->
    <div class="small-12 medium-7 large-6 columns right">
      <div id="wnqqcalculator" class="white">
        <h1>Get a travel insurance quote</h1>
        <script async='' src='//cdn.worldnomads.net/scripts/custom/wng.cachedGetPartnerWidgetResponse.js?loadWithPanelExpanded=true&excludeStyles=true&extractCampaignCodeFromUrl=true'></script>
        <div id='wn-insurance-quote-editor'></div>
        <div class="trustedby">
          <p>Trusted by:</p>

          <a href="http://www.lonelyplanet.com/travel-insurance" target="_blank"><img src="http://www.worldnomads.com/Media/Default/TravelInsuranceImages/PartnerLogos/lonley-planet-logo-dark.png" alt="Lonely Planet" class="lp" /></a>

          <a href="http://www.roughguides.com/travel-insurance/" target="_blank"><img src="http://www.worldnomads.com/Media/Default/TravelInsuranceImages/PartnerLogos/rough-guide-logo-dark.png" alt="Rough Guides" class="rg" /></a>

          <img src="http://www.worldnomads.com/Media/Default/TravelInsuranceImages/PartnerLogos/nat-geo-logo-dark.png" alt="National Geographic Channel" class="ng" />
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Hero Content Panel End -->       

<!-- Background Header Image CSS Start  -->

<style>
  /* Add link to Desktop Image */
  @media all and (min-width: 860px) {
    #article-header {
      background-image: url('Media/Default/TravelInsuranceImages/australia/hero_travel-insurance-au_full.jpg');
      background-position: bottom center;
      min-height: 550px;
    }
  }
  /* Add link to Tablet Image */
  @media all and (max-width: 860px) {
    #article-header {
      background-image: url('Media/Default/TravelInsuranceImages/australia/hero_travel-insurance-au_tablet.jpg');
      background-position: bottom center;
      min-height: 440px;
    }
  }
  /* Add link to Mobile Image */
  @media all and (max-width: 500px) {
    #article-header {
      background-image: url('Media/Default/TravelInsuranceImages/australia/hero_travel-insurance-au_mobile.jpg');
      background-position: bottom center;
    }
    #article-header column {
      margin-top: 160px;
      min-height: 440px;
    }
  }
</style>

<!-- Benefits Bar -->

<div class="light blue" id="benefits-bar">
  <div class="row">
    <ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-2">
      
      <li class="evacuation-icon"><a href="/travel-insurance/travel-insurance-abroad">Buy when already overseas</a></li>
      <li class="interruption-icon"><a href="/travel-insurance/extend-travel-insurance">Extend when your plans change</a></li>
      <li class="return-icon"><a href="/travel-insurance/resume-your-trip">Resume your trip if its interrupted</a></li>
      <li class="lost-stolen-icon"><a href="/travel-insurance/digital-nomads">Gear cover for Digital Nomads</a></li>
      <li class="medical-icon"><a href="24hr-emergency-assistance">24/7 Emergency Assistance</a></li>


    </ul>
  </div>
</div>

<!-- All Content area START -->


<div class="row" id="article-content">
  
<!-- Main Content START -->
  
  <div class="large-8 medium-8 small-12 columns">
    
    <!--  What we cover Section  -->
    <div class="section" id="what-we-cover">
      <h2>Travel Insurance - What we cover</h2>

      <p class="highlight"><a href="/travel-insurance/what-we-cover">Travel Insurance</a> for independent Australian travellers. Nobody wants to think about all the things that might go wrong on their trip, but these things can and do happen.</p>

      <p class="highlight"><a href="/travel-insurance/what-we-cover">World Nomads Travel insurance</a> has been designed by travellers to cover everything you need. We make sure you’re covered, even if you run out of travel insurance on the road. We don't just keep you insured, with us you'll travel smarter and safer.</p>


<!-- Plan Summary Table -->

      <div class="row">
      
      <div class="large-6 small-12 columns">
<h3>Standard Plan</h3>
<p>Our Standard plan provides excellent levels of cover for those travellers heading out on an independent trip with less tech and fewer pre-booked travel arrangements. We’ve kept cancellation and baggage cover lower to make sure you pay only for what you need.</p>
      </div>

      <div class="large-6 small-12 columns">
<h3>Explorer Plan</h3>
<p>Our Explorer plan provides exceptional levels of cover. If you’ve pre-booked a tour or longer stretches of accommodation, our higher levels of cancellation give you added piece of mind and also larger benefits for those digital nomads looking for extra cover for electronic equipment.</p>
      </div>

</div>






<h3>Plan Highlights</h3> <span><a href="/travel-insurance/what-we-cover">Full details of cover</a></span>



      <table id="cover-table" width="100%" border="0" cellpadding="16">
        <tbody><tr>
          <th class="col1">When</th>
          <th class="col2">We</th>
          <th class="col3">Standard</th>
          <th class="col4">Explorer</th>
        </tr>
        <tr>
          <td data-th="When"><span><strong>You need Medical help</strong> for sudden illness or injury.</span></td>
          <td data-th="We"><span>Cover emergency overseas medical treatment including treatment in a clinic or hospital, plus medicines and physiotherapy as prescribed by your treating Doctor to get you well and keep you travelling.</span></td>
          <td data-th="Standard"><span>A$5,000,000</span></td>
          <td data-th="Explorer"><span>Unlimited</span></td>
        </tr>

        <tr>
          <td data-th="When"><span><strong>You need emergency medical evacuation</strong> for Sudden Illness or injury.</span></td>
          <td data-th="We"><span>Cover your transport to the nearest, appropriate medical facility, which also includes your medical repatriation for further treatment at home. Plus it includes, reasonable additional travel and accommodation expenses for a friend or relative to accompany you while you're in hospital and/or during repatriation.</span></td>
          <td data-th="Standard"><span>A$5,000,000</span></td>
          <td data-th="Explorer"><span>Unlimited</span></td>
        </tr>

        <tr>
          <td data-th="When"><span><strong>You have to cancel your trip</strong> due to unforeseeable events outside of your control.</span></td>
          <td data-th="We"><span>Covers the costs to cancel all or part of your trip (including other pre-booked expenses) for up to 14 specific Insured Events including a sudden illness or serious injury, natural disasters, strike or lost passports.</span></td>
          <td data-th="Standard"><span>A$3,500</span></td>
          <td data-th="Explorer"><span>Unlimited</span></td>
        </tr>

        <tr>
          <td data-th="When"><span><strong>Your gear is stolen or damaged </strong> whilst travelling.</span></td>
          <td data-th="We"><span>Cover theft or accidental damage of your gear such as iPads, laptops and digital cameras in specific incidents up to individual item limits. We also allow you upgrade your cover to increase these item limits.</span></td>
          <td data-th="Standard"><span>A$2,000</span></td>
          <td data-th="Explorer"><span>A$10,000</span></td>
        </tr>

      </tbody></table>

    </div>





    <!--  Cover for your Adventure Section  -->
    <div class="section" id="cover-your-adventure">
      
      <h2>Adventure Travel Cover</h2>

      <p class="highlight">World Nomads <a href="http://service.worldnomads.com/customer/portal/articles/1672733-activities-sports-adventures-list">travel insurance covers adventure activities</a> - all the things you love to do when you travel.</p>
      
<!--
      <div class="row blue">
        <div class="columns"> Activity Form to go here</div>
      </div>
-->
      
      <div class="row" data-equalizer>
        <div class="large-3 medium-6 small-6 columns">
          <div class="small-feature-box" style="background-image: url('Media/Default/TravelInsuranceImages/australia/hiking-thumb.jpg');">
            <div class="bottom blue" data-equalizer-watch><p><a href="/travel-insurance/travel-insurance-trekking-and-hiking">Trekking to 6000m</a></p></div>
          </div>
        </div>

        <div class="large-3 medium-6 small-6 columns">
          <div class="small-feature-box" style="background-image: url('Media/Default/TravelInsuranceImages/australia/diving-thumb.jpg');">
            <div class="bottom blue" data-equalizer-watch><p><a href="/travel-insurance/travel-insurance-scuba-diving">Scuba Diving</a></p></div>
          </div>
        </div>

        <div class="large-3 medium-6 small-6 columns">
          <div class="small-feature-box" style="background-image: url('Media/Default/TravelInsuranceImages/australia/snow-thumb.jpg');">
            <div class="bottom blue" data-equalizer-watch><p><a href="#"><a href="/travel-insurance/travel-insurance-for-skiing-and-snowboarding">Skiing &amp; Boarding</a></p></div>
          </div>
        </div>

        <div class="large-3 medium-6 small-6 columns">
          <div class="small-feature-box"style="background-image: url('Media/Default/TravelInsuranceImages/australia/bike-thumb.jpg');">
            <div class="bottom blue" data-equalizer-watch><p><a href="/travel-insurance/travel-insurance-mountain-biking">Mountain Biking</a></p></div>
          </div>
        </div>
        
        <div class="large-12 columns">We have different levels of cover available for those adventurous World Nomads looking to get their heart pumping on their adventure. </div>
      </div>

    </div>
    
    
    <!-- When things go wrong Section -->
    <div class="section" id="when-things-go-wrong">
      
      <h2>When things go wrong</h2>

      <p class="highlight">Until it happens, you probably don't even think about it, but when something goes wrong, we're here to help you deal with the unexpected.</p>
      
      <div class="row">
        <div class="large-6 small-12 columns">
          <div class="text-with-icon medical">
            <ul>
              <li><h5>Illness or Injury</h5></li>
              <li><a href="/travel-insurance-and-what-to-do-if-you-are-hurt-in-an-accident">What to do if you’re hurt in an accident.</a></li>
              <li><a href="/travel-insurance-and-what-to-do-if-you-suddenly-fall-ill">What to do if you fall suddenly ill.</a></li>
              <li><a href="/travel-insurance-and-what-to-do-if-someone-on-the-policy-dies">What to do if someone on the policy dies.</a></li>
              <li><a href="/travel-insurance-and-what-to-do-if-you-are-the-victim-of-an-assault">What to do if you’re the victim of an assault.</a></li>
            </ul>
          </div>
        </div>
        <div class="large-6 small-12 columns">
          <div class="text-with-icon luggage">
            <h5>Lost, Stolen or Damaged</h5>
            <ul>
              <li><a href="/travel-insurance-and-what-to-do-if-your-luggage-is-delayed">What to do if your luggage is delayed.</a></li>
              <li><a href="/travel-insurance-and-what-to-do-if-your-luggage-is-stolen">What to do if your luggage is lost or stolen.</a></li>
              <li><a href="/travel-insurance-and-what-to-do-if-something-happens-to-your-credit-cards-or-cash">What to do if something happens to your credit cards or cash.</a></li>
              <li><a href="/travel-insurance-and-what-to-do-if-your-passport-is-lost-or-stolen">What to do if your passport is lost, damaged or stolen.</a></li>
            </ul>        
          </div>
        </div>
      </div>
      
      <div class="row">
 
        <div class="large-6 small-12 columns">
          <div class="text-with-icon delay">
            <h5>Cancellation &amp; Delays</h5>
            <ul>
              <li><a href="/travel-insurance-and-what-to-do-if-you-cant-travel-due-to-illness-or-injury">What to do if you can’t travel due to illness or injury.</a></li>
              <li><a href="/what-to-do-if-you-cant-go-because-someone-at-home-is-sick-or-injured">What to do if you have to cancel your trip because someone at home is sick or injured.</a></li>
              <li><a href="/What-to-do-if-you-have-your-leave-cancelled-or-are-made-redundant">What to do if you have to cancel your trip because you are made redundant.</a></li>
              <li><a href="/travel-insurance-flight-delay-and-how-we-can-help">What to do when your flight is delayed.</a></li>
            </ul>
          </div>
        </div>

       <div class="large-6 small-12 columns">
          <div class="text-with-icon disaster">
            <h5>Natural Disasters</h5>
            <ul>
              <li><a href="/travel-insurance-flight-delay-and-how-we-can-help">What to do if bad weather has delayed my trip.</a></li>
             </ul>
          </div>
        </div>


        
      </div>
    </div>
    
    <!--  Travel Insurance Claims Section  -->
    <div class="section" id="claims">
          <h2>Travel Insurance Claims</h2>
          <p class="highlight">Over the past 10 plus years, we have seen just about every type of travel insurance claim there is. Best of all <a href="http://www.worldnomads.com/travel-insurance-claims">you can claim online</a> while you're still travelling.</p>

      <div class="row">
        <div class="small-12 large-12 columns">
          <div class="feature-box-right-panel" style="background-image: url('Media/Default/TravelInsuranceImages/australia/girl-on-bus.jpg');">
            <ul class="breadcrumb">
              <li>
                <a href="http://www.worldnomads.com/travel-insurance-true-claims">True Claims</a>
              </li>
            </ul>
            <a href="http://www.worldnomads.com/travel-insurance-true-claims"><h4>Shattered arm in Argentina</h4></a>
            <div class="right purple">
              <span class="feature-quote"></span>
              <p>I fell off a roof in Argentina and shattered my arm. Waking up in a local hospital was terrifying. I can’t imagine navigating that experience without World Nomads.</p>
              <p>– JH (Argentina)</p>
            </div>
          </div>
        </div>

        
      <div class="small-12 large-12 columns">
          <div class="feature-box-right-panel" style="background-image: url('Media/Default/TravelInsuranceImages/australia/surfer-guy.jpg');">
            <ul class="breadcrumb">
              <li>
                <a href="http://www.worldnomads.com/travel-insurance-true-claims">True Claims</a>
              </li>
            </ul>
            <a href="http://www.worldnomads.com/travel-insurance-true-claims"><h4>Shark bite in Bali</h4></a>
            <div class="right teal">
              <span class="feature-quote"></span>
              <p>Whilst surfing in Bali, Indonesia I was attacked by a two metre Bull Shark. The bite to my right forearm had severed five tendons and most of the muscle. World Nomads travel insurance covered the costs of my medical bills up front. </p>
              <p>– JF (Indonesia)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    



    <!--  Gear Cover Section  -->
    <div class="section" id="gear-cover">
      <h2>Gear cover for the digital nomad</h2>
      <p class="highlight">World Nomads travel insurance doesn't just cover your adventure activities, but as digital nomads ourselves, we know how important it is to have cover for your tech gear as well.</p>
      <p>We cover theft or accidental damage of your gear and you can also upgrade your cover to increase the individual item limit to $3,000 per item.</p>
      
      <div class="row">
        <div class="small-12 large-12 columns">
          
          <a href="/travel-insurance/travel-insurance-digital-cameras">
          <div class="content-box centered light-grey">
          <h3>Camera cover</h3>
          <p>We have cover for all your photography gear:</p>
          <div class="row">
            <div class="large-4 medium-12 small-12 columns">
              <img alt="beginner" src="Media/Default/TravelInsuranceImages/australia/gear-beginner.png" class="auto-size-img"  />
              <h5>Beginner</h5>
              <p>Our Standard plan covers $500 which is suitable for a pocket point-and-shoot.</p>
            </div>
            <div class="large-4 medium-12 small-12 columns">
              <img alt="enthusiast" src="Media/Default/TravelInsuranceImages/australia/gear-enthusiast.png" class="auto-size-img"  />
              <h5>Enthusiast</h5>
              <p>Our Explorer plan covers $2,000 for all of your combined cameras and lenses. </p>
            </div>  
            <div class="large-4 medium-12 small-12 columns">
                <img alt="semi-pro" src="Media/Default/TravelInsuranceImages/australia/gear-semi-pro.png" class="auto-size-img" />
                <h5>Semi-Pro</h5>
                <p>You can increase cover for your combined cameras and lenses up to $6,000 by adding these to your policy.</p>
            </div>
          </div>
          </div>
          </a>
        </div>
      </div>
      


      <div class="row" data-equalizer>

        <a href="/travel-insurance/travel-insurance-iphone">
        <div class="small-12 medium-6 large-6 columns">
          <div class="content-box centered light-grey" data-equalizer-watch>
          <img alt="iPad & iPhone" src="Media/Default/TravelInsuranceImages/australia/gear-iphone-ipad.png" />
          <h3>iPhone &amp; iPad cover</h3>
          <p>Our Standard Plan covers up to $2,000 with a per item limit of $500. our Explorer Plan covers up to $10,000 with a per item limit of $2,000. </p>
          </div>
        </div>
        </a>



        <a href="/travel-insurance/travel-insurance-laptops">
        <div class="small-12 medium-6 large-6 columns">
          <div class="content-box centered light-grey" data-equalizer-watch>
            <img alt="laptop" src="Media/Default/TravelInsuranceImages/australia/gear-laptop.png" />
            <h3>Laptop cover</h3>
            <p>Our Standard Plan covers up to $2,000 with a per item limit of $500. our Explorer Plan covers up to $10,000 with a per item limit of $2,000. </p>
          </div>
        </div>
        </a>
      </div>  
      
      <div class="row">
        <a href="/travel-insurance/Travel-Insurance-for-lost-or-stolen-passports-or-credit-cards">
        <div class="small-12 large-12 columns">
          <div class="content-box light-grey">
            <div class="row">
              <div class="small-4 large-3 columns">
               <img alt="travel docs" src="Media/Default/TravelInsuranceImages/australia/gear-travel-docs.png" />
              </div>
              <div class="small-8 large-9 columns">
                <h3>Passports, travel documents &amp; credit cards</h3>
                <p>We also reimburse the cost to replace your passport,credit cards and travel documents (eg. visas, travel passes) if they're lost, stolen or accidently damaged.</p>
              </div>
            </div>
          </div>
        </a>
        </div>
      </div>
    </div>

  </div>
  
<!-- Main Content END -->
  
<!-- Right Column START -->

  <div class="large-3 medium-4 small-12 columns">
    <div class="right-column">
      <div class="content-box">
        <h4 class="">Travel Insurance Quicklinks</h4>

        <ul class="quicklinks">
          <li><a href="#cover-your-adventure">Adventure activities</a></li>
          <li><a href="#when-things-go-wrong">When things go wrong</a></li>
          <li><a href="#claims">Travel Insurance Claims</a></li>
          <li><a href="#gear-cover">Cover your digital gear</a></li>
          <li><a href="#help-desk">Help Desk</a></li>
        </ul>
      </div>
       





      <div class="content-box teal-pattern">
        <h4>Travel Insurance Special Offer</h4>
        <p>Subscribe now for a special offer on World Nomads Travel Insurance</p>

  <form action="http://worldnomadsgroup.createsend.com/t/y/s/fhiudj/" method="post" id="subForm" class="ti-info">
    <input id="fieldEmail" name="cm-fhiudj-fhiudj" type="email" placeholder="Enter your email" class="subscribe-input" required />
    <input id="fieldchdlkt" name="cm-f-chdlkt" type="hidden"  value="travel-insurance-au" />
    <input id="fieldchdlki" name="cm-f-chdlki" type="hidden"  value="yes" />
    <button type="submit" class="base-button orange expand">Send me an offer</button>
  </form>
	<script>
	  $(function () {
	    $('.ti-info').submit(function (e) {
	      var form = $(this);
	      $.getJSON(this.action + "?callback=?", form.serialize(), function (data) {
	        if (data.Status === 400) {
	          form.find('.error').remove();
	          form.append("&lt;p class='error'&gt;" + data.Message + "&lt;/p&gt;");
	        } else { // 200
	          form.html("<div class='successmessage'><p>Check you're email!</p></div>");
	        }
	      });
	      e.preventDefault();
	    });
	  });
	</script>



      </div>
      
      <div class="content-box">
        <h4>Travel Insurance Policy Wording</h4>
        <p>Grab a cup of tea and read the <a href="https://www.worldnomads.com/Document/OpenInsuranceRegulatoryWording?RegulatoryWordingTypeId=1&PlanId=5&ContentTypeId=3&_ga=1.155246718.418408563.1418799467" target="_blank">Product Disclosure Statement</a> before you buy your travel insurance.</p>
      </div>
      
      
      <div class="content-box" id="help-desk">
        <h4>Travel Insurance Help Desk</h4>
        <p>Top 10 most frequently asked questions about our travel insurance.</p>
        <ul>

          <li><a href="http://service.worldnomads.com/customer/portal/articles/1897500-what-countries-do-you-cover-">What countries do you cover?</a></li>

          <li><a href="http://service.worldnomads.com/customer/portal/articles/1897501-am-i-still-covered-for-countries-other-than-the-ones-i-list-on-my-policy-">Am I still covered for countries other than the ones I list on my policy?</a></li>

          <li><a href="http://service.worldnomads.com/customer/portal/articles/1063080-what-is-my-country-of-residence-">What do you mean by my Country of Residence?</a></li>

          <li><a href="http://service.worldnomads.com/customer/portal/articles/1897502-is-the-price-quoted-per-person-or-for-everyone-on-the-policy-">Is the price quoted for everyone or per person?</a></li>

          <li><a href="http://service.worldnomads.com/customer/portal/articles/1063162-can-i-buy-a-policy-while-i-am-already-overseas-">Can I buy a policy while I am already overseas?</a></li>

          <li><a href="http://service.worldnomads.com/customer/portal/articles/1897498-where-do-i-enter-a-promotion-code-">Where do I enter a promotion code?</a></li>

          <li><a href="http://service.worldnomads.com/customer/portal/articles/1677453">Am I covered if I want to ride a motorbike?</a></li>

          <li><a href="http://service.worldnomads.com/customer/portal/articles/1897503-are-there-any-waiting-periods?b_id=4646">Are there any waiting periods?</a></li>

          
        </ul>
        <p>If you have a question?</p>
        <a href="http://service.worldnomads.com"><div class="base-button orange expand">Just ask us</div></a>
      </div>

      <div class="content-box blue-pattern">
        <h4>Manage your policy</h4>
        <p>If you&#39;re already a customer, you can easily manage your own policy. Sign in to:</p>
        <ul class="disc">
          <li>Make a claim</li>
          <li>Change your dates</li>
          <li>Extend your policy</li>
          <li>View your policy</li>
        </ul>
        
        <div class="base-button orange expand"><a href="https://www.worldnomads.com/Member/OpenSignIn">Sign in</a></div>
      </div>
      
      <div class="content-box">
        <h4>In an Emergency</h4>
        <p>If something happens on the road, our <a href="/24hr-emergency-assistance">emergency team</a> is here to help 24hrs a day.</p>
        <p>If the telephone isn't suitable, there are other ways you can get in touch to get help.</p>
                
        <ul class="no-bullet">
          <li><a href="mailto:assist@worldnomads.com"><span class="fa fa-envelope square blue-bg"></span>Email</a></li>

          <li><a href="https://twitter.com/NomadsHelp" target="_blank"><span class="fa fa-twitter square blue-bg"></span>Twitter</a></li>

          <li><a href="https://www.facebook.com/worldnomads" target="_blank"><span class="fa fa-facebook square blue-bg"></span>Facebook</a></li>

          <li><a href="/24hr-emergency-assistance"><span class="fa fa-phone square blue-bg"></span>Call</a></li>

        </ul>
      </div>
      
      <div class="content-box">
        <h4>Travellers Packing List</h4>
        <p>Ready to head off on your next adventure? <a href="Media/Default/PDFS/World-Nomads-Packing-List.pdf" target="_blank">Download our free packing list</a> to help you get organised and not forget anything essential.</p>
      </div>



      <div class="content-box">
        <h4>In the News</h4>
        <ul>
        <li><a href="http://www.traveller.com.au/essay-thrill-of-the-dare-393c8" target="_blank">Thrill of the Dare</a>
        <li><a href="http://www.smh.com.au/articles/2007/10/16/1192300772318.html" target="_blank">A little goes a long way</a>
       </ul>
      </div>




      
    </div>
  </div>
</div>


<!-- Content area END -->

  
</div>







<!--  Trusted Partner Section  -->


<div class="row normal-content section" id="trusted-by">
    
  <div class="large-12 columns">
    <h2>Trusted Partners</h2>
    <p class="highlight">After 10 years, we’re used not just by millions of travellers, but we’re also trusted and loved by brands like <a href="http://www.lonelyplanet.com/travel-insurance" target="_blank">Lonely Planet</a>, <a href="http://www.roughguides.com/travel-insurance/" target="_blank">Rough Guides</a>, National Geographic Channel, Intrepid Travel, <a href="http://www.nomadicmatt.com/travel-blogs/travel-insurance/" target="_blank">Nomadic Matt</a>, <a href="http://www.travelfish.org/board/post/travelinsurance/22296_why-we-recommend-world-nomads-travel-insurance" target="_blank">TravelFish</a> and many more. </p>
  </div>

  <div class="small-12 medium-4 large-4 columns">
    <a href="http://www.lonelyplanet.com/travel-insurance" target="_blank"  class="auto-size-img"><img alt="lonely planet logo" src="Media/Default/TravelInsuranceImages/australia/lonley-planet-blue.png" class="auto-size-img" /></a>
    <a href="http://www.lonelyplanet.com/travel-insurance" target="_blank"><h4>Lonely Planet</h4></a>
    <p>Lonely Planet is known for its commitment to providing the best information for travellers. They chose <a href="http://www.lonelyplanet.com/travel-insurance" target="_blank">World Nomads travel insurance</a> because of our aligned travel philosophy and commitment to digital innovation.</p>
  </div>

  <div class="small-12 medium-4 large-4 columns">
    <a href="http://www.roughguides.com/travel-insurance/" target="_blank"><img alt="rough guides logo" src="Media/Default/TravelInsuranceImages/australia/rough-guides.png" class="auto-size-img" /></a>
    <a href="http://www.roughguides.com/travel-insurance/" target="_blank"><h4>Rough Guides</h4></a>
    <p>Rough Guides is a leading publisher of travel information, respected for their up-to-date content and informed contemporary writing. They chose <a href="http://www.roughguides.com/travel-insurance/" target="_blank">World Nomads travel insurance</a> because we are able to offer cover to people from more than 150 different countries.</p>
  </div>

  <div class="small-12 medium-4 large-4 columns">
    <img alt="intepid logo" src="Media/Default/TravelInsuranceImages/australia/intrepid.png" class="auto-size-img" />
    <h4>Intrepid Travel</h4>
    <p>Intrepid Travel is one of the largest tour companies in the world. They chose World Nomads not just because we share the same Adventure ethos, but because both companies have a commitment to community development and sustainability.</p>
  </div>


</div>

<!--  Trusted By Section  -->
<div class="row normal-content section" id="trusted-by">
  <div class="large-12 columns">

    <div itemscope="" itemtype="http://data-vocabulary.org/Review">
      <h4>
      <span class="fa fa-star yellow"></span> <span class="fa fa-star yellow"></span> <span class="fa fa-star yellow"></span> <span class="fa fa-star yellow"></span> <span class="fa fa-star yellow"></span>
      </h4>
      <h3 itemprop="summary">
        &ldquo;The perfect choice for independent travellers&rdquo;
      </h3>
      <p>World Nomads <span itemprop="itemreviewed">Travel Insurance</span> was reviewed by <span itemprop="reviewer">Reviews.com</span> on <time itemprop="dtreviewed" datetime="2014-01-16">16 Jan 2014</time> and rated <span itemprop="rating">4 stars</span></p>
    </div>
  </div>
</div>
  
  

<!-- Main Content Area End -->

{% endblock %}